<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">

<dict>
	<key>LayoutObjects</key>
	<dict>
		<key>Hole1</key>
		<dict>
			<key>x</key>
			<real>-2.56166785561</real>
			<key>y</key>
			<real>0.492365564392</real>
			<key>z</key>
			<real>-0.536208787899</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hole4</key>
		<dict>
			<key>x</key>
			<real>-1.64912826779</real>
			<key>y</key>
			<real>0.664128949087</real>
			<key>z</key>
			<real>13.5909917676</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hole9</key>
		<dict>
			<key>x</key>
			<real>-1.60192817376</real>
			<key>y</key>
			<real>0.492365564392</real>
			<key>z</key>
			<real>11.7724616189</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hole10</key>
		<dict>
			<key>x</key>
			<real>-2.47513428092</real>
			<key>y</key>
			<real>0.664128949087</real>
			<key>z</key>
			<real>-2.38846042346</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hole12</key>
		<dict>
			<key>x</key>
			<real>-2.56166785561</real>
			<key>y</key>
			<real>0.492365564392</real>
			<key>z</key>
			<real>1.6774443993</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Pot1</key>
		<dict>
			<key>x</key>
			<real>3.52549423159</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-14.1335647729</real>
			<key>type</key>
			<string>pot1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>UFO</key>
		<dict>
			<key>x</key>
			<real>5.89995088986</real>
			<key>y</key>
			<real>-2.27373675443e-015</real>
			<key>z</key>
			<real>12.2456643562</real>
			<key>type</key>
			<string>uFO</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>3.0</real>
			<key>sy</key>
			<real>3.0</real>
			<key>sz</key>
			<real>3.0</real>
		</dict>
		<key>Hedge12</key>
		<dict>
			<key>x</key>
			<real>-7.43722634589</real>
			<key>y</key>
			<real>1.99416814627</real>
			<key>z</key>
			<real>9.61642694851</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>8.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge14</key>
		<dict>
			<key>x</key>
			<real>0.188278259081</real>
			<key>y</key>
			<real>1.99416814627</real>
			<key>z</key>
			<real>12.8818158129</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>8.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Carrot1</key>
		<dict>
			<key>x</key>
			<real>3.52549423159</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-158.167426819</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge15</key>
		<dict>
			<key>x</key>
			<real>-0.148411916497</real>
			<key>y</key>
			<real>1.99416814627</real>
			<key>z</key>
			<real>-13.0318879955</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>8.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge16</key>
		<dict>
			<key>x</key>
			<real>0.0580633657168</real>
			<key>y</key>
			<real>1.99416814627</real>
			<key>z</key>
			<real>-1.66133748569</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>8.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge17</key>
		<dict>
			<key>x</key>
			<real>0.0580633657168</real>
			<key>y</key>
			<real>1.99416814627</real>
			<key>z</key>
			<real>1.52892740174</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>8.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Spinner1</key>
		<dict>
			<key>x</key>
			<real>-0.0403435345187</real>
			<key>y</key>
			<real>1.99416814627</real>
			<key>z</key>
			<real>6.39918355427</real>
			<key>type</key>
			<string>spinner1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>8.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge19</key>
		<dict>
			<key>x</key>
			<real>-8.02033150024</real>
			<key>y</key>
			<real>1.99416814627</real>
			<key>z</key>
			<real>-8.71690985334</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.773753494236</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>8.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Spinner2</key>
		<dict>
			<key>x</key>
			<real>-0.0403435345187</real>
			<key>y</key>
			<real>1.99416814627</real>
			<key>z</key>
			<real>-7.42040860387</real>
			<key>type</key>
			<string>spinner1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>8.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
	</dict>
	<key>LevelControl</key>
	<dict>
		<key>NumCombos</key>
		<integer>2</integer>
		<key>NumGopherLives</key>
		<integer>5</integer>
		<key>Background</key>
		<string>CropCircles</string>
		<key>GamePlayMode</key>
		<integer>9</integer>
		<key>ScoreMode</key>
		<integer>0</integer>
		<key>NumBalls</key>
		<integer>5</integer>
		<key>BallTypes</key>
		<integer>2</integer>
		<key>XBounds</key>
		<real>10</real>
		<key>ZBounds</key>
		<real>15</real>
		<key>CollisionAvoidance</key>
		<integer>0</integer>
		<key>SpawnIntervals</key>
		<array>
			<dict>
				<key>Time</key>
				<real>0.0</real>
				<key>Gophers</key>
				<integer>100</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>0.0</real>
				<key>Gophers</key>
				<integer>100</integer>
			</dict>
		</array>
	</dict>
	<key>GeneratedObjects</key>
	<dict>
		<key>Gopher</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.25</real>
		</dict>
		<key>Gopher1</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.25</real>
		</dict>
		<key>Cannon</key>
		<dict>
			<key>type</key>
			<string>cannon</string>
			<key>scale</key>
			<real>1.0</real>
			<key>x</key>
			<real>7.27051960439</real>
			<key>y</key>
			<real>1.5</real>
			<key>z</key>
			<real>2.79890474089</real>
			<key>rotationOffset</key>
			<real>0.0</real>
			<key>rotationBoundUpper</key>
			<real>8.93609671111</real>
			<key>rotationBoundLower</key>
			<real>-8.93609671111</real>
			<key>powerScale</key>
			<real>2.0</real>
		</dict>
		<key>Gopher2</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.25</real>
		</dict>
		<key>Gopher3</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.25</real>
		</dict>
		<key>Bunny1</key>
		<dict>
			<key>type</key>
			<string>bunny</string>
			<key>scale</key>
			<real>0.25</real>
		</dict>
	</dict>
</dict>
</plist>
