<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">

<dict>
	<key>LayoutObjects</key>
	<dict>
		<key>Hole1</key>
		<dict>
			<key>x</key>
			<real>0.993127186591</real>
			<key>y</key>
			<real>0.492365564392</real>
			<key>z</key>
			<real>-11.515041418</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hole9</key>
		<dict>
			<key>x</key>
			<real>4.64266297616</real>
			<key>y</key>
			<real>0.492365564392</real>
			<key>z</key>
			<real>-11.1453596133</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hole10</key>
		<dict>
			<key>x</key>
			<real>-4.8451168868</real>
			<key>y</key>
			<real>0.664128949087</real>
			<key>z</key>
			<real>-12.6511111401</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hole11</key>
		<dict>
			<key>x</key>
			<real>-8.88594239015</real>
			<key>y</key>
			<real>0.355668247372</real>
			<key>z</key>
			<real>-12.5178830635</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hole12</key>
		<dict>
			<key>x</key>
			<real>2.73605828664</real>
			<key>y</key>
			<real>0.492365564392</real>
			<key>z</key>
			<real>-14.110072167</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hole13</key>
		<dict>
			<key>x</key>
			<real>-1.98922158461</real>
			<key>y</key>
			<real>0.492365564392</real>
			<key>z</key>
			<real>-13.9164131558</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hole14</key>
		<dict>
			<key>x</key>
			<real>-7.14055128031</real>
			<key>y</key>
			<real>0.492365564392</real>
			<key>z</key>
			<real>-10.4305509557</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hole15</key>
		<dict>
			<key>x</key>
			<real>7.57753356456</real>
			<key>y</key>
			<real>0.492365564392</real>
			<key>z</key>
			<real>-5.20175765559</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hole16</key>
		<dict>
			<key>x</key>
			<real>6.02826147563</real>
			<key>y</key>
			<real>0.492365564392</real>
			<key>z</key>
			<real>-1.63843185104</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hole17</key>
		<dict>
			<key>x</key>
			<real>-2.84132123352</real>
			<key>y</key>
			<real>0.492365564392</real>
			<key>z</key>
			<real>-5.70527108449</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Pot1</key>
		<dict>
			<key>x</key>
			<real>-4.99550225755</real>
			<key>y</key>
			<real>2.27373675443e-015</real>
			<key>z</key>
			<real>-2.97880573261</real>
			<key>type</key>
			<string>pot1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>UFO</key>
		<dict>
			<key>x</key>
			<real>8.17871152374</real>
			<key>y</key>
			<real>-3.41060513165e-015</real>
			<key>z</key>
			<real>-12.7555951697</real>
			<key>type</key>
			<string>uFO</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>3.0</real>
			<key>sy</key>
			<real>3.0</real>
			<key>sz</key>
			<real>3.0</real>
		</dict>
		<key>Carrot1</key>
		<dict>
			<key>x</key>
			<real>3.52549423159</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-158.167426819</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Rock1</key>
		<dict>
			<key>x</key>
			<real>-3.44623016862</real>
			<key>y</key>
			<real>2.27373675443e-015</real>
			<key>z</key>
			<real>4.69009110761</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Rock2</key>
		<dict>
			<key>x</key>
			<real>-2.86525313527</real>
			<key>y</key>
			<real>2.27373675443e-015</real>
			<key>z</key>
			<real>1.20422890751</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge21</key>
		<dict>
			<key>x</key>
			<real>-1.50086023032</real>
			<key>y</key>
			<real>1.99416814627</real>
			<key>z</key>
			<real>-8.07208918996</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>8.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge22</key>
		<dict>
			<key>x</key>
			<real>1.79134295866</real>
			<key>y</key>
			<real>1.99416814627</real>
			<key>z</key>
			<real>-8.07208918996</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>8.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge23</key>
		<dict>
			<key>x</key>
			<real>5.16100975209</real>
			<key>y</key>
			<real>1.99416814627</real>
			<key>z</key>
			<real>-8.07208918996</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>8.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge24</key>
		<dict>
			<key>x</key>
			<real>8.22082212774</real>
			<key>y</key>
			<real>1.99416814627</real>
			<key>z</key>
			<real>-8.07208918996</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>8.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge25</key>
		<dict>
			<key>x</key>
			<real>-3.66984115483</real>
			<key>y</key>
			<real>1.99416814627</real>
			<key>z</key>
			<real>-8.07208918996</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>8.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge26</key>
		<dict>
			<key>x</key>
			<real>-8.27892561941</real>
			<key>y</key>
			<real>1.99416814627</real>
			<key>z</key>
			<real>12.1846433729</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>-0.593412672222</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>8.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge27</key>
		<dict>
			<key>x</key>
			<real>-5.91628568379</real>
			<key>y</key>
			<real>1.99416814627</real>
			<key>z</key>
			<real>13.772647264</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>-0.593412672222</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>8.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge28</key>
		<dict>
			<key>x</key>
			<real>-5.18038144154</real>
			<key>y</key>
			<real>1.99416814627</real>
			<key>z</key>
			<real>-5.70944925433</real>
			<key>type</key>
			<string>fenceC</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>8.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Spinner1</key>
		<dict>
			<key>x</key>
			<real>-7.92097566699</real>
			<key>y</key>
			<real>1.99416814627</real>
			<key>z</key>
			<real>-2.91054451344</real>
			<key>type</key>
			<string>spinner1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>8.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
	</dict>
	<key>LevelControl</key>
	<dict>
		<key>NumCombos</key>
		<integer>2</integer>
		<key>NumGopherLives</key>
		<integer>10</integer>
		<key>Background</key>
		<string>TwoForTheRoad</string>
		<key>GamePlayMode</key>
		<integer>9</integer>
		<key>ScoreMode</key>
		<integer>0</integer>
		<key>NumBalls</key>
		<integer>8</integer>
		<key>BallTypes</key>
		<integer>1</integer>
		<key>XBounds</key>
		<real>10</real>
		<key>ZBounds</key>
		<real>15</real>
		<key>CollisionAvoidance</key>
		<integer>0</integer>
		<key>SpawnIntervals</key>
		<array>
			<dict>
				<key>Time</key>
				<real>0.0</real>
				<key>Gophers</key>
				<integer>100</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>0.0</real>
				<key>Gophers</key>
				<integer>100</integer>
			</dict>
		</array>
	</dict>
	<key>GeneratedObjects</key>
	<dict>
		<key>Cannon</key>
		<dict>
			<key>type</key>
			<string>cannon</string>
			<key>scale</key>
			<real>1.0</real>
			<key>x</key>
			<real>6.66314740779</real>
			<key>y</key>
			<real>1.5</real>
			<key>z</key>
			<real>11.7844478495</real>
			<key>rotationOffset</key>
			<real>0.0</real>
			<key>rotationBoundUpper</key>
			<real>8.93609671111</real>
			<key>rotationBoundLower</key>
			<real>-8.93609671111</real>
			<key>powerScale</key>
			<real>2.0</real>
		</dict>
		<key>Gopher</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.25</real>
		</dict>
		<key>Gopher1</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.25</real>
		</dict>
		<key>Gopher2</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.25</real>
		</dict>
		<key>Gopher3</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.25</real>
		</dict>
		<key>Gopher4</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.25</real>
		</dict>
		<key>Furry1</key>
		<dict>
			<key>type</key>
			<string>furry</string>
			<key>scale</key>
			<real>0.25</real>
		</dict>
		<key>Furry2</key>
		<dict>
			<key>type</key>
			<string>furry</string>
			<key>scale</key>
			<real>0.25</real>
		</dict>
		<key>Furry3</key>
		<dict>
			<key>type</key>
			<string>furry</string>
			<key>scale</key>
			<real>0.25</real>
		</dict>
		<key>Squ1</key>
		<dict>
			<key>type</key>
			<string>squ</string>
			<key>scale</key>
			<real>0.25</real>
		</dict>
		<key>Bunny1</key>
		<dict>
			<key>type</key>
			<string>bunny</string>
			<key>scale</key>
			<real>0.25</real>
		</dict>
	</dict>
</dict>
</plist>
