<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">

<dict>
	<key>LayoutObjects</key>
	<dict>
		<key>pCylinder1</key>
		<dict>
			<key>x</key>
			<real>0.0</real>
			<key>z</key>
			<real>-0.0</real>
			<key>type</key>
			<string>target</string>
			<key>radius</key>
			<real>0.233333333333</real>
		</dict>
		<key>pCylinder2</key>
		<dict>
			<key>x</key>
			<real>-7.33333333333</real>
			<key>z</key>
			<real>10.625</real>
			<key>type</key>
			<string>spawn</string>
			<key>radius</key>
			<real>0.233333333333</real>
		</dict>
		<key>pCylinder3</key>
		<dict>
			<key>x</key>
			<real>-7.33333333333</real>
			<key>z</key>
			<real>-11.25</real>
			<key>type</key>
			<string>spawn</string>
			<key>radius</key>
			<real>0.233333333333</real>
		</dict>
		<key>pCylinder4</key>
		<dict>
			<key>x</key>
			<real>7.33333333333</real>
			<key>z</key>
			<real>-11.25</real>
			<key>type</key>
			<string>spawn</string>
			<key>radius</key>
			<real>0.233333333333</real>
		</dict>
		<key>pCylinder5</key>
		<dict>
			<key>x</key>
			<real>6.66666666667</real>
			<key>z</key>
			<real>11.25</real>
			<key>type</key>
			<string>spawn</string>
			<key>radius</key>
			<real>0.233333333333</real>
		</dict>
		<key>pCylinder6</key>
		<dict>
			<key>x</key>
			<real>1.33333333333</real>
			<key>z</key>
			<real>1.875</real>
			<key>type</key>
			<string>target</string>
			<key>radius</key>
			<real>0.233333333333</real>
		</dict>
		<key>pCylinder7</key>
		<dict>
			<key>x</key>
			<real>1.33333333333</real>
			<key>z</key>
			<real>-1.25</real>
			<key>type</key>
			<string>target</string>
			<key>radius</key>
			<real>0.233333333333</real>
		</dict>
		<key>pCylinder8</key>
		<dict>
			<key>x</key>
			<real>-0.666666666667</real>
			<key>z</key>
			<real>1.875</real>
			<key>type</key>
			<string>target</string>
			<key>radius</key>
			<real>0.233333333333</real>
		</dict>
		<key>pCylinder10</key>
		<dict>
			<key>x</key>
			<real>-0.666666666667</real>
			<key>z</key>
			<real>-1.875</real>
			<key>type</key>
			<string>target</string>
			<key>radius</key>
			<real>0.233333333333</real>
		</dict>
	</dict>
	<key>LevelControl</key>
	<dict>
		<key>NumCombos</key>
		<integer>2</integer>
		<key>NumGopherLives</key>
		<integer>10</integer>
		<key>NumCarrotLives</key>
		<integer>5</integer>
		<key>Background</key>
		<string>BasicLevel1</string>
	</dict>
	<key>GeneratedObjects</key>
	<dict>
		<key>Gopher</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>radius</key>
			<real>0.25</real>
		</dict>
		<key>Gopher1</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>radius</key>
			<real>0.25</real>
		</dict>
		<key>Ball</key>
		<dict>
			<key>type</key>
			<string>ball</string>
			<key>radius</key>
			<real>0.5</real>
		</dict>
	</dict>
</dict>
</plist>
