<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">

<dict>
	<key>LayoutObjects</key>
	<dict>
		<key>pCylinder52</key>
		<dict>
			<key>x</key>
			<real>-0.279550909154</real>
			<key>y</key>
			<real>0.79430526195</real>
			<key>z</key>
			<real>4.17340930412</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.333333333333</real>
			<key>sy</key>
			<real>0.333333333333</real>
			<key>sz</key>
			<real>0.3125</real>
		</dict>
		<key>pCylinder61</key>
		<dict>
			<key>x</key>
			<real>-8.88628263938</real>
			<key>y</key>
			<real>0.0430132896128</real>
			<key>z</key>
			<real>3.8422291867</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.333333333333</real>
			<key>sy</key>
			<real>0.333333333333</real>
			<key>sz</key>
			<real>0.3125</real>
		</dict>
		<key>LevelControl</key>
		<dict>
			<key>x</key>
			<real>0.0</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-0.0</real>
			<key>type</key>
			<string>levelControl</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.333333333333</real>
			<key>sy</key>
			<real>0.333333333333</real>
			<key>sz</key>
			<real>0.3125</real>
		</dict>
		<key>GasCan1</key>
		<dict>
			<key>x</key>
			<real>-4.34673446678</real>
			<key>y</key>
			<real>0.985533249021</real>
			<key>z</key>
			<real>0.378851652064</real>
			<key>type</key>
			<string>gasCan</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.62931932045</real>
			<key>sy</key>
			<real>0.62931932045</real>
			<key>sz</key>
			<real>0.589986862922</real>
		</dict>
		<key>GasCan2</key>
		<dict>
			<key>x</key>
			<real>-5.24846083207</real>
			<key>y</key>
			<real>0.985533249021</real>
			<key>z</key>
			<real>2.49832312398</real>
			<key>type</key>
			<string>gasCan</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.62931932045</real>
			<key>sy</key>
			<real>0.62931932045</real>
			<key>sz</key>
			<real>0.589986862922</real>
		</dict>
	</dict>
	<key>LevelControl</key>
	<dict>
		<key>NumCombos</key>
		<integer>2</integer>
		<key>NumGopherLives</key>
		<integer>30</integer>
		<key>NumCarrotLives</key>
		<integer>1</integer>
		<key>Background</key>
		<string>CropCircles</string>
		<key>GamePlayMode</key>
		<integer>5</integer>
		<key>ScoreMode</key>
		<integer>0</integer>
		<key>NumBalls</key>
		<integer>50</integer>
		<key>BallTypes</key>
		<integer>1</integer>
	</dict>
	<key>GeneratedObjects</key>
	<dict>
		<key>Gopher</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.25</real>
		</dict>
		<key>Cannon</key>
		<dict>
			<key>type</key>
			<string>cannon</string>
			<key>scale</key>
			<real>4.0</real>
		</dict>
	</dict>
</dict>
</plist>
