<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">

<dict>
	<key>LayoutObjects</key>
	<dict>
		<key>Hole1</key>
		<dict>
			<key>x</key>
			<real>4.2377733805</real>
			<key>y</key>
			<real>0.492365564392</real>
			<key>z</key>
			<real>8.89667537147</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>pCylinder52</key>
		<dict>
			<key>x</key>
			<real>-0.587139502751</real>
			<key>y</key>
			<real>-0.165160920882</real>
			<key>z</key>
			<real>8.74357344483</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>pCylinder47</key>
		<dict>
			<key>x</key>
			<real>-0.392685816264</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-8.19462454341</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>pCylinder44</key>
		<dict>
			<key>x</key>
			<real>2.06938894108</real>
			<key>y</key>
			<real>-0.16121418025</real>
			<key>z</key>
			<real>2.55808722031</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>pCylinder38</key>
		<dict>
			<key>x</key>
			<real>0.290972820766</real>
			<key>y</key>
			<real>-0.0769959944457</real>
			<key>z</key>
			<real>7.8845791724</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hole2</key>
		<dict>
			<key>x</key>
			<real>3.64354980141</real>
			<key>y</key>
			<real>0.469904642493</real>
			<key>z</key>
			<real>5.90875978789</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hole3</key>
		<dict>
			<key>x</key>
			<real>4.96465699362</real>
			<key>y</key>
			<real>0.559855482231</real>
			<key>z</key>
			<real>4.25954934585</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hole4</key>
		<dict>
			<key>x</key>
			<real>2.61159983311</real>
			<key>y</key>
			<real>0.664128949087</real>
			<key>z</key>
			<real>-5.16939549427</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hole5</key>
		<dict>
			<key>x</key>
			<real>4.23922866888</real>
			<key>y</key>
			<real>0.355668247372</real>
			<key>z</key>
			<real>-7.3642825927</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>pCylinder53</key>
		<dict>
			<key>x</key>
			<real>3.02518189397</real>
			<key>y</key>
			<real>-0.118812862016</real>
			<key>z</key>
			<real>0.0811689023062</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hole6</key>
		<dict>
			<key>x</key>
			<real>4.8441862189</real>
			<key>y</key>
			<real>0.571270454232</real>
			<key>z</key>
			<real>-3.16826962267</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>pCylinder55</key>
		<dict>
			<key>x</key>
			<real>-0.0653577947474</real>
			<key>y</key>
			<real>0.0757555548764</real>
			<key>z</key>
			<real>12.1575511115</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>pCylinder56</key>
		<dict>
			<key>x</key>
			<real>0.65311184558</real>
			<key>y</key>
			<real>0.109380656122</real>
			<key>z</key>
			<real>-11.685424109</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>pCylinder57</key>
		<dict>
			<key>x</key>
			<real>1.96925725886</real>
			<key>y</key>
			<real>-0.0874551270412</real>
			<key>z</key>
			<real>-0.509035548603</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>pCylinder58</key>
		<dict>
			<key>x</key>
			<real>2.40256870853</real>
			<key>y</key>
			<real>-0.147803443303</real>
			<key>z</key>
			<real>1.19009524406</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>pCylinder59</key>
		<dict>
			<key>x</key>
			<real>0.675324288236</real>
			<key>y</key>
			<real>0.20087571732</real>
			<key>z</key>
			<real>-8.40104703396</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>pCylinder60</key>
		<dict>
			<key>x</key>
			<real>0.675324288236</real>
			<key>y</key>
			<real>0.20087571732</real>
			<key>z</key>
			<real>-8.40104703396</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>pCylinder61</key>
		<dict>
			<key>x</key>
			<real>-0.467955417036</real>
			<key>y</key>
			<real>0.276523475794</real>
			<key>z</key>
			<real>-13.1696600723</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>pCylinder62</key>
		<dict>
			<key>x</key>
			<real>0.816381190793</real>
			<key>y</key>
			<real>0.118426545325</real>
			<key>z</key>
			<real>-12.5060215527</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>pCylinder64</key>
		<dict>
			<key>x</key>
			<real>0.921829274839</real>
			<key>y</key>
			<real>-0.141927565232</real>
			<key>z</key>
			<real>12.6746481103</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>pCylinder65</key>
		<dict>
			<key>x</key>
			<real>2.98588384003</real>
			<key>y</key>
			<real>-0.147803443303</real>
			<key>z</key>
			<real>1.77341037557</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>GasCan4</key>
		<dict>
			<key>x</key>
			<real>0.552223835523</real>
			<key>y</key>
			<real>0.395224700364</real>
			<key>z</key>
			<real>0.247842759768</real>
			<key>type</key>
			<string>gasCan</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.84790168923</real>
			<key>sy</key>
			<real>0.84790168923</real>
			<key>sz</key>
			<real>0.84790168923</real>
		</dict>
		<key>GasCan6</key>
		<dict>
			<key>x</key>
			<real>-2.94199931226</real>
			<key>y</key>
			<real>1.20791671008</real>
			<key>z</key>
			<real>-13.4010086397</real>
			<key>type</key>
			<string>gasCan</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.84790168923</real>
			<key>sy</key>
			<real>0.84790168923</real>
			<key>sz</key>
			<real>0.84790168923</real>
		</dict>
		<key>Rock1</key>
		<dict>
			<key>x</key>
			<real>6.77174127458</real>
			<key>y</key>
			<real>1.01980590167</real>
			<key>z</key>
			<real>4.55963705846</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.83921037203</real>
			<key>sy</key>
			<real>0.83921037203</real>
			<key>sz</key>
			<real>0.83921037203</real>
		</dict>
		<key>Pot1</key>
		<dict>
			<key>x</key>
			<real>3.82916142833</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-8.8025184302</real>
			<key>type</key>
			<string>pot1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>UFO</key>
		<dict>
			<key>x</key>
			<real>5.89995088986</real>
			<key>y</key>
			<real>-2.27373675443e-015</real>
			<key>z</key>
			<real>12.2456643562</real>
			<key>type</key>
			<string>uFO</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>3.0</real>
			<key>sy</key>
			<real>3.0</real>
			<key>sz</key>
			<real>3.0</real>
		</dict>
		<key>Rock4</key>
		<dict>
			<key>x</key>
			<real>-0.0800710115031</real>
			<key>y</key>
			<real>0.5</real>
			<key>z</key>
			<real>-1.59124387625</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.315651919403</real>
			<key>sy</key>
			<real>0.315651919403</real>
			<key>sz</key>
			<real>0.315651919403</real>
		</dict>
		<key>Rock5</key>
		<dict>
			<key>x</key>
			<real>7.90677152273</real>
			<key>y</key>
			<real>1.01980590167</real>
			<key>z</key>
			<real>-6.5839648991</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.83921037203</real>
			<key>sy</key>
			<real>0.83921037203</real>
			<key>sz</key>
			<real>0.83921037203</real>
		</dict>
		<key>Hedge3</key>
		<dict>
			<key>x</key>
			<real>-1.05025822303</real>
			<key>y</key>
			<real>2.0</real>
			<key>z</key>
			<real>-10.5711157254</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>-0.610865986111</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>8.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge4</key>
		<dict>
			<key>x</key>
			<real>-0.861247530734</real>
			<key>y</key>
			<real>2.0</real>
			<key>z</key>
			<real>10.593094362</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.610865986111</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>8.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge5</key>
		<dict>
			<key>x</key>
			<real>0.30331751697</real>
			<key>y</key>
			<real>2.0</real>
			<key>z</key>
			<real>6.00493579352</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.610865986111</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>8.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge6</key>
		<dict>
			<key>x</key>
			<real>-0.0914711941996</real>
			<key>y</key>
			<real>2.0</real>
			<key>z</key>
			<real>-5.7052343902</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>-0.610865986111</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>8.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Pot2</key>
		<dict>
			<key>x</key>
			<real>-1.64846030527</real>
			<key>y</key>
			<real>1.0</real>
			<key>z</key>
			<real>-8.73787380993</real>
			<key>type</key>
			<string>pot1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge7</key>
		<dict>
			<key>x</key>
			<real>1.41798061146</real>
			<key>y</key>
			<real>1.9987506631</real>
			<key>z</key>
			<real>14.1580921917</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.610865986111</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>8.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge8</key>
		<dict>
			<key>x</key>
			<real>-1.64082631978</real>
			<key>y</key>
			<real>2.0</real>
			<key>z</key>
			<real>15.0</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>8.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge9</key>
		<dict>
			<key>x</key>
			<real>-1.64082631978</real>
			<key>y</key>
			<real>2.0</real>
			<key>z</key>
			<real>11.169874305</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.610865986111</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>8.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge10</key>
		<dict>
			<key>x</key>
			<real>-2.08084282642</real>
			<key>y</key>
			<real>2.0</real>
			<key>z</key>
			<real>-15.0</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>8.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge11</key>
		<dict>
			<key>x</key>
			<real>1.52490323984</real>
			<key>y</key>
			<real>1.99416814627</real>
			<key>z</key>
			<real>-13.8278208821</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>-0.610865986111</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>8.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Rock6</key>
		<dict>
			<key>x</key>
			<real>7.90677152273</real>
			<key>y</key>
			<real>0.77615691398</real>
			<key>z</key>
			<real>-0.175611068268</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.83921037203</real>
			<key>sy</key>
			<real>0.83921037203</real>
			<key>sz</key>
			<real>0.83921037203</real>
		</dict>
		<key>Rock7</key>
		<dict>
			<key>x</key>
			<real>6.83534570143</real>
			<key>y</key>
			<real>0.5</real>
			<key>z</key>
			<real>-2.55834129656</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.83921037203</real>
			<key>sy</key>
			<real>0.83921037203</real>
			<key>sz</key>
			<real>0.83921037203</real>
		</dict>
		<key>Rock8</key>
		<dict>
			<key>x</key>
			<real>7.55857878144</real>
			<key>y</key>
			<real>1.0796168583</real>
			<key>z</key>
			<real>6.77714495061</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.83921037203</real>
			<key>sy</key>
			<real>0.83921037203</real>
			<key>sz</key>
			<real>0.83921037203</real>
		</dict>
		<key>Rock9</key>
		<dict>
			<key>x</key>
			<real>-2.05517131066</real>
			<key>y</key>
			<real>0.413754591514</real>
			<key>z</key>
			<real>-1.73314170236</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.315651919403</real>
			<key>sy</key>
			<real>0.315651919403</real>
			<key>sz</key>
			<real>0.315651919403</real>
		</dict>
		<key>Rock10</key>
		<dict>
			<key>x</key>
			<real>-3.45729198608</real>
			<key>y</key>
			<real>0.698066416868</real>
			<key>z</key>
			<real>4.07947689729</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.315651919403</real>
			<key>sy</key>
			<real>0.315651919403</real>
			<key>sz</key>
			<real>0.315651919403</real>
		</dict>
		<key>Rock11</key>
		<dict>
			<key>x</key>
			<real>0.449214201973</real>
			<key>y</key>
			<real>0.268158848287</real>
			<key>z</key>
			<real>1.86424893143</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.315651919403</real>
			<key>sy</key>
			<real>0.315651919403</real>
			<key>sz</key>
			<real>0.315651919403</real>
		</dict>
		<key>Rock13</key>
		<dict>
			<key>x</key>
			<real>-0.965120559574</real>
			<key>y</key>
			<real>0.5</real>
			<key>z</key>
			<real>2.48201974397</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.315651919403</real>
			<key>sy</key>
			<real>0.315651919403</real>
			<key>sz</key>
			<real>0.315651919403</real>
		</dict>
		<key>Rock15</key>
		<dict>
			<key>x</key>
			<real>0.573693505116</real>
			<key>y</key>
			<real>0.420133367014</real>
			<key>z</key>
			<real>-2.93617277905</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.315651919403</real>
			<key>sy</key>
			<real>0.315651919403</real>
			<key>sz</key>
			<real>0.315651919403</real>
		</dict>
		<key>Rock16</key>
		<dict>
			<key>x</key>
			<real>-3.88119968543</real>
			<key>y</key>
			<real>0.362004214276</real>
			<key>z</key>
			<real>-3.10482337117</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.315651919403</real>
			<key>sy</key>
			<real>0.315651919403</real>
			<key>sz</key>
			<real>0.315651919403</real>
		</dict>
		<key>Rock17</key>
		<dict>
			<key>x</key>
			<real>-3.5546690176</real>
			<key>y</key>
			<real>0.375911128766</real>
			<key>z</key>
			<real>-0.684639950721</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.315651919403</real>
			<key>sy</key>
			<real>0.315651919403</real>
			<key>sz</key>
			<real>0.315651919403</real>
		</dict>
		<key>Rock18</key>
		<dict>
			<key>x</key>
			<real>-2.57226700019</real>
			<key>y</key>
			<real>0.370967315194</real>
			<key>z</key>
			<real>-3.91659770487</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.315651919403</real>
			<key>sy</key>
			<real>0.315651919403</real>
			<key>sz</key>
			<real>0.315651919403</real>
		</dict>
		<key>Rock19</key>
		<dict>
			<key>x</key>
			<real>-3.93232177591</real>
			<key>y</key>
			<real>0.5</real>
			<key>z</key>
			<real>3.05480340062</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.315651919403</real>
			<key>sy</key>
			<real>0.315651919403</real>
			<key>sz</key>
			<real>0.315651919403</real>
		</dict>
		<key>Pot3</key>
		<dict>
			<key>x</key>
			<real>-1.17838856606</real>
			<key>y</key>
			<real>0.310353852535</real>
			<key>z</key>
			<real>-3.86911778968</real>
			<key>type</key>
			<string>pot1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Pot4</key>
		<dict>
			<key>x</key>
			<real>-1.56572644428</real>
			<key>y</key>
			<real>1.0</real>
			<key>z</key>
			<real>9.49180081861</real>
			<key>type</key>
			<string>pot1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge12</key>
		<dict>
			<key>x</key>
			<real>-4.95209616807</real>
			<key>y</key>
			<real>1.99416814627</real>
			<key>z</key>
			<real>14.265188598</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>-0.610865986111</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>8.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge13</key>
		<dict>
			<key>x</key>
			<real>-5.52723562111</real>
			<key>y</key>
			<real>1.9987506631</real>
			<key>z</key>
			<real>-14.0129534258</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.610865986111</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>8.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Pot5</key>
		<dict>
			<key>x</key>
			<real>-1.80267766562</real>
			<key>y</key>
			<real>0.310353852535</real>
			<key>z</key>
			<real>13.8234725877</real>
			<key>type</key>
			<string>pot1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge14</key>
		<dict>
			<key>x</key>
			<real>-4.95209616807</real>
			<key>y</key>
			<real>1.99416814627</real>
			<key>z</key>
			<real>14.265188598</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>-0.610865986111</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>8.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Rock20</key>
		<dict>
			<key>x</key>
			<real>-5.70016230571</real>
			<key>y</key>
			<real>0.571712742888</real>
			<key>z</key>
			<real>-12.5470059149</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.315651919403</real>
			<key>sy</key>
			<real>0.315651919403</real>
			<key>sz</key>
			<real>0.315651919403</real>
		</dict>
		<key>Rock21</key>
		<dict>
			<key>x</key>
			<real>-4.84886842952</real>
			<key>y</key>
			<real>0.445887625721</real>
			<key>z</key>
			<real>-13.5920906687</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.315651919403</real>
			<key>sy</key>
			<real>0.315651919403</real>
			<key>sz</key>
			<real>0.315651919403</real>
		</dict>
		<key>Rock22</key>
		<dict>
			<key>x</key>
			<real>-3.82754060216</real>
			<key>y</key>
			<real>0.676567007195</real>
			<key>z</key>
			<real>-11.7368943887</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.315651919403</real>
			<key>sy</key>
			<real>0.315651919403</real>
			<key>sz</key>
			<real>0.315651919403</real>
		</dict>
		<key>Rock23</key>
		<dict>
			<key>x</key>
			<real>-0.874039260852</real>
			<key>y</key>
			<real>0.698066416868</real>
			<key>z</key>
			<real>14.0791648659</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.315651919403</real>
			<key>sy</key>
			<real>0.315651919403</real>
			<key>sz</key>
			<real>0.315651919403</real>
		</dict>
		<key>Rock24</key>
		<dict>
			<key>x</key>
			<real>-0.265678110574</real>
			<key>y</key>
			<real>0.445887625721</real>
			<key>z</key>
			<real>-14.2587365333</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.315651919403</real>
			<key>sy</key>
			<real>0.315651919403</real>
			<key>sz</key>
			<real>0.315651919403</real>
		</dict>
	</dict>
	<key>LevelControl</key>
	<dict>
		<key>NumCombos</key>
		<integer>2</integer>
		<key>NumGopherLives</key>
		<integer>25</integer>
		<key>Background</key>
		<string>CropCircles</string>
		<key>GamePlayMode</key>
		<integer>5</integer>
		<key>ScoreMode</key>
		<integer>0</integer>
		<key>NumBalls</key>
		<integer>-1</integer>
		<key>BallTypes</key>
		<integer>1</integer>
		<key>XBounds</key>
		<real>10</real>
		<key>ZBounds</key>
		<real>15</real>
		<key>CollisionAvoidance</key>
		<integer>0</integer>
		<key>SpawnIntervals</key>
		<array>
			<dict>
				<key>Time</key>
				<real>0.0</real>
				<key>Gophers</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>10.0</real>
				<key>Gophers</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>20.0</real>
				<key>Gophers</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>30.0</real>
				<key>Gophers</key>
				<integer>7</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>35.0</real>
				<key>Gophers</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>50.0</real>
				<key>Gophers</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>80.0</real>
				<key>Gophers</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>90.0</real>
				<key>Gophers</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>100.0</real>
				<key>Gophers</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>105.0</real>
				<key>Gophers</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>110.0</real>
				<key>Gophers</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>120.0</real>
				<key>Gophers</key>
				<integer>2</integer>
			</dict>
		</array>
	</dict>
	<key>GeneratedObjects</key>
	<dict>
		<key>Gopher</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.25</real>
		</dict>
		<key>Gopher1</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.25</real>
		</dict>
		<key>Cannon</key>
		<dict>
			<key>type</key>
			<string>cannon</string>
			<key>scale</key>
			<real>1.0</real>
			<key>x</key>
			<real>-7.70981485163</real>
			<key>y</key>
			<real>1.5</real>
			<key>z</key>
			<real>-0.0</real>
			<key>rotationOffset</key>
			<real>3.1415965</real>
			<key>rotationBoundUpper</key>
			<real>8.93609671111</real>
			<key>rotationBoundLower</key>
			<real>-8.93609671111</real>
		</dict>
		<key>Gopher2</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.25</real>
		</dict>
		<key>Gopher3</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.25</real>
		</dict>
		<key>Gopher4</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.25</real>
		</dict>
		<key>Gopher5</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.25</real>
		</dict>
		<key>Gopher6</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.25</real>
		</dict>
		<key>Gopher7</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.25</real>
		</dict>
	</dict>
</dict>
</plist>
