<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">

<dict>
	<key>LayoutObjects</key>
	<dict>
		<key>pCylinder59</key>
		<dict>
			<key>x</key>
			<real>-2.58798204124</real>
			<key>y</key>
			<real>0.237112164915</real>
			<key>z</key>
			<real>9.06887624946</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.333333333333</real>
			<key>sy</key>
			<real>0.333333333333</real>
			<key>sz</key>
			<real>0.3125</real>
		</dict>
		<key>pCylinder57</key>
		<dict>
			<key>x</key>
			<real>-2.17210275786</real>
			<key>y</key>
			<real>0.315227507072</real>
			<key>z</key>
			<real>-9.40498199279</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.333333333333</real>
			<key>sy</key>
			<real>0.333333333333</real>
			<key>sz</key>
			<real>0.3125</real>
		</dict>
		<key>pCylinder52</key>
		<dict>
			<key>x</key>
			<real>0.414783970259</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>7.38150280069</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.333333333333</real>
			<key>sy</key>
			<real>0.333333333333</real>
			<key>sz</key>
			<real>0.3125</real>
		</dict>
		<key>pCylinder51</key>
		<dict>
			<key>x</key>
			<real>-0.978491453394</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>6.97613171838</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.333333333333</real>
			<key>sy</key>
			<real>0.333333333333</real>
			<key>sz</key>
			<real>0.3125</real>
		</dict>
		<key>pCylinder47</key>
		<dict>
			<key>x</key>
			<real>-0.594139612386</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-8.33788694677</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.333333333333</real>
			<key>sy</key>
			<real>0.333333333333</real>
			<key>sz</key>
			<real>0.3125</real>
		</dict>
		<key>pCylinder44</key>
		<dict>
			<key>x</key>
			<real>-0.666666666667</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>1.25</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.333333333333</real>
			<key>sy</key>
			<real>0.333333333333</real>
			<key>sz</key>
			<real>0.3125</real>
		</dict>
		<key>pCylinder42</key>
		<dict>
			<key>x</key>
			<real>0.67932307735</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-7.62418782422</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.333333333333</real>
			<key>sy</key>
			<real>0.333333333333</real>
			<key>sz</key>
			<real>0.3125</real>
		</dict>
		<key>pCylinder38</key>
		<dict>
			<key>x</key>
			<real>-0.666666666667</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-1.53800404803</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.333333333333</real>
			<key>sy</key>
			<real>0.333333333333</real>
			<key>sz</key>
			<real>0.3125</real>
		</dict>
		<key>LevelControl</key>
		<dict>
			<key>x</key>
			<real>0.0</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-0.0</real>
			<key>type</key>
			<string>levelControl</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.333333333333</real>
			<key>sy</key>
			<real>0.333333333333</real>
			<key>sz</key>
			<real>0.3125</real>
		</dict>
		<key>pSphere8</key>
		<dict>
			<key>x</key>
			<real>1.96156536171</real>
			<key>y</key>
			<real>0.777112317874</real>
			<key>z</key>
			<real>5.41029963812</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.431804254561</real>
			<key>sy</key>
			<real>0.431804254561</real>
			<key>sz</key>
			<real>0.404816488651</real>
		</dict>
		<key>pSphere9</key>
		<dict>
			<key>x</key>
			<real>2.84521418305</real>
			<key>y</key>
			<real>0.745517060839</real>
			<key>z</key>
			<real>7.00841530991</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.462527807335</real>
			<key>sy</key>
			<real>0.462527807335</real>
			<key>sz</key>
			<real>0.433619819377</real>
		</dict>
		<key>pSphere10</key>
		<dict>
			<key>x</key>
			<real>2.88411459551</real>
			<key>y</key>
			<real>0.857002403911</real>
			<key>z</key>
			<real>9.0253530969</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.44796422339</real>
			<key>sy</key>
			<real>0.44796422339</real>
			<key>sz</key>
			<real>0.419966459428</real>
		</dict>
		<key>pSphere13</key>
		<dict>
			<key>x</key>
			<real>2.37071773809</real>
			<key>y</key>
			<real>0.67987060111</real>
			<key>z</key>
			<real>-5.37045353943</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.446919419343</real>
			<key>sy</key>
			<real>0.446919419343</real>
			<key>sz</key>
			<real>0.418986955634</real>
		</dict>
		<key>pSphere14</key>
		<dict>
			<key>x</key>
			<real>3.45087929043</real>
			<key>y</key>
			<real>0.600450789188</real>
			<key>z</key>
			<real>-7.40566883974</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.462568419779</real>
			<key>sy</key>
			<real>0.462568419779</real>
			<key>sz</key>
			<real>0.433657893543</real>
		</dict>
		<key>pSphere15</key>
		<dict>
			<key>x</key>
			<real>3.87317546293</real>
			<key>y</key>
			<real>0.745517060839</real>
			<key>z</key>
			<real>-9.09815852321</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.49311293392</real>
			<key>sy</key>
			<real>0.49311293392</real>
			<key>sz</key>
			<real>0.46229337555</real>
		</dict>
		<key>pSphere16</key>
		<dict>
			<key>x</key>
			<real>-5.54746496116</real>
			<key>y</key>
			<real>0.88603243729</real>
			<key>z</key>
			<real>-7.07201933454</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.440779614375</real>
			<key>sy</key>
			<real>0.440779614375</real>
			<key>sz</key>
			<real>0.413230888477</real>
		</dict>
		<key>pSphere17</key>
		<dict>
			<key>x</key>
			<real>-4.95949138884</real>
			<key>y</key>
			<real>0.745517060839</real>
			<key>z</key>
			<real>-5.40334249226</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.37741088717</real>
			<key>sy</key>
			<real>0.37741088717</real>
			<key>sz</key>
			<real>0.353822706722</real>
		</dict>
		<key>pSphere18</key>
		<dict>
			<key>x</key>
			<real>-6.99793842142</real>
			<key>y</key>
			<real>1.75788887508</real>
			<key>z</key>
			<real>7.23633525602</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.489464943905</real>
			<key>sy</key>
			<real>0.489464943905</real>
			<key>sz</key>
			<real>0.458873384911</real>
		</dict>
		<key>pSphere19</key>
		<dict>
			<key>x</key>
			<real>-6.1961241534</real>
			<key>y</key>
			<real>1.67500904977</real>
			<key>z</key>
			<real>9.2995902329</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.411914108175</real>
			<key>sy</key>
			<real>0.411914108175</real>
			<key>sz</key>
			<real>0.386169476414</real>
		</dict>
		<key>pSphere21</key>
		<dict>
			<key>x</key>
			<real>-6.31685887071</real>
			<key>y</key>
			<real>1.65993014111</real>
			<key>z</key>
			<real>3.51390122965</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.474043866183</real>
			<key>sy</key>
			<real>0.474043866183</real>
			<key>sz</key>
			<real>0.444416124546</real>
		</dict>
		<key>pSphere22</key>
		<dict>
			<key>x</key>
			<real>-6.92722822165</real>
			<key>y</key>
			<real>1.75258738018</real>
			<key>z</key>
			<real>5.23188813274</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.473893859992</real>
			<key>sy</key>
			<real>0.473893859992</real>
			<key>sz</key>
			<real>0.444275493742</real>
		</dict>
		<key>GasCan1</key>
		<dict>
			<key>x</key>
			<real>1.28554856297</real>
			<key>y</key>
			<real>0.520885436945</real>
			<key>z</key>
			<real>10.9432044641</real>
			<key>type</key>
			<string>gasCan</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.56526779282</real>
			<key>sy</key>
			<real>0.56526779282</real>
			<key>sz</key>
			<real>0.529938555769</real>
		</dict>
		<key>GasCan2</key>
		<dict>
			<key>x</key>
			<real>1.28554856297</real>
			<key>y</key>
			<real>0.520885436945</real>
			<key>z</key>
			<real>-11.9525498074</real>
			<key>type</key>
			<string>gasCan</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.56526779282</real>
			<key>sy</key>
			<real>0.56526779282</real>
			<key>sz</key>
			<real>0.529938555769</real>
		</dict>
		<key>GasCan3</key>
		<dict>
			<key>x</key>
			<real>-9.09324580432</real>
			<key>y</key>
			<real>0.520885436945</real>
			<key>z</key>
			<real>-7.35649263045</real>
			<key>type</key>
			<string>gasCan</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.56526779282</real>
			<key>sy</key>
			<real>0.56526779282</real>
			<key>sz</key>
			<real>0.529938555769</real>
		</dict>
		<key>GasCan4</key>
		<dict>
			<key>x</key>
			<real>-9.09324580432</real>
			<key>y</key>
			<real>0.520885436945</real>
			<key>z</key>
			<real>2.70920946982</real>
			<key>type</key>
			<string>gasCan</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.56526779282</real>
			<key>sy</key>
			<real>0.56526779282</real>
			<key>sz</key>
			<real>0.529938555769</real>
		</dict>
		<key>GasCan5</key>
		<dict>
			<key>x</key>
			<real>-9.09324580432</real>
			<key>y</key>
			<real>0.520885436945</real>
			<key>z</key>
			<real>-5.48749061131</real>
			<key>type</key>
			<string>gasCan</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.56526779282</real>
			<key>sy</key>
			<real>0.56526779282</real>
			<key>sz</key>
			<real>0.529938555769</real>
		</dict>
		<key>GasCan6</key>
		<dict>
			<key>x</key>
			<real>-2.60514479613</real>
			<key>y</key>
			<real>0.520885436945</real>
			<key>z</key>
			<real>-4.5299300199</real>
			<key>type</key>
			<string>gasCan</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.56526779282</real>
			<key>sy</key>
			<real>0.56526779282</real>
			<key>sz</key>
			<real>0.529938555769</real>
		</dict>
		<key>pSphere23</key>
		<dict>
			<key>x</key>
			<real>-5.13223467281</real>
			<key>y</key>
			<real>0.783840822103</real>
			<key>z</key>
			<real>-8.7981866399</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.39325192328</real>
			<key>sy</key>
			<real>0.39325192328</real>
			<key>sz</key>
			<real>0.368673678075</real>
		</dict>
		<key>pSphere24</key>
		<dict>
			<key>x</key>
			<real>-4.23074201776</real>
			<key>y</key>
			<real>0.566672841605</real>
			<key>z</key>
			<real>-10.344504712</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.298205706619</real>
			<key>sy</key>
			<real>0.298205706619</real>
			<key>sz</key>
			<real>0.279567849955</real>
		</dict>
	</dict>
	<key>LevelControl</key>
	<dict>
		<key>NumCombos</key>
		<integer>2</integer>
		<key>NumGopherLives</key>
		<integer>30</integer>
		<key>NumCarrotLives</key>
		<integer>5</integer>
		<key>Background</key>
		<string>CropCircles</string>
		<key>GamePlayMode</key>
		<integer>5</integer>
		<key>ScoreMode</key>
		<integer>0</integer>
		<key>NumBalls</key>
		<integer>-1</integer>
		<key>BallTypes</key>
		<integer>1</integer>
	</dict>
	<key>GeneratedObjects</key>
	<dict>
		<key>Gopher</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.25</real>
		</dict>
		<key>Gopher1</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.25</real>
		</dict>
		<key>Cannon</key>
		<dict>
			<key>type</key>
			<string>cannon</string>
			<key>scale</key>
			<real>4.0</real>
		</dict>
	</dict>
</dict>
</plist>
