<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LayoutObjects</key>
	<dict>
		<key>Hole1</key>
		<dict>
			<key>x</key>
			<real>-5.50127791999</real>
			<key>y</key>
			<real>0.355668247372</real>
			<key>z</key>
			<real>9.25025377445</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>pCylinder51</key>
		<dict>
			<key>x</key>
			<real>-0.935682452308</real>
			<key>y</key>
			<real>0</real>
			<key>z</key>
			<real>7.11565435274</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>pCylinder47</key>
		<dict>
			<key>x</key>
			<real>-0.568146004344</real>
			<key>y</key>
			<real>0</real>
			<key>z</key>
			<real>-8.504644685700001</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>pCylinder44</key>
		<dict>
			<key>x</key>
			<real>-2.53786700154</real>
			<key>y</key>
			<real>0</real>
			<key>z</key>
			<real>1.275</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>pCylinder38</key>
		<dict>
			<key>x</key>
			<real>-2.39582590209</real>
			<key>y</key>
			<real>0</real>
			<key>z</key>
			<real>-1.56876412899</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hole2</key>
		<dict>
			<key>x</key>
			<real>7.68673406218</real>
			<key>y</key>
			<real>0.355668247372</real>
			<key>z</key>
			<real>9.96795770674</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hole3</key>
		<dict>
			<key>x</key>
			<real>-6.10112684007</real>
			<key>y</key>
			<real>0.355668247372</real>
			<key>z</key>
			<real>-0.119629989956</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hole4</key>
		<dict>
			<key>x</key>
			<real>-6.69154432449</real>
			<key>y</key>
			<real>0.355668247372</real>
			<key>z</key>
			<real>-6.6637642452</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hole5</key>
		<dict>
			<key>x</key>
			<real>6.5728246556</real>
			<key>y</key>
			<real>0.355668247372</real>
			<key>z</key>
			<real>-12.4148867154</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>GasCan1</key>
		<dict>
			<key>x</key>
			<real>1.22930581334</real>
			<key>y</key>
			<real>0.781328155418</real>
			<key>z</key>
			<real>10.4291016481</real>
			<key>type</key>
			<string>gasCan</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.84790168923</real>
			<key>sy</key>
			<real>0.84790168923</real>
			<key>sz</key>
			<real>0.84790168923</real>
		</dict>
		<key>GasCan4</key>
		<dict>
			<key>x</key>
			<real>-8.69541630038</real>
			<key>y</key>
			<real>0.781328155418</real>
			<key>z</key>
			<real>2.76339365922</real>
			<key>type</key>
			<string>gasCan</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.84790168923</real>
			<key>sy</key>
			<real>0.84790168923</real>
			<key>sz</key>
			<real>0.84790168923</real>
		</dict>
		<key>GasCan6</key>
		<dict>
			<key>x</key>
			<real>-4.14561987829</real>
			<key>y</key>
			<real>0.781328155418</real>
			<key>z</key>
			<real>-10.3499836401</real>
			<key>type</key>
			<string>gasCan</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.84790168923</real>
			<key>sy</key>
			<real>0.84790168923</real>
			<key>sz</key>
			<real>0.84790168923</real>
		</dict>
		<key>Rock1</key>
		<dict>
			<key>x</key>
			<real>3.0655314954</real>
			<key>y</key>
			<real>1.01980590167</real>
			<key>z</key>
			<real>5.20554290632</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.33849059067</real>
			<key>sy</key>
			<real>1.33849059067</real>
			<key>sz</key>
			<real>1.33849059067</real>
		</dict>
		<key>Rock2</key>
		<dict>
			<key>x</key>
			<real>0.87557215985</real>
			<key>y</key>
			<real>1.01980590167</real>
			<key>z</key>
			<real>-0.183495301388</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.33849059067</real>
			<key>sy</key>
			<real>1.33849059067</real>
			<key>sz</key>
			<real>1.33849059067</real>
		</dict>
		<key>Rock3</key>
		<dict>
			<key>x</key>
			<real>3.85480153125</real>
			<key>y</key>
			<real>1.01980590167</real>
			<key>z</key>
			<real>-6.06436221236</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.33849059067</real>
			<key>sy</key>
			<real>1.33849059067</real>
			<key>sz</key>
			<real>1.33849059067</real>
		</dict>
		<key>Hedge1</key>
		<dict>
			<key>x</key>
			<real>0.00109392724216</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>11.9071321706</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>4</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge2</key>
		<dict>
			<key>x</key>
			<real>0.828291570105</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>-14.0536601618</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>4</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Pot1</key>
		<dict>
			<key>x</key>
			<real>-4.59650333514</real>
			<key>y</key>
			<real>0</real>
			<key>z</key>
			<real>-6.06502642993</real>
			<key>type</key>
			<string>pot1</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower1</key>
		<dict>
			<key>x</key>
			<real>-7.39981375683</real>
			<key>y</key>
			<real>0</real>
			<key>z</key>
			<real>-3.03524696073</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Rock4</key>
		<dict>
			<key>x</key>
			<real>-9.17507993543</real>
			<key>y</key>
			<real>0</real>
			<key>z</key>
			<real>0.404259285733</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge3</key>
		<dict>
			<key>x</key>
			<real>-4.27739210677</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>3.4057780703</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>4</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge4</key>
		<dict>
			<key>x</key>
			<real>6.49880191872</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>-9.2013598626</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>4</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge5</key>
		<dict>
			<key>x</key>
			<real>-2.50212667203</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>-9.36682587946</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>4</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge6</key>
		<dict>
			<key>x</key>
			<real>-2.50212667203</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>-5.43347559063</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>4</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge7</key>
		<dict>
			<key>x</key>
			<real>-3.45109977439</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>9.56438717554</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>4</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower2</key>
		<dict>
			<key>x</key>
			<real>6.94335423975</real>
			<key>y</key>
			<real>0</real>
			<key>z</key>
			<real>-3.03524696073</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower3</key>
		<dict>
			<key>x</key>
			<real>7.43050849865</real>
			<key>y</key>
			<real>0</real>
			<key>z</key>
			<real>4.74651418545</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower4</key>
		<dict>
			<key>x</key>
			<real>-7.40096829172</real>
			<key>y</key>
			<real>0</real>
			<key>z</key>
			<real>7.90892628853</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower5</key>
		<dict>
			<key>x</key>
			<real>7.75377197804</real>
			<key>y</key>
			<real>0</real>
			<key>z</key>
			<real>7.41971840507</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower6</key>
		<dict>
			<key>x</key>
			<real>6.30606324139</real>
			<key>y</key>
			<real>0</real>
			<key>z</key>
			<real>6.28320809533</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower7</key>
		<dict>
			<key>x</key>
			<real>6.30606324139</real>
			<key>y</key>
			<real>0</real>
			<key>z</key>
			<real>-4.5476136495</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower8</key>
		<dict>
			<key>x</key>
			<real>-8.418728337379999</real>
			<key>y</key>
			<real>0</real>
			<key>z</key>
			<real>-9.43993986405</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge8</key>
		<dict>
			<key>x</key>
			<real>-6.89163880436</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>-13.4438341699</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>4</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge9</key>
		<dict>
			<key>x</key>
			<real>5.43005260761</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>11.9071321706</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>4</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
	</dict>
	<key>LevelControl</key>
	<dict>
		<key>NumCombos</key>
		<integer>2</integer>
		<key>NumGopherLives</key>
		<integer>20</integer>
		<key>Background</key>
		<string>RollingCropCircles</string>
		<key>GamePlayMode</key>
		<integer>4</integer>
		<key>ScoreMode</key>
		<integer>0</integer>
		<key>NumBalls</key>
		<integer>-1</integer>
		<key>BallTypes</key>
		<integer>1</integer>
		<key>BallSpawnX</key>
		<real>-4</real>
		<key>BallSpawnZ</key>
		<real>0</real>
		<key>SpawnIntervals</key>
		<array>
			<dict>
				<key>Time</key>
				<real>0</real>
				<key>Gophers</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>30</real>
				<key>Gophers</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>40</real>
				<key>Gophers</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>50</real>
				<key>Gophers</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>60</real>
				<key>Gophers</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>75</real>
				<key>Gophers</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>80</real>
				<key>Gophers</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>90</real>
				<key>Gophers</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>100</real>
				<key>Gophers</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>110</real>
				<key>Gophers</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>120</real>
				<key>Gophers</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>150</real>
				<key>Gophers</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>180</real>
				<key>Gophers</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>200</real>
				<key>Gophers</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<key>GeneratedObjects</key>
	<dict>
		<key>Gopher</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.25</real>
		</dict>
		<key>Gopher1</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.25</real>
		</dict>
		<key>Gopher2</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.25</real>
		</dict>
		<key>Ball</key>
		<dict>
			<key>type</key>
			<string>ball</string>
			<key>scale</key>
			<real>0.5</real>
			<key>ballType</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
