<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">

<dict>
	<key>LayoutObjects</key>
	<dict>
		<key>pCylinder59</key>
		<dict>
			<key>x</key>
			<real>-2.58798204124</real>
			<key>y</key>
			<real>0.237112164915</real>
			<key>z</key>
			<real>9.06887624946</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.333333333333</real>
			<key>sy</key>
			<real>0.333333333333</real>
			<key>sz</key>
			<real>0.3125</real>
		</dict>
		<key>pCylinder57</key>
		<dict>
			<key>x</key>
			<real>-2.17210275786</real>
			<key>y</key>
			<real>0.315227507072</real>
			<key>z</key>
			<real>-9.40498199279</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.333333333333</real>
			<key>sy</key>
			<real>0.333333333333</real>
			<key>sz</key>
			<real>0.3125</real>
		</dict>
		<key>pCylinder52</key>
		<dict>
			<key>x</key>
			<real>0.414783970259</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>7.38150280069</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.333333333333</real>
			<key>sy</key>
			<real>0.333333333333</real>
			<key>sz</key>
			<real>0.3125</real>
		</dict>
		<key>pCylinder51</key>
		<dict>
			<key>x</key>
			<real>-0.978491453394</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>6.97613171838</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.333333333333</real>
			<key>sy</key>
			<real>0.333333333333</real>
			<key>sz</key>
			<real>0.3125</real>
		</dict>
		<key>pCylinder42</key>
		<dict>
			<key>x</key>
			<real>-0.586250089762</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-7.90894178682</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.333333333333</real>
			<key>sy</key>
			<real>0.333333333333</real>
			<key>sz</key>
			<real>0.3125</real>
		</dict>
		<key>LevelControl</key>
		<dict>
			<key>x</key>
			<real>0.0</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-0.0</real>
			<key>type</key>
			<string>levelControl</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.333333333333</real>
			<key>sy</key>
			<real>0.333333333333</real>
			<key>sz</key>
			<real>0.3125</real>
		</dict>
		<key>Rock1</key>
		<dict>
			<key>x</key>
			<real>-4.75776974917</real>
			<key>y</key>
			<real>0.731277276479</real>
			<key>z</key>
			<real>6.15986601837</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.421367548483</real>
			<key>sy</key>
			<real>0.421367548483</real>
			<key>sz</key>
			<real>0.395032076703</real>
		</dict>
		<key>GasCan1</key>
		<dict>
			<key>x</key>
			<real>-1.28307432787</real>
			<key>y</key>
			<real>0.263555862047</real>
			<key>z</key>
			<real>12.1020434105</real>
			<key>type</key>
			<string>gasCan</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.62436352474</real>
			<key>sy</key>
			<real>0.62436352474</real>
			<key>sz</key>
			<real>0.585340804444</real>
		</dict>
		<key>GasCan2</key>
		<dict>
			<key>x</key>
			<real>-6.44629570347</real>
			<key>y</key>
			<real>0.354331869663</real>
			<key>z</key>
			<real>9.82928168791</real>
			<key>type</key>
			<string>gasCan</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.595679855411</real>
			<key>sy</key>
			<real>0.595679855411</real>
			<key>sz</key>
			<real>0.558449864448</real>
		</dict>
		<key>GasCan3</key>
		<dict>
			<key>x</key>
			<real>-3.56754779616</real>
			<key>y</key>
			<real>0.261120338657</real>
			<key>z</key>
			<real>4.59904352678</real>
			<key>type</key>
			<string>gasCan</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.62436352474</real>
			<key>sy</key>
			<real>0.62436352474</real>
			<key>sz</key>
			<real>0.585340804444</real>
		</dict>
		<key>GasCan4</key>
		<dict>
			<key>x</key>
			<real>2.26292701995</real>
			<key>y</key>
			<real>0.295217666105</real>
			<key>z</key>
			<real>4.76299914818</real>
			<key>type</key>
			<string>gasCan</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.62436352474</real>
			<key>sy</key>
			<real>0.62436352474</real>
			<key>sz</key>
			<real>0.585340804444</real>
		</dict>
		<key>Rock2</key>
		<dict>
			<key>x</key>
			<real>-0.20170634756</real>
			<key>y</key>
			<real>0.731277276479</real>
			<key>z</key>
			<real>4.21404727394</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.421367548483</real>
			<key>sy</key>
			<real>0.421367548483</real>
			<key>sz</key>
			<real>0.395032076703</real>
		</dict>
		<key>GasCan5</key>
		<dict>
			<key>x</key>
			<real>3.93348360054</real>
			<key>y</key>
			<real>0.295217666105</real>
			<key>z</key>
			<real>9.50889852485</real>
			<key>type</key>
			<string>gasCan</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.62436352474</real>
			<key>sy</key>
			<real>0.62436352474</real>
			<key>sz</key>
			<real>0.585340804444</real>
		</dict>
		<key>Rock3</key>
		<dict>
			<key>x</key>
			<real>2.68380047346</real>
			<key>y</key>
			<real>0.731277276479</real>
			<key>z</key>
			<real>6.20732501214</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.421367548483</real>
			<key>sy</key>
			<real>0.421367548483</real>
			<key>sz</key>
			<real>0.395032076703</real>
		</dict>
		<key>Rock4</key>
		<dict>
			<key>x</key>
			<real>-1.7203941481</real>
			<key>y</key>
			<real>0.731277276479</real>
			<key>z</key>
			<real>4.21404727394</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.421367548483</real>
			<key>sy</key>
			<real>0.421367548483</real>
			<key>sz</key>
			<real>0.395032076703</real>
		</dict>
		<key>Rock5</key>
		<dict>
			<key>x</key>
			<real>3.39252144704</real>
			<key>y</key>
			<real>0.731277276479</real>
			<key>z</key>
			<real>7.58363583137</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.421367548483</real>
			<key>sy</key>
			<real>0.421367548483</real>
			<key>sz</key>
			<real>0.395032076703</real>
		</dict>
		<key>Rock6</key>
		<dict>
			<key>x</key>
			<real>1.92445657319</real>
			<key>y</key>
			<real>0.731277276479</real>
			<key>z</key>
			<real>10.2413394823</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.421367548483</real>
			<key>sy</key>
			<real>0.421367548483</real>
			<key>sz</key>
			<real>0.395032076703</real>
		</dict>
		<key>Rock7</key>
		<dict>
			<key>x</key>
			<real>0.355145845969</real>
			<key>y</key>
			<real>0.731277276479</real>
			<key>z</key>
			<real>10.6684704262</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.421367548483</real>
			<key>sy</key>
			<real>0.421367548483</real>
			<key>sz</key>
			<real>0.395032076703</real>
		</dict>
		<key>Rock8</key>
		<dict>
			<key>x</key>
			<real>-2.47973804836</real>
			<key>y</key>
			<real>0.731277276479</real>
			<key>z</key>
			<real>10.3362574698</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.421367548483</real>
			<key>sy</key>
			<real>0.421367548483</real>
			<key>sz</key>
			<real>0.395032076703</real>
		</dict>
		<key>Rock9</key>
		<dict>
			<key>x</key>
			<real>-4.04904877558</real>
			<key>y</key>
			<real>0.731277276479</real>
			<key>z</key>
			<real>10.1938804885</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.421367548483</real>
			<key>sy</key>
			<real>0.421367548483</real>
			<key>sz</key>
			<real>0.395032076703</real>
		</dict>
		<key>Rock10</key>
		<dict>
			<key>x</key>
			<real>-5.46649072275</real>
			<key>y</key>
			<real>0.731277276479</real>
			<key>z</key>
			<real>7.48871784384</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.421367548483</real>
			<key>sy</key>
			<real>0.421367548483</real>
			<key>sz</key>
			<real>0.395032076703</real>
		</dict>
		<key>Rock11</key>
		<dict>
			<key>x</key>
			<real>-4.55527804243</real>
			<key>y</key>
			<real>0.731277276479</real>
			<key>z</key>
			<real>-8.36258607425</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.421367548483</real>
			<key>sy</key>
			<real>0.421367548483</real>
			<key>sz</key>
			<real>0.395032076703</real>
		</dict>
		<key>Rock12</key>
		<dict>
			<key>x</key>
			<real>-4.35278633569</real>
			<key>y</key>
			<real>0.731277276479</real>
			<key>z</key>
			<real>-9.69143789971</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.421367548483</real>
			<key>sy</key>
			<real>0.421367548483</real>
			<key>sz</key>
			<real>0.395032076703</real>
		</dict>
		<key>Rock13</key>
		<dict>
			<key>x</key>
			<real>-1.41665658799</real>
			<key>y</key>
			<real>0.731277276479</real>
			<key>z</key>
			<real>-10.9728307314</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.421367548483</real>
			<key>sy</key>
			<real>0.421367548483</real>
			<key>sz</key>
			<real>0.395032076703</real>
		</dict>
		<key>Rock14</key>
		<dict>
			<key>x</key>
			<real>0.2538999926</real>
			<key>y</key>
			<real>0.731277276479</real>
			<key>z</key>
			<real>-10.8304537501</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.421367548483</real>
			<key>sy</key>
			<real>0.421367548483</real>
			<key>sz</key>
			<real>0.395032076703</real>
		</dict>
		<key>GasCan6</key>
		<dict>
			<key>x</key>
			<real>4.43971286738</real>
			<key>y</key>
			<real>0.295217666105</real>
			<key>z</key>
			<real>-6.34240539324</real>
			<key>type</key>
			<string>gasCan</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.62436352474</real>
			<key>sy</key>
			<real>0.62436352474</real>
			<key>sz</key>
			<real>0.585340804444</real>
		</dict>
		<key>GasCan7</key>
		<dict>
			<key>x</key>
			<real>-3.4156790161</real>
			<key>y</key>
			<real>0.261120338657</real>
			<key>z</key>
			<real>-11.0624244162</real>
			<key>type</key>
			<string>gasCan</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.62436352474</real>
			<key>sy</key>
			<real>0.62436352474</real>
			<key>sz</key>
			<real>0.585340804444</real>
		</dict>
		<key>Rock15</key>
		<dict>
			<key>x</key>
			<real>1.97507949987</real>
			<key>y</key>
			<real>0.731277276479</real>
			<key>z</key>
			<real>-9.35922494335</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.421367548483</real>
			<key>sy</key>
			<real>0.421367548483</real>
			<key>sz</key>
			<real>0.395032076703</real>
		</dict>
		<key>Rock16</key>
		<dict>
			<key>x</key>
			<real>3.34189852036</real>
			<key>y</key>
			<real>0.731277276479</real>
			<key>z</key>
			<real>-4.85062053551</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.421367548483</real>
			<key>sy</key>
			<real>0.421367548483</real>
			<key>sz</key>
			<real>0.395032076703</real>
		</dict>
		<key>GasCan8</key>
		<dict>
			<key>x</key>
			<real>2.61728750674</real>
			<key>y</key>
			<real>0.295217666105</real>
			<key>z</key>
			<real>-7.19666728104</real>
			<key>type</key>
			<string>gasCan</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.62436352474</real>
			<key>sy</key>
			<real>0.62436352474</real>
			<key>sz</key>
			<real>0.585340804444</real>
		</dict>
		<key>Rock17</key>
		<dict>
			<key>x</key>
			<real>1.92445657319</real>
			<key>y</key>
			<real>0.731277276479</real>
			<key>z</key>
			<real>-5.60996443578</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.421367548483</real>
			<key>sy</key>
			<real>0.421367548483</real>
			<key>sz</key>
			<real>0.395032076703</real>
		</dict>
		<key>Rock18</key>
		<dict>
			<key>x</key>
			<real>0.355145845969</real>
			<key>y</key>
			<real>0.731277276479</real>
			<key>z</key>
			<real>-5.18283349188</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.421367548483</real>
			<key>sy</key>
			<real>0.421367548483</real>
			<key>sz</key>
			<real>0.395032076703</real>
		</dict>
		<key>GasCan9</key>
		<dict>
			<key>x</key>
			<real>-5.434154316</real>
			<key>y</key>
			<real>0.263555862047</real>
			<key>z</key>
			<real>-4.55606340161</real>
			<key>type</key>
			<string>gasCan</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.62436352474</real>
			<key>sy</key>
			<real>0.62436352474</real>
			<key>sz</key>
			<real>0.585340804444</real>
		</dict>
		<key>Rock19</key>
		<dict>
			<key>x</key>
			<real>-2.47973804836</real>
			<key>y</key>
			<real>0.731277276479</real>
			<key>z</key>
			<real>-5.51504644824</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.421367548483</real>
			<key>sy</key>
			<real>0.421367548483</real>
			<key>sz</key>
			<real>0.395032076703</real>
		</dict>
		<key>Rock20</key>
		<dict>
			<key>x</key>
			<real>-4.04904877558</real>
			<key>y</key>
			<real>0.731277276479</real>
			<key>z</key>
			<real>-5.65742342954</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.421367548483</real>
			<key>sy</key>
			<real>0.421367548483</real>
			<key>sz</key>
			<real>0.395032076703</real>
		</dict>
		<key>GasCan10</key>
		<dict>
			<key>x</key>
			<real>-5.18072253636</real>
			<key>y</key>
			<real>0.354331869663</real>
			<key>z</key>
			<real>-6.87628411798</real>
			<key>type</key>
			<string>gasCan</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.595679855411</real>
			<key>sy</key>
			<real>0.595679855411</real>
			<key>sz</key>
			<real>0.558449864448</real>
		</dict>
		<key>Rock21</key>
		<dict>
			<key>x</key>
			<real>-2.63160682842</real>
			<key>y</key>
			<real>0.731277276479</real>
			<key>z</key>
			<real>5.92257104954</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.421367548483</real>
			<key>sy</key>
			<real>0.421367548483</real>
			<key>sz</key>
			<real>0.395032076703</real>
		</dict>
		<key>Rock22</key>
		<dict>
			<key>x</key>
			<real>0.760129259445</real>
			<key>y</key>
			<real>0.731277276479</real>
			<key>z</key>
			<real>5.59035809317</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.421367548483</real>
			<key>sy</key>
			<real>0.421367548483</real>
			<key>sz</key>
			<real>0.395032076703</real>
		</dict>
		<key>Rock23</key>
		<dict>
			<key>x</key>
			<real>2.32943998666</real>
			<key>y</key>
			<real>0.731277276479</real>
			<key>z</key>
			<real>8.81756966931</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.421367548483</real>
			<key>sy</key>
			<real>0.421367548483</real>
			<key>sz</key>
			<real>0.395032076703</real>
		</dict>
		<key>Rock24</key>
		<dict>
			<key>x</key>
			<real>-1.11291902788</real>
			<key>y</key>
			<real>0.731277276479</real>
			<key>z</key>
			<real>9.86166753218</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.421367548483</real>
			<key>sy</key>
			<real>0.421367548483</real>
			<key>sz</key>
			<real>0.395032076703</real>
		</dict>
		<key>Rock25</key>
		<dict>
			<key>x</key>
			<real>-4.9602614559</real>
			<key>y</key>
			<real>0.731277276479</real>
			<key>z</key>
			<real>8.86502866308</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.421367548483</real>
			<key>sy</key>
			<real>0.421367548483</real>
			<key>sz</key>
			<real>0.395032076703</real>
		</dict>
		<key>Rock26</key>
		<dict>
			<key>x</key>
			<real>-0.961050247828</real>
			<key>y</key>
			<real>0.731277276479</real>
			<key>z</key>
			<real>-6.17947236098</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.421367548483</real>
			<key>sy</key>
			<real>0.421367548483</real>
			<key>sz</key>
			<real>0.395032076703</real>
		</dict>
		<key>GasCan11</key>
		<dict>
			<key>x</key>
			<real>5.80653188786</real>
			<key>y</key>
			<real>0.295217666105</real>
			<key>z</key>
			<real>-7.38650325611</real>
			<key>type</key>
			<string>gasCan</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.62436352474</real>
			<key>sy</key>
			<real>0.62436352474</real>
			<key>sz</key>
			<real>0.585340804444</real>
		</dict>
		<key>GasCan12</key>
		<dict>
			<key>x</key>
			<real>7.37584261508</real>
			<key>y</key>
			<real>0.295217666105</real>
			<key>z</key>
			<real>-11.5628947076</real>
			<key>type</key>
			<string>gasCan</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.62436352474</real>
			<key>sy</key>
			<real>0.62436352474</real>
			<key>sz</key>
			<real>0.585340804444</real>
		</dict>
		<key>GasCan13</key>
		<dict>
			<key>x</key>
			<real>9.40075968246</real>
			<key>y</key>
			<real>0.295217666105</real>
			<key>z</key>
			<real>-11.1357637637</real>
			<key>type</key>
			<string>gasCan</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.62436352474</real>
			<key>sy</key>
			<real>0.62436352474</real>
			<key>sz</key>
			<real>0.585340804444</real>
		</dict>
		<key>GasCan14</key>
		<dict>
			<key>x</key>
			<real>0.794862146096</real>
			<key>y</key>
			<real>0.295217666105</real>
			<key>z</key>
			<real>-7.67125721871</real>
			<key>type</key>
			<string>gasCan</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.62436352474</real>
			<key>sy</key>
			<real>0.62436352474</real>
			<key>sz</key>
			<real>0.585340804444</real>
		</dict>
		<key>Rock27</key>
		<dict>
			<key>x</key>
			<real>5.06307802763</real>
			<key>y</key>
			<real>0.731277276479</real>
			<key>z</key>
			<real>-4.85062053551</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.421367548483</real>
			<key>sy</key>
			<real>0.421367548483</real>
			<key>sz</key>
			<real>0.395032076703</real>
		</dict>
		<key>Rock28</key>
		<dict>
			<key>x</key>
			<real>6.48051997479</real>
			<key>y</key>
			<real>0.731277276479</real>
			<key>z</key>
			<real>-6.13201336721</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.421367548483</real>
			<key>sy</key>
			<real>0.421367548483</real>
			<key>sz</key>
			<real>0.395032076703</real>
		</dict>
		<key>Rock29</key>
		<dict>
			<key>x</key>
			<real>7.64484728854</real>
			<key>y</key>
			<real>0.731277276479</real>
			<key>z</key>
			<real>-8.03037311788</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.421367548483</real>
			<key>sy</key>
			<real>0.421367548483</real>
			<key>sz</key>
			<real>0.395032076703</real>
		</dict>
		<key>Rock30</key>
		<dict>
			<key>x</key>
			<real>7.39173265512</real>
			<key>y</key>
			<real>0.731277276479</real>
			<key>z</key>
			<real>-10.1660278374</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.421367548483</real>
			<key>sy</key>
			<real>0.421367548483</real>
			<key>sz</key>
			<real>0.395032076703</real>
		</dict>
		<key>GasCan15</key>
		<dict>
			<key>x</key>
			<real>5.80653188786</real>
			<key>y</key>
			<real>0.295217666105</real>
			<key>z</key>
			<real>-9.56961696938</real>
			<key>type</key>
			<string>gasCan</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.62436352474</real>
			<key>sy</key>
			<real>0.62436352474</real>
			<key>sz</key>
			<real>0.585340804444</real>
		</dict>
	</dict>
	<key>LevelControl</key>
	<dict>
		<key>NumCombos</key>
		<integer>2</integer>
		<key>NumGopherLives</key>
		<integer>30</integer>
		<key>NumCarrotLives</key>
		<integer>3</integer>
		<key>Background</key>
		<string>CropCircles</string>
		<key>GamePlayMode</key>
		<integer>5</integer>
		<key>ScoreMode</key>
		<integer>0</integer>
		<key>NumBalls</key>
		<integer>-1</integer>
		<key>BallTypes</key>
		<integer>1</integer>
	</dict>
	<key>GeneratedObjects</key>
	<dict>
		<key>Gopher</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.25</real>
		</dict>
		<key>Gopher1</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.25</real>
		</dict>
		<key>Cannon</key>
		<dict>
			<key>type</key>
			<string>cannon</string>
			<key>scale</key>
			<real>4.0</real>
		</dict>
	</dict>
</dict>
</plist>
