<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LayoutObjects</key>
	<dict>
		<key>Hole1</key>
		<dict>
			<key>x</key>
			<real>-6.8262481344</real>
			<key>y</key>
			<real>0.355668247372</real>
			<key>z</key>
			<real>-4.67592962265</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Carrot1</key>
		<dict>
			<key>x</key>
			<real>-6.76998812273</real>
			<key>y</key>
			<real>1.13686837722e-15</real>
			<key>z</key>
			<real>7.35461737985</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Carrot2</key>
		<dict>
			<key>x</key>
			<real>-6.81107602498</real>
			<key>y</key>
			<real>0</real>
			<key>z</key>
			<real>5.48434258376</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Carrot3</key>
		<dict>
			<key>x</key>
			<real>-6.8393724105</real>
			<key>y</key>
			<real>1.13686837722e-15</real>
			<key>z</key>
			<real>4.16294014233</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>GasCan6</key>
		<dict>
			<key>x</key>
			<real>-3.77660400143</real>
			<key>y</key>
			<real>0.781328155418</real>
			<key>z</key>
			<real>-10.3499836401</real>
			<key>type</key>
			<string>gasCan</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.84790168923</real>
			<key>sy</key>
			<real>0.84790168923</real>
			<key>sz</key>
			<real>0.84790168923</real>
		</dict>
		<key>Hedge1</key>
		<dict>
			<key>x</key>
			<real>0.926840743221</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>10.6097783723</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>4</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge2</key>
		<dict>
			<key>x</key>
			<real>4.16434419431</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>2.76560515194</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>4</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Pot1</key>
		<dict>
			<key>x</key>
			<real>-2.7514239508</real>
			<key>y</key>
			<real>0</real>
			<key>z</key>
			<real>-6.06502642993</real>
			<key>type</key>
			<string>pot1</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge3</key>
		<dict>
			<key>x</key>
			<real>0.911555852176</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>-2.66398434318</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>4</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge4</key>
		<dict>
			<key>x</key>
			<real>4.78397430813</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>-2.71459087109</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>4</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge5</key>
		<dict>
			<key>x</key>
			<real>-5.26882650645</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>-7.10136269217</real>
			<key>type</key>
			<string>fenceC</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>4</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge6</key>
		<dict>
			<key>x</key>
			<real>-5.26882650645</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>-3.09862811557</real>
			<key>type</key>
			<string>fenceC</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>4</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge9</key>
		<dict>
			<key>x</key>
			<real>6.42518371137</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>10.67916266</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>4</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge10</key>
		<dict>
			<key>x</key>
			<real>-5.26882650645</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>0.983347472274</real>
			<key>type</key>
			<string>fenceC</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>4</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge11</key>
		<dict>
			<key>x</key>
			<real>-5.26882650645</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>5.05546633665</real>
			<key>type</key>
			<string>fenceC</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>4</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge12</key>
		<dict>
			<key>x</key>
			<real>-5.26882650645</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>9.06759040246</real>
			<key>type</key>
			<string>fenceC</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>4</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge13</key>
		<dict>
			<key>x</key>
			<real>-5.26882650645</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>13.0703249791</real>
			<key>type</key>
			<string>fenceC</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>4</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge14</key>
		<dict>
			<key>x</key>
			<real>-1.57544538752</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>-1.81437341078</real>
			<key>type</key>
			<string>fenceLt</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>4</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge15</key>
		<dict>
			<key>x</key>
			<real>-1.57544538752</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>2.11897687805</real>
			<key>type</key>
			<string>fenceLt</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>4</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge16</key>
		<dict>
			<key>x</key>
			<real>6.67201804454</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>-1.90704153923</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>4</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge17</key>
		<dict>
			<key>x</key>
			<real>6.67201804454</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>2.0263087496</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>4</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge18</key>
		<dict>
			<key>x</key>
			<real>-1.57544538752</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>5.27473841566</real>
			<key>type</key>
			<string>fenceLt</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>4</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge19</key>
		<dict>
			<key>x</key>
			<real>-1.57544538752</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>9.208088704490001</real>
			<key>type</key>
			<string>fenceLt</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>4</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge20</key>
		<dict>
			<key>x</key>
			<real>-1.5291113233</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>-5.86825360477</real>
			<key>type</key>
			<string>fenceLt</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>4</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge21</key>
		<dict>
			<key>x</key>
			<real>1.66648955091</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>-10.0618368428</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>4</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge22</key>
		<dict>
			<key>x</key>
			<real>4.12364451216</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>-4.96508977808</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>4</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge23</key>
		<dict>
			<key>x</key>
			<real>6.16420705461</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>-10.0155027786</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>4</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge24</key>
		<dict>
			<key>x</key>
			<real>-2.8543893658</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>-12.2391485001</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>4</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge25</key>
		<dict>
			<key>x</key>
			<real>1.17573975326</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>-12.2391485001</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>4</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge26</key>
		<dict>
			<key>x</key>
			<real>4.69712863437</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>-12.2391485001</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>4</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge27</key>
		<dict>
			<key>x</key>
			<real>9.05153669297</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>2.76560515194</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>4</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Pot2</key>
		<dict>
			<key>x</key>
			<real>-3.30743272151</real>
			<key>y</key>
			<real>0</real>
			<key>z</key>
			<real>13.3489464804</real>
			<key>type</key>
			<string>pot1</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Pot3</key>
		<dict>
			<key>x</key>
			<real>8.56174966593</real>
			<key>y</key>
			<real>-3.41060513165e-15</real>
			<key>z</key>
			<real>13.8116658838</real>
			<key>type</key>
			<string>pot1</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Pot4</key>
		<dict>
			<key>x</key>
			<real>8.84037529013</real>
			<key>y</key>
			<real>-3.41060513165e-15</real>
			<key>z</key>
			<real>-5.60168578768</real>
			<key>type</key>
			<string>pot1</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower1</key>
		<dict>
			<key>x</key>
			<real>3.65097010287</real>
			<key>y</key>
			<real>-2.27373675443e-15</real>
			<key>z</key>
			<real>10.652161249</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Pot6</key>
		<dict>
			<key>x</key>
			<real>1.31981308241</real>
			<key>y</key>
			<real>-1.13686837722e-15</real>
			<key>z</key>
			<real>-4.22398509812</real>
			<key>type</key>
			<string>pot1</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower2</key>
		<dict>
			<key>x</key>
			<real>9.02301951201</real>
			<key>y</key>
			<real>-3.41060513165e-15</real>
			<key>z</key>
			<real>-13.8183978967</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower3</key>
		<dict>
			<key>x</key>
			<real>-8.689742577620001</real>
			<key>y</key>
			<real>1.13686837722e-15</real>
			<key>z</key>
			<real>-14.1874137735</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower4</key>
		<dict>
			<key>x</key>
			<real>8.70013061975</real>
			<key>y</key>
			<real>-3.41060513165e-15</real>
			<key>z</key>
			<real>5.55493563887</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge28</key>
		<dict>
			<key>x</key>
			<real>-5.33821079422</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>-11.125651383</real>
			<key>type</key>
			<string>fenceC</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>4</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
	</dict>
	<key>LevelControl</key>
	<dict>
		<key>NumCombos</key>
		<integer>2</integer>
		<key>NumGopherLives</key>
		<integer>1</integer>
		<key>Background</key>
		<string>Aliens</string>
		<key>GamePlayMode</key>
		<integer>4</integer>
		<key>ScoreMode</key>
		<integer>0</integer>
		<key>NumBalls</key>
		<integer>-1</integer>
		<key>BallTypes</key>
		<integer>1</integer>
		<key>XBounds</key>
		<real>10</real>
		<key>ZBounds</key>
		<real>15</real>
		<key>BallSpawnX</key>
		<real>4</real>
		<key>BallSpawnZ</key>
		<real>0</real>
		<key>CarrotSearchDistance</key>
		<real>30</real>
		<key>SpawnIntervals</key>
		<array>
			<dict>
				<key>Time</key>
				<real>0</real>
				<key>Gophers</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>1000</real>
				<key>Gophers</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<key>GeneratedObjects</key>
	<dict>
		<key>Gopher</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.25</real>
		</dict>
		<key>Gopher1</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.25</real>
		</dict>
		<key>Gopher2</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.25</real>
		</dict>
		<key>Ball</key>
		<dict>
			<key>type</key>
			<string>ball</string>
			<key>scale</key>
			<real>0.5</real>
			<key>ballType</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
