<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">

<dict>
	<key>LayoutObjects</key>
	<dict>
		<key>pCylinder59</key>
		<dict>
			<key>x</key>
			<real>4.0</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>9.375</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.333333333333</real>
			<key>sy</key>
			<real>0.333333333333</real>
			<key>sz</key>
			<real>0.3125</real>
		</dict>
		<key>pCylinder58</key>
		<dict>
			<key>x</key>
			<real>-4.0</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-11.875</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.333333333333</real>
			<key>sy</key>
			<real>0.333333333333</real>
			<key>sz</key>
			<real>0.3125</real>
		</dict>
		<key>pCylinder57</key>
		<dict>
			<key>x</key>
			<real>3.73499646756</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-10.0488623678</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.333333333333</real>
			<key>sy</key>
			<real>0.333333333333</real>
			<key>sz</key>
			<real>0.3125</real>
		</dict>
		<key>pCylinder56</key>
		<dict>
			<key>x</key>
			<real>2.0</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>5.0</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.333333333333</real>
			<key>sy</key>
			<real>0.333333333333</real>
			<key>sz</key>
			<real>0.3125</real>
		</dict>
		<key>pCylinder55</key>
		<dict>
			<key>x</key>
			<real>-8.66666666667</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-5.625</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.333333333333</real>
			<key>sy</key>
			<real>0.333333333333</real>
			<key>sz</key>
			<real>0.3125</real>
		</dict>
		<key>pCylinder54</key>
		<dict>
			<key>x</key>
			<real>-8.0</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>6.25</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.333333333333</real>
			<key>sy</key>
			<real>0.333333333333</real>
			<key>sz</key>
			<real>0.3125</real>
		</dict>
		<key>pCylinder53</key>
		<dict>
			<key>x</key>
			<real>0.0</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-3.125</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.333333333333</real>
			<key>sy</key>
			<real>0.333333333333</real>
			<key>sz</key>
			<real>0.3125</real>
		</dict>
		<key>pCylinder52</key>
		<dict>
			<key>x</key>
			<real>0.414783970259</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>7.38150280069</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.333333333333</real>
			<key>sy</key>
			<real>0.333333333333</real>
			<key>sz</key>
			<real>0.3125</real>
		</dict>
		<key>pCylinder51</key>
		<dict>
			<key>x</key>
			<real>-0.978491453394</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>6.97613171838</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.333333333333</real>
			<key>sy</key>
			<real>0.333333333333</real>
			<key>sz</key>
			<real>0.3125</real>
		</dict>
		<key>pCylinder50</key>
		<dict>
			<key>x</key>
			<real>-0.450007672008</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>8.41745112215</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.333333333333</real>
			<key>sy</key>
			<real>0.333333333333</real>
			<key>sz</key>
			<real>0.3125</real>
		</dict>
		<key>pCylinder49</key>
		<dict>
			<key>x</key>
			<real>-0.666666666667</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-6.875</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.333333333333</real>
			<key>sy</key>
			<real>0.333333333333</real>
			<key>sz</key>
			<real>0.3125</real>
		</dict>
		<key>pCylinder48</key>
		<dict>
			<key>x</key>
			<real>0.666666666667</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-7.5</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.333333333333</real>
			<key>sy</key>
			<real>0.333333333333</real>
			<key>sz</key>
			<real>0.3125</real>
		</dict>
		<key>pCylinder47</key>
		<dict>
			<key>x</key>
			<real>-0.594139612386</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-8.33788694677</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.333333333333</real>
			<key>sy</key>
			<real>0.333333333333</real>
			<key>sz</key>
			<real>0.3125</real>
		</dict>
		<key>pCylinder46</key>
		<dict>
			<key>x</key>
			<real>-2.0</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-0.0</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.333333333333</real>
			<key>sy</key>
			<real>0.333333333333</real>
			<key>sz</key>
			<real>0.3125</real>
		</dict>
		<key>pCylinder45</key>
		<dict>
			<key>x</key>
			<real>-2.0</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>1.875</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.333333333333</real>
			<key>sy</key>
			<real>0.333333333333</real>
			<key>sz</key>
			<real>0.3125</real>
		</dict>
		<key>pCylinder44</key>
		<dict>
			<key>x</key>
			<real>-0.666666666667</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>1.25</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.333333333333</real>
			<key>sy</key>
			<real>0.333333333333</real>
			<key>sz</key>
			<real>0.3125</real>
		</dict>
		<key>pCylinder43</key>
		<dict>
			<key>x</key>
			<real>0.666666666667</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>2.5</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.333333333333</real>
			<key>sy</key>
			<real>0.333333333333</real>
			<key>sz</key>
			<real>0.3125</real>
		</dict>
		<key>pCylinder42</key>
		<dict>
			<key>x</key>
			<real>2.0</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>0.625</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.333333333333</real>
			<key>sy</key>
			<real>0.333333333333</real>
			<key>sz</key>
			<real>0.3125</real>
		</dict>
		<key>pCylinder41</key>
		<dict>
			<key>x</key>
			<real>2.0</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-1.25</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.333333333333</real>
			<key>sy</key>
			<real>0.333333333333</real>
			<key>sz</key>
			<real>0.3125</real>
		</dict>
		<key>pCylinder40</key>
		<dict>
			<key>x</key>
			<real>0.666666666667</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-1.875</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.333333333333</real>
			<key>sy</key>
			<real>0.333333333333</real>
			<key>sz</key>
			<real>0.3125</real>
		</dict>
		<key>pCylinder39</key>
		<dict>
			<key>x</key>
			<real>-1.33333333333</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-1.875</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.333333333333</real>
			<key>sy</key>
			<real>0.333333333333</real>
			<key>sz</key>
			<real>0.3125</real>
		</dict>
		<key>pCylinder38</key>
		<dict>
			<key>x</key>
			<real>-0.666666666667</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-0.625</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.333333333333</real>
			<key>sy</key>
			<real>0.333333333333</real>
			<key>sz</key>
			<real>0.3125</real>
		</dict>
		<key>pCylinder37</key>
		<dict>
			<key>x</key>
			<real>-2.66666666667</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-1.25</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.333333333333</real>
			<key>sy</key>
			<real>0.333333333333</real>
			<key>sz</key>
			<real>0.3125</real>
		</dict>
		<key>pCylinder36</key>
		<dict>
			<key>x</key>
			<real>-9.33333333333</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>0.625</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.333333333333</real>
			<key>sy</key>
			<real>0.333333333333</real>
			<key>sz</key>
			<real>0.3125</real>
		</dict>
		<key>pCylinder34</key>
		<dict>
			<key>x</key>
			<real>0.666666666667</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-0.0</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.333333333333</real>
			<key>sy</key>
			<real>0.333333333333</real>
			<key>sz</key>
			<real>0.3125</real>
		</dict>
		<key>LevelControl</key>
		<dict>
			<key>x</key>
			<real>0.0</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-0.0</real>
			<key>type</key>
			<string>levelControl</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.333333333333</real>
			<key>sy</key>
			<real>0.333333333333</real>
			<key>sz</key>
			<real>0.3125</real>
		</dict>
		<key>pSphere1</key>
		<dict>
			<key>x</key>
			<real>-5.79188046401</real>
			<key>y</key>
			<real>0.712166511746</real>
			<key>z</key>
			<real>2.51778156726</real>
			<key>type</key>
			<string>gasCan</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.567503320494</real>
			<key>sy</key>
			<real>0.567503320494</real>
			<key>sz</key>
			<real>0.532034362963</real>
		</dict>
		<key>pSphere2</key>
		<dict>
			<key>x</key>
			<real>-8.23741528088</real>
			<key>y</key>
			<real>0.712166511746</real>
			<key>z</key>
			<real>2.52427673714</real>
			<key>type</key>
			<string>gasCan</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.531477168623</real>
			<key>sy</key>
			<real>0.531477168623</real>
			<key>sz</key>
			<real>0.498259845584</real>
		</dict>
		<key>pSphere3</key>
		<dict>
			<key>x</key>
			<real>0.224025911667</real>
			<key>y</key>
			<real>0.712166511746</real>
			<key>z</key>
			<real>-9.86763237062</real>
			<key>type</key>
			<string>gasCan</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.531477168623</real>
			<key>sy</key>
			<real>0.531477168623</real>
			<key>sz</key>
			<real>0.498259845584</real>
		</dict>
		<key>pSphere4</key>
		<dict>
			<key>x</key>
			<real>2.50263718169</real>
			<key>y</key>
			<real>0.712166511746</real>
			<key>z</key>
			<real>-8.67601742469</real>
			<key>type</key>
			<string>gasCan</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.567503320494</real>
			<key>sy</key>
			<real>0.567503320494</real>
			<key>sz</key>
			<real>0.532034362963</real>
		</dict>
		<key>pSphere5</key>
		<dict>
			<key>x</key>
			<real>-7.0162700199</real>
			<key>y</key>
			<real>0.712166511746</real>
			<key>z</key>
			<real>4.59547485618</real>
			<key>type</key>
			<string>gasCan</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.531477168623</real>
			<key>sy</key>
			<real>0.531477168623</real>
			<key>sz</key>
			<real>0.498259845584</real>
		</dict>
		<key>pSphere6</key>
		<dict>
			<key>x</key>
			<real>-2.37523380946</real>
			<key>y</key>
			<real>0.712166511746</real>
			<key>z</key>
			<real>-9.05196847048</real>
			<key>type</key>
			<string>gasCan</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.531477168623</real>
			<key>sy</key>
			<real>0.531477168623</real>
			<key>sz</key>
			<real>0.498259845584</real>
		</dict>
		<key>pSphere7</key>
		<dict>
			<key>x</key>
			<real>-3.91613009481</real>
			<key>y</key>
			<real>0.712166511746</real>
			<key>z</key>
			<real>-9.85031265932</real>
			<key>type</key>
			<string>gasCan</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.531477168623</real>
			<key>sy</key>
			<real>0.531477168623</real>
			<key>sz</key>
			<real>0.498259845584</real>
		</dict>
	</dict>
	<key>LevelControl</key>
	<dict>
		<key>NumCombos</key>
		<integer>2</integer>
		<key>NumGopherLives</key>
		<integer>10</integer>
		<key>NumCarrotLives</key>
		<integer>5</integer>
		<key>Background</key>
		<string>CropCircles</string>
		<key>GamePlayMode</key>
		<integer>5</integer>
		<key>ScoreMode</key>
		<integer>0</integer>
		<key>NumBalls</key>
		<integer>-1</integer>
		<key>BallTypes</key>
		<integer>-1</integer>
	</dict>
	<key>GeneratedObjects</key>
	<dict>
		<key>Gopher</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.25</real>
		</dict>
		<key>Gopher1</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.25</real>
		</dict>
		<key>Cannon</key>
		<dict>
			<key>type</key>
			<string>cannon</string>
			<key>scale</key>
			<real>4.0</real>
		</dict>
	</dict>
</dict>
</plist>
