<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">

<dict>
	<key>LayoutObjects</key>
	<dict>
		<key>Hole1</key>
		<dict>
			<key>x</key>
			<real>-9.25469820643</real>
			<key>y</key>
			<real>0.355668247372</real>
			<key>z</key>
			<real>-6.28223402784</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Carrot1</key>
		<dict>
			<key>x</key>
			<real>-4.89661235287</real>
			<key>y</key>
			<real>1.13686837722e-015</real>
			<key>z</key>
			<real>2.42833294802</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Carrot2</key>
		<dict>
			<key>x</key>
			<real>-5.0070845429</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>1.32128531742</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hole2</key>
		<dict>
			<key>x</key>
			<real>8.73521341257</real>
			<key>y</key>
			<real>0.355668247372</real>
			<key>z</key>
			<real>10.8646003515</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Carrot3</key>
		<dict>
			<key>x</key>
			<real>9.0283102948</real>
			<key>y</key>
			<real>-3.41060513165e-015</real>
			<key>z</key>
			<real>1.62518074543</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Carrot5</key>
		<dict>
			<key>x</key>
			<real>7.91816169044</real>
			<key>y</key>
			<real>-3.41060513165e-015</real>
			<key>z</key>
			<real>0.723185004385</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Carrot8</key>
		<dict>
			<key>x</key>
			<real>-6.2560017228</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>1.8763596196</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Carrot9</key>
		<dict>
			<key>x</key>
			<real>9.11901377714</real>
			<key>y</key>
			<real>-2.27373675443e-015</real>
			<key>z</key>
			<real>-0.000117124012748</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>PFlower1</key>
		<dict>
			<key>x</key>
			<real>-8.09401410927</real>
			<key>y</key>
			<real>1.13686837722e-015</real>
			<key>z</key>
			<real>10.3790497721</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge3</key>
		<dict>
			<key>x</key>
			<real>-1.60953581079</real>
			<key>y</key>
			<real>2.0</real>
			<key>z</key>
			<real>2.22431316015</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.53743808152</real>
			<key>sy</key>
			<real>3.07487616304</real>
			<key>sz</key>
			<real>0.384359520379</real>
		</dict>
		<key>Hedge4</key>
		<dict>
			<key>x</key>
			<real>3.34861108119</real>
			<key>y</key>
			<real>2.0</real>
			<key>z</key>
			<real>-1.81879707756</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.53743808152</real>
			<key>sy</key>
			<real>3.07487616304</real>
			<key>sz</key>
			<real>0.384359520379</real>
		</dict>
		<key>Hedge5</key>
		<dict>
			<key>x</key>
			<real>-5.96266938417</real>
			<key>y</key>
			<real>2.0</real>
			<key>z</key>
			<real>-10.2930399297</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>4.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge14</key>
		<dict>
			<key>x</key>
			<real>-3.65697402069</real>
			<key>y</key>
			<real>2.0</real>
			<key>z</key>
			<real>-1.60622054746</real>
			<key>type</key>
			<string>fenceLt</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>4.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge15</key>
		<dict>
			<key>x</key>
			<real>-3.65697402069</real>
			<key>y</key>
			<real>2.0</real>
			<key>z</key>
			<real>2.32712974137</real>
			<key>type</key>
			<string>fenceLt</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>4.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge18</key>
		<dict>
			<key>x</key>
			<real>-3.65697402069</real>
			<key>y</key>
			<real>2.0</real>
			<key>z</key>
			<real>5.48289127898</real>
			<key>type</key>
			<string>fenceLt</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>4.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge19</key>
		<dict>
			<key>x</key>
			<real>-3.65697402069</real>
			<key>y</key>
			<real>2.0</real>
			<key>z</key>
			<real>9.41624156781</real>
			<key>type</key>
			<string>fenceLt</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>4.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge20</key>
		<dict>
			<key>x</key>
			<real>-3.61063995647</real>
			<key>y</key>
			<real>2.0</real>
			<key>z</key>
			<real>-5.66010074146</real>
			<key>type</key>
			<string>fenceLt</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>4.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge21</key>
		<dict>
			<key>x</key>
			<real>0.140035219923</real>
			<key>y</key>
			<real>2.0</real>
			<key>z</key>
			<real>-11.1719854472</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.32157585289</real>
			<key>sy</key>
			<real>2.64315170579</real>
			<key>sz</key>
			<real>0.330393963223</real>
		</dict>
		<key>Hedge22</key>
		<dict>
			<key>x</key>
			<real>0.54008171632</real>
			<key>y</key>
			<real>2.0</real>
			<key>z</key>
			<real>-5.49651915538</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.53743808152</real>
			<key>sy</key>
			<real>3.07487616304</real>
			<key>sz</key>
			<real>0.384359520379</real>
		</dict>
		<key>Hedge23</key>
		<dict>
			<key>x</key>
			<real>4.08267842144</real>
			<key>y</key>
			<real>2.0</real>
			<key>z</key>
			<real>-10.0155027786</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.32157585289</real>
			<key>sy</key>
			<real>2.64315170579</real>
			<key>sz</key>
			<real>0.330393963223</real>
		</dict>
		<key>Hedge24</key>
		<dict>
			<key>x</key>
			<real>-5.21267990662</real>
			<key>y</key>
			<real>2.0</real>
			<key>z</key>
			<real>-7.92685687175</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>4.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge25</key>
		<dict>
			<key>x</key>
			<real>-1.59963175763</real>
			<key>y</key>
			<real>2.0</real>
			<key>z</key>
			<real>-12.2391485001</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.32157585289</real>
			<key>sy</key>
			<real>2.64315170579</real>
			<key>sz</key>
			<real>0.330393963223</real>
		</dict>
		<key>Hedge26</key>
		<dict>
			<key>x</key>
			<real>1.92175712347</real>
			<key>y</key>
			<real>2.0</real>
			<key>z</key>
			<real>-12.2391485001</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.32157585289</real>
			<key>sy</key>
			<real>2.64315170579</real>
			<key>sz</key>
			<real>0.330393963223</real>
		</dict>
		<key>Pot2</key>
		<dict>
			<key>x</key>
			<real>-6.98479997344</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>13.8346364948</real>
			<key>type</key>
			<string>pot1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower1</key>
		<dict>
			<key>x</key>
			<real>0.598061440887</real>
			<key>y</key>
			<real>-2.27373675443e-015</real>
			<key>z</key>
			<real>7.66863687475</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Pot6</key>
		<dict>
			<key>x</key>
			<real>3.93160822771</real>
			<key>y</key>
			<real>-2.27373675443e-015</real>
			<key>z</key>
			<real>-4.14142167188</real>
			<key>type</key>
			<string>pot1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge27</key>
		<dict>
			<key>x</key>
			<real>5.29166099334</real>
			<key>y</key>
			<real>2.0</real>
			<key>z</key>
			<real>-2.85513772736</real>
			<key>type</key>
			<string>fenceLt</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>4.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge28</key>
		<dict>
			<key>x</key>
			<real>5.29166099334</real>
			<key>y</key>
			<real>2.0</real>
			<key>z</key>
			<real>1.28636542479</real>
			<key>type</key>
			<string>fenceLt</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>4.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge29</key>
		<dict>
			<key>x</key>
			<real>5.29166099334</real>
			<key>y</key>
			<real>2.0</real>
			<key>z</key>
			<real>5.27473841566</real>
			<key>type</key>
			<string>fenceLt</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>4.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge30</key>
		<dict>
			<key>x</key>
			<real>5.29166099334</real>
			<key>y</key>
			<real>2.0</real>
			<key>z</key>
			<real>9.20808870449</real>
			<key>type</key>
			<string>fenceLt</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>4.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge31</key>
		<dict>
			<key>x</key>
			<real>5.06045790648</real>
			<key>y</key>
			<real>2.0</real>
			<key>z</key>
			<real>-6.90901792136</real>
			<key>type</key>
			<string>fenceLt</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>4.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge32</key>
		<dict>
			<key>x</key>
			<real>-1.49518740357</real>
			<key>y</key>
			<real>2.0</real>
			<key>z</key>
			<real>-5.41067184684</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.53743808152</real>
			<key>sy</key>
			<real>3.07487616304</real>
			<key>sz</key>
			<real>0.384359520379</real>
		</dict>
		<key>Pot7</key>
		<dict>
			<key>x</key>
			<real>-9.2875013833</real>
			<key>y</key>
			<real>1.13686837722e-015</real>
			<key>z</key>
			<real>7.57421901055</real>
			<key>type</key>
			<string>pot1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Pot8</key>
		<dict>
			<key>x</key>
			<real>-4.74142774383</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-9.41462754258</real>
			<key>type</key>
			<string>pot1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge33</key>
		<dict>
			<key>x</key>
			<real>-1.41198186096</real>
			<key>y</key>
			<real>2.0</real>
			<key>z</key>
			<real>7.63801016478</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.53743808152</real>
			<key>sy</key>
			<real>3.07487616304</real>
			<key>sz</key>
			<real>0.384359520379</real>
		</dict>
		<key>Flower5</key>
		<dict>
			<key>x</key>
			<real>0.598061440887</real>
			<key>y</key>
			<real>-2.27373675443e-015</real>
			<key>z</key>
			<real>2.04850956519</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower6</key>
		<dict>
			<key>x</key>
			<real>-1.48346719228</real>
			<key>y</key>
			<real>-2.27373675443e-015</real>
			<key>z</key>
			<real>-2.18393198892</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower7</key>
		<dict>
			<key>x</key>
			<real>-1.96915720669</real>
			<key>y</key>
			<real>-2.27373675443e-015</real>
			<key>z</key>
			<real>-7.38775357185</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower8</key>
		<dict>
			<key>x</key>
			<real>6.8426473404</real>
			<key>y</key>
			<real>-3.41060513165e-015</real>
			<key>z</key>
			<real>-14.6037195002</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower9</key>
		<dict>
			<key>x</key>
			<real>3.96300558699</real>
			<key>y</key>
			<real>-2.27373675443e-015</real>
			<key>z</key>
			<real>-11.9837842988</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge35</key>
		<dict>
			<key>x</key>
			<real>5.29166099334</real>
			<key>y</key>
			<real>2.0</real>
			<key>z</key>
			<real>13.2323773953</real>
			<key>type</key>
			<string>fenceLt</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>4.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower10</key>
		<dict>
			<key>x</key>
			<real>9.444364321</real>
			<key>y</key>
			<real>-3.41060513165e-015</real>
			<key>z</key>
			<real>-5.46166124815</real>
			<key>type</key>
			<string>pot1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower11</key>
		<dict>
			<key>x</key>
			<real>6.66899281011</real>
			<key>y</key>
			<real>-2.27373675443e-015</real>
			<key>z</key>
			<real>13.3414807381</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower12</key>
		<dict>
			<key>x</key>
			<real>6.49572590153</real>
			<key>y</key>
			<real>-3.41060513165e-015</real>
			<key>z</key>
			<real>-2.66962200333</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge36</key>
		<dict>
			<key>x</key>
			<real>-6.03205367195</real>
			<key>y</key>
			<real>2.0</real>
			<key>z</key>
			<real>-14.3173286205</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>4.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>UFO</key>
		<dict>
			<key>x</key>
			<real>-8.47374143192</real>
			<key>y</key>
			<real>2.0</real>
			<key>z</key>
			<real>-12.2980670014</real>
			<key>type</key>
			<string>uFO</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>4.0</real>
			<key>sz</key>
			<real>2.0</real>
		</dict>
		<key>Hedge38</key>
		<dict>
			<key>x</key>
			<real>-8.54312571969</real>
			<key>y</key>
			<real>2.0</real>
			<key>z</key>
			<real>-9.17577405165</real>
			<key>type</key>
			<string>fenceC</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>4.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower13</key>
		<dict>
			<key>x</key>
			<real>-1.55285148006</real>
			<key>y</key>
			<real>-2.27373675443e-015</real>
			<key>z</key>
			<real>13.4969170476</real>
			<key>type</key>
			<string>pot1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>PFlower2</key>
		<dict>
			<key>x</key>
			<real>6.61545489846</real>
			<key>y</key>
			<real>-2.27373675443e-015</real>
			<key>z</key>
			<real>5.03645961365</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower14</key>
		<dict>
			<key>x</key>
			<real>-4.9526815809</real>
			<key>y</key>
			<real>-1.13686837722e-015</real>
			<key>z</key>
			<real>6.90540970925</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower15</key>
		<dict>
			<key>x</key>
			<real>-5.64652445862</real>
			<key>y</key>
			<real>-1.13686837722e-015</real>
			<key>z</key>
			<real>5.93402968044</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower16</key>
		<dict>
			<key>x</key>
			<real>-4.88329729313</real>
			<key>y</key>
			<real>-1.13686837722e-015</real>
			<key>z</key>
			<real>5.0320339394</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Rock1</key>
		<dict>
			<key>x</key>
			<real>2.67959007406</real>
			<key>y</key>
			<real>-2.27373675443e-015</real>
			<key>z</key>
			<real>10.9990826878</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Rock2</key>
		<dict>
			<key>x</key>
			<real>3.99789154173</real>
			<key>y</key>
			<real>-2.27373675443e-015</real>
			<key>z</key>
			<real>10.9990826878</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Rock3</key>
		<dict>
			<key>x</key>
			<real>2.67959007406</real>
			<key>y</key>
			<real>-2.27373675443e-015</real>
			<key>z</key>
			<real>4.89326536386</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Rock4</key>
		<dict>
			<key>x</key>
			<real>3.99789154173</real>
			<key>y</key>
			<real>-2.27373675443e-015</real>
			<key>z</key>
			<real>4.89326536386</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
	</dict>
	<key>LevelControl</key>
	<dict>
		<key>NumCombos</key>
		<integer>2</integer>
		<key>NumGopherLives</key>
		<integer>2</integer>
		<key>Background</key>
		<string>DoubleTrouble</string>
		<key>GamePlayMode</key>
		<integer>4</integer>
		<key>ScoreMode</key>
		<integer>0</integer>
		<key>NumBalls</key>
		<integer>-1</integer>
		<key>BallTypes</key>
		<integer>1</integer>
		<key>XBounds</key>
		<real>10</real>
		<key>ZBounds</key>
		<real>15</real>
		<key>BallSpawnX</key>
		<real>0.0</real>
		<key>BallSpawnZ</key>
		<real>0.0</real>
			<key>CarrotSearchDistance</key>
			<real>10.0</real>
		<key>SpawnIntervals</key>
		<array>
			<dict>
				<key>Time</key>
				<real>0.0</real>
				<key>Gophers</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>1000.0</real>
				<key>Gophers</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<key>GeneratedObjects</key>
	<dict>
		<key>Gopher</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.25</real>
		</dict>
		<key>Gopher1</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.25</real>
		</dict>
		<key>Ball</key>
		<dict>
			<key>type</key>
			<string>ball</string>
			<key>scale</key>
			<real>0.5</real>
			<key>ballType</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
