<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LayoutObjects</key>
	<dict>
		<key>Pot1</key>
		<dict>
			<key>x</key>
			<integer>-9</integer>
			<key>y</key>
			<integer>2</integer>
			<key>z</key>
			<integer>-13</integer>
			<key>type</key>
			<string>pot3</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Carrot2</key>
		<dict>
			<key>x</key>
			<real>-3.36089882953</real>
			<key>y</key>
			<real>0</real>
			<key>z</key>
			<real>6.07227295535</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Carrot1</key>
		<dict>
			<key>x</key>
			<real>-3.24076308967</real>
			<key>y</key>
			<real>0</real>
			<key>z</key>
			<real>7.52430931485</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hole1</key>
		<dict>
			<key>x</key>
			<real>3.95984414856</real>
			<key>y</key>
			<real>-2.27373675443e-15</real>
			<key>z</key>
			<real>7.37438178246</real>
			<key>type</key>
			<string>hole</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Spinner</key>
		<dict>
			<key>triggerX</key>
			<integer>4</integer>
			<key>triggerZ</key>
			<integer>-8</integer>
			<key>x</key>
			<integer>8</integer>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<integer>0</integer>
			<key>type</key>
			<string>spinner1</string>
			<key>ry</key>
			<integer>0</integer>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>4</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Wagon1</key>
		<dict>
			<key>x</key>
			<integer>-2</integer>
			<key>y</key>
			<integer>2</integer>
			<key>z</key>
			<real>13.5</real>
			<key>type</key>
			<string>wagon</string>
			<key>ry</key>
			<integer>120</integer>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>4</real>
			<key>sz</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>LevelControl</key>
	<dict>
		<key>NumCombos</key>
		<integer>2</integer>
		<key>NumGopherLives</key>
		<integer>1</integer>
		<key>Background</key>
		<string>Intro</string>
		<key>GamePlayMode</key>
		<integer>4</integer>
		<key>ScoreMode</key>
		<integer>0</integer>
		<key>NumBalls</key>
		<integer>-1</integer>
		<key>BallTypes</key>
		<integer>1</integer>
		<key>XBounds</key>
		<real>10</real>
		<key>ZBounds</key>
		<real>15</real>
		<key>BallSpawnX</key>
		<integer>4</integer>
		<key>BallSpawnZ</key>
		<real>-8</real>
		<key>CarrotSearchDistance</key>
		<real>10</real>
		<key>SpawnIntervals</key>
		<array>
			<dict>
				<key>Time</key>
				<real>0</real>
				<key>Gophers</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>1000</real>
				<key>Gophers</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<key>GeneratedObjects</key>
	<dict>
		<key>Gopher</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.25</real>
		</dict>
		<key>Ball</key>
		<dict>
			<key>type</key>
			<string>ball</string>
			<key>scale</key>
			<real>0.5</real>
			<key>ballType</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
