<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>DebugQuickReset</string>
		<key>filename</key>
		<string>CropCircles1.plist</string>
	</dict>
	<dict>
		<key>title</key>
		<string>DebugGrandmasIntro</string>
		<key>filename</key>
		<string>BasicLevel1.plist</string>
	</dict>
	<dict>
		<key>title</key>
		<string>DebugGM Easy</string>
		<key>filename</key>
		<string>Grandmas1.plist</string>
	</dict>
	<dict>
		<key>title</key>
		<string>DebugGM6 - Rocks</string>
		<key>filename</key>
		<string>Grandmas6.plist</string>
	</dict>
	<dict>
		<key>title</key>
		<string>DebugGM 7- Plinko</string>
		<key>filename</key>
		<string>Grandmas7.plist</string>
	</dict>
	<dict>
		<key>title</key>
		<string>DebugCropCirclesR1</string>
		<key>filename</key>
		<string>CropCirclesRebound4a.plist</string>
	</dict>
	<dict>
		<key>title</key>
		<string>DebugCropCirclesR2</string>
		<key>filename</key>
		<string>CropCircles4.plist</string>
	</dict>
	<dict>
		<key>title</key>
		<string>DebugCropCircles5</string>
		<key>filename</key>
		<string>CropCirclesFire5a.plist</string>
	</dict>
	<dict>
		<key>title</key>
		<string>DebugCropCircles6</string>
		<key>filename</key>
		<string>CropCircles6.plist</string>
	</dict>
	<dict>
		<key>title</key>
		<string>DebugCropCircles7</string>
		<key>filename</key>
		<string>CropCircles7.plist</string>
	</dict>
	<dict>
		<key>title</key>
		<string>DebugPoolTable</string>
		<key>filename</key>
		<string>PoolTable1.plist</string>
	</dict>
	<dict>
		<key>title</key>
		<string>DebugGasCan</string>
		<key>filename</key>
		<string>CropCircles3.plist</string>
	</dict>
	<dict>
		<key>title</key>
		<string>DebugElectroTest</string>
		<key>filename</key>
		<string>GrandmasElectro2a.plist</string>
	</dict>
	<dict>
		<key>title</key>
		<string>DebugFreezeTest</string>
		<key>filename</key>
		<string>GrandmasFreeze3a.plist</string>
	</dict>
	<dict>
		<key>title</key>
		<string>DebugFreeze2Test</string>
		<key>filename</key>
		<string>GrandmasFreeze3b.plist</string>
	</dict>
	<dict>
		<key>title</key>
		<string>DebugBlackLight</string>
		<key>filename</key>
		<string>BlackLightElectro.plist</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Grandma</string>
		<key>filename</key>
		<string>BasicLevel1.plist</string>
	</dict>
	<dict>
		<key>title</key>
		<string>CropCircle</string>
		<key>filename</key>
		<string>CropCircles.plist</string>
	</dict>
	<dict>
		<key>title</key>
		<string>YuppieGarden</string>
		<key>filename</key>
		<string>Yuppie2.plist</string>
	</dict>
	<dict>
		<key>title</key>
		<string>GolfCourse</string>
		<key>filename</key>
		<string>YuppieGarden.plist</string>
	</dict>
	<dict>
		<key>title</key>
		<string>TikiGarden</string>
		<key>filename</key>
		<string>YuppieGarden.plist</string>
	</dict>
	<dict>
		<key>title</key>
		<string>BlackLight</string>
		<key>filename</key>
		<string>YuppieGarden.plist</string>
	</dict>
</array>
</plist>
