<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LayoutObjects</key>
	<dict>
		<key>pCylinder34</key>
		<dict>
			<key>x</key>
			<real>-5.34754358186</real>
			<key>y</key>
			<real>0</real>
			<key>z</key>
			<real>-4.66398707753</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.372363557247</real>
			<key>sy</key>
			<real>0.372363557247</real>
			<key>sz</key>
			<real>0.372363557247</real>
		</dict>
		<key>pCylinder36</key>
		<dict>
			<key>x</key>
			<real>7.12628038357</real>
			<key>y</key>
			<real>0.271725100064</real>
			<key>z</key>
			<real>12.9950918411</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.368975637488</real>
			<key>sy</key>
			<real>0.368975637488</real>
			<key>sz</key>
			<real>0.368975637488</real>
		</dict>
		<key>pCylinder37</key>
		<dict>
			<key>x</key>
			<real>5.2411759275</real>
			<key>y</key>
			<real>-0.06715986660330001</real>
			<key>z</key>
			<real>-3.7463634509</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.372363557247</real>
			<key>sy</key>
			<real>0.372363557247</real>
			<key>sz</key>
			<real>0.372363557247</real>
		</dict>
		<key>pCylinder38</key>
		<dict>
			<key>x</key>
			<real>6.74350385705</real>
			<key>y</key>
			<real>-0.346947006089</real>
			<key>z</key>
			<real>7.39177789546</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.372363557247</real>
			<key>sy</key>
			<real>0.372363557247</real>
			<key>sz</key>
			<real>0.372363557247</real>
		</dict>
		<key>pCylinder39</key>
		<dict>
			<key>x</key>
			<real>-8.74571258091</real>
			<key>y</key>
			<real>-0.0329101379358</real>
			<key>z</key>
			<real>11.2290577255</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.368975637488</real>
			<key>sy</key>
			<real>0.368975637488</real>
			<key>sz</key>
			<real>0.368975637488</real>
		</dict>
		<key>pCylinder40</key>
		<dict>
			<key>x</key>
			<real>-7.9825986463</real>
			<key>y</key>
			<real>0</real>
			<key>z</key>
			<real>-11.3180646356</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.368975637488</real>
			<key>sy</key>
			<real>0.368975637488</real>
			<key>sz</key>
			<real>0.368975637488</real>
		</dict>
		<key>pCylinder41</key>
		<dict>
			<key>x</key>
			<real>7.30053808823</real>
			<key>y</key>
			<real>0.0298104678253</real>
			<key>z</key>
			<real>-13.3463128935</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.368975637488</real>
			<key>sy</key>
			<real>0.368975637488</real>
			<key>sz</key>
			<real>0.368975637488</real>
		</dict>
		<key>pCylinder42</key>
		<dict>
			<key>x</key>
			<real>6.89435455866</real>
			<key>y</key>
			<real>-0.34564262341</real>
			<key>z</key>
			<real>5.06116674144</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.372363557247</real>
			<key>sy</key>
			<real>0.372363557247</real>
			<key>sz</key>
			<real>0.372363557247</real>
		</dict>
		<key>pCylinder43</key>
		<dict>
			<key>x</key>
			<real>4.64112184043</real>
			<key>y</key>
			<real>0.00557553418301</real>
			<key>z</key>
			<real>-4.95965881072</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.372363557247</real>
			<key>sy</key>
			<real>0.372363557247</real>
			<key>sz</key>
			<real>0.372363557247</real>
		</dict>
		<key>Wagon</key>
		<dict>
			<key>x</key>
			<real>8.026642000380001</real>
			<key>y</key>
			<real>0.628604255674</real>
			<key>z</key>
			<real>0.788325346268</real>
			<key>type</key>
			<string>wagon</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.17940016235</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower14</key>
		<dict>
			<key>x</key>
			<real>9.02086118778</real>
			<key>y</key>
			<real>0.8034228346</real>
			<key>z</key>
			<real>6.17192727923</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>6</real>
			<key>sx</key>
			<real>0.41765177491</real>
			<key>sy</key>
			<real>0.41765177491</real>
			<key>sz</key>
			<real>0.41765177491</real>
		</dict>
		<key>Flower16</key>
		<dict>
			<key>x</key>
			<real>-2.61938143199</real>
			<key>y</key>
			<real>0.291130932198</real>
			<key>z</key>
			<real>9.458960182669999</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>5</real>
			<key>sx</key>
			<real>0.41765177491</real>
			<key>sy</key>
			<real>0.41765177491</real>
			<key>sz</key>
			<real>0.41765177491</real>
		</dict>
		<key>pCylinder44</key>
		<dict>
			<key>x</key>
			<real>-5.40565239176</real>
			<key>y</key>
			<real>-0.346947006089</real>
			<key>z</key>
			<real>4.69576471751</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.372363557247</real>
			<key>sy</key>
			<real>0.372363557247</real>
			<key>sz</key>
			<real>0.372363557247</real>
		</dict>
		<key>Flower19</key>
		<dict>
			<key>x</key>
			<real>-1.88891248079</real>
			<key>y</key>
			<real>0.385371769895</real>
			<key>z</key>
			<real>-11.3220645307</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>4</real>
			<key>sx</key>
			<real>0.41765177491</real>
			<key>sy</key>
			<real>0.41765177491</real>
			<key>sz</key>
			<real>0.41765177491</real>
		</dict>
		<key>Flower31</key>
		<dict>
			<key>x</key>
			<real>4.87547847919</real>
			<key>y</key>
			<real>0.385371769895</real>
			<key>z</key>
			<real>7.59486818675</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>4</real>
			<key>sx</key>
			<real>0.41765177491</real>
			<key>sy</key>
			<real>0.41765177491</real>
			<key>sz</key>
			<real>0.41765177491</real>
		</dict>
		<key>Flower32</key>
		<dict>
			<key>x</key>
			<real>-2.51435410512</real>
			<key>y</key>
			<real>0.385371769895</real>
			<key>z</key>
			<real>-9.28208114503</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>3.4</real>
			<key>sx</key>
			<real>0.41765177491</real>
			<key>sy</key>
			<real>0.41765177491</real>
			<key>sz</key>
			<real>0.41765177491</real>
		</dict>
		<key>Flower33</key>
		<dict>
			<key>x</key>
			<real>-8.37282453848</real>
			<key>y</key>
			<real>0.385371769895</real>
			<key>z</key>
			<real>-1.96621505204</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>90</real>
			<key>sx</key>
			<real>0.41765177491</real>
			<key>sy</key>
			<real>0.41765177491</real>
			<key>sz</key>
			<real>0.41765177491</real>
		</dict>
		<key>Flower34</key>
		<dict>
			<key>x</key>
			<real>-1.024913753</real>
			<key>y</key>
			<real>0.8034228346</real>
			<key>z</key>
			<real>-9.79158267026</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>6</real>
			<key>sx</key>
			<real>0.41765177491</real>
			<key>sy</key>
			<real>0.41765177491</real>
			<key>sz</key>
			<real>0.41765177491</real>
		</dict>
		<key>Flower35</key>
		<dict>
			<key>x</key>
			<real>8.39159604246</real>
			<key>y</key>
			<real>0.8034228346</real>
			<key>z</key>
			<real>11.5656285248</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>6</real>
			<key>sx</key>
			<real>0.41765177491</real>
			<key>sy</key>
			<real>0.41765177491</real>
			<key>sz</key>
			<real>0.41765177491</real>
		</dict>
		<key>Flower36</key>
		<dict>
			<key>x</key>
			<real>8.842982906750001</real>
			<key>y</key>
			<real>0.8034228346</real>
			<key>z</key>
			<real>-12.035456094</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>6</real>
			<key>sx</key>
			<real>0.41765177491</real>
			<key>sy</key>
			<real>0.41765177491</real>
			<key>sz</key>
			<real>0.41765177491</real>
		</dict>
		<key>Flower37</key>
		<dict>
			<key>x</key>
			<real>0.979161464891</real>
			<key>y</key>
			<real>0.385371769895</real>
			<key>z</key>
			<real>7.8138446902</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>5</real>
			<key>sx</key>
			<real>0.41765177491</real>
			<key>sy</key>
			<real>0.41765177491</real>
			<key>sz</key>
			<real>0.41765177491</real>
		</dict>
		<key>pCylinder45</key>
		<dict>
			<key>x</key>
			<real>5.32893826494</real>
			<key>y</key>
			<real>0.271725100064</real>
			<key>z</key>
			<real>12.9950918411</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.368975637488</real>
			<key>sy</key>
			<real>0.368975637488</real>
			<key>sz</key>
			<real>0.368975637488</real>
		</dict>
		<key>pCylinder46</key>
		<dict>
			<key>x</key>
			<real>-8.99848766987</real>
			<key>y</key>
			<real>0</real>
			<key>z</key>
			<real>-9.794231100279999</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.368975637488</real>
			<key>sy</key>
			<real>0.368975637488</real>
			<key>sz</key>
			<real>0.368975637488</real>
		</dict>
		<key>pCylinder47</key>
		<dict>
			<key>x</key>
			<real>-5.71823362978</real>
			<key>y</key>
			<real>-0.346947006089</real>
			<key>z</key>
			<real>6.14145294337</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.372363557247</real>
			<key>sy</key>
			<real>0.372363557247</real>
			<key>sz</key>
			<real>0.372363557247</real>
		</dict>
		<key>pCylinder48</key>
		<dict>
			<key>x</key>
			<real>-6.0308148678</real>
			<key>y</key>
			<real>-0.346947006089</real>
			<key>z</key>
			<real>-6.20550595856</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.372363557247</real>
			<key>sy</key>
			<real>0.372363557247</real>
			<key>sz</key>
			<real>0.372363557247</real>
		</dict>
		<key>pCylinder49</key>
		<dict>
			<key>x</key>
			<real>-7.76889621208</real>
			<key>y</key>
			<real>-0.0329101379358</real>
			<key>z</key>
			<real>11.1899850707</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.368975637488</real>
			<key>sy</key>
			<real>0.368975637488</real>
			<key>sz</key>
			<real>0.368975637488</real>
		</dict>
		<key>pCylinder50</key>
		<dict>
			<key>x</key>
			<real>5.77670455287</real>
			<key>y</key>
			<real>0.0298104678253</real>
			<key>z</key>
			<real>-13.1509496198</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.368975637488</real>
			<key>sy</key>
			<real>0.368975637488</real>
			<key>sz</key>
			<real>0.368975637488</real>
		</dict>
		<key>pCylinder51</key>
		<dict>
			<key>x</key>
			<real>-6.65165119754</real>
			<key>y</key>
			<real>-0.346947006089</real>
			<key>z</key>
			<real>4.69576471751</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.372363557247</real>
			<key>sy</key>
			<real>0.372363557247</real>
			<key>sz</key>
			<real>0.372363557247</real>
		</dict>
		<key>pCylinder52</key>
		<dict>
			<key>x</key>
			<real>-6.65165119754</real>
			<key>y</key>
			<real>-0.346947006089</real>
			<key>z</key>
			<real>-4.4852791146</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.372363557247</real>
			<key>sy</key>
			<real>0.372363557247</real>
			<key>sz</key>
			<real>0.372363557247</real>
		</dict>
		<key>pCylinder53</key>
		<dict>
			<key>x</key>
			<real>6.39854682095</real>
			<key>y</key>
			<real>-0.346947006089</real>
			<key>z</key>
			<real>-4.4852791146</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.372363557247</real>
			<key>sy</key>
			<real>0.372363557247</real>
			<key>sz</key>
			<real>0.372363557247</real>
		</dict>
		<key>pCylinder54</key>
		<dict>
			<key>x</key>
			<real>5.21812689968</real>
			<key>y</key>
			<real>-0.346947006089</real>
			<key>z</key>
			<real>4.95808025557</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.372363557247</real>
			<key>sy</key>
			<real>0.372363557247</real>
			<key>sz</key>
			<real>0.372363557247</real>
		</dict>
		<key>pCylinder55</key>
		<dict>
			<key>x</key>
			<real>5.21812689968</real>
			<key>y</key>
			<real>-0.346947006089</real>
			<key>z</key>
			<real>6.26965794587</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.372363557247</real>
			<key>sy</key>
			<real>0.372363557247</real>
			<key>sz</key>
			<real>0.372363557247</real>
		</dict>
		<key>pCylinder56</key>
		<dict>
			<key>x</key>
			<real>6.33296793643</real>
			<key>y</key>
			<real>-0.346947006089</real>
			<key>z</key>
			<real>6.26965794587</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.372363557247</real>
			<key>sy</key>
			<real>0.372363557247</real>
			<key>sz</key>
			<real>0.372363557247</real>
		</dict>
		<key>pCylinder57</key>
		<dict>
			<key>x</key>
			<real>6.33296793643</real>
			<key>y</key>
			<real>-0.346947006089</real>
			<key>z</key>
			<real>-6.19033011199</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.372363557247</real>
			<key>sy</key>
			<real>0.372363557247</real>
			<key>sz</key>
			<real>0.372363557247</real>
		</dict>
		<key>pCylinder58</key>
		<dict>
			<key>x</key>
			<real>-7.50417669624</real>
			<key>y</key>
			<real>-0.346947006089</real>
			<key>z</key>
			<real>-6.19033011199</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.372363557247</real>
			<key>sy</key>
			<real>0.372363557247</real>
			<key>sz</key>
			<real>0.372363557247</real>
		</dict>
		<key>pCylinder59</key>
		<dict>
			<key>x</key>
			<real>-7.50417669624</real>
			<key>y</key>
			<real>-0.346947006089</real>
			<key>z</key>
			<real>6.07292129232</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.372363557247</real>
			<key>sy</key>
			<real>0.372363557247</real>
			<key>sz</key>
			<real>0.372363557247</real>
		</dict>
	</dict>
	<key>LevelControl</key>
	<dict>
		<key>NumCombos</key>
		<integer>2</integer>
		<key>NumGopherLives</key>
		<integer>30</integer>
		<key>Background</key>
		<string>Grandmas</string>
		<key>GamePlayMode</key>
		<integer>9</integer>
		<key>ScoreMode</key>
		<integer>0</integer>
		<key>NumBalls</key>
		<integer>5</integer>
		<key>BallTypes</key>
		<integer>2</integer>
		<key>CollisionAvoidance</key>
		<integer>0</integer>
		<key>SpawnIntervals</key>
		<array>
			<dict>
				<key>Time</key>
				<real>0</real>
				<key>Gophers</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>10</real>
				<key>Gophers</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>20</real>
				<key>Gophers</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>30</real>
				<key>Gophers</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>40</real>
				<key>Gophers</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>45</real>
				<key>Gophers</key>
				<integer>6</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>50</real>
				<key>Gophers</key>
				<integer>7</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>60</real>
				<key>Gophers</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>75</real>
				<key>Gophers</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>80</real>
				<key>Gophers</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>90</real>
				<key>Gophers</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>95</real>
				<key>Gophers</key>
				<integer>6</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>100</real>
				<key>Gophers</key>
				<integer>7</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>110</real>
				<key>Gophers</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<key>GeneratedObjects</key>
	<dict>
		<key>Gopher</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.5</real>
		</dict>
		<key>Gopher1</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.5</real>
		</dict>
		<key>Gopher2</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.5</real>
		</dict>
		<key>Cannon</key>
		<dict>
			<key>type</key>
			<string>cannon</string>
			<key>scale</key>
			<real>1</real>
			<key>powerScale</key>
			<integer>2</integer>
			<key>x</key>
			<real>0.791376521808</real>
			<key>y</key>
			<real>0</real>
			<key>z</key>
			<real>-0</real>
			<key>rotationOffset</key>
			<real>3.1415965</real>
			<key>rotationBoundUpper</key>
			<real>8.93609671111</real>
			<key>rotationBoundLower</key>
			<real>-8.93609671111</real>
		</dict>
		<key>Gopher3</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.5</real>
		</dict>
		<key>Gopher4</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.5</real>
		</dict>
		<key>Gopher5</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.5</real>
		</dict>
		<key>Gopher6</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.5</real>
		</dict>
	</dict>
</dict>
</plist>
