<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GeneratedObjects</key>
	<dict>
		<key>Ball</key>
		<dict>
			<key>ballType</key>
			<integer>1</integer>
			<key>scale</key>
			<real>0.5</real>
			<key>type</key>
			<string>ball</string>
		</dict>
		<key>Gopher</key>
		<dict>
			<key>scale</key>
			<real>0.25</real>
			<key>type</key>
			<string>gopher</string>
		</dict>
	</dict>
	<key>LayoutObjects</key>
	<dict>
		<key>Carrot3</key>
		<dict>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
			<key>type</key>
			<string>carrot</string>
			<key>x</key>
			<real>8.515367684979999</real>
			<key>y</key>
			<real>-3.41060513165e-15</real>
			<key>z</key>
			<real>9.043359920569999</real>
		</dict>
		<key>Carrot4</key>
		<dict>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
			<key>type</key>
			<string>carrot</string>
			<key>x</key>
			<real>6.61199862538</real>
			<key>y</key>
			<real>-2.27373675443e-15</real>
			<key>z</key>
			<real>8.97828280976</real>
		</dict>
		<key>Carrot7</key>
		<dict>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
			<key>type</key>
			<string>carrot</string>
			<key>x</key>
			<real>-7.40164083576</real>
			<key>y</key>
			<real>-1.13686837722e-15</real>
			<key>z</key>
			<real>-1.19372024837</real>
		</dict>
		<key>Carrot8</key>
		<dict>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
			<key>type</key>
			<string>carrot</string>
			<key>x</key>
			<real>-7.52177657561</real>
			<key>y</key>
			<real>-1.13686837722e-15</real>
			<key>z</key>
			<real>-2.64575660787</real>
		</dict>
		<key>Flower1</key>
		<dict>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>x</key>
			<real>-3.43727184448</real>
			<key>y</key>
			<real>0</real>
			<key>z</key>
			<real>-6.49521070449</real>
		</dict>
		<key>Flower10</key>
		<dict>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
			<key>type</key>
			<string>flower</string>
			<key>x</key>
			<real>-3.5693632015</real>
			<key>y</key>
			<real>-1.13686837722e-15</real>
			<key>z</key>
			<real>-2.59851567245</real>
		</dict>
		<key>Flower2</key>
		<dict>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>x</key>
			<real>-8.85301748224</real>
			<key>y</key>
			<real>1.13686837722e-15</real>
			<key>z</key>
			<real>-5.90079959791</real>
		</dict>
		<key>Flower3</key>
		<dict>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
			<key>type</key>
			<string>flower</string>
			<key>x</key>
			<real>3.66800945617</real>
			<key>y</key>
			<real>-2.27373675443e-15</real>
			<key>z</key>
			<real>11.5511625432</real>
		</dict>
		<key>Flower4</key>
		<dict>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>x</key>
			<real>8.252813251659999</real>
			<key>y</key>
			<real>-3.41060513165e-15</real>
			<key>z</key>
			<real>3.34559539339</real>
		</dict>
		<key>Flower5</key>
		<dict>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
			<key>type</key>
			<string>flower</string>
			<key>x</key>
			<real>-9.381382910319999</real>
			<key>y</key>
			<real>1.13686837722e-15</real>
			<key>z</key>
			<real>1.82654478768</real>
		</dict>
		<key>Flower6</key>
		<dict>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
			<key>type</key>
			<string>flower</string>
			<key>x</key>
			<real>-7.92837798311</real>
			<key>y</key>
			<real>-1.26217744835e-31</real>
			<key>z</key>
			<real>13.1203558128</real>
		</dict>
		<key>Flower7</key>
		<dict>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
			<key>type</key>
			<string>flower</string>
			<key>x</key>
			<real>-8.98510883926</real>
			<key>y</key>
			<real>-1.26217744835e-31</real>
			<key>z</key>
			<real>-13.6281439835</real>
		</dict>
		<key>Flower8</key>
		<dict>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
			<key>type</key>
			<string>flower</string>
			<key>x</key>
			<real>4.9505293262</real>
			<key>y</key>
			<real>-3.41060513165e-15</real>
			<key>z</key>
			<real>-0.0887798890932</real>
		</dict>
		<key>Flower9</key>
		<dict>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>x</key>
			<real>3.497524399</real>
			<key>y</key>
			<real>-2.27373675443e-15</real>
			<key>z</key>
			<real>-4.24965763518</real>
		</dict>
		<key>Hedge14</key>
		<dict>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>4</real>
			<key>sz</key>
			<real>0.5</real>
			<key>type</key>
			<string>hedge1</string>
			<key>x</key>
			<real>-6.04543968456</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>-0.0839686570992</real>
		</dict>
		<key>Hedge15</key>
		<dict>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>4</real>
			<key>sz</key>
			<real>0.5</real>
			<key>type</key>
			<string>hedge1</string>
			<key>x</key>
			<real>-6.04543968456</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>3.84938163173</real>
		</dict>
		<key>Hedge18</key>
		<dict>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>4</real>
			<key>sz</key>
			<real>0.5</real>
			<key>type</key>
			<string>hedge1</string>
			<key>x</key>
			<real>-6.04543968456</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>7.00514316934</real>
		</dict>
		<key>Hedge19</key>
		<dict>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>4</real>
			<key>sz</key>
			<real>0.5</real>
			<key>type</key>
			<string>hedge1</string>
			<key>x</key>
			<real>-6.04543968456</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>10.9384934582</real>
		</dict>
		<key>Hedge20</key>
		<dict>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>4</real>
			<key>sz</key>
			<real>0.5</real>
			<key>type</key>
			<string>hedge1</string>
			<key>x</key>
			<real>-5.99910562033</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>-3.92969598778</real>
		</dict>
		<key>Hedge25</key>
		<dict>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>4</real>
			<key>sz</key>
			<real>0.5</real>
			<key>type</key>
			<string>hedge1</string>
			<key>x</key>
			<real>0.294642174742</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>2.78111820301</real>
		</dict>
		<key>Hedge26</key>
		<dict>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>4</real>
			<key>sz</key>
			<real>0.5</real>
			<key>type</key>
			<string>hedge1</string>
			<key>x</key>
			<real>3.81603105585</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>2.78111820301</real>
		</dict>
		<key>Hedge27</key>
		<dict>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>4</real>
			<key>sz</key>
			<real>0.5</real>
			<key>type</key>
			<string>hedge1</string>
			<key>x</key>
			<real>5.82078976761</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>0.54851067921</real>
		</dict>
		<key>Hedge28</key>
		<dict>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>4</real>
			<key>sz</key>
			<real>0.5</real>
			<key>type</key>
			<string>hedge1</string>
			<key>x</key>
			<real>5.82078976761</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>4.48186096804</real>
		</dict>
		<key>Hedge30</key>
		<dict>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>4</real>
			<key>sz</key>
			<real>0.5</real>
			<key>type</key>
			<string>hedge1</string>
			<key>x</key>
			<real>5.13974758544</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>13.0239777217</real>
		</dict>
		<key>Hedge31</key>
		<dict>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>4</real>
			<key>sz</key>
			<real>0.5</real>
			<key>type</key>
			<string>hedge1</string>
			<key>x</key>
			<real>5.86712383184</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>-3.29721665147</real>
		</dict>
		<key>Hedge32</key>
		<dict>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>4</real>
			<key>sz</key>
			<real>0.5</real>
			<key>type</key>
			<string>hedge1</string>
			<key>x</key>
			<real>-3.87310117853</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>6.41513386127</real>
		</dict>
		<key>Hedge33</key>
		<dict>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>4</real>
			<key>sz</key>
			<real>0.5</real>
			<key>type</key>
			<string>hedge1</string>
			<key>x</key>
			<real>-0.0875295833858</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>6.45787164641</real>
		</dict>
		<key>Hedge35</key>
		<dict>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>4</real>
			<key>sz</key>
			<real>0.5</real>
			<key>type</key>
			<string>hedge1</string>
			<key>x</key>
			<real>-0.984191633732</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>-8.841298223380001</real>
		</dict>
		<key>Hedge36</key>
		<dict>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>4</real>
			<key>sz</key>
			<real>0.5</real>
			<key>type</key>
			<string>hedge1</string>
			<key>x</key>
			<real>-0.874313006942</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>13.00798794</real>
		</dict>
		<key>Hedge37</key>
		<dict>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>4</real>
			<key>sz</key>
			<real>0.5</real>
			<key>type</key>
			<string>hedge1</string>
			<key>x</key>
			<real>2.64707587416</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>13.00798794</real>
		</dict>
		<key>Hedge38</key>
		<dict>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>4</real>
			<key>sz</key>
			<real>0.5</real>
			<key>type</key>
			<string>hedge1</string>
			<key>x</key>
			<real>-4.38169841738</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>13.00798794</real>
		</dict>
		<key>Hedge39</key>
		<dict>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>4</real>
			<key>sz</key>
			<real>0.5</real>
			<key>type</key>
			<string>hedge1</string>
			<key>x</key>
			<real>2.06320880485</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>-8.841298223380001</real>
		</dict>
		<key>Hedge40</key>
		<dict>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>4</real>
			<key>sz</key>
			<real>0.5</real>
			<key>type</key>
			<string>hedge1</string>
			<key>x</key>
			<real>5.3109822144</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>-8.841298223380001</real>
		</dict>
		<key>Hedge41</key>
		<dict>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>4</real>
			<key>sz</key>
			<real>0.5</real>
			<key>type</key>
			<string>hedge1</string>
			<key>x</key>
			<real>-3.73171059436</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>-4.08763236196</real>
		</dict>
		<key>Hedge42</key>
		<dict>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>4</real>
			<key>sz</key>
			<real>0.5</real>
			<key>type</key>
			<string>hedge1</string>
			<key>x</key>
			<real>-0.210321713252</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>-4.08763236196</real>
		</dict>
		<key>Hedge43</key>
		<dict>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>4</real>
			<key>sz</key>
			<real>0.5</real>
			<key>type</key>
			<string>hedge1</string>
			<key>x</key>
			<real>8.16512897398</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>-6.00133404748</real>
		</dict>
		<key>Hedge5</key>
		<dict>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>4</real>
			<key>sz</key>
			<real>0.5</real>
			<key>type</key>
			<string>hedge1</string>
			<key>x</key>
			<real>-6.16205110527</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>-7.02013935232</real>
		</dict>
		<key>Hedge7</key>
		<dict>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>4</real>
			<key>sz</key>
			<real>0.5</real>
			<key>type</key>
			<string>hedge1</string>
			<key>x</key>
			<real>5.84446681263</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>-6.66951464492</real>
		</dict>
		<key>Hole1</key>
		<dict>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
			<key>type</key>
			<string>hole</string>
			<key>x</key>
			<real>2.1105651503</real>
			<key>y</key>
			<real>-1.13686837722e-15</real>
			<key>z</key>
			<real>9.091569423699999</real>
		</dict>
		<key>Hole2</key>
		<dict>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
			<key>type</key>
			<string>hole</string>
			<key>x</key>
			<real>-7.38998402226</real>
			<key>y</key>
			<real>-1.13686837722e-15</real>
			<key>z</key>
			<real>7.14787957955</real>
		</dict>
	</dict>
	<key>LevelControl</key>
	<dict>
		<key>Background</key>
		<string>TwoForTheRoad</string>
		<key>BallSpawnX</key>
		<real>0</real>
		<key>BallSpawnZ</key>
		<real>0</real>
		<key>BallTypes</key>
		<integer>1</integer>
		<key>CarrotSearchDistance</key>
		<real>10</real>
		<key>GamePlayMode</key>
		<integer>4</integer>
		<key>NumBalls</key>
		<integer>-1</integer>
		<key>NumCombos</key>
		<integer>2</integer>
		<key>NumGopherLives</key>
		<integer>4</integer>
		<key>ScoreMode</key>
		<integer>0</integer>
		<key>SpawnIntervals</key>
		<array>
			<dict>
				<key>Gophers</key>
				<integer>1</integer>
				<key>Time</key>
				<real>0</real>
			</dict>
			<dict>
				<key>Gophers</key>
				<integer>1</integer>
				<key>Time</key>
				<real>1000</real>
			</dict>
		</array>
		<key>XBounds</key>
		<real>10</real>
		<key>ZBounds</key>
		<real>15</real>
	</dict>
</dict>
</plist>
