<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">

<dict>
	<key>LayoutObjects</key>
	<dict>
		<key>Hedge5</key>
		<dict>
			<key>x</key>
			<real>-5.04170819058</real>
			<key>y</key>
			<real>2.0</real>
			<key>z</key>
			<real>-7.02013935232</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>4.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge7</key>
		<dict>
			<key>x</key>
			<real>6.40463826998</real>
			<key>y</key>
			<real>2.0</real>
			<key>z</key>
			<real>-6.66951464492</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>4.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge14</key>
		<dict>
			<key>x</key>
			<real>-4.92509676987</real>
			<key>y</key>
			<real>2.0</real>
			<key>z</key>
			<real>-0.0839686570992</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>4.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge15</key>
		<dict>
			<key>x</key>
			<real>-4.92509676987</real>
			<key>y</key>
			<real>2.0</real>
			<key>z</key>
			<real>3.84938163173</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>4.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge18</key>
		<dict>
			<key>x</key>
			<real>-4.92509676987</real>
			<key>y</key>
			<real>2.0</real>
			<key>z</key>
			<real>7.00514316934</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>4.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge19</key>
		<dict>
			<key>x</key>
			<real>-4.92509676987</real>
			<key>y</key>
			<real>2.0</real>
			<key>z</key>
			<real>10.9384934582</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>4.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge20</key>
		<dict>
			<key>x</key>
			<real>-4.87876270564</real>
			<key>y</key>
			<real>2.0</real>
			<key>z</key>
			<real>-3.92969598778</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>4.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge25</key>
		<dict>
			<key>x</key>
			<real>0.294642174742</real>
			<key>y</key>
			<real>2.0</real>
			<key>z</key>
			<real>2.78111820301</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>4.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge26</key>
		<dict>
			<key>x</key>
			<real>3.81603105585</real>
			<key>y</key>
			<real>2.0</real>
			<key>z</key>
			<real>2.78111820301</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>4.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hole1</key>
		<dict>
			<key>x</key>
			<real>4.68634661216</real>
			<key>y</key>
			<real>-2.27373675443e-015</real>
			<key>z</key>
			<real>9.48784349475</real>
			<key>type</key>
			<string>hole</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge27</key>
		<dict>
			<key>x</key>
			<real>6.38096122496</real>
			<key>y</key>
			<real>2.0</real>
			<key>z</key>
			<real>0.54851067921</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>4.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge28</key>
		<dict>
			<key>x</key>
			<real>6.38096122496</real>
			<key>y</key>
			<real>2.0</real>
			<key>z</key>
			<real>4.48186096804</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>4.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge30</key>
		<dict>
			<key>x</key>
			<real>6.59619337454</real>
			<key>y</key>
			<real>2.0</real>
			<key>z</key>
			<real>13.0239777217</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>4.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge31</key>
		<dict>
			<key>x</key>
			<real>6.42729528918</real>
			<key>y</key>
			<real>2.0</real>
			<key>z</key>
			<real>-3.29721665147</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>4.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge32</key>
		<dict>
			<key>x</key>
			<real>-2.75275826384</real>
			<key>y</key>
			<real>2.0</real>
			<key>z</key>
			<real>6.41513386127</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>4.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge33</key>
		<dict>
			<key>x</key>
			<real>1.0328133313</real>
			<key>y</key>
			<real>2.0</real>
			<key>z</key>
			<real>6.45787164641</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>4.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge35</key>
		<dict>
			<key>x</key>
			<real>0.136151280958</real>
			<key>y</key>
			<real>2.0</real>
			<key>z</key>
			<real>-8.84129822338</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>4.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge36</key>
		<dict>
			<key>x</key>
			<real>0.582132782155</real>
			<key>y</key>
			<real>2.0</real>
			<key>z</key>
			<real>13.00798794</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>4.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge37</key>
		<dict>
			<key>x</key>
			<real>4.10352166326</real>
			<key>y</key>
			<real>2.0</real>
			<key>z</key>
			<real>13.00798794</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>4.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge38</key>
		<dict>
			<key>x</key>
			<real>-2.92525262829</real>
			<key>y</key>
			<real>2.0</real>
			<key>z</key>
			<real>13.00798794</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>4.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge39</key>
		<dict>
			<key>x</key>
			<real>3.18355171954</real>
			<key>y</key>
			<real>2.0</real>
			<key>z</key>
			<real>-8.84129822338</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>4.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge40</key>
		<dict>
			<key>x</key>
			<real>5.3109822144</real>
			<key>y</key>
			<real>2.0</real>
			<key>z</key>
			<real>-8.84129822338</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>4.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hole2</key>
		<dict>
			<key>x</key>
			<real>4.62030093365</real>
			<key>y</key>
			<real>-2.27373675443e-015</real>
			<key>z</key>
			<real>-11.4486365927</real>
			<key>type</key>
			<string>hole</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Carrot3</key>
		<dict>
			<key>x</key>
			<real>-0.863118663336</real>
			<key>y</key>
			<real>-1.13686837722e-015</real>
			<key>z</key>
			<real>10.0340450982</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Carrot4</key>
		<dict>
			<key>x</key>
			<real>-0.983254403194</real>
			<key>y</key>
			<real>-1.13686837722e-015</real>
			<key>z</key>
			<real>8.58200873871</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Carrot7</key>
		<dict>
			<key>x</key>
			<real>-2.44821494756</real>
			<key>y</key>
			<real>-2.27373675443e-015</real>
			<key>z</key>
			<real>-10.7703436322</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Carrot8</key>
		<dict>
			<key>x</key>
			<real>-2.56835068742</real>
			<key>y</key>
			<real>-2.27373675443e-015</real>
			<key>z</key>
			<real>-12.2223799917</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge41</key>
		<dict>
			<key>x</key>
			<real>-2.61136767967</real>
			<key>y</key>
			<real>2.0</real>
			<key>z</key>
			<real>-4.08763236196</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>4.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge42</key>
		<dict>
			<key>x</key>
			<real>0.910021201438</real>
			<key>y</key>
			<real>2.0</real>
			<key>z</key>
			<real>-4.08763236196</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>4.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge43</key>
		<dict>
			<key>x</key>
			<real>8.61326613986</real>
			<key>y</key>
			<real>2.0</real>
			<key>z</key>
			<real>-6.00133404748</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>4.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
	</dict>
	<key>LevelControl</key>
	<dict>
		<key>NumCombos</key>
		<integer>2</integer>
		<key>NumGopherLives</key>
		<integer>2</integer>
		<key>Background</key>
		<string>Intro</string>
		<key>GamePlayMode</key>
		<integer>4</integer>
		<key>ScoreMode</key>
		<integer>0</integer>
		<key>NumBalls</key>
		<integer>-1</integer>
		<key>BallTypes</key>
		<integer>1</integer>
		<key>XBounds</key>
		<real>10</real>
		<key>ZBounds</key>
		<real>15</real>
		<key>BallSpawnX</key>
		<real>0.0</real>
		<key>BallSpawnZ</key>
		<real>0.0</real>
			<key>CarrotSearchDistance</key>
			<real>10.0</real>
		<key>SpawnIntervals</key>
		<array>
			<dict>
				<key>Time</key>
				<real>0.0</real>
				<key>Gophers</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>1000.0</real>
				<key>Gophers</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<key>GeneratedObjects</key>
	<dict>
		<key>Gopher</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.25</real>
		</dict>
		<key>Ball</key>
		<dict>
			<key>type</key>
			<string>ball</string>
			<key>scale</key>
			<real>0.5</real>
			<key>ballType</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
