<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LayoutObjects</key>
	<dict>
		<key>Carrot2</key>
		<dict>
			<key>x</key>
			<real>-5.59310193039</real>
			<key>y</key>
			<real>-1.13686837722e-15</real>
			<key>z</key>
			<real>12.6220241655</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Carrot1</key>
		<dict>
			<key>x</key>
			<real>-6.36781798081</real>
			<key>y</key>
			<real>-1.13686837722e-15</real>
			<key>z</key>
			<real>12.1015594649</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>pPlane1</key>
		<dict>
			<key>x</key>
			<real>0</real>
			<key>y</key>
			<real>0</real>
			<key>z</key>
			<real>-0</real>
			<key>type</key>
			<string>none</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>10</real>
			<key>sy</key>
			<real>1</real>
			<key>sz</key>
			<real>15</real>
		</dict>
		<key>Hole1</key>
		<dict>
			<key>x</key>
			<real>-6.19586126472</real>
			<key>y</key>
			<real>-1.13686837722e-15</real>
			<key>z</key>
			<real>4.19615691907</real>
			<key>type</key>
			<string>hole</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge58</key>
		<dict>
			<key>x</key>
			<real>9</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>11</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>-0.863998245893</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.44523666382</real>
			<key>sy</key>
			<real>2.89047332763</real>
			<key>sz</key>
			<real>0.361309165954</real>
		</dict>
		<key>Flower13</key>
		<dict>
			<key>x</key>
			<real>4.07149928578</real>
			<key>y</key>
			<real>-4.54747350886e-15</real>
			<key>z</key>
			<real>6.50049500045</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower14</key>
		<dict>
			<key>x</key>
			<real>3</real>
			<key>y</key>
			<real>-4.54747350886e-15</real>
			<key>z</key>
			<real>4</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower16</key>
		<dict>
			<key>x</key>
			<real>9</real>
			<key>y</key>
			<real>-5.68434188608e-15</real>
			<key>z</key>
			<real>7</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower17</key>
		<dict>
			<key>x</key>
			<real>8</real>
			<key>y</key>
			<real>-5.68434188608e-15</real>
			<key>z</key>
			<real>5</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower18</key>
		<dict>
			<key>x</key>
			<real>8</real>
			<key>y</key>
			<real>-5.68434188608e-15</real>
			<key>z</key>
			<real>3</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Carrot3</key>
		<dict>
			<key>x</key>
			<real>-6.60376156379</real>
			<key>y</key>
			<real>-1.13686837722e-15</real>
			<key>z</key>
			<real>10.632989555</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower19</key>
		<dict>
			<key>x</key>
			<real>4</real>
			<key>y</key>
			<real>-4.54747350886e-15</real>
			<key>z</key>
			<real>8</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower20</key>
		<dict>
			<key>x</key>
			<real>3.71400285689</real>
			<key>y</key>
			<real>-4.54747350886e-15</real>
			<key>z</key>
			<real>10.5004950004</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower22</key>
		<dict>
			<key>x</key>
			<real>3.42899571467</real>
			<key>y</key>
			<real>-4.54747350886e-15</real>
			<key>z</key>
			<real>13.2850071422</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge60</key>
		<dict>
			<key>x</key>
			<real>6.42899571467</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>13.6425035711</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>-0.863998245893</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.44523666382</real>
			<key>sy</key>
			<real>2.89047332763</real>
			<key>sz</key>
			<real>0.361309165954</real>
		</dict>
		<key>Flower23</key>
		<dict>
			<key>x</key>
			<real>1</real>
			<key>y</key>
			<real>-4.54747350886e-15</real>
			<key>z</key>
			<real>-0</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower24</key>
		<dict>
			<key>x</key>
			<real>-1</real>
			<key>y</key>
			<real>-4.54747350886e-15</real>
			<key>z</key>
			<real>1</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower25</key>
		<dict>
			<key>x</key>
			<real>-2</real>
			<key>y</key>
			<real>-4.54747350886e-15</real>
			<key>z</key>
			<real>2</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower26</key>
		<dict>
			<key>x</key>
			<real>-3</real>
			<key>y</key>
			<real>-4.54747350886e-15</real>
			<key>z</key>
			<real>3</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower27</key>
		<dict>
			<key>x</key>
			<real>-4</real>
			<key>y</key>
			<real>-4.54747350886e-15</real>
			<key>z</key>
			<real>4</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower28</key>
		<dict>
			<key>x</key>
			<real>-4</real>
			<key>y</key>
			<real>-4.54747350886e-15</real>
			<key>z</key>
			<real>5</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower29</key>
		<dict>
			<key>x</key>
			<real>-3</real>
			<key>y</key>
			<real>-4.54747350886e-15</real>
			<key>z</key>
			<real>6</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower30</key>
		<dict>
			<key>x</key>
			<real>-2</real>
			<key>y</key>
			<real>-4.54747350886e-15</real>
			<key>z</key>
			<real>7</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower31</key>
		<dict>
			<key>x</key>
			<real>-4</real>
			<key>y</key>
			<real>-4.54747350886e-15</real>
			<key>z</key>
			<real>9</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower32</key>
		<dict>
			<key>x</key>
			<real>1.28599714311</real>
			<key>y</key>
			<real>-4.54747350886e-15</real>
			<key>z</key>
			<real>4.50049500045</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower33</key>
		<dict>
			<key>x</key>
			<real>1.50049500045</real>
			<key>y</key>
			<real>-4.54747350886e-15</real>
			<key>z</key>
			<real>5.92850071422</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower36</key>
		<dict>
			<key>x</key>
			<real>1</real>
			<key>y</key>
			<real>-4.54747350886e-15</real>
			<key>z</key>
			<real>8.720294999829999</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower37</key>
		<dict>
			<key>x</key>
			<real>0</real>
			<key>y</key>
			<real>-4.54747350886e-15</real>
			<key>z</key>
			<real>10</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower38</key>
		<dict>
			<key>x</key>
			<real>-1</real>
			<key>y</key>
			<real>-4.54747350886e-15</real>
			<key>z</key>
			<real>11</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower39</key>
		<dict>
			<key>x</key>
			<real>-2</real>
			<key>y</key>
			<real>-4.54747350886e-15</real>
			<key>z</key>
			<real>12</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower40</key>
		<dict>
			<key>x</key>
			<real>-3</real>
			<key>y</key>
			<real>-4.54747350886e-15</real>
			<key>z</key>
			<real>8</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower41</key>
		<dict>
			<key>x</key>
			<real>-5.11640848648</real>
			<key>y</key>
			<real>-4.54747350886e-15</real>
			<key>z</key>
			<real>10.5226625933</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower42</key>
		<dict>
			<key>x</key>
			<real>4</real>
			<key>y</key>
			<real>-4.54747350886e-15</real>
			<key>z</key>
			<real>12</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower49</key>
		<dict>
			<key>x</key>
			<real>-2.35749642889</real>
			<key>y</key>
			<real>-4.54747350886e-15</real>
			<key>z</key>
			<real>13.0705092849</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower50</key>
		<dict>
			<key>x</key>
			<real>-2</real>
			<key>y</key>
			<real>-4.54747350886e-15</real>
			<key>z</key>
			<real>14</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower53</key>
		<dict>
			<key>x</key>
			<real>9</real>
			<key>y</key>
			<real>-5.68434188608e-15</real>
			<key>z</key>
			<real>1</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower54</key>
		<dict>
			<key>x</key>
			<real>8.62150178583</real>
			<key>y</key>
			<real>-5.68434188608e-15</real>
			<key>z</key>
			<real>-5.12972070024</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower55</key>
		<dict>
			<key>x</key>
			<real>7.81075089291</real>
			<key>y</key>
			<real>-5.68434188608e-15</real>
			<key>z</key>
			<real>-6.1834751648</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower56</key>
		<dict>
			<key>x</key>
			<real>8.30760655536</real>
			<key>y</key>
			<real>-6.8212102633e-15</real>
			<key>z</key>
			<real>-8.797550701440001</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower58</key>
		<dict>
			<key>x</key>
			<real>2.08577483786</real>
			<key>y</key>
			<real>-4.54747350886e-15</real>
			<key>z</key>
			<real>3.03420571387</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower59</key>
		<dict>
			<key>x</key>
			<real>0.473673628061</real>
			<key>y</key>
			<real>-4.54747350886e-15</real>
			<key>z</key>
			<real>-1.51260835761</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower60</key>
		<dict>
			<key>x</key>
			<real>2.15674804149</real>
			<key>y</key>
			<real>-4.54747350886e-15</real>
			<key>z</key>
			<real>-2.97599347492</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower61</key>
		<dict>
			<key>x</key>
			<real>2.84325195851</real>
			<key>y</key>
			<real>-5.68434188608e-15</real>
			<key>z</key>
			<real>-4.50574935044</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower62</key>
		<dict>
			<key>x</key>
			<real>1.70022193134</real>
			<key>y</key>
			<real>-3.41060513165e-15</real>
			<key>z</key>
			<real>-5.88218668806</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower63</key>
		<dict>
			<key>x</key>
			<real>0.700221931344</real>
			<key>y</key>
			<real>-3.41060513165e-15</real>
			<key>z</key>
			<real>-7.88218668806</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower64</key>
		<dict>
			<key>x</key>
			<real>-0.299778068656</real>
			<key>y</key>
			<real>-3.41060513165e-15</real>
			<key>z</key>
			<real>-9.105305487760001</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower67</key>
		<dict>
			<key>x</key>
			<real>-2.06294125463</real>
			<key>y</key>
			<real>-3.41060513165e-15</real>
			<key>z</key>
			<real>-9.028646218800001</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower68</key>
		<dict>
			<key>x</key>
			<real>-3.51946736477</real>
			<key>y</key>
			<real>-3.41060513165e-15</real>
			<key>z</key>
			<real>-9.105305487760001</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower69</key>
		<dict>
			<key>x</key>
			<real>-5.19685571289</real>
			<key>y</key>
			<real>-3.41060513165e-15</real>
			<key>z</key>
			<real>-8.513997191670001</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower70</key>
		<dict>
			<key>x</key>
			<real>-6.19342620931</real>
			<key>y</key>
			<real>-2.27373675443e-15</real>
			<key>z</key>
			<real>-6.7417184368</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower71</key>
		<dict>
			<key>x</key>
			<real>-6.58583812298</real>
			<key>y</key>
			<real>-3.41060513165e-15</real>
			<key>z</key>
			<real>-4.88904569522</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower72</key>
		<dict>
			<key>x</key>
			<real>0.853540469254</real>
			<key>y</key>
			<real>-3.41060513165e-15</real>
			<key>z</key>
			<real>-14.1682467424</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower73</key>
		<dict>
			<key>x</key>
			<real>-4.56490797248</real>
			<key>y</key>
			<real>-2.27373675443e-15</real>
			<key>z</key>
			<real>-14.1557016699</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower74</key>
		<dict>
			<key>x</key>
			<real>-9.304843105590001</real>
			<key>y</key>
			<real>-1.13686837722e-15</real>
			<key>z</key>
			<real>-12.8472152748</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower75</key>
		<dict>
			<key>x</key>
			<real>-6.66249739194</real>
			<key>y</key>
			<real>-2.27373675443e-15</real>
			<key>z</key>
			<real>-2.58926762656</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower76</key>
		<dict>
			<key>x</key>
			<real>-6.27920104716</real>
			<key>y</key>
			<real>-3.41060513165e-15</real>
			<key>z</key>
			<real>0.170466055822</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower77</key>
		<dict>
			<key>x</key>
			<real>-4.97599347492</real>
			<key>y</key>
			<real>-3.41060513165e-15</real>
			<key>z</key>
			<real>2.01028851075</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower78</key>
		<dict>
			<key>x</key>
			<real>2.92341138659</real>
			<key>y</key>
			<real>-4.54747350886e-15</real>
			<key>z</key>
			<real>-7.88196787363</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower79</key>
		<dict>
			<key>x</key>
			<real>-0.569232911534</real>
			<key>y</key>
			<real>-2.27373675443e-15</real>
			<key>z</key>
			<real>-12.8682155537</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower80</key>
		<dict>
			<key>x</key>
			<real>-3.58870821234</real>
			<key>y</key>
			<real>-2.27373675443e-15</real>
			<key>z</key>
			<real>-13.0045283548</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower81</key>
		<dict>
			<key>x</key>
			<real>7.88030085757</real>
			<key>y</key>
			<real>-6.8212102633e-15</real>
			<key>z</key>
			<real>-7.61346088037</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower82</key>
		<dict>
			<key>x</key>
			<real>-9.68334131976</real>
			<key>y</key>
			<real>-1.13686837722e-15</real>
			<key>z</key>
			<real>-9.5523725735</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower83</key>
		<dict>
			<key>x</key>
			<real>-7.9955287356</real>
			<key>y</key>
			<real>-2.27373675443e-15</real>
			<key>z</key>
			<real>-12.7414709538</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower84</key>
		<dict>
			<key>x</key>
			<real>-0.947731125708</real>
			<key>y</key>
			<real>-2.27373675443e-15</real>
			<key>z</key>
			<real>-14.4117818054</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower85</key>
		<dict>
			<key>x</key>
			<real>-3.02096089108</real>
			<key>y</key>
			<real>-2.27373675443e-15</real>
			<key>z</key>
			<real>-14.4850115708</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower86</key>
		<dict>
			<key>x</key>
			<real>0.842230502003</real>
			<key>y</key>
			<real>-3.41060513165e-15</real>
			<key>z</key>
			<real>-4.52370025827</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower87</key>
		<dict>
			<key>x</key>
			<real>-9.700062026039999</real>
			<key>y</key>
			<real>0</real>
			<key>z</key>
			<real>-7.00110483474</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower88</key>
		<dict>
			<key>x</key>
			<real>-9.7797280397</real>
			<key>y</key>
			<real>-1.13686837722e-15</real>
			<key>z</key>
			<real>-4.24378120434</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower89</key>
		<dict>
			<key>x</key>
			<real>-2.9494616053</real>
			<key>y</key>
			<real>-3.41060513165e-15</real>
			<key>z</key>
			<real>4.53379844623</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower90</key>
		<dict>
			<key>x</key>
			<real>-0.87598231773</real>
			<key>y</key>
			<real>-4.54747350886e-15</real>
			<key>z</key>
			<real>4.9627941609</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower91</key>
		<dict>
			<key>x</key>
			<real>-0.446986603059</real>
			<key>y</key>
			<real>-4.54747350886e-15</real>
			<key>z</key>
			<real>7.39376987737</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower92</key>
		<dict>
			<key>x</key>
			<real>-2.09147017596</real>
			<key>y</key>
			<real>-4.54747350886e-15</real>
			<key>z</key>
			<real>9.82474559383</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower93</key>
		<dict>
			<key>x</key>
			<real>-0.160989459946</real>
			<key>y</key>
			<real>-4.54747350886e-15</real>
			<key>z</key>
			<real>2.81781558755</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower94</key>
		<dict>
			<key>x</key>
			<real>1.69799197029</real>
			<key>y</key>
			<real>-4.54747350886e-15</real>
			<key>z</key>
			<real>1.53082844354</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower95</key>
		<dict>
			<key>x</key>
			<real>2.64250357111</real>
			<key>y</key>
			<real>-3.41060513165e-15</real>
			<key>z</key>
			<real>14.1429985716</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower96</key>
		<dict>
			<key>x</key>
			<real>3.28500714222</real>
			<key>y</key>
			<real>-4.54747350886e-15</real>
			<key>z</key>
			<real>9.14200857066</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower97</key>
		<dict>
			<key>x</key>
			<real>1.57199428623</real>
			<key>y</key>
			<real>-4.54747350886e-15</real>
			<key>z</key>
			<real>7.43330785582</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower98</key>
		<dict>
			<key>x</key>
			<real>3.21449785734</real>
			<key>y</key>
			<real>-4.54747350886e-15</real>
			<key>z</key>
			<real>5.21548785823</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower99</key>
		<dict>
			<key>x</key>
			<real>9.253852090800001</real>
			<key>y</key>
			<real>-6.8212102633e-15</real>
			<key>z</key>
			<real>-9.68071320118</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower100</key>
		<dict>
			<key>x</key>
			<real>9.567747321260001</real>
			<key>y</key>
			<real>-5.68434188608e-15</real>
			<key>z</key>
			<real>-4.2465582005</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
	</dict>
	<key>LevelControl</key>
	<dict>
		<key>NumCombos</key>
		<integer>2</integer>
		<key>NumGopherLives</key>
		<integer>1</integer>
		<key>Background</key>
		<string>Spaths</string>
		<key>GamePlayMode</key>
		<integer>4</integer>
		<key>ScoreMode</key>
		<integer>0</integer>
		<key>NumBalls</key>
		<integer>-1</integer>
		<key>BallTypes</key>
		<integer>1</integer>
		<key>XBounds</key>
		<real>10</real>
		<key>ZBounds</key>
		<real>15</real>
		<key>BallSpawnX</key>
		<real>7</real>
		<key>BallSpawnZ</key>
		<real>13</real>
		<key>CarrotSearchDistance</key>
		<real>10</real>
		<key>SpawnIntervals</key>
		<array>
			<dict>
				<key>Time</key>
				<real>0</real>
				<key>Gophers</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>1000</real>
				<key>Gophers</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<key>GeneratedObjects</key>
	<dict>
		<key>Gopher</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.25</real>
		</dict>
		<key>Ball</key>
		<dict>
			<key>type</key>
			<string>ball</string>
			<key>scale</key>
			<real>0.5</real>
			<key>ballType</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
