<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GeneratedObjects</key>
	<dict>
		<key>Ball</key>
		<dict>
			<key>ballType</key>
			<integer>1</integer>
			<key>scale</key>
			<real>0.5</real>
			<key>type</key>
			<string>ball</string>
		</dict>
		<key>Gopher</key>
		<dict>
			<key>scale</key>
			<real>0.25</real>
			<key>type</key>
			<string>gopher</string>
		</dict>
	</dict>
	<key>LayoutObjects</key>
	<dict>
		<key>Carrot2</key>
		<dict>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
			<key>type</key>
			<string>carrot</string>
			<key>x</key>
			<real>8.284381649589999</real>
			<key>y</key>
			<real>-3.41060513165e-15</real>
			<key>z</key>
			<real>-3.807271466</real>
		</dict>
		<key>Carrot3</key>
		<dict>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
			<key>type</key>
			<string>carrot</string>
			<key>x</key>
			<real>8.306839891019999</real>
			<key>y</key>
			<real>-2.27373675443e-15</real>
			<key>z</key>
			<real>-5.03666701168</real>
		</dict>
		<key>Carrot4</key>
		<dict>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
			<key>type</key>
			<string>carrot</string>
			<key>x</key>
			<real>-8.158261328649999</real>
			<key>y</key>
			<real>2.27373675443e-15</real>
			<key>z</key>
			<real>2.47082858024</real>
		</dict>
		<key>Carrot5</key>
		<dict>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
			<key>type</key>
			<string>carrot</string>
			<key>x</key>
			<real>-8.195594516230001</real>
			<key>y</key>
			<real>2.27373675443e-15</real>
			<key>z</key>
			<real>0.882684460489</real>
		</dict>
		<key>Flower7</key>
		<dict>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
			<key>type</key>
			<string>flower</string>
			<key>x</key>
			<real>-1.37170969473</real>
			<key>y</key>
			<real>1.13686837722e-15</real>
			<key>z</key>
			<real>9.98978294752</real>
		</dict>
		<key>Flower8</key>
		<dict>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
			<key>type</key>
			<string>flower</string>
			<key>x</key>
			<real>-8.418728337379999</real>
			<key>y</key>
			<real>0</real>
			<key>z</key>
			<real>-9.43993986405</real>
		</dict>
		<key>GasCan1</key>
		<dict>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.84790168923</real>
			<key>sy</key>
			<real>0.84790168923</real>
			<key>sz</key>
			<real>0.84790168923</real>
			<key>type</key>
			<string>gasCan</string>
			<key>x</key>
			<real>-6.66316281621</real>
			<key>y</key>
			<real>0.781328155418</real>
			<key>z</key>
			<real>-9.60102707083</real>
		</dict>
		<key>GasCan4</key>
		<dict>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.84790168923</real>
			<key>sy</key>
			<real>0.84790168923</real>
			<key>sz</key>
			<real>0.84790168923</real>
			<key>type</key>
			<string>gasCan</string>
			<key>x</key>
			<real>-4.39043341154</real>
			<key>y</key>
			<real>0.781328155418</real>
			<key>z</key>
			<real>7.2477508351</real>
		</dict>
		<key>GasCan6</key>
		<dict>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.84790168923</real>
			<key>sy</key>
			<real>0.84790168923</real>
			<key>sz</key>
			<real>0.84790168923</real>
			<key>type</key>
			<string>gasCan</string>
			<key>x</key>
			<real>-3.84397880907</real>
			<key>y</key>
			<real>0.781328155418</real>
			<key>z</key>
			<real>-9.734514832009999</real>
		</dict>
		<key>GasCan7</key>
		<dict>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.84790168923</real>
			<key>sy</key>
			<real>0.84790168923</real>
			<key>sz</key>
			<real>0.84790168923</real>
			<key>type</key>
			<string>gasCan</string>
			<key>x</key>
			<real>-6.59438454361</real>
			<key>y</key>
			<real>0.781328155418</real>
			<key>z</key>
			<real>6.46896243018</real>
		</dict>
		<key>GasCan8</key>
		<dict>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.84790168923</real>
			<key>sy</key>
			<real>0.84790168923</real>
			<key>sz</key>
			<real>0.84790168923</real>
			<key>type</key>
			<string>gasCan</string>
			<key>x</key>
			<real>4.99616584108</real>
			<key>y</key>
			<real>0.781328155418</real>
			<key>z</key>
			<real>-8.524781348619999</real>
		</dict>
		<key>Hedge1</key>
		<dict>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>4</real>
			<key>sz</key>
			<real>0.5</real>
			<key>type</key>
			<string>hedge1</string>
			<key>x</key>
			<real>-0.246412965994</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>11.4121183841</real>
		</dict>
		<key>Hedge10</key>
		<dict>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>4</real>
			<key>sz</key>
			<real>0.5</real>
			<key>type</key>
			<string>hedge1</string>
			<key>x</key>
			<real>4.22173850094</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>-11.1319136298</real>
		</dict>
		<key>Hedge11</key>
		<dict>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>4</real>
			<key>sz</key>
			<real>0.5</real>
			<key>type</key>
			<string>hedge1</string>
			<key>x</key>
			<real>6.06161183396</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>-9.26782312217</real>
		</dict>
		<key>Hedge12</key>
		<dict>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>4</real>
			<key>sz</key>
			<real>0.5</real>
			<key>type</key>
			<string>hedge1</string>
			<key>x</key>
			<real>6.06161183396</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>-5.33447283334</real>
		</dict>
		<key>Hedge13</key>
		<dict>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>4</real>
			<key>sz</key>
			<real>0.5</real>
			<key>type</key>
			<string>hedge1</string>
			<key>x</key>
			<real>-5.86182811603</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>2.35804140845</real>
		</dict>
		<key>Hedge14</key>
		<dict>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>4</real>
			<key>sz</key>
			<real>0.5</real>
			<key>type</key>
			<string>hedge1</string>
			<key>x</key>
			<real>-5.72177088815</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>6.26759535763</real>
		</dict>
		<key>Hedge15</key>
		<dict>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>4</real>
			<key>sz</key>
			<real>0.5</real>
			<key>type</key>
			<string>hedge1</string>
			<key>x</key>
			<real>6.06161183396</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>-1.49493735064</real>
		</dict>
		<key>Hedge16</key>
		<dict>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>4</real>
			<key>sz</key>
			<real>0.5</real>
			<key>type</key>
			<string>hedge1</string>
			<key>x</key>
			<real>6.06161183396</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>2.43841293819</real>
		</dict>
		<key>Hedge17</key>
		<dict>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>4</real>
			<key>sz</key>
			<real>0.5</real>
			<key>type</key>
			<string>hedge1</string>
			<key>x</key>
			<real>6.06161183396</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>6.09857413386</real>
		</dict>
		<key>Hedge18</key>
		<dict>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>4</real>
			<key>sz</key>
			<real>0.5</real>
			<key>type</key>
			<string>hedge1</string>
			<key>x</key>
			<real>6.06161183396</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>10.0319244227</real>
		</dict>
		<key>Hedge19</key>
		<dict>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>4</real>
			<key>sz</key>
			<real>0.5</real>
			<key>type</key>
			<string>hedge1</string>
			<key>x</key>
			<real>-5.72177088815</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>9.07779252119</real>
		</dict>
		<key>Hedge2</key>
		<dict>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>4</real>
			<key>sz</key>
			<real>0.5</real>
			<key>type</key>
			<string>hedge1</string>
			<key>x</key>
			<real>-3.04470029589</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>-11.1838895686</real>
		</dict>
		<key>Hedge3</key>
		<dict>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>4</real>
			<key>sz</key>
			<real>0.5</real>
			<key>type</key>
			<string>hedge1</string>
			<key>x</key>
			<real>-4.17838934948</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>11.4745027898</real>
		</dict>
		<key>Hedge4</key>
		<dict>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>4</real>
			<key>sz</key>
			<real>0.5</real>
			<key>type</key>
			<string>hedge1</string>
			<key>x</key>
			<real>0.905146131572</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>-11.1814150085</real>
		</dict>
		<key>Hedge5</key>
		<dict>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>4</real>
			<key>sz</key>
			<real>0.5</real>
			<key>type</key>
			<string>hedge1</string>
			<key>x</key>
			<real>-5.32370525492</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>-9.168820364869999</real>
		</dict>
		<key>Hedge6</key>
		<dict>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>4</real>
			<key>sz</key>
			<real>0.5</real>
			<key>type</key>
			<string>hedge1</string>
			<key>x</key>
			<real>-5.32370525492</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>-5.23547007604</real>
		</dict>
		<key>Hedge7</key>
		<dict>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>4</real>
			<key>sz</key>
			<real>0.5</real>
			<key>type</key>
			<string>hedge1</string>
			<key>x</key>
			<real>-5.78156231716</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>-1.44549898488</real>
		</dict>
		<key>Hedge9</key>
		<dict>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>4</real>
			<key>sz</key>
			<real>0.5</real>
			<key>type</key>
			<string>hedge1</string>
			<key>x</key>
			<real>3.64800297631</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>11.2636142482</real>
		</dict>
		<key>Hole1</key>
		<dict>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
			<key>type</key>
			<string>spawn</string>
			<key>x</key>
			<real>-9.387720805760001</real>
			<key>y</key>
			<real>0.355668247372</real>
			<key>z</key>
			<real>9.130670916430001</real>
		</dict>
		<key>Hole2</key>
		<dict>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
			<key>type</key>
			<string>spawn</string>
			<key>x</key>
			<real>8.88256264242</real>
			<key>y</key>
			<real>0.355668247372</real>
			<key>z</key>
			<real>-9.942588154179999</real>
		</dict>
		<key>Pot1</key>
		<dict>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
			<key>type</key>
			<string>pot1</string>
			<key>x</key>
			<real>1.66544606769</real>
			<key>y</key>
			<real>-1.13686837722e-15</real>
			<key>z</key>
			<real>-9.655210754220001</real>
		</dict>
		<key>Rock1</key>
		<dict>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.33849059067</real>
			<key>sy</key>
			<real>1.33849059067</real>
			<key>sz</key>
			<real>1.33849059067</real>
			<key>type</key>
			<string>rock</string>
			<key>x</key>
			<real>-1.41882568048</real>
			<key>y</key>
			<real>1.01980590167</real>
			<key>z</key>
			<real>7.71678292481</real>
		</dict>
		<key>Rock3</key>
		<dict>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.33849059067</real>
			<key>sy</key>
			<real>1.33849059067</real>
			<key>sz</key>
			<real>1.33849059067</real>
			<key>type</key>
			<string>rock</string>
			<key>x</key>
			<real>3.37647009915</real>
			<key>y</key>
			<real>1.01980590167</real>
			<key>z</key>
			<real>-4.62936791608</real>
		</dict>
		<key>Rock4</key>
		<dict>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
			<key>type</key>
			<string>rock</string>
			<key>x</key>
			<real>-0.264831778914</real>
			<key>y</key>
			<real>-2.27373675443e-15</real>
			<key>z</key>
			<real>-3.85285927793</real>
		</dict>
		<key>Spinner1</key>
		<dict>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.74907851352</real>
			<key>sy</key>
			<real>3.49815702705</real>
			<key>sz</key>
			<real>0.437269628381</real>
			<key>type</key>
			<string>spinner1</string>
			<key>x</key>
			<real>-2.90572394429</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>4.34435196724</real>
		</dict>
	</dict>
	<key>LevelControl</key>
	<dict>
		<key>SingleUseHoles</key>
		<true/>
		<key>Background</key>
		<string>InsanelyHard</string>
		<key>BallSpawnX</key>
		<real>-4</real>
		<key>BallSpawnZ</key>
		<real>0</real>
		<key>BallTypes</key>
		<integer>1</integer>
		<key>GamePlayMode</key>
		<integer>4</integer>
		<key>NumBalls</key>
		<integer>-1</integer>
		<key>NumCombos</key>
		<integer>2</integer>
		<key>NumGopherLives</key>
		<integer>2</integer>
		<key>ScoreMode</key>
		<integer>0</integer>
		<key>SpawnIntervals</key>
		<array>
			<dict>
				<key>Gophers</key>
				<integer>1</integer>
				<key>Time</key>
				<real>0</real>
			</dict>
			<dict>
				<key>Gophers</key>
				<integer>2</integer>
				<key>Time</key>
				<real>30</real>
			</dict>
			<dict>
				<key>Gophers</key>
				<integer>1</integer>
				<key>Time</key>
				<real>40</real>
			</dict>
			<dict>
				<key>Gophers</key>
				<integer>3</integer>
				<key>Time</key>
				<real>50</real>
			</dict>
			<dict>
				<key>Gophers</key>
				<integer>1</integer>
				<key>Time</key>
				<real>60</real>
			</dict>
			<dict>
				<key>Gophers</key>
				<integer>1</integer>
				<key>Time</key>
				<real>75</real>
			</dict>
			<dict>
				<key>Gophers</key>
				<integer>2</integer>
				<key>Time</key>
				<real>80</real>
			</dict>
			<dict>
				<key>Gophers</key>
				<integer>3</integer>
				<key>Time</key>
				<real>90</real>
			</dict>
			<dict>
				<key>Gophers</key>
				<integer>1</integer>
				<key>Time</key>
				<real>100</real>
			</dict>
			<dict>
				<key>Gophers</key>
				<integer>2</integer>
				<key>Time</key>
				<real>110</real>
			</dict>
			<dict>
				<key>Gophers</key>
				<integer>1</integer>
				<key>Time</key>
				<real>120</real>
			</dict>
			<dict>
				<key>Gophers</key>
				<integer>3</integer>
				<key>Time</key>
				<real>150</real>
			</dict>
			<dict>
				<key>Gophers</key>
				<integer>2</integer>
				<key>Time</key>
				<real>180</real>
			</dict>
			<dict>
				<key>Gophers</key>
				<integer>1</integer>
				<key>Time</key>
				<real>200</real>
			</dict>
		</array>
	</dict>
</dict>
</plist>
