<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LayoutObjects</key>
	<dict>
		<key>Carrot1</key>
		<dict>
			<key>x</key>
			<real>5.76120543626</real>
			<key>y</key>
			<real>0</real>
			<key>z</key>
			<real>4.43571799186</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.372363557247</real>
			<key>sy</key>
			<real>0.372363557247</real>
			<key>sz</key>
			<real>0.372363557247</real>
		</dict>
		<key>Wagon</key>
		<dict>
			<key>x</key>
			<real>6.15115457223</real>
			<key>y</key>
			<real>0.628604255674</real>
			<key>z</key>
			<real>-12.9480480118</real>
			<key>type</key>
			<string>wagon</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.17940016235</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge8</key>
		<dict>
			<key>x</key>
			<real>-0.343147793398</real>
			<key>y</key>
			<real>0.628604255674</real>
			<key>z</key>
			<real>6.72832111694</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>3.62238970679</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge9</key>
		<dict>
			<key>x</key>
			<real>-8.442240339850001</real>
			<key>y</key>
			<real>0.628604255674</real>
			<key>z</key>
			<real>7.75552378454</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>-0.785399125</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>3.62238970679</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge10</key>
		<dict>
			<key>x</key>
			<real>-5.14257168808</real>
			<key>y</key>
			<real>0.628604255674</real>
			<key>z</key>
			<real>-12.868139265</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>3.62238970679</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge11</key>
		<dict>
			<key>x</key>
			<real>-8.400038110460001</real>
			<key>y</key>
			<real>0.628604255674</real>
			<key>z</key>
			<real>-11.4318992495</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.785399125</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>3.62238970679</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge13</key>
		<dict>
			<key>x</key>
			<real>-3.58898396003</real>
			<key>y</key>
			<real>0.628604255674</real>
			<key>z</key>
			<real>-1.96009663131</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>3.62238970679</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge14</key>
		<dict>
			<key>x</key>
			<real>-3.58898396003</real>
			<key>y</key>
			<real>0.628604255674</real>
			<key>z</key>
			<real>1.79590178438</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>3.62238970679</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge15</key>
		<dict>
			<key>x</key>
			<real>1.72849694309</real>
			<key>y</key>
			<real>0.628604255674</real>
			<key>z</key>
			<real>-10.7566635793</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>3.62238970679</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge16</key>
		<dict>
			<key>x</key>
			<real>-0.302666932734</real>
			<key>y</key>
			<real>0.628604255674</real>
			<key>z</key>
			<real>-6.29826922633</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>3.62238970679</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge17</key>
		<dict>
			<key>x</key>
			<real>-1.83432616881</real>
			<key>y</key>
			<real>0.628604255674</real>
			<key>z</key>
			<real>-11.7022663608</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>-0.785399125</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>3.62238970679</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge18</key>
		<dict>
			<key>x</key>
			<real>-3.55223859575</real>
			<key>y</key>
			<real>0.628604255674</real>
			<key>z</key>
			<real>-7.42193990112</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>-0.785399125</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>3.62238970679</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge19</key>
		<dict>
			<key>x</key>
			<real>0.335823373223</real>
			<key>y</key>
			<real>0.628604255674</real>
			<key>z</key>
			<real>-1.87569217254</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>3.62238970679</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge20</key>
		<dict>
			<key>x</key>
			<real>0.335823373223</real>
			<key>y</key>
			<real>0.628604255674</real>
			<key>z</key>
			<real>1.79590178438</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>3.62238970679</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge22</key>
		<dict>
			<key>x</key>
			<real>7.00316952045</real>
			<key>y</key>
			<real>0.628604255674</real>
			<key>z</key>
			<real>0.656441590852</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.785399125</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>3.62238970679</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge24</key>
		<dict>
			<key>x</key>
			<real>2.4881370721</real>
			<key>y</key>
			<real>0.628604255674</real>
			<key>z</key>
			<real>-4.44353457011</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>3.62238970679</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge27</key>
		<dict>
			<key>x</key>
			<real>-3.21663488829</real>
			<key>y</key>
			<real>0.628604255674</real>
			<key>z</key>
			<real>7.95218576925</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.785399125</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>3.62238970679</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge28</key>
		<dict>
			<key>x</key>
			<real>-4.25366401552</real>
			<key>y</key>
			<real>0.628604255674</real>
			<key>z</key>
			<real>3.67493750649</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.785399125</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>3.62238970679</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge30</key>
		<dict>
			<key>x</key>
			<real>2.69914821905</real>
			<key>y</key>
			<real>0.628604255674</real>
			<key>z</key>
			<real>7.81564443665</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>-0.785399125</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>3.62238970679</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge31</key>
		<dict>
			<key>x</key>
			<real>5.69550650573</real>
			<key>y</key>
			<real>0.628604255674</real>
			<key>z</key>
			<real>9.10777975525</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>3.62238970679</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge32</key>
		<dict>
			<key>x</key>
			<real>8.06008513456</real>
			<key>y</key>
			<real>0.628604255674</real>
			<key>z</key>
			<real>7.88391510295</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.785399125</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>3.62238970679</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge33</key>
		<dict>
			<key>x</key>
			<real>2.91500448306</real>
			<key>y</key>
			<real>0.628604255674</real>
			<key>z</key>
			<real>3.55602002249</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>-0.785399125</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>3.62238970679</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge34</key>
		<dict>
			<key>x</key>
			<real>7.890022434</real>
			<key>y</key>
			<real>0.628604255674</real>
			<key>z</key>
			<real>3.21907289061</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>-0.785399125</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>3.62238970679</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge36</key>
		<dict>
			<key>x</key>
			<real>3.37750389168</real>
			<key>y</key>
			<real>0.628604255674</real>
			<key>z</key>
			<real>-6.34904832323</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>3.62238970679</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge37</key>
		<dict>
			<key>x</key>
			<real>6.75056224047</real>
			<key>y</key>
			<real>0.628604255674</real>
			<key>z</key>
			<real>-6.34904832323</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>3.62238970679</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hole2</key>
		<dict>
			<key>x</key>
			<real>8.048919664470001</real>
			<key>y</key>
			<real>0</real>
			<key>z</key>
			<real>4.69371859977</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.368975637488</real>
			<key>sy</key>
			<real>0.368975637488</real>
			<key>sz</key>
			<real>0.368975637488</real>
		</dict>
		<key>Hole3</key>
		<dict>
			<key>x</key>
			<real>8.09112189386</real>
			<key>y</key>
			<real>0</real>
			<key>z</key>
			<real>5.9780617865</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.368975637488</real>
			<key>sy</key>
			<real>0.368975637488</real>
			<key>sz</key>
			<real>0.368975637488</real>
		</dict>
		<key>Hole5</key>
		<dict>
			<key>x</key>
			<real>8.048919664470001</real>
			<key>y</key>
			<real>0</real>
			<key>z</key>
			<real>-9.88997646406</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.368975637488</real>
			<key>sy</key>
			<real>0.368975637488</real>
			<key>sz</key>
			<real>0.368975637488</real>
		</dict>
		<key>Flower38</key>
		<dict>
			<key>x</key>
			<real>-5.86898478982</real>
			<key>y</key>
			<real>0</real>
			<key>z</key>
			<real>3.74381837672</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower39</key>
		<dict>
			<key>x</key>
			<real>-5.81854787857</real>
			<key>y</key>
			<real>0</real>
			<key>z</key>
			<real>2.74859336455</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower40</key>
		<dict>
			<key>x</key>
			<real>-5.99271657335</real>
			<key>y</key>
			<real>0</real>
			<key>z</key>
			<real>-2.95415605729</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower41</key>
		<dict>
			<key>x</key>
			<real>-5.99271657335</real>
			<key>y</key>
			<real>0</real>
			<key>z</key>
			<real>-3.97335258707</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower42</key>
		<dict>
			<key>x</key>
			<real>-5.99271657335</real>
			<key>y</key>
			<real>0</real>
			<key>z</key>
			<real>-5.28070021551</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower44</key>
		<dict>
			<key>x</key>
			<real>-5.70679931776</real>
			<key>y</key>
			<real>0</real>
			<key>z</key>
			<real>-6.56245402832</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hole6</key>
		<dict>
			<key>x</key>
			<real>6.29817861504</real>
			<key>y</key>
			<real>0</real>
			<key>z</key>
			<real>-3.71901431726</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.368975637488</real>
			<key>sy</key>
			<real>0.368975637488</real>
			<key>sz</key>
			<real>0.368975637488</real>
		</dict>
		<key>Flower46</key>
		<dict>
			<key>x</key>
			<real>3.23892393033</real>
			<key>y</key>
			<real>0</real>
			<key>z</key>
			<real>2.30415208802</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower47</key>
		<dict>
			<key>x</key>
			<real>4.65461997581</real>
			<key>y</key>
			<real>0</real>
			<key>z</key>
			<real>2.25205978877</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Carrot2</key>
		<dict>
			<key>x</key>
			<real>6.28999927775</real>
			<key>y</key>
			<real>0</real>
			<key>z</key>
			<real>3.50015965691</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.372363557247</real>
			<key>sy</key>
			<real>0.372363557247</real>
			<key>sz</key>
			<real>0.372363557247</real>
		</dict>
		<key>Carrot4</key>
		<dict>
			<key>x</key>
			<real>6.73029145968</real>
			<key>y</key>
			<real>0</real>
			<key>z</key>
			<real>4.69228701945</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.372363557247</real>
			<key>sy</key>
			<real>0.372363557247</real>
			<key>sz</key>
			<real>0.372363557247</real>
		</dict>
		<key>Carrot5</key>
		<dict>
			<key>x</key>
			<real>5.306089728</real>
			<key>y</key>
			<real>0</real>
			<key>z</key>
			<real>-1.93951055384</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.372363557247</real>
			<key>sy</key>
			<real>0.372363557247</real>
			<key>sz</key>
			<real>0.372363557247</real>
		</dict>
		<key>Carrot6</key>
		<dict>
			<key>x</key>
			<real>8.21366136726</real>
			<key>y</key>
			<real>0</real>
			<key>z</key>
			<real>-4.95726710814</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.372363557247</real>
			<key>sy</key>
			<real>0.372363557247</real>
			<key>sz</key>
			<real>0.372363557247</real>
		</dict>
		<key>Carrot7</key>
		<dict>
			<key>x</key>
			<real>6.71742556544</real>
			<key>y</key>
			<real>0</real>
			<key>z</key>
			<real>-5.28255701755</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.372363557247</real>
			<key>sy</key>
			<real>0.372363557247</real>
			<key>sz</key>
			<real>0.372363557247</real>
		</dict>
		<key>Carrot8</key>
		<dict>
			<key>x</key>
			<real>5.6708133266</real>
			<key>y</key>
			<real>0</real>
			<key>z</key>
			<real>-10.3508359931</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.372363557247</real>
			<key>sy</key>
			<real>0.372363557247</real>
			<key>sz</key>
			<real>0.372363557247</real>
		</dict>
		<key>Carrot9</key>
		<dict>
			<key>x</key>
			<real>4.56218068757</real>
			<key>y</key>
			<real>0</real>
			<key>z</key>
			<real>-9.12150330181</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.372363557247</real>
			<key>sy</key>
			<real>0.372363557247</real>
			<key>sz</key>
			<real>0.372363557247</real>
		</dict>
		<key>Flower50</key>
		<dict>
			<key>x</key>
			<real>-5.38077688899</real>
			<key>y</key>
			<real>0</real>
			<key>z</key>
			<real>-7.89343520309</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower51</key>
		<dict>
			<key>x</key>
			<real>-6.29042396633</real>
			<key>y</key>
			<real>0</real>
			<key>z</key>
			<real>9.511099722259999</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower52</key>
		<dict>
			<key>x</key>
			<real>-5.38855614218</real>
			<key>y</key>
			<real>0</real>
			<key>z</key>
			<real>9.45239516412</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge45</key>
		<dict>
			<key>x</key>
			<real>9.67188892169</real>
			<key>y</key>
			<real>0.628604255674</real>
			<key>z</key>
			<real>-1.84193401882</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.785399125</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>3.62238970679</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge46</key>
		<dict>
			<key>x</key>
			<real>9.53495762891</real>
			<key>y</key>
			<real>0.628604255674</real>
			<key>z</key>
			<real>-7.34219186402</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.785399125</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>3.62238970679</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge47</key>
		<dict>
			<key>x</key>
			<real>9.487800969549999</real>
			<key>y</key>
			<real>0.628604255674</real>
			<key>z</key>
			<real>-12.2056352795</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>-0.785399125</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>3.62238970679</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge48</key>
		<dict>
			<key>x</key>
			<real>4.31145087808</real>
			<key>y</key>
			<real>0.628604255674</real>
			<key>z</key>
			<real>-12.5656986149</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.785399125</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>3.62238970679</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Carrot10</key>
		<dict>
			<key>x</key>
			<real>5.82572998244</real>
			<key>y</key>
			<real>0</real>
			<key>z</key>
			<real>-9.214780516999999</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.372363557247</real>
			<key>sy</key>
			<real>0.372363557247</real>
			<key>sz</key>
			<real>0.372363557247</real>
		</dict>
		<key>Carrot11</key>
		<dict>
			<key>x</key>
			<real>4.79295227686</real>
			<key>y</key>
			<real>0</real>
			<key>z</key>
			<real>-7.87216949974</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.372363557247</real>
			<key>sy</key>
			<real>0.372363557247</real>
			<key>sz</key>
			<real>0.372363557247</real>
		</dict>
		<key>Carrot12</key>
		<dict>
			<key>x</key>
			<real>6.23884106467</real>
			<key>y</key>
			<real>0</real>
			<key>z</key>
			<real>-8.027086155579999</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.372363557247</real>
			<key>sy</key>
			<real>0.372363557247</real>
			<key>sz</key>
			<real>0.372363557247</real>
		</dict>
		<key>Carrot13</key>
		<dict>
			<key>x</key>
			<real>8.146228418350001</real>
			<key>y</key>
			<real>0</real>
			<key>z</key>
			<real>-3.33376045637</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.372363557247</real>
			<key>sy</key>
			<real>0.372363557247</real>
			<key>sz</key>
			<real>0.372363557247</real>
		</dict>
		<key>Carrot14</key>
		<dict>
			<key>x</key>
			<real>6.11062483633</real>
			<key>y</key>
			<real>0</real>
			<key>z</key>
			<real>5.67342583975</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.372363557247</real>
			<key>sy</key>
			<real>0.372363557247</real>
			<key>sz</key>
			<real>0.372363557247</real>
		</dict>
		<key>Carrot15</key>
		<dict>
			<key>x</key>
			<real>6.26554149217</real>
			<key>y</key>
			<real>0</real>
			<key>z</key>
			<real>6.70620354534</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.372363557247</real>
			<key>sy</key>
			<real>0.372363557247</real>
			<key>sz</key>
			<real>0.372363557247</real>
		</dict>
		<key>Carrot16</key>
		<dict>
			<key>x</key>
			<real>5.02620824547</real>
			<key>y</key>
			<real>0</real>
			<key>z</key>
			<real>7.01603685701</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.372363557247</real>
			<key>sy</key>
			<real>0.372363557247</real>
			<key>sz</key>
			<real>0.372363557247</real>
		</dict>
		<key>Carrot17</key>
		<dict>
			<key>x</key>
			<real>4.97456936019</real>
			<key>y</key>
			<real>0</real>
			<key>z</key>
			<real>6.18981469255</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.372363557247</real>
			<key>sy</key>
			<real>0.372363557247</real>
			<key>sz</key>
			<real>0.372363557247</real>
		</dict>
		<key>Carrot18</key>
		<dict>
			<key>x</key>
			<real>5.6975137541</real>
			<key>y</key>
			<real>0</real>
			<key>z</key>
			<real>7.63570348036</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.372363557247</real>
			<key>sy</key>
			<real>0.372363557247</real>
			<key>sz</key>
			<real>0.372363557247</real>
		</dict>
		<key>Carrot19</key>
		<dict>
			<key>x</key>
			<real>6.36881926273</real>
			<key>y</key>
			<real>0</real>
			<key>z</key>
			<real>-1.50437921404</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.372363557247</real>
			<key>sy</key>
			<real>0.372363557247</real>
			<key>sz</key>
			<real>0.372363557247</real>
		</dict>
		<key>Carrot20</key>
		<dict>
			<key>x</key>
			<real>5.42645343346</real>
			<key>y</key>
			<real>0</real>
			<key>z</key>
			<real>-4.97272370588</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.372363557247</real>
			<key>sy</key>
			<real>0.372363557247</real>
			<key>sz</key>
			<real>0.372363557247</real>
		</dict>
		<key>Carrot21</key>
		<dict>
			<key>x</key>
			<real>7.18217553295</real>
			<key>y</key>
			<real>0</real>
			<key>z</key>
			<real>-2.54569609776</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.372363557247</real>
			<key>sy</key>
			<real>0.372363557247</real>
			<key>sz</key>
			<real>0.372363557247</real>
		</dict>
		<key>Carrot22</key>
		<dict>
			<key>x</key>
			<real>6.23884106467</real>
			<key>y</key>
			<real>0</real>
			<key>z</key>
			<real>-8.027086155579999</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.372363557247</real>
			<key>sy</key>
			<real>0.372363557247</real>
			<key>sz</key>
			<real>0.372363557247</real>
		</dict>
		<key>Carrot23</key>
		<dict>
			<key>x</key>
			<real>7.8912853936</real>
			<key>y</key>
			<real>0</real>
			<key>z</key>
			<real>-8.18200281142</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.372363557247</real>
			<key>sy</key>
			<real>0.372363557247</real>
			<key>sz</key>
			<real>0.372363557247</real>
		</dict>
		<key>Carrot24</key>
		<dict>
			<key>x</key>
			<real>7.8912853936</real>
			<key>y</key>
			<real>0</real>
			<key>z</key>
			<real>-8.18200281142</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.372363557247</real>
			<key>sy</key>
			<real>0.372363557247</real>
			<key>sz</key>
			<real>0.372363557247</real>
		</dict>
	</dict>
	<key>LevelControl</key>
	<dict>
		<key>NumCombos</key>
		<integer>2</integer>
		<key>NumGopherLives</key>
		<integer>30</integer>
		<key>Background</key>
		<string>Grandmas</string>
		<key>GamePlayMode</key>
		<integer>5</integer>
		<key>ScoreMode</key>
		<integer>0</integer>
		<key>NumBalls</key>
		<integer>-1</integer>
		<key>BallTypes</key>
		<integer>1</integer>
		<key>CollisionAvoidance</key>
		<integer>0</integer>
		<key>SpawnIntervals</key>
		<array>
			<dict>
				<key>Time</key>
				<real>0</real>
				<key>Gophers</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>30</real>
				<key>Gophers</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>40</real>
				<key>Gophers</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>50</real>
				<key>Gophers</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>60</real>
				<key>Gophers</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>75</real>
				<key>Gophers</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>80</real>
				<key>Gophers</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>90</real>
				<key>Gophers</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>100</real>
				<key>Gophers</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>110</real>
				<key>Gophers</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>120</real>
				<key>Gophers</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<key>GeneratedObjects</key>
	<dict>
		<key>Gopher</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.5</real>
		</dict>
		<key>Gopher1</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.5</real>
		</dict>
		<key>Gopher2</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.5</real>
		</dict>
		<key>Cannon</key>
		<dict>
			<key>type</key>
			<string>cannon</string>
			<key>scale</key>
			<real>1</real>
			<key>x</key>
			<real>-8.495116354809999</real>
			<key>y</key>
			<real>0</real>
			<key>z</key>
			<real>-0</real>
			<key>rotationOffset</key>
			<real>3.1415965</real>
			<key>rotationBoundUpper</key>
			<real>8.93609671111</real>
			<key>rotationBoundLower</key>
			<real>-8.93609671111</real>
		</dict>
		<key>Gopher3</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.5</real>
		</dict>
		<key>Gopher4</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.5</real>
		</dict>
		<key>Gopher5</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.5</real>
		</dict>
		<key>Gopher6</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.5</real>
		</dict>
	</dict>
</dict>
</plist>
