<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">

<dict>
	<key>LayoutObjects</key>
	<dict>
		<key>pCylinder34</key>
		<dict>
			<key>x</key>
			<real>-6.56558310007</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-5.03003750428</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.248242371498</real>
			<key>sy</key>
			<real>0.248242371498</real>
			<key>sz</key>
			<real>0.23272722328</real>
		</dict>
		<key>pCylinder36</key>
		<dict>
			<key>x</key>
			<real>-8.04057906213</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>6.932028329</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.245983758325</real>
			<key>sy</key>
			<real>0.245983758325</real>
			<key>sz</key>
			<real>0.23060977343</real>
		</dict>
		<key>pCylinder37</key>
		<dict>
			<key>x</key>
			<real>-6.62915776141</real>
			<key>y</key>
			<real>0.00343748337796</real>
			<key>z</key>
			<real>-8.42726916793</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.248242371498</real>
			<key>sy</key>
			<real>0.248242371498</real>
			<key>sz</key>
			<real>0.23272722328</real>
		</dict>
		<key>pCylinder38</key>
		<dict>
			<key>x</key>
			<real>7.18255694495</real>
			<key>y</key>
			<real>0.00343748337796</real>
			<key>z</key>
			<real>8.99378078313</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.248242371498</real>
			<key>sy</key>
			<real>0.248242371498</real>
			<key>sz</key>
			<real>0.23272722328</real>
		</dict>
		<key>pCylinder39</key>
		<dict>
			<key>x</key>
			<real>-6.088608664</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>6.932028329</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.245983758325</real>
			<key>sy</key>
			<real>0.245983758325</real>
			<key>sz</key>
			<real>0.23060977343</real>
		</dict>
		<key>pCylinder40</key>
		<dict>
			<key>x</key>
			<real>7.45326623362</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-8.55049402615</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.245983758325</real>
			<key>sy</key>
			<real>0.245983758325</real>
			<key>sz</key>
			<real>0.23060977343</real>
		</dict>
		<key>WagonCollider</key>
		<dict>
			<key>x</key>
			<real>-0.680551380299</real>
			<key>y</key>
			<real>0.629322348587</real>
			<key>z</key>
			<real>11.2817088405</real>
			<key>type</key>
			<string>wagon</string>
			<key>ry</key>
			<real>-0.41104856542</real>
			<key>sx</key>
			<real>0.63002395663</real>
			<key>sy</key>
			<real>0.422102497061</real>
			<key>sz</key>
			<real>0.31637181372</real>
		</dict>
		<key>|Pot2</key>
		<dict>
			<key>x</key>
			<real>-2.44859039698</real>
			<key>y</key>
			<real>0.982755011808</real>
			<key>z</key>
			<real>-8.541798261</real>
			<key>type</key>
			<string>pot2</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.226374710427</real>
			<key>sy</key>
			<real>0.513938284579</real>
			<key>sz</key>
			<real>0.212226291026</real>
		</dict>
		<key>Pot3</key>
		<dict>
			<key>x</key>
			<real>-0.0679972715193</real>
			<key>y</key>
			<real>0.982755011808</real>
			<key>z</key>
			<real>-10.6319081361</real>
			<key>type</key>
			<string>pot1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.226374710427</real>
			<key>sy</key>
			<real>0.513938284579</real>
			<key>sz</key>
			<real>0.212226291026</real>
		</dict>
		<key>Hedge1</key>
		<dict>
			<key>x</key>
			<real>6.75736311349</real>
			<key>y</key>
			<real>0.757618586947</real>
			<key>z</key>
			<real>-12.6462451398</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>2.69743220808</real>
			<key>sy</key>
			<real>1.24573798387</real>
			<key>sz</key>
			<real>0.568198396647</real>
		</dict>
		<key>FenceLt</key>
		<dict>
			<key>x</key>
			<real>-7.40675900129</real>
			<key>y</key>
			<real>0.29564784151</real>
			<key>z</key>
			<real>12.985169575</real>
			<key>type</key>
			<string>fenceLt</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>1.49605076924</real>
			<key>sy</key>
			<real>1.24573798387</real>
			<key>sz</key>
			<real>0.391595245254</real>
		</dict>
	</dict>
	<key>LevelControl</key>
	<dict>
		<key>NumCombos</key>
		<integer>2</integer>
		<key>NumGopherLives</key>
		<integer>40</integer>
		<key>NumCarrotLives</key>
		<integer>3</integer>
		<key>Background</key>
		<string>Grandmas</string>
		<key>GamePlayMode</key>
		<integer>5</integer>
		<key>ScoreMode</key>
		<integer>0</integer>
		<key>NumBalls</key>
		<integer>-1</integer>
		<key>BallTypes</key>
		<integer>1</integer>
		<key>SpawnIntervals</key>
		<array>
			<dict>
				<key>Time</key>
				<real>0.0</real>
				<key>Gophers</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>30.0</real>
				<key>Gophers</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>40.0</real>
				<key>Gophers</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>50.0</real>
				<key>Gophers</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>60.0</real>
				<key>Gophers</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>75.0</real>
				<key>Gophers</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>80.0</real>
				<key>Gophers</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>90.0</real>
				<key>Gophers</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>100.0</real>
				<key>Gophers</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>110.0</real>
				<key>Gophers</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>120.0</real>
				<key>Gophers</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<key>GeneratedObjects</key>
	<dict>
		<key>Gopher</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.5</real>
		</dict>
		<key>Cannon</key>
		<dict>
			<key>type</key>
			<string>cannon</string>
			<key>scale</key>
			<real>4.0</real>
		</dict>
		<key>Gopher1</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.5</real>
		</dict>
		<key>Gopher2</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.5</real>
		</dict>
		<key>Gopher3</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.5</real>
		</dict>
		<key>Gopher4</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.5</real>
		</dict>
	</dict>
</dict>
</plist>
