<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">

<dict>
	<key>LayoutObjects</key>
	<dict>
		<key>pCylinder34</key>
		<dict>
			<key>x</key>
			<real>6.20990761972</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-6.15001804212</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.496484742996</real>
			<key>sy</key>
			<real>0.496484742996</real>
			<key>sz</key>
			<real>0.465454446559</real>
		</dict>
		<key>pCylinder36</key>
		<dict>
			<key>x</key>
			<real>-3.86513910869</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>8.78968204292</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.491967516651</real>
			<key>sy</key>
			<real>0.491967516651</real>
			<key>sz</key>
			<real>0.46121954686</real>
		</dict>
		<key>pCylinder37</key>
		<dict>
			<key>x</key>
			<real>-7.37390131767</real>
			<key>y</key>
			<real>-0.0447732444022</real>
			<key>z</key>
			<real>-9.72019515295</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.496484742996</real>
			<key>sy</key>
			<real>0.496484742996</real>
			<key>sz</key>
			<real>0.465454446559</real>
		</dict>
		<key>pCylinder38</key>
		<dict>
			<key>x</key>
			<real>-7.43357112897</real>
			<key>y</key>
			<real>-0.231298004059</real>
			<key>z</key>
			<real>8.9599032591</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.496484742996</real>
			<key>sy</key>
			<real>0.496484742996</real>
			<key>sz</key>
			<real>0.465454446559</real>
		</dict>
		<key>pCylinder39</key>
		<dict>
			<key>x</key>
			<real>5.1384570315</real>
			<key>y</key>
			<real>-0.0219400919572</real>
			<key>z</key>
			<real>9.58540660754</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.491967516651</real>
			<key>sy</key>
			<real>0.491967516651</real>
			<key>sz</key>
			<real>0.46121954686</real>
		</dict>
		<key>pCylinder40</key>
		<dict>
			<key>x</key>
			<real>5.19894026068</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-10.2135785351</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.491967516651</real>
			<key>sy</key>
			<real>0.491967516651</real>
			<key>sz</key>
			<real>0.46121954686</real>
		</dict>
		<key>pCylinder41</key>
		<dict>
			<key>x</key>
			<real>-8.212760534</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-5.51639413956</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.491967516651</real>
			<key>sy</key>
			<real>0.491967516651</real>
			<key>sz</key>
			<real>0.46121954686</real>
		</dict>
		<key>pCylinder42</key>
		<dict>
			<key>x</key>
			<real>-7.26318834163</real>
			<key>y</key>
			<real>-0.230428415606</real>
			<key>z</key>
			<real>4.99868320142</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.496484742996</real>
			<key>sy</key>
			<real>0.496484742996</real>
			<key>sz</key>
			<real>0.465454446559</real>
		</dict>
		<key>Rock4</key>
		<dict>
			<key>x</key>
			<real>-6.33488524179</real>
			<key>y</key>
			<real>0.689910666937</real>
			<key>z</key>
			<real>-1.31718240116</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0.0</real>
			<key>sx</key>
			<real>2.14214135766</real>
			<key>sy</key>
			<real>2.14214135766</real>
			<key>sz</key>
			<real>2.00825752281</real>
		</dict>
		<key>pCylinder43</key>
		<dict>
			<key>x</key>
			<real>-5.58918265282</real>
			<key>y</key>
			<real>0.00371702278867</real>
			<key>z</key>
			<real>-8.71886580865</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.496484742996</real>
			<key>sy</key>
			<real>0.496484742996</real>
			<key>sz</key>
			<real>0.465454446559</real>
		</dict>
		<key>Wagon</key>
		<dict>
			<key>x</key>
			<real>-6.48022868515</real>
			<key>y</key>
			<real>0.419069503783</real>
			<key>z</key>
			<real>-11.2615732708</real>
			<key>type</key>
			<string>wagon</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.5725335498</real>
			<key>sy</key>
			<real>0.666666666667</real>
			<key>sz</key>
			<real>0.625</real>
		</dict>
		<key>Rock34</key>
		<dict>
			<key>x</key>
			<real>-9.83784921932</real>
			<key>y</key>
			<real>0.577968223578</real>
			<key>z</key>
			<real>6.17394057257</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.760155730481</real>
			<key>sy</key>
			<real>0.760155730481</real>
			<key>sz</key>
			<real>0.712645997326</real>
		</dict>
		<key>Flower14</key>
		<dict>
			<key>x</key>
			<real>-9.79159942958</real>
			<key>y</key>
			<real>0.535615223067</real>
			<key>z</key>
			<real>3.78031406821</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>6.0</real>
			<key>sx</key>
			<real>0.556869033214</real>
			<key>sy</key>
			<real>0.556869033214</real>
			<key>sz</key>
			<real>0.522064718638</real>
		</dict>
		<key>Flower16</key>
		<dict>
			<key>x</key>
			<real>5.24600566994</real>
			<key>y</key>
			<real>0.256914513263</real>
			<key>z</key>
			<real>6.59357725075</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>5.0</real>
			<key>sx</key>
			<real>0.556869033214</real>
			<key>sy</key>
			<real>0.556869033214</real>
			<key>sz</key>
			<real>0.522064718638</real>
		</dict>
		<key>pCylinder44</key>
		<dict>
			<key>x</key>
			<real>7.79415470265</real>
			<key>y</key>
			<real>-0.231298004059</real>
			<key>z</key>
			<real>8.9599032591</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.496484742996</real>
			<key>sy</key>
			<real>0.496484742996</real>
			<key>sz</key>
			<real>0.465454446559</real>
		</dict>
		<key>Flower19</key>
		<dict>
			<key>x</key>
			<real>-2.20865664949</real>
			<key>y</key>
			<real>0.256914513263</real>
			<key>z</key>
			<real>-7.86352219454</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>4.0</real>
			<key>sx</key>
			<real>0.556869033214</real>
			<key>sy</key>
			<real>0.556869033214</real>
			<key>sz</key>
			<real>0.522064718638</real>
		</dict>
		<key>Rock36</key>
		<dict>
			<key>x</key>
			<real>8.22621067892</real>
			<key>y</key>
			<real>0.577968223578</real>
			<key>z</key>
			<real>6.46764905468</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.608223398728</real>
			<key>sy</key>
			<real>0.608223398728</real>
			<key>sz</key>
			<real>0.570209436307</real>
		</dict>
		<key>Flower31</key>
		<dict>
			<key>x</key>
			<real>-7.31794349943</real>
			<key>y</key>
			<real>0.256914513263</real>
			<key>z</key>
			<real>6.88365996119</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>4.0</real>
			<key>sx</key>
			<real>0.556869033214</real>
			<key>sy</key>
			<real>0.556869033214</real>
			<key>sz</key>
			<real>0.522064718638</real>
		</dict>
		<key>Rock37</key>
		<dict>
			<key>x</key>
			<real>-4.74282185878</real>
			<key>y</key>
			<real>0.577968223578</real>
			<key>z</key>
			<real>5.10834279852</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.770963476333</real>
			<key>sy</key>
			<real>0.770963476333</real>
			<key>sz</key>
			<real>0.722778259062</real>
		</dict>
		<key>Rock38</key>
		<dict>
			<key>x</key>
			<real>-3.43315744327</real>
			<key>y</key>
			<real>0.797259755791</real>
			<key>z</key>
			<real>-10.6429589892</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.760155730481</real>
			<key>sy</key>
			<real>0.760155730481</real>
			<key>sz</key>
			<real>0.712645997326</real>
		</dict>
		<key>Rock39</key>
		<dict>
			<key>x</key>
			<real>-9.83665100065</real>
			<key>y</key>
			<real>0.797259755791</real>
			<key>z</key>
			<real>8.85680588846</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.760155730481</real>
			<key>sy</key>
			<real>0.760155730481</real>
			<key>sz</key>
			<real>0.712645997326</real>
		</dict>
		<key>Rock43</key>
		<dict>
			<key>x</key>
			<real>-0.276489120492</real>
			<key>y</key>
			<real>0.577968223578</real>
			<key>z</key>
			<real>-11.7612861518</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.734833675189</real>
			<key>sy</key>
			<real>0.734833675189</real>
			<key>sz</key>
			<real>0.688906570489</real>
		</dict>
		<key>Rock45</key>
		<dict>
			<key>x</key>
			<real>-9.83784921932</real>
			<key>y</key>
			<real>0.577968223578</real>
			<key>z</key>
			<real>-7.50913753875</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.760155730481</real>
			<key>sy</key>
			<real>0.760155730481</real>
			<key>sz</key>
			<real>0.712645997326</real>
		</dict>
		<key>Rock46</key>
		<dict>
			<key>x</key>
			<real>-9.83784921932</real>
			<key>y</key>
			<real>0.577968223578</real>
			<key>z</key>
			<real>-10.3786864015</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.760155730481</real>
			<key>sy</key>
			<real>0.760155730481</real>
			<key>sz</key>
			<real>0.712645997326</real>
		</dict>
		<key>Rock47</key>
		<dict>
			<key>x</key>
			<real>-5.68940745617</real>
			<key>y</key>
			<real>0.577968223578</real>
			<key>z</key>
			<real>10.0959251077</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.760155730481</real>
			<key>sy</key>
			<real>0.760155730481</real>
			<key>sz</key>
			<real>0.712645997326</real>
		</dict>
		<key>Rock48</key>
		<dict>
			<key>x</key>
			<real>0.424898033339</real>
			<key>y</key>
			<real>0.577968223578</real>
			<key>z</key>
			<real>6.642055282</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.760155730481</real>
			<key>sy</key>
			<real>0.760155730481</real>
			<key>sz</key>
			<real>0.712645997326</real>
		</dict>
		<key>Rock49</key>
		<dict>
			<key>x</key>
			<real>2.57406007652</real>
			<key>y</key>
			<real>0.577968223578</real>
			<key>z</key>
			<real>10.5318248</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.760155730481</real>
			<key>sy</key>
			<real>0.760155730481</real>
			<key>sz</key>
			<real>0.712645997326</real>
		</dict>
		<key>Rock55</key>
		<dict>
			<key>x</key>
			<real>-6.96247620429</real>
			<key>y</key>
			<real>0.577968223578</real>
			<key>z</key>
			<real>-3.86773982508</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.843270558099</real>
			<key>sy</key>
			<real>0.843270558099</real>
			<key>sz</key>
			<real>0.790566148217</real>
		</dict>
		<key>Rock57</key>
		<dict>
			<key>x</key>
			<real>2.50362174553</real>
			<key>y</key>
			<real>0.577968223578</real>
			<key>z</key>
			<real>3.44539250904</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.760155730481</real>
			<key>sy</key>
			<real>0.760155730481</real>
			<key>sz</key>
			<real>0.712645997326</real>
		</dict>
		<key>Rock58</key>
		<dict>
			<key>x</key>
			<real>-9.83784921932</real>
			<key>y</key>
			<real>0.577968223578</real>
			<key>z</key>
			<real>-4.20830077407</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.760155730481</real>
			<key>sy</key>
			<real>0.760155730481</real>
			<key>sz</key>
			<real>0.712645997326</real>
		</dict>
		<key>Rock59</key>
		<dict>
			<key>x</key>
			<real>2.57672167604</real>
			<key>y</key>
			<real>0.577968223578</real>
			<key>z</key>
			<real>-9.97802940396</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.734833675189</real>
			<key>sy</key>
			<real>0.734833675189</real>
			<key>sz</key>
			<real>0.688906570489</real>
		</dict>
		<key>Flower32</key>
		<dict>
			<key>x</key>
			<real>-0.849984841614</real>
			<key>y</key>
			<real>0.256914513263</real>
			<key>z</key>
			<real>-6.08026544671</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>3.4</real>
			<key>sx</key>
			<real>0.556869033214</real>
			<key>sy</key>
			<real>0.556869033214</real>
			<key>sz</key>
			<real>0.522064718638</real>
		</dict>
		<key>Flower33</key>
		<dict>
			<key>x</key>
			<real>6.35097574011</real>
			<key>y</key>
			<real>0.256914513263</real>
			<key>z</key>
			<real>-8.3093363815</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>90.0</real>
			<key>sx</key>
			<real>0.556869033214</real>
			<key>sy</key>
			<real>0.556869033214</real>
			<key>sz</key>
			<real>0.522064718638</real>
		</dict>
		<key>Flower34</key>
		<dict>
			<key>x</key>
			<real>-8.84052916407</real>
			<key>y</key>
			<real>0.535615223067</real>
			<key>z</key>
			<real>2.06074506137</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>6.0</real>
			<key>sx</key>
			<real>0.556869033214</real>
			<key>sy</key>
			<real>0.556869033214</real>
			<key>sz</key>
			<real>0.522064718638</real>
		</dict>
		<key>Flower35</key>
		<dict>
			<key>x</key>
			<real>-8.84052916407</real>
			<key>y</key>
			<real>0.535615223067</real>
			<key>z</key>
			<real>11.4228429875</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>6.0</real>
			<key>sx</key>
			<real>0.556869033214</real>
			<key>sy</key>
			<real>0.556869033214</real>
			<key>sz</key>
			<real>0.522064718638</real>
		</dict>
		<key>Rock60</key>
		<dict>
			<key>x</key>
			<real>-6.33488524179</real>
			<key>y</key>
			<real>0.689910666937</real>
			<key>z</key>
			<real>1.9835675966</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0.0</real>
			<key>sx</key>
			<real>1.52483890185</real>
			<key>sy</key>
			<real>1.52483890185</real>
			<key>sz</key>
			<real>1.42953647049</real>
		</dict>
		<key>Flower36</key>
		<dict>
			<key>x</key>
			<real>-9.31606429683</real>
			<key>y</key>
			<real>0.535615223067</real>
			<key>z</key>
			<real>-11.8868702163</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>6.0</real>
			<key>sx</key>
			<real>0.556869033214</real>
			<key>sy</key>
			<real>0.556869033214</real>
			<key>sz</key>
			<real>0.522064718638</real>
		</dict>
		<key>Hedge3</key>
		<dict>
			<key>x</key>
			<real>-7.02317070513</real>
			<key>y</key>
			<real>0.419069503783</real>
			<key>z</key>
			<real>-13.0931966131</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.66666666667</real>
			<key>sy</key>
			<real>4.41526326741</real>
			<key>sz</key>
			<real>0.625</real>
		</dict>
		<key>Hedge2</key>
		<dict>
			<key>x</key>
			<real>-0.474569615741</real>
			<key>y</key>
			<real>0.419069503783</real>
			<key>z</key>
			<real>-13.0931966131</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.66666666667</real>
			<key>sy</key>
			<real>4.41526326741</real>
			<key>sz</key>
			<real>0.625</real>
		</dict>
		<key>Hedge1</key>
		<dict>
			<key>x</key>
			<real>6.1825718232</real>
			<key>y</key>
			<real>0.419069503783</real>
			<key>z</key>
			<real>-13.0931966131</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.66666666667</real>
			<key>sy</key>
			<real>4.41526326741</real>
			<key>sz</key>
			<real>0.625</real>
		</dict>
		<key>Hedge5</key>
		<dict>
			<key>x</key>
			<real>-2.32648505732</real>
			<key>y</key>
			<real>0.419069503783</real>
			<key>z</key>
			<real>-6.04281123292</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>-0.80626082677</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.66666666667</real>
			<key>sy</key>
			<real>4.82985294238</real>
			<key>sz</key>
			<real>0.625</real>
		</dict>
		<key>Hedge7</key>
		<dict>
			<key>x</key>
			<real>-0.474569615741</real>
			<key>y</key>
			<real>0.419069503783</real>
			<key>z</key>
			<real>12.8199950574</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.66666666667</real>
			<key>sy</key>
			<real>4.41526326741</real>
			<key>sz</key>
			<real>0.625</real>
		</dict>
		<key>Hedge8</key>
		<dict>
			<key>x</key>
			<real>-7.02317070513</real>
			<key>y</key>
			<real>0.419069503783</real>
			<key>z</key>
			<real>12.8199950574</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.66666666667</real>
			<key>sy</key>
			<real>4.41526326741</real>
			<key>sz</key>
			<real>0.625</real>
		</dict>
		<key>Hedge6</key>
		<dict>
			<key>x</key>
			<real>6.1825718232</real>
			<key>y</key>
			<real>0.419069503783</real>
			<key>z</key>
			<real>12.8199950574</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.66666666667</real>
			<key>sy</key>
			<real>4.41526326741</real>
			<key>sz</key>
			<real>0.625</real>
		</dict>
	</dict>
	<key>LevelControl</key>
	<dict>
		<key>NumCombos</key>
		<integer>2</integer>
		<key>NumGopherLives</key>
		<integer>40</integer>
		<key>NumCarrotLives</key>
		<integer>5</integer>
		<key>Background</key>
		<string>Grandmas</string>
		<key>GamePlayMode</key>
		<integer>5</integer>
		<key>ScoreMode</key>
		<integer>0</integer>
		<key>NumBalls</key>
		<integer>-1</integer>
		<key>BallTypes</key>
		<integer>1</integer>
		<key>SpawnIntervals</key>
		<array>
			<dict>
				<key>Time</key>
				<real>0.0</real>
				<key>Gophers</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>30.0</real>
				<key>Gophers</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>40.0</real>
				<key>Gophers</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>50.0</real>
				<key>Gophers</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>60.0</real>
				<key>Gophers</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>75.0</real>
				<key>Gophers</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>80.0</real>
				<key>Gophers</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>90.0</real>
				<key>Gophers</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>100.0</real>
				<key>Gophers</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>110.0</real>
				<key>Gophers</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>120.0</real>
				<key>Gophers</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<key>GeneratedObjects</key>
	<dict>
		<key>Gopher</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.5</real>
		</dict>
		<key>Gopher1</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.5</real>
		</dict>
		<key>Gopher2</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.5</real>
		</dict>
		<key>Cannon</key>
		<dict>
			<key>type</key>
			<string>cannon</string>
			<key>scale</key>
			<real>4.0</real>
			<key>x</key>
			<real>8.74958500403</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-0.0</real>
		</dict>
		<key>Gopher3</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.5</real>
		</dict>
		<key>Gopher4</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.5</real>
		</dict>
		<key>Gopher5</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.5</real>
		</dict>
		<key>Gopher6</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.5</real>
		</dict>
	</dict>
</dict>
</plist>
