<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">

<dict>
	<key>LayoutObjects</key>
	<dict>
		<key>pCylinder34</key>
		<dict>
			<key>x</key>
			<real>-7.72499221198</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-5.49507144025</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.248242371498</real>
			<key>sy</key>
			<real>0.248242371498</real>
			<key>sz</key>
			<real>0.23272722328</real>
		</dict>
		<key>pCylinder36</key>
		<dict>
			<key>x</key>
			<real>-8.04057906213</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>6.932028329</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.245983758325</real>
			<key>sy</key>
			<real>0.245983758325</real>
			<key>sz</key>
			<real>0.23060977343</real>
		</dict>
		<key>pCylinder37</key>
		<dict>
			<key>x</key>
			<real>-6.62915776141</real>
			<key>y</key>
			<real>0.00343748337796</real>
			<key>z</key>
			<real>-8.42726916793</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.248242371498</real>
			<key>sy</key>
			<real>0.248242371498</real>
			<key>sz</key>
			<real>0.23272722328</real>
		</dict>
		<key>pCylinder38</key>
		<dict>
			<key>x</key>
			<real>5.72224227846</real>
			<key>y</key>
			<real>0.00343748337796</real>
			<key>z</key>
			<real>9.39625395271</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.248242371498</real>
			<key>sy</key>
			<real>0.248242371498</real>
			<key>sz</key>
			<real>0.23272722328</real>
		</dict>
		<key>pCylinder39</key>
		<dict>
			<key>x</key>
			<real>-6.088608664</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>6.932028329</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.245983758325</real>
			<key>sy</key>
			<real>0.245983758325</real>
			<key>sz</key>
			<real>0.23060977343</real>
		</dict>
		<key>pCylinder40</key>
		<dict>
			<key>x</key>
			<real>8.44918293947</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-8.85584975395</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.245983758325</real>
			<key>sy</key>
			<real>0.245983758325</real>
			<key>sz</key>
			<real>0.23060977343</real>
		</dict>
		<key>Control</key>
		<dict>
			<key>x</key>
			<real>0.0</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-0.0</real>
			<key>type</key>
			<string>levelControl</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.333333333333</real>
			<key>sy</key>
			<real>0.333333333333</real>
			<key>sz</key>
			<real>0.3125</real>
		</dict>
		<key>pCylinder41</key>
		<dict>
			<key>x</key>
			<real>8.3283590236</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>4.73049234184</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.245983758325</real>
			<key>sy</key>
			<real>0.245983758325</real>
			<key>sz</key>
			<real>0.23060977343</real>
		</dict>
		<key>pCylinder42</key>
		<dict>
			<key>x</key>
			<real>5.51271938699</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-4.77600869664</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.248242371498</real>
			<key>sy</key>
			<real>0.248242371498</real>
			<key>sz</key>
			<real>0.23272722328</real>
		</dict>
	</dict>
	<key>LevelControl</key>
	<dict>
		<key>NumCombos</key>
		<integer>2</integer>
		<key>NumGopherLives</key>
		<integer>20</integer>
		<key>NumCarrotLives</key>
		<integer>4</integer>
		<key>Background</key>
		<string>Grandmas</string>
		<key>GamePlayMode</key>
		<integer>5</integer>
		<key>ScoreMode</key>
		<integer>0</integer>
		<key>NumBalls</key>
		<integer>-1</integer>
		<key>BallTypes</key>
		<integer>1</integer>
	</dict>
	<key>GeneratedObjects</key>
	<dict>
		<key>Gopher</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.5</real>
		</dict>
		<key>Gopher1</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.5</real>
		</dict>
		<key>Cannon</key>
		<dict>
			<key>type</key>
			<string>cannon</string>
			<key>scale</key>
			<real>4.0</real>
		</dict>
	</dict>
</dict>
</plist>
