<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">

<dict>
	<key>LayoutObjects</key>
	<dict>
		<key>pCylinder34</key>
		<dict>
			<key>x</key>
			<real>-6.56558310007</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-5.03003750428</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.248242371498</real>
			<key>sy</key>
			<real>0.248242371498</real>
			<key>sz</key>
			<real>0.23272722328</real>
		</dict>
		<key>pCylinder36</key>
		<dict>
			<key>x</key>
			<real>-8.04057906213</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>6.932028329</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.245983758325</real>
			<key>sy</key>
			<real>0.245983758325</real>
			<key>sz</key>
			<real>0.23060977343</real>
		</dict>
		<key>pCylinder37</key>
		<dict>
			<key>x</key>
			<real>-6.62915776141</real>
			<key>y</key>
			<real>0.00343748337796</real>
			<key>z</key>
			<real>-8.42726916793</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.248242371498</real>
			<key>sy</key>
			<real>0.248242371498</real>
			<key>sz</key>
			<real>0.23272722328</real>
		</dict>
		<key>pCylinder38</key>
		<dict>
			<key>x</key>
			<real>7.18255694495</real>
			<key>y</key>
			<real>0.00343748337796</real>
			<key>z</key>
			<real>8.99378078313</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.248242371498</real>
			<key>sy</key>
			<real>0.248242371498</real>
			<key>sz</key>
			<real>0.23272722328</real>
		</dict>
		<key>pCylinder39</key>
		<dict>
			<key>x</key>
			<real>-8.44238529571</real>
			<key>y</key>
			<real>0.155482696534</real>
			<key>z</key>
			<real>-6.58768613438</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.245983758325</real>
			<key>sy</key>
			<real>0.245983758325</real>
			<key>sz</key>
			<real>0.23060977343</real>
		</dict>
		<key>pCylinder40</key>
		<dict>
			<key>x</key>
			<real>7.45326623362</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-8.55049402615</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.245983758325</real>
			<key>sy</key>
			<real>0.245983758325</real>
			<key>sz</key>
			<real>0.23060977343</real>
		</dict>
		<key>Control</key>
		<dict>
			<key>x</key>
			<real>0.0</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-0.0</real>
			<key>type</key>
			<string>levelControl</string>
			<key>ry</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.333333333333</real>
			<key>sy</key>
			<real>0.333333333333</real>
			<key>sz</key>
			<real>0.3125</real>
		</dict>
	</dict>
	<key>LevelControl</key>
	<dict>
		<key>NumCombos</key>
		<integer>2</integer>
		<key>NumGopherLives</key>
		<integer>10</integer>
		<key>NumCarrotLives</key>
		<integer>5</integer>
		<key>Background</key>
		<string>Grandmas</string>
		<key>GamePlayMode</key>
		<integer>5</integer>
		<key>ScoreMode</key>
		<integer>0</integer>
		<key>NumBalls</key>
		<integer>-1</integer>
		<key>BallTypes</key>
		<integer>2</integer>
	</dict>
	<key>GeneratedObjects</key>
	<dict>
		<key>Gopher</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.5</real>
		</dict>
		<key>|Cannon</key>
		<dict>
			<key>type</key>
			<string>cannon</string>
			<key>scale</key>
			<real>4.0</real>
		</dict>
	</dict>
</dict>
</plist>
