<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LayoutObjects</key>
	<dict>
		<key>pCylinder34</key>
		<dict>
			<key>x</key>
			<real>-5.8945607484</real>
			<key>y</key>
			<real>0</real>
			<key>z</key>
			<real>-6.22689326765</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.372363557247</real>
			<key>sy</key>
			<real>0.372363557247</real>
			<key>sz</key>
			<real>0.372363557247</real>
		</dict>
		<key>pCylinder36</key>
		<dict>
			<key>x</key>
			<real>2.45364648182</real>
			<key>y</key>
			<real>0</real>
			<key>z</key>
			<real>8.899553068459999</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.368975637488</real>
			<key>sy</key>
			<real>0.368975637488</real>
			<key>sz</key>
			<real>0.368975637488</real>
		</dict>
		<key>pCylinder37</key>
		<dict>
			<key>x</key>
			<real>6.99944539138</real>
			<key>y</key>
			<real>-0.06715986660330001</real>
			<key>z</key>
			<real>-9.841697592359999</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.372363557247</real>
			<key>sy</key>
			<real>0.372363557247</real>
			<key>sz</key>
			<real>0.372363557247</real>
		</dict>
		<key>pCylinder38</key>
		<dict>
			<key>x</key>
			<real>7.05608509507</real>
			<key>y</key>
			<real>-0.346947006089</real>
			<key>z</key>
			<real>9.07190204984</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.372363557247</real>
			<key>sy</key>
			<real>0.372363557247</real>
			<key>sz</key>
			<real>0.372363557247</real>
		</dict>
		<key>pCylinder39</key>
		<dict>
			<key>x</key>
			<real>-4.87751976037</real>
			<key>y</key>
			<real>-0.0329101379358</real>
			<key>z</key>
			<real>9.705224190139999</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.368975637488</real>
			<key>sy</key>
			<real>0.368975637488</real>
			<key>sz</key>
			<real>0.368975637488</real>
		</dict>
		<key>pCylinder40</key>
		<dict>
			<key>x</key>
			<real>-4.93493157557</real>
			<key>y</key>
			<real>0</real>
			<key>z</key>
			<real>-10.3412482668</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.368975637488</real>
			<key>sy</key>
			<real>0.368975637488</real>
			<key>sz</key>
			<real>0.368975637488</real>
		</dict>
		<key>pCylinder41</key>
		<dict>
			<key>x</key>
			<real>7.79570628813</real>
			<key>y</key>
			<real>0</real>
			<key>z</key>
			<real>-5.5853490663</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.368975637488</real>
			<key>sy</key>
			<real>0.368975637488</real>
			<key>sz</key>
			<real>0.368975637488</real>
		</dict>
		<key>pCylinder42</key>
		<dict>
			<key>x</key>
			<real>6.89435455866</real>
			<key>y</key>
			<real>-0.34564262341</real>
			<key>z</key>
			<real>5.06116674144</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.372363557247</real>
			<key>sy</key>
			<real>0.372363557247</real>
			<key>sz</key>
			<real>0.372363557247</real>
		</dict>
		<key>Rock4</key>
		<dict>
			<key>x</key>
			<real>6.0131918506</real>
			<key>y</key>
			<real>1.03486600041</real>
			<key>z</key>
			<real>-1.33364718118</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.60660601825</real>
			<key>sy</key>
			<real>1.60660601825</real>
			<key>sz</key>
			<real>1.60660601825</real>
		</dict>
		<key>pCylinder43</key>
		<dict>
			<key>x</key>
			<real>5.30535697123</real>
			<key>y</key>
			<real>0.00557553418301</real>
			<key>z</key>
			<real>-8.82785163126</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.372363557247</real>
			<key>sy</key>
			<real>0.372363557247</real>
			<key>sz</key>
			<real>0.372363557247</real>
		</dict>
		<key>Wagon</key>
		<dict>
			<key>x</key>
			<real>6.15115457223</real>
			<key>y</key>
			<real>0.628604255674</real>
			<key>z</key>
			<real>-11.4023429366</real>
			<key>type</key>
			<string>wagon</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.17940016235</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Rock34</key>
		<dict>
			<key>x</key>
			<real>9.33827093865</real>
			<key>y</key>
			<real>0.866952335367</real>
			<key>z</key>
			<real>6.25111482973</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.570116797861</real>
			<key>sy</key>
			<real>0.570116797861</real>
			<key>sz</key>
			<real>0.570116797861</real>
		</dict>
		<key>Flower14</key>
		<dict>
			<key>x</key>
			<real>9.29436977105</real>
			<key>y</key>
			<real>0.8034228346</real>
			<key>z</key>
			<real>3.82756799406</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>6</real>
			<key>sx</key>
			<real>0.41765177491</real>
			<key>sy</key>
			<real>0.41765177491</real>
			<key>sz</key>
			<real>0.41765177491</real>
		</dict>
		<key>Flower16</key>
		<dict>
			<key>x</key>
			<real>-4.97960694451</real>
			<key>y</key>
			<real>0.385371769895</real>
			<key>z</key>
			<real>6.67599696638</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>5</real>
			<key>sx</key>
			<real>0.41765177491</real>
			<key>sy</key>
			<real>0.41765177491</real>
			<key>sz</key>
			<real>0.41765177491</real>
		</dict>
		<key>pCylinder44</key>
		<dict>
			<key>x</key>
			<real>-7.39835778416</real>
			<key>y</key>
			<real>-0.346947006089</real>
			<key>z</key>
			<real>9.07190204984</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.372363557247</real>
			<key>sy</key>
			<real>0.372363557247</real>
			<key>sz</key>
			<real>0.372363557247</real>
		</dict>
		<key>Flower19</key>
		<dict>
			<key>x</key>
			<real>2.096498304</real>
			<key>y</key>
			<real>0.385371769895</real>
			<key>z</key>
			<real>-7.96181622198</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>4</real>
			<key>sx</key>
			<real>0.41765177491</real>
			<key>sy</key>
			<real>0.41765177491</real>
			<key>sz</key>
			<real>0.41765177491</real>
		</dict>
		<key>Rock36</key>
		<dict>
			<key>x</key>
			<real>-7.80847341788</real>
			<key>y</key>
			<real>0.866952335367</real>
			<key>z</key>
			<real>6.54849466786</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.456167549046</real>
			<key>sy</key>
			<real>0.456167549046</real>
			<key>sz</key>
			<real>0.456167549046</real>
		</dict>
		<key>Flower31</key>
		<dict>
			<key>x</key>
			<real>6.9463291811</real>
			<key>y</key>
			<real>0.385371769895</real>
			<key>z</key>
			<real>6.96970571071</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>4</real>
			<key>sx</key>
			<real>0.41765177491</real>
			<key>sy</key>
			<real>0.41765177491</real>
			<key>sz</key>
			<real>0.41765177491</real>
		</dict>
		<key>Rock37</key>
		<dict>
			<key>x</key>
			<real>4.50197543626</real>
			<key>y</key>
			<real>0.866952335367</real>
			<key>z</key>
			<real>5.1721970835</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.57822260725</real>
			<key>sy</key>
			<real>0.57822260725</real>
			<key>sz</key>
			<real>0.57822260725</real>
		</dict>
		<key>Rock38</key>
		<dict>
			<key>x</key>
			<real>3.25881741686</real>
			<key>y</key>
			<real>1.19588963369</real>
			<key>z</key>
			<real>-10.7759959765</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.570116797861</real>
			<key>sy</key>
			<real>0.570116797861</real>
			<key>sz</key>
			<real>0.570116797861</real>
		</dict>
		<key>Rock39</key>
		<dict>
			<key>x</key>
			<real>9.33713356703</real>
			<key>y</key>
			<real>1.19588963369</real>
			<key>z</key>
			<real>8.967515962069999</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.570116797861</real>
			<key>sy</key>
			<real>0.570116797861</real>
			<key>sz</key>
			<real>0.570116797861</real>
		</dict>
		<key>Rock43</key>
		<dict>
			<key>x</key>
			<real>0.262448657342</real>
			<key>y</key>
			<real>0.866952335367</real>
			<key>z</key>
			<real>-11.9083022287</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5511252563920001</real>
			<key>sy</key>
			<real>0.5511252563920001</real>
			<key>sz</key>
			<real>0.5511252563920001</real>
		</dict>
		<key>Rock45</key>
		<dict>
			<key>x</key>
			<real>9.33827093865</real>
			<key>y</key>
			<real>0.866952335367</real>
			<key>z</key>
			<real>-7.60300175799</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.570116797861</real>
			<key>sy</key>
			<real>0.570116797861</real>
			<key>sz</key>
			<real>0.570116797861</real>
		</dict>
		<key>Rock46</key>
		<dict>
			<key>x</key>
			<real>9.33827093865</real>
			<key>y</key>
			<real>0.866952335367</real>
			<key>z</key>
			<real>-10.5084199815</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.570116797861</real>
			<key>sy</key>
			<real>0.570116797861</real>
			<key>sz</key>
			<real>0.570116797861</real>
		</dict>
		<key>Rock47</key>
		<dict>
			<key>x</key>
			<real>5.40049223379</real>
			<key>y</key>
			<real>0.866952335367</real>
			<key>z</key>
			<real>10.2221241715</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.570116797861</real>
			<key>sy</key>
			<real>0.570116797861</real>
			<key>sz</key>
			<real>0.570116797861</real>
		</dict>
		<key>Rock48</key>
		<dict>
			<key>x</key>
			<real>-0.403321180084</real>
			<key>y</key>
			<real>0.866952335367</real>
			<key>z</key>
			<real>6.72508097303</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.570116797861</real>
			<key>sy</key>
			<real>0.570116797861</real>
			<key>sz</key>
			<real>0.570116797861</real>
		</dict>
		<key>Rock49</key>
		<dict>
			<key>x</key>
			<real>-2.44334608825</real>
			<key>y</key>
			<real>0.866952335367</real>
			<key>z</key>
			<real>10.66347261</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.570116797861</real>
			<key>sy</key>
			<real>0.570116797861</real>
			<key>sz</key>
			<real>0.570116797861</real>
		</dict>
		<key>Rock55</key>
		<dict>
			<key>x</key>
			<real>6.60891295954</real>
			<key>y</key>
			<real>0.866952335367</real>
			<key>z</key>
			<real>-3.91608657289</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.632452918574</real>
			<key>sy</key>
			<real>0.632452918574</real>
			<key>sz</key>
			<real>0.632452918574</real>
		</dict>
		<key>Rock57</key>
		<dict>
			<key>x</key>
			<real>-2.37648470377</real>
			<key>y</key>
			<real>0.866952335367</real>
			<key>z</key>
			<real>3.48845991541</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.570116797861</real>
			<key>sy</key>
			<real>0.570116797861</real>
			<key>sz</key>
			<real>0.570116797861</real>
		</dict>
		<key>Rock58</key>
		<dict>
			<key>x</key>
			<real>9.33827093865</real>
			<key>y</key>
			<real>0.866952335367</real>
			<key>z</key>
			<real>-4.26090453375</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.570116797861</real>
			<key>sy</key>
			<real>0.570116797861</real>
			<key>sz</key>
			<real>0.570116797861</real>
		</dict>
		<key>Rock59</key>
		<dict>
			<key>x</key>
			<real>-2.44587252843</real>
			<key>y</key>
			<real>0.866952335367</real>
			<key>z</key>
			<real>-10.1027547715</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5511252563920001</real>
			<key>sy</key>
			<real>0.5511252563920001</real>
			<key>sz</key>
			<real>0.5511252563920001</real>
		</dict>
		<key>Flower32</key>
		<dict>
			<key>x</key>
			<real>0.806821548876</real>
			<key>y</key>
			<real>0.385371769895</real>
			<key>z</key>
			<real>-6.1562687648</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>3.4</real>
			<key>sx</key>
			<real>0.41765177491</real>
			<key>sy</key>
			<real>0.41765177491</real>
			<key>sz</key>
			<real>0.41765177491</real>
		</dict>
		<key>Flower33</key>
		<dict>
			<key>x</key>
			<real>-6.0284652533</real>
			<key>y</key>
			<real>0.385371769895</real>
			<key>z</key>
			<real>-8.41320308627</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>90</real>
			<key>sx</key>
			<real>0.41765177491</real>
			<key>sy</key>
			<real>0.41765177491</real>
			<key>sz</key>
			<real>0.41765177491</real>
		</dict>
		<key>Flower34</key>
		<dict>
			<key>x</key>
			<real>8.39159604246</real>
			<key>y</key>
			<real>0.8034228346</real>
			<key>z</key>
			<real>2.08650437464</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>6</real>
			<key>sx</key>
			<real>0.41765177491</real>
			<key>sy</key>
			<real>0.41765177491</real>
			<key>sz</key>
			<real>0.41765177491</real>
		</dict>
		<key>Flower35</key>
		<dict>
			<key>x</key>
			<real>8.39159604246</real>
			<key>y</key>
			<real>0.8034228346</real>
			<key>z</key>
			<real>11.5656285248</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>6</real>
			<key>sx</key>
			<real>0.41765177491</real>
			<key>sy</key>
			<real>0.41765177491</real>
			<key>sz</key>
			<real>0.41765177491</real>
		</dict>
		<key>Rock60</key>
		<dict>
			<key>x</key>
			<real>6.0131918506</real>
			<key>y</key>
			<real>1.03486600041</real>
			<key>z</key>
			<real>2.00836219155</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.14362917639</real>
			<key>sy</key>
			<real>1.14362917639</real>
			<key>sz</key>
			<real>1.14362917639</real>
		</dict>
		<key>Flower36</key>
		<dict>
			<key>x</key>
			<real>8.842982906750001</real>
			<key>y</key>
			<real>0.8034228346</real>
			<key>z</key>
			<real>-12.035456094</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>6</real>
			<key>sx</key>
			<real>0.41765177491</real>
			<key>sy</key>
			<real>0.41765177491</real>
			<key>sz</key>
			<real>0.41765177491</real>
		</dict>
		<key>Hedge3</key>
		<dict>
			<key>x</key>
			<real>6.66652531776</real>
			<key>y</key>
			<real>0.628604255674</real>
			<key>z</key>
			<real>-13.2568615708</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>3.31144745056</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge2</key>
		<dict>
			<key>x</key>
			<real>0.450470377442</real>
			<key>y</key>
			<real>0.628604255674</real>
			<key>z</key>
			<real>-13.2568615708</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>3.31144745056</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge1</key>
		<dict>
			<key>x</key>
			<real>-5.8686130978</real>
			<key>y</key>
			<real>0.628604255674</real>
			<key>z</key>
			<real>-13.2568615708</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>3.31144745056</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge5</key>
		<dict>
			<key>x</key>
			<real>2.208343238</real>
			<key>y</key>
			<real>0.628604255674</real>
			<key>z</key>
			<real>-6.11834637334</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>-0.80626082677</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>3.62238970679</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge7</key>
		<dict>
			<key>x</key>
			<real>0.450470377442</real>
			<key>y</key>
			<real>0.628604255674</real>
			<key>z</key>
			<real>12.9802449956</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>3.31144745056</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge8</key>
		<dict>
			<key>x</key>
			<real>6.66652531776</real>
			<key>y</key>
			<real>0.628604255674</real>
			<key>z</key>
			<real>12.9802449956</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>3.31144745056</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge6</key>
		<dict>
			<key>x</key>
			<real>-5.8686130978</real>
			<key>y</key>
			<real>0.628604255674</real>
			<key>z</key>
			<real>12.9802449956</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>3.31144745056</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
	</dict>
	<key>LevelControl</key>
	<dict>
		<key>NumCombos</key>
		<integer>2</integer>
		<key>NumGopherLives</key>
		<integer>30</integer>
		<key>Background</key>
		<string>Grandmas</string>
		<key>GamePlayMode</key>
		<integer>5</integer>
		<key>ScoreMode</key>
		<integer>0</integer>
		<key>NumBalls</key>
		<integer>-1</integer>
		<key>BallTypes</key>
		<integer>1</integer>
		<key>CollisionAvoidance</key>
		<integer>0</integer>
		<key>SpawnIntervals</key>
		<array>
			<dict>
				<key>Time</key>
				<real>0</real>
				<key>Gophers</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>30</real>
				<key>Gophers</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>40</real>
				<key>Gophers</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>50</real>
				<key>Gophers</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>60</real>
				<key>Gophers</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>75</real>
				<key>Gophers</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>80</real>
				<key>Gophers</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>90</real>
				<key>Gophers</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>100</real>
				<key>Gophers</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>110</real>
				<key>Gophers</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>120</real>
				<key>Gophers</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<key>GeneratedObjects</key>
	<dict>
		<key>Gopher</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.5</real>
		</dict>
		<key>Gopher1</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.5</real>
		</dict>
		<key>Gopher2</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.5</real>
		</dict>
		<key>Cannon</key>
		<dict>
			<key>type</key>
			<string>cannon</string>
			<key>scale</key>
			<real>1</real>
			<key>x</key>
			<real>-7.14037239304</real>
			<key>y</key>
			<real>0</real>
			<key>z</key>
			<real>-0</real>
			<key>rotationOffset</key>
			<real>3.1415965</real>
			<key>rotationBoundUpper</key>
			<real>8.93609671111</real>
			<key>rotationBoundLower</key>
			<real>-8.93609671111</real>
		</dict>
		<key>Gopher3</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.5</real>
		</dict>
		<key>Gopher4</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.5</real>
		</dict>
		<key>Gopher5</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.5</real>
		</dict>
		<key>Gopher6</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.5</real>
		</dict>
	</dict>
</dict>
</plist>
