<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LayoutObjects</key>
	<dict>
		<key>Hole1</key>
		<dict>
			<key>x</key>
			<real>5.83873693451</real>
			<key>y</key>
			<real>0.187380694283</real>
			<key>z</key>
			<real>13.0510890736</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>pCylinder52</key>
		<dict>
			<key>x</key>
			<real>-5.78380427916</real>
			<key>y</key>
			<real>-0.165160920882</real>
			<key>z</key>
			<real>-6.15226600512</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>pCylinder47</key>
		<dict>
			<key>x</key>
			<real>3.83967024565</real>
			<key>y</key>
			<real>-1.13686837722e-15</real>
			<key>z</key>
			<real>-5.89065007414</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>pCylinder44</key>
		<dict>
			<key>x</key>
			<real>2.06938894108</real>
			<key>y</key>
			<real>-0.16121418025</real>
			<key>z</key>
			<real>2.55808722031</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>pCylinder38</key>
		<dict>
			<key>x</key>
			<real>-2.81577529812</real>
			<key>y</key>
			<real>-0.0769959944457</real>
			<key>z</key>
			<real>6.61299430809</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hole2</key>
		<dict>
			<key>x</key>
			<real>-6.94571855791</real>
			<key>y</key>
			<real>-0.192448501261</real>
			<key>z</key>
			<real>8.69654789827</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hole3</key>
		<dict>
			<key>x</key>
			<real>8.478810542210001</real>
			<key>y</key>
			<real>0.0661717231575</real>
			<key>z</key>
			<real>-2.93005161853</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hole4</key>
		<dict>
			<key>x</key>
			<real>-5.6330931868</real>
			<key>y</key>
			<real>0.130508671584</real>
			<key>z</key>
			<real>-10.5965712444</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hole5</key>
		<dict>
			<key>x</key>
			<real>6.12874940166</real>
			<key>y</key>
			<real>-0.0215930508912</real>
			<key>z</key>
			<real>-11.9995051628</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>pCylinder53</key>
		<dict>
			<key>x</key>
			<real>3.27513306224</real>
			<key>y</key>
			<real>-0.118812862016</real>
			<key>z</key>
			<real>2.85067370147</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hole6</key>
		<dict>
			<key>x</key>
			<real>8.235926628330001</real>
			<key>y</key>
			<real>0.571270454232</real>
			<key>z</key>
			<real>0.583200830176</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>pCylinder55</key>
		<dict>
			<key>x</key>
			<real>-4.14625111741</real>
			<key>y</key>
			<real>0.0757555548764</real>
			<key>z</key>
			<real>7.26273408704</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>pCylinder56</key>
		<dict>
			<key>x</key>
			<real>3.56300554559</real>
			<key>y</key>
			<real>0.109380656122</real>
			<key>z</key>
			<real>-10.1376083111</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>pCylinder58</key>
		<dict>
			<key>x</key>
			<real>-6.16017390076</real>
			<key>y</key>
			<real>-0.147803443303</real>
			<key>z</key>
			<real>-8.1699381701</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>pCylinder59</key>
		<dict>
			<key>x</key>
			<real>3.86279345942</real>
			<key>y</key>
			<real>0.20087571732</real>
			<key>z</key>
			<real>-6.78661459661</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>pCylinder60</key>
		<dict>
			<key>x</key>
			<real>2.41394383615</real>
			<key>y</key>
			<real>0.20087571732</real>
			<key>z</key>
			<real>-6.82801030013</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>pCylinder61</key>
		<dict>
			<key>x</key>
			<real>2.44193828297</real>
			<key>y</key>
			<real>0.276523475794</real>
			<key>z</key>
			<real>-11.6218442744</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>pCylinder62</key>
		<dict>
			<key>x</key>
			<real>3.7262748908</real>
			<key>y</key>
			<real>0.118426545325</real>
			<key>z</key>
			<real>-10.9582057548</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>pCylinder64</key>
		<dict>
			<key>x</key>
			<real>-6.86258165874</real>
			<key>y</key>
			<real>-0.141927565232</real>
			<key>z</key>
			<real>-6.69631250465</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>pCylinder65</key>
		<dict>
			<key>x</key>
			<real>2.98588384003</real>
			<key>y</key>
			<real>-0.147803443303</real>
			<key>z</key>
			<real>1.77341037557</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hole7</key>
		<dict>
			<key>x</key>
			<real>7.60592089768</real>
			<key>y</key>
			<real>0.187380694283</real>
			<key>z</key>
			<real>11.4280808264</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hole8</key>
		<dict>
			<key>x</key>
			<real>7.30622152346</real>
			<key>y</key>
			<real>0.187380694283</real>
			<key>z</key>
			<real>13.3609124568</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hole9</key>
		<dict>
			<key>x</key>
			<real>-9.03839417807</real>
			<key>y</key>
			<real>-0.192448501261</real>
			<key>z</key>
			<real>1.23531053772</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hole10</key>
		<dict>
			<key>x</key>
			<real>-8.908468243210001</real>
			<key>y</key>
			<real>-0.192448501261</real>
			<key>z</key>
			<real>-8.531935468149999</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hole11</key>
		<dict>
			<key>x</key>
			<real>7.61899472845</real>
			<key>y</key>
			<real>-0.0215930508912</real>
			<key>z</key>
			<real>-11.5855481276</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hole12</key>
		<dict>
			<key>x</key>
			<real>-3.7245704933</real>
			<key>y</key>
			<real>0.130508671584</real>
			<key>z</key>
			<real>-11.4801307994</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>pCylinder66</key>
		<dict>
			<key>x</key>
			<real>-7.31683981822</real>
			<key>y</key>
			<real>-0.0769959944457</real>
			<key>z</key>
			<real>-0.970392753227</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>pCylinder67</key>
		<dict>
			<key>x</key>
			<real>-4.14099732064</real>
			<key>y</key>
			<real>-0.0769959944457</real>
			<key>z</key>
			<real>10.7694397224</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>GasCan4</key>
		<dict>
			<key>x</key>
			<real>-8.59642120214</real>
			<key>y</key>
			<real>0.395224700364</real>
			<key>z</key>
			<real>3.2694048513</real>
			<key>type</key>
			<string>gasCan</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.84790168923</real>
			<key>sy</key>
			<real>0.84790168923</real>
			<key>sz</key>
			<real>0.84790168923</real>
		</dict>
		<key>GasCan6</key>
		<dict>
			<key>x</key>
			<real>0.767626384793</real>
			<key>y</key>
			<real>1.20791671008</real>
			<key>z</key>
			<real>-8.6060259984</real>
			<key>type</key>
			<string>gasCan</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.84790168923</real>
			<key>sy</key>
			<real>0.84790168923</real>
			<key>sz</key>
			<real>0.84790168923</real>
		</dict>
		<key>TombStone1</key>
		<dict>
			<key>x</key>
			<real>-7.05522992975</real>
			<key>y</key>
			<real>3.41060513165e-15</real>
			<key>z</key>
			<real>6.91821094098</real>
			<key>type</key>
			<string>tombStone</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.797617255959</real>
			<key>sy</key>
			<real>0.797617255959</real>
			<key>sz</key>
			<real>0.797617255959</real>
		</dict>
		<key>TombStone2</key>
		<dict>
			<key>x</key>
			<real>-7.13313287761</real>
			<key>y</key>
			<real>2.27373675443e-15</real>
			<key>z</key>
			<real>10.9796573082</real>
			<key>type</key>
			<string>tombStone</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.797617255959</real>
			<key>sy</key>
			<real>0.797617255959</real>
			<key>sz</key>
			<real>0.797617255959</real>
		</dict>
		<key>TombStone3</key>
		<dict>
			<key>x</key>
			<real>-8.66981246307</real>
			<key>y</key>
			<real>3.41060513165e-15</real>
			<key>z</key>
			<real>-11.155794168</real>
			<key>type</key>
			<string>tombStone</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.797617255959</real>
			<key>sy</key>
			<real>0.797617255959</real>
			<key>sz</key>
			<real>0.797617255959</real>
		</dict>
		<key>TombStone4</key>
		<dict>
			<key>x</key>
			<real>-1.60767580529</real>
			<key>y</key>
			<real>1.13686837722e-15</real>
			<key>z</key>
			<real>-7.22952956589</real>
			<key>type</key>
			<string>tombStone</string>
			<key>ry</key>
			<real>-0.221293564122</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.797617255959</real>
			<key>sy</key>
			<real>0.797617255959</real>
			<key>sz</key>
			<real>0.797617255959</real>
		</dict>
		<key>TombStone5</key>
		<dict>
			<key>x</key>
			<real>-0.807141513949</real>
			<key>y</key>
			<real>1.13686837722e-15</real>
			<key>z</key>
			<real>-11.155794168</real>
			<key>type</key>
			<string>tombStone</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.797617255959</real>
			<key>sy</key>
			<real>0.797617255959</real>
			<key>sz</key>
			<real>0.797617255959</real>
		</dict>
		<key>GasCan7</key>
		<dict>
			<key>x</key>
			<real>8.45207287139</real>
			<key>y</key>
			<real>1.20791671008</real>
			<key>z</key>
			<real>-4.15944818611</real>
			<key>type</key>
			<string>gasCan</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.84790168923</real>
			<key>sy</key>
			<real>0.84790168923</real>
			<key>sz</key>
			<real>0.84790168923</real>
		</dict>
		<key>GasCan8</key>
		<dict>
			<key>x</key>
			<real>8.29790285278</real>
			<key>y</key>
			<real>1.20791671008</real>
			<key>z</key>
			<real>9.767243495020001</real>
			<key>type</key>
			<string>gasCan</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.84790168923</real>
			<key>sy</key>
			<real>0.84790168923</real>
			<key>sz</key>
			<real>0.84790168923</real>
		</dict>
		<key>GasCan9</key>
		<dict>
			<key>x</key>
			<real>5.24866683948</real>
			<key>y</key>
			<real>1.20791671008</real>
			<key>z</key>
			<real>2.92749159456</real>
			<key>type</key>
			<string>gasCan</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.84790168923</real>
			<key>sy</key>
			<real>0.84790168923</real>
			<key>sz</key>
			<real>0.84790168923</real>
		</dict>
		<key>TombStone6</key>
		<dict>
			<key>x</key>
			<real>4.525859497</real>
			<key>y</key>
			<real>0</real>
			<key>z</key>
			<real>-14.3543326459</real>
			<key>type</key>
			<string>tombStone</string>
			<key>ry</key>
			<real>-0.23659240432</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.797617255959</real>
			<key>sy</key>
			<real>0.797617255959</real>
			<key>sz</key>
			<real>0.797617255959</real>
		</dict>
		<key>TombStone7</key>
		<dict>
			<key>x</key>
			<real>2.08654389238</real>
			<key>y</key>
			<real>1.13686837722e-15</real>
			<key>z</key>
			<real>-14.6990523093</real>
			<key>type</key>
			<string>tombStone</string>
			<key>ry</key>
			<real>-0.207890940458</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.797617255959</real>
			<key>sy</key>
			<real>0.797617255959</real>
			<key>sz</key>
			<real>0.797617255959</real>
		</dict>
		<key>TombStone8</key>
		<dict>
			<key>x</key>
			<real>6.79552099082</real>
			<key>y</key>
			<real>0</real>
			<key>z</key>
			<real>-14.4984381376</real>
			<key>type</key>
			<string>tombStone</string>
			<key>ry</key>
			<real>-0.23659240432</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.797617255959</real>
			<key>sy</key>
			<real>0.797617255959</real>
			<key>sz</key>
			<real>0.797617255959</real>
		</dict>
		<key>pCylinder68</key>
		<dict>
			<key>x</key>
			<real>-6.70135287773</real>
			<key>y</key>
			<real>-0.0769959944457</real>
			<key>z</key>
			<real>-2.12443076665</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>pCylinder69</key>
		<dict>
			<key>x</key>
			<real>-6.1628018048</real>
			<key>y</key>
			<real>-0.0769959944457</real>
			<key>z</key>
			<real>-0.893456885666</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>pCylinder70</key>
		<dict>
			<key>x</key>
			<real>-3.85472577796</real>
			<key>y</key>
			<real>-0.0769959944457</real>
			<key>z</key>
			<real>5.9538353273</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>pCylinder71</key>
		<dict>
			<key>x</key>
			<real>-3.2177669099</real>
			<key>y</key>
			<real>-0.0769959944457</real>
			<key>z</key>
			<real>11.2310549277</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>GasCan10</key>
		<dict>
			<key>x</key>
			<real>-4.59575608895</real>
			<key>y</key>
			<real>0.395224700364</real>
			<key>z</key>
			<real>13.9634904423</real>
			<key>type</key>
			<string>gasCan</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.84790168923</real>
			<key>sy</key>
			<real>0.84790168923</real>
			<key>sz</key>
			<real>0.84790168923</real>
		</dict>
	</dict>
	<key>LevelControl</key>
	<dict>
		<key>NumCombos</key>
		<integer>2</integer>
		<key>NumGopherLives</key>
		<integer>30</integer>
		<key>Background</key>
		<string>Graveyard</string>
		<key>GamePlayMode</key>
		<integer>7</integer>
		<key>ScoreMode</key>
		<integer>0</integer>
		<key>NumBalls</key>
		<integer>-1</integer>
		<key>BallTypes</key>
		<integer>1</integer>
		<key>XBounds</key>
		<real>10</real>
		<key>ZBounds</key>
		<real>15</real>
		<key>CollisionAvoidance</key>
		<integer>0</integer>
		<key>SpawnIntervals</key>
		<array>
			<dict>
				<key>Time</key>
				<real>0</real>
				<key>Gophers</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>10</real>
				<key>Gophers</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>20</real>
				<key>Gophers</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>30</real>
				<key>Gophers</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>40</real>
				<key>Gophers</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>45</real>
				<key>Gophers</key>
				<integer>6</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>50</real>
				<key>Gophers</key>
				<integer>7</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>60</real>
				<key>Gophers</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>75</real>
				<key>Gophers</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>80</real>
				<key>Gophers</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>90</real>
				<key>Gophers</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>95</real>
				<key>Gophers</key>
				<integer>6</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>100</real>
				<key>Gophers</key>
				<integer>7</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>110</real>
				<key>Gophers</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<key>GeneratedObjects</key>
	<dict>
		<key>Gopher</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.25</real>
		</dict>
		<key>Gopher1</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.25</real>
		</dict>
		<key>Cannon</key>
		<dict>
			<key>type</key>
			<string>cannon</string>
			<key>scale</key>
			<real>1</real>
			<key>x</key>
			<real>-0.924094352423</real>
			<key>y</key>
			<real>1.5</real>
			<key>z</key>
			<real>-0.883821614362</real>
			<key>rotationOffset</key>
			<real>3.1415965</real>
			<key>rotationBoundUpper</key>
			<real>8.93609671111</real>
			<key>rotationBoundLower</key>
			<real>-8.93609671111</real>
		</dict>
		<key>Gopher2</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.25</real>
		</dict>
		<key>Gopher3</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.25</real>
		</dict>
		<key>Gopher4</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.25</real>
		</dict>
		<key>Gopher5</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.25</real>
		</dict>
		<key>Gopher6</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.25</real>
		</dict>
		<key>Gopher7</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.25</real>
		</dict>
	</dict>
</dict>
</plist>
