<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LayoutObjects</key>
	<dict>
		<key>Hole1</key>
		<dict>
			<key>x</key>
			<real>5.83873693451</real>
			<key>y</key>
			<real>0.187380694283</real>
			<key>z</key>
			<real>13.0510890736</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>pCylinder52</key>
		<dict>
			<key>x</key>
			<real>-5.11797581023</real>
			<key>y</key>
			<real>-0.165160920882</real>
			<key>z</key>
			<real>0.173667933661</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>pCylinder47</key>
		<dict>
			<key>x</key>
			<real>3.83967024565</real>
			<key>y</key>
			<real>-1.13686837722e-15</real>
			<key>z</key>
			<real>-5.89065007414</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>pCylinder44</key>
		<dict>
			<key>x</key>
			<real>3.61416728081</real>
			<key>y</key>
			<real>-0.16121418025</real>
			<key>z</key>
			<real>2.22226584211</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>pCylinder38</key>
		<dict>
			<key>x</key>
			<real>-4.63572214939</real>
			<key>y</key>
			<real>-0.0769959944457</real>
			<key>z</key>
			<real>-1.53994475511</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hole2</key>
		<dict>
			<key>x</key>
			<real>-6.94571855791</real>
			<key>y</key>
			<real>-0.192448501261</real>
			<key>z</key>
			<real>8.69654789827</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hole3</key>
		<dict>
			<key>x</key>
			<real>8.478810542210001</real>
			<key>y</key>
			<real>0.0661717231575</real>
			<key>z</key>
			<real>-2.93005161853</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hole4</key>
		<dict>
			<key>x</key>
			<real>-5.6330931868</real>
			<key>y</key>
			<real>0.130508671584</real>
			<key>z</key>
			<real>-10.5965712444</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hole5</key>
		<dict>
			<key>x</key>
			<real>6.12874940166</real>
			<key>y</key>
			<real>-0.0215930508912</real>
			<key>z</key>
			<real>-11.9995051628</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>pCylinder53</key>
		<dict>
			<key>x</key>
			<real>3.83669051297</real>
			<key>y</key>
			<real>-0.118812862016</real>
			<key>z</key>
			<real>0.363776419648</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hole6</key>
		<dict>
			<key>x</key>
			<real>8.235926628330001</real>
			<key>y</key>
			<real>0.571270454232</real>
			<key>z</key>
			<real>0.583200830176</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>pCylinder55</key>
		<dict>
			<key>x</key>
			<real>-2.23121555616</real>
			<key>y</key>
			<real>0.0757555548764</real>
			<key>z</key>
			<real>6.14563000964</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>pCylinder56</key>
		<dict>
			<key>x</key>
			<real>1.99639735839</real>
			<key>y</key>
			<real>0.109380656122</real>
			<key>z</key>
			<real>-11.3496027308</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>pCylinder57</key>
		<dict>
			<key>x</key>
			<real>-3.90832531111</real>
			<key>y</key>
			<real>-0.0874551270412</real>
			<key>z</key>
			<real>-0.111061779632</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>pCylinder58</key>
		<dict>
			<key>x</key>
			<real>3.84148888223</real>
			<key>y</key>
			<real>-0.147803443303</real>
			<key>z</key>
			<real>1.44704527508</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>pCylinder59</key>
		<dict>
			<key>x</key>
			<real>3.86279345942</real>
			<key>y</key>
			<real>0.20087571732</real>
			<key>z</key>
			<real>-6.78661459661</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>pCylinder60</key>
		<dict>
			<key>x</key>
			<real>2.41394383615</real>
			<key>y</key>
			<real>0.20087571732</real>
			<key>z</key>
			<real>-6.82801030013</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>pCylinder61</key>
		<dict>
			<key>x</key>
			<real>2.82309408936</real>
			<key>y</key>
			<real>0.276523475794</real>
			<key>z</key>
			<real>-11.8263745595</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>pCylinder62</key>
		<dict>
			<key>x</key>
			<real>3.03280228694</real>
			<key>y</key>
			<real>0.118426545325</real>
			<key>z</key>
			<real>-11.0284074886</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>pCylinder64</key>
		<dict>
			<key>x</key>
			<real>-4.934386817</real>
			<key>y</key>
			<real>-0.141927565232</real>
			<key>z</key>
			<real>-0.816413757968</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>pCylinder65</key>
		<dict>
			<key>x</key>
			<real>2.98588384003</real>
			<key>y</key>
			<real>-0.147803443303</real>
			<key>z</key>
			<real>1.77341037557</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hole7</key>
		<dict>
			<key>x</key>
			<real>7.60592089768</real>
			<key>y</key>
			<real>0.187380694283</real>
			<key>z</key>
			<real>11.4280808264</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hole8</key>
		<dict>
			<key>x</key>
			<real>7.30622152346</real>
			<key>y</key>
			<real>0.187380694283</real>
			<key>z</key>
			<real>13.3609124568</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hole9</key>
		<dict>
			<key>x</key>
			<real>-9.03839417807</real>
			<key>y</key>
			<real>-0.192448501261</real>
			<key>z</key>
			<real>5.8514625914</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hole10</key>
		<dict>
			<key>x</key>
			<real>-8.908468243210001</real>
			<key>y</key>
			<real>-0.192448501261</real>
			<key>z</key>
			<real>-8.531935468149999</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hole11</key>
		<dict>
			<key>x</key>
			<real>7.61899472845</real>
			<key>y</key>
			<real>-0.0215930508912</real>
			<key>z</key>
			<real>-11.5855481276</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hole12</key>
		<dict>
			<key>x</key>
			<real>-3.7245704933</real>
			<key>y</key>
			<real>0.130508671584</real>
			<key>z</key>
			<real>-11.4801307994</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>pCylinder66</key>
		<dict>
			<key>x</key>
			<real>-5.84385882646</real>
			<key>y</key>
			<real>-0.0769959944457</real>
			<key>z</key>
			<real>-0.883746812535</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>pCylinder67</key>
		<dict>
			<key>x</key>
			<real>-2.59609563039</real>
			<key>y</key>
			<real>-0.0769959944457</real>
			<key>z</key>
			<real>7.13143702754</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>GasCan4</key>
		<dict>
			<key>x</key>
			<real>-8.59642120214</real>
			<key>y</key>
			<real>0.395224700364</real>
			<key>z</key>
			<real>3.2694048513</real>
			<key>type</key>
			<string>gasCan</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.84790168923</real>
			<key>sy</key>
			<real>0.84790168923</real>
			<key>sz</key>
			<real>0.84790168923</real>
		</dict>
		<key>GasCan6</key>
		<dict>
			<key>x</key>
			<real>0.5894019222620001</real>
			<key>y</key>
			<real>1.20791671008</real>
			<key>z</key>
			<real>-10.2748589243</real>
			<key>type</key>
			<string>gasCan</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.84790168923</real>
			<key>sy</key>
			<real>0.84790168923</real>
			<key>sz</key>
			<real>0.84790168923</real>
		</dict>
		<key>TombStone2</key>
		<dict>
			<key>x</key>
			<real>-7.13313287761</real>
			<key>y</key>
			<real>2.27373675443e-15</real>
			<key>z</key>
			<real>10.9796573082</real>
			<key>type</key>
			<string>tombStone</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.797617255959</real>
			<key>sy</key>
			<real>0.797617255959</real>
			<key>sz</key>
			<real>0.797617255959</real>
		</dict>
		<key>TombStone3</key>
		<dict>
			<key>x</key>
			<real>-8.66981246307</real>
			<key>y</key>
			<real>3.41060513165e-15</real>
			<key>z</key>
			<real>-11.155794168</real>
			<key>type</key>
			<string>tombStone</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.797617255959</real>
			<key>sy</key>
			<real>0.797617255959</real>
			<key>sz</key>
			<real>0.797617255959</real>
		</dict>
		<key>TombStone5</key>
		<dict>
			<key>x</key>
			<real>-0.807141513949</real>
			<key>y</key>
			<real>1.13686837722e-15</real>
			<key>z</key>
			<real>-11.155794168</real>
			<key>type</key>
			<string>tombStone</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.797617255959</real>
			<key>sy</key>
			<real>0.797617255959</real>
			<key>sz</key>
			<real>0.797617255959</real>
		</dict>
		<key>GasCan7</key>
		<dict>
			<key>x</key>
			<real>8.45207287139</real>
			<key>y</key>
			<real>1.20791671008</real>
			<key>z</key>
			<real>-4.15944818611</real>
			<key>type</key>
			<string>gasCan</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.84790168923</real>
			<key>sy</key>
			<real>0.84790168923</real>
			<key>sz</key>
			<real>0.84790168923</real>
		</dict>
		<key>GasCan8</key>
		<dict>
			<key>x</key>
			<real>8.29790285278</real>
			<key>y</key>
			<real>1.20791671008</real>
			<key>z</key>
			<real>9.767243495020001</real>
			<key>type</key>
			<string>gasCan</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.84790168923</real>
			<key>sy</key>
			<real>0.84790168923</real>
			<key>sz</key>
			<real>0.84790168923</real>
		</dict>
		<key>GasCan9</key>
		<dict>
			<key>x</key>
			<real>2.38376224773</real>
			<key>y</key>
			<real>1.20791671008</real>
			<key>z</key>
			<real>12.5513405582</real>
			<key>type</key>
			<string>gasCan</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.84790168923</real>
			<key>sy</key>
			<real>0.84790168923</real>
			<key>sz</key>
			<real>0.84790168923</real>
		</dict>
		<key>GasCan10</key>
		<dict>
			<key>x</key>
			<real>-8.81496921297</real>
			<key>y</key>
			<real>1.20791671008</real>
			<key>z</key>
			<real>-7.24284855832</real>
			<key>type</key>
			<string>gasCan</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.84790168923</real>
			<key>sy</key>
			<real>0.84790168923</real>
			<key>sz</key>
			<real>0.84790168923</real>
		</dict>
		<key>TombStone6</key>
		<dict>
			<key>x</key>
			<real>2.05528578869</real>
			<key>y</key>
			<real>1.13686837722e-15</real>
			<key>z</key>
			<real>-15.2748968718</real>
			<key>type</key>
			<string>tombStone</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.797617255959</real>
			<key>sy</key>
			<real>0.797617255959</real>
			<key>sz</key>
			<real>0.797617255959</real>
		</dict>
		<key>TombStone7</key>
		<dict>
			<key>x</key>
			<real>-9.96697534816</real>
			<key>y</key>
			<real>3.41060513165e-15</real>
			<key>z</key>
			<real>-0.713583597021</real>
			<key>type</key>
			<string>tombStone</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.797617255959</real>
			<key>sy</key>
			<real>0.797617255959</real>
			<key>sz</key>
			<real>0.797617255959</real>
		</dict>
	</dict>
	<key>LevelControl</key>
	<dict>
		<key>NumCombos</key>
		<integer>2</integer>
		<key>NumGopherLives</key>
		<integer>30</integer>
		<key>Background</key>
		<string>Graveyard</string>
		<key>GamePlayMode</key>
		<integer>7</integer>
		<key>ScoreMode</key>
		<integer>0</integer>
		<key>NumBalls</key>
		<integer>-1</integer>
		<key>BallTypes</key>
		<integer>1</integer>
		<key>XBounds</key>
		<real>10</real>
		<key>ZBounds</key>
		<real>15</real>
		<key>CollisionAvoidance</key>
		<integer>0</integer>
		<key>SpawnIntervals</key>
		<array>
			<dict>
				<key>Time</key>
				<real>0</real>
				<key>Gophers</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>10</real>
				<key>Gophers</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>20</real>
				<key>Gophers</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>30</real>
				<key>Gophers</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>40</real>
				<key>Gophers</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>45</real>
				<key>Gophers</key>
				<integer>6</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>50</real>
				<key>Gophers</key>
				<integer>7</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>60</real>
				<key>Gophers</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>75</real>
				<key>Gophers</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>80</real>
				<key>Gophers</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>90</real>
				<key>Gophers</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>95</real>
				<key>Gophers</key>
				<integer>6</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>100</real>
				<key>Gophers</key>
				<integer>7</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>110</real>
				<key>Gophers</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<key>GeneratedObjects</key>
	<dict>
		<key>Gopher</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.25</real>
		</dict>
		<key>Gopher1</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.25</real>
		</dict>
		<key>Cannon</key>
		<dict>
			<key>type</key>
			<string>cannon</string>
			<key>scale</key>
			<real>1</real>
			<key>x</key>
			<real>-0.924094352423</real>
			<key>y</key>
			<real>1.5</real>
			<key>z</key>
			<real>-0.883821614362</real>
			<key>rotationOffset</key>
			<real>3.1415965</real>
			<key>rotationBoundUpper</key>
			<real>8.93609671111</real>
			<key>rotationBoundLower</key>
			<real>-8.93609671111</real>
		</dict>
		<key>Gopher2</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.25</real>
		</dict>
		<key>Gopher3</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.25</real>
		</dict>
		<key>Gopher4</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.25</real>
		</dict>
		<key>Gopher5</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.25</real>
		</dict>
		<key>Gopher6</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.25</real>
		</dict>
		<key>Gopher7</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.25</real>
		</dict>
	</dict>
</dict>
</plist>
