<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">

<dict>
	<key>LayoutObjects</key>
	<dict>
		<key>Carrot1</key>
		<dict>
			<key>x</key>
			<real>-8.51779301564</real>
			<key>y</key>
			<real>1.13686837722e-015</real>
			<key>z</key>
			<real>-1.89367067458</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Carrot2</key>
		<dict>
			<key>x</key>
			<real>-6.78298474232</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-1.97244503141</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge5</key>
		<dict>
			<key>x</key>
			<real>0.191063169793</real>
			<key>y</key>
			<real>2.0</real>
			<key>z</key>
			<real>-9.91514159364</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>4.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge7</key>
		<dict>
			<key>x</key>
			<real>5.36791549366</real>
			<key>y</key>
			<real>2.0</real>
			<key>z</key>
			<real>-9.3773874638</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>4.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge14</key>
		<dict>
			<key>x</key>
			<real>-0.253713676822</real>
			<key>y</key>
			<real>2.0</real>
			<key>z</key>
			<real>-2.66708852768</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>4.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge15</key>
		<dict>
			<key>x</key>
			<real>-0.253713676822</real>
			<key>y</key>
			<real>2.0</real>
			<key>z</key>
			<real>1.26626176114</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>4.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge18</key>
		<dict>
			<key>x</key>
			<real>-0.253713676822</real>
			<key>y</key>
			<real>2.0</real>
			<key>z</key>
			<real>4.42202329875</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>4.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge19</key>
		<dict>
			<key>x</key>
			<real>-0.253713676822</real>
			<key>y</key>
			<real>2.0</real>
			<key>z</key>
			<real>8.35537358758</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>4.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge20</key>
		<dict>
			<key>x</key>
			<real>-0.207379612597</real>
			<key>y</key>
			<real>2.0</real>
			<key>z</key>
			<real>-6.51281585837</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>4.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hole1</key>
		<dict>
			<key>x</key>
			<real>-8.07881536194</real>
			<key>y</key>
			<real>1.13686837722e-015</real>
			<key>z</key>
			<real>-10.5300607883</real>
			<key>type</key>
			<string>hole</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge27</key>
		<dict>
			<key>x</key>
			<real>5.34423844864</real>
			<key>y</key>
			<real>2.0</real>
			<key>z</key>
			<real>-2.15936213967</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>4.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge28</key>
		<dict>
			<key>x</key>
			<real>5.34423844864</real>
			<key>y</key>
			<real>2.0</real>
			<key>z</key>
			<real>1.77398814916</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>4.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge29</key>
		<dict>
			<key>x</key>
			<real>5.34423844864</real>
			<key>y</key>
			<real>2.0</real>
			<key>z</key>
			<real>4.92974968676</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>4.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge30</key>
		<dict>
			<key>x</key>
			<real>5.22924220567</real>
			<key>y</key>
			<real>2.0</real>
			<key>z</key>
			<real>8.86309997559</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>4.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge31</key>
		<dict>
			<key>x</key>
			<real>5.39057251286</real>
			<key>y</key>
			<real>2.0</real>
			<key>z</key>
			<real>-6.00508947035</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>4.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>SpinFence1</key>
		<dict>
			<key>x</key>
			<real>2.4140962293</real>
			<key>y</key>
			<real>2.0</real>
			<key>z</key>
			<real>2.95011227669</real>
			<key>type</key>
			<string>spinner1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>4.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower1</key>
		<dict>
			<key>x</key>
			<real>1.2697987138</real>
			<key>y</key>
			<real>-1.13686837722e-015</real>
			<key>z</key>
			<real>-11.9973947252</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge34</key>
		<dict>
			<key>x</key>
			<real>5.15710902619</real>
			<key>y</key>
			<real>2.0</real>
			<key>z</key>
			<real>12.8109916558</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>4.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge35</key>
		<dict>
			<key>x</key>
			<real>-0.750330719311</real>
			<key>y</key>
			<real>2.0</real>
			<key>z</key>
			<real>-13.033965301</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>4.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge38</key>
		<dict>
			<key>x</key>
			<real>-4.92752661758</real>
			<key>y</key>
			<real>2.0</real>
			<key>z</key>
			<real>1.77398814916</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>4.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge39</key>
		<dict>
			<key>x</key>
			<real>-4.92752661758</real>
			<key>y</key>
			<real>2.0</real>
			<key>z</key>
			<real>4.92974968676</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>4.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge40</key>
		<dict>
			<key>x</key>
			<real>-5.04252286055</real>
			<key>y</key>
			<real>2.0</real>
			<key>z</key>
			<real>8.86309997559</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>4.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge43</key>
		<dict>
			<key>x</key>
			<real>-5.11465604002</real>
			<key>y</key>
			<real>2.0</real>
			<key>z</key>
			<real>12.8109916558</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>4.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Pot1</key>
		<dict>
			<key>x</key>
			<real>1.51930461039</real>
			<key>y</key>
			<real>-1.13686837722e-015</real>
			<key>z</key>
			<real>11.2066536578</real>
			<key>type</key>
			<string>pot1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge45</key>
		<dict>
			<key>x</key>
			<real>-5.08100626345</real>
			<key>y</key>
			<real>2.0</real>
			<key>z</key>
			<real>-5.83597344784</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>4.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge46</key>
		<dict>
			<key>x</key>
			<real>-5.08100626345</real>
			<key>y</key>
			<real>2.0</real>
			<key>z</key>
			<real>-1.90262315901</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>4.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>SpinFence2</key>
		<dict>
			<key>x</key>
			<real>-3.54459305732</real>
			<key>y</key>
			<real>2.0</real>
			<key>z</key>
			<real>-9.79695720988</real>
			<key>type</key>
			<string>spinner1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>4.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Pot2</key>
		<dict>
			<key>x</key>
			<real>-2.35067072617</real>
			<key>y</key>
			<real>-1.13686837722e-015</real>
			<key>z</key>
			<real>-14.0339087851</real>
			<key>type</key>
			<string>pot1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Carrot3</key>
		<dict>
			<key>x</key>
			<real>-7.62670052781</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-0.824359689189</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
	</dict>
	<key>LevelControl</key>
	<dict>
		<key>NumCombos</key>
		<integer>2</integer>
		<key>NumGopherLives</key>
		<integer>1</integer>
		<key>Background</key>
		<string>Intro</string>
		<key>GamePlayMode</key>
		<integer>4</integer>
		<key>ScoreMode</key>
		<integer>0</integer>
		<key>NumBalls</key>
		<integer>-1</integer>
		<key>BallTypes</key>
		<integer>1</integer>
		<key>XBounds</key>
		<real>10</real>
		<key>ZBounds</key>
		<real>15</real>
		<key>BallSpawnX</key>
		<real>8.0</real>
		<key>BallSpawnZ</key>
		<real>12.0</real>
			<key>CarrotSearchDistance</key>
			<real>10.0</real>
		<key>SpawnIntervals</key>
		<array>
			<dict>
				<key>Time</key>
				<real>0.0</real>
				<key>Gophers</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>1000.0</real>
				<key>Gophers</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<key>GeneratedObjects</key>
	<dict>
		<key>Gopher</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.25</real>
		</dict>
		<key>Ball</key>
		<dict>
			<key>type</key>
			<string>ball</string>
			<key>scale</key>
			<real>0.5</real>
			<key>ballType</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
