<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>group</key>
		<true/>
		<key>title</key>
		<string>Beginner</string>
	</dict>
	<dict>
		<key>colorID</key>
		<integer>0</integer>
		<key>filename</key>
		<string>Intro1.plist</string>
		<key>title</key>
		<string>Welcome</string>
	</dict>
	<dict>
		<key>colorID</key>
		<integer>0</integer>
		<key>filename</key>
		<string>Intro2.plist</string>
		<key>title</key>
		<string>to</string>
	</dict>
	<dict>
		<key>colorID</key>
		<integer>0</integer>
		<key>filename</key>
		<string>Spinner0.plist</string>
		<key>title</key>
		<string>Gopher</string>
	</dict>
	<dict>
		<key>colorID</key>
		<integer>0</integer>
		<key>filename</key>
		<string>Spinner1.plist</string>
		<key>title</key>
		<string>Go</string>
	</dict>
	<dict>
		<key>colorID</key>
		<integer>0</integer>
		<key>filename</key>
		<string>Intro3.plist</string>
		<key>title</key>
		<string>Boom</string>
	</dict>
	<dict>
		<key>group</key>
		<true/>
		<key>title</key>
		<string>Intermediate</string>
	</dict>
	<dict>
		<key>colorID</key>
		<integer>0</integer>
		<key>filename</key>
		<string>RaceQuads.plist</string>
		<key>title</key>
		<string>Quads</string>
	</dict>
	<dict>
		<key>colorID</key>
		<integer>0</integer>
		<key>filename</key>
		<string>EasySPath.plist</string>
		<key>title</key>
		<string>S Path</string>
	</dict>
	<dict>
		<key>colorID</key>
		<integer>1</integer>
		<key>filename</key>
		<string>CropRace2.plist</string>
		<key>title</key>
		<string>Crop Circles!</string>
	</dict>
	<dict>
		<key>colorID</key>
		<integer>0</integer>
		<key>filename</key>
		<string>RaceMaze1.plist</string>
		<key>title</key>
		<string>Maize Race</string>
	</dict>
	<dict>
		<key>colorID</key>
		<integer>0</integer>
		<key>filename</key>
		<string>DoubleEasy.plist</string>
		<key>title</key>
		<string>Intro Part 2</string>
	</dict>
	<dict>
		<key>colorID</key>
		<integer>0</integer>
		<key>filename</key>
		<string>DoubleEasyMed.plist</string>
		<key>title</key>
		<string>Two for the Road</string>
	</dict>
	<dict>
		<key>colorID</key>
		<integer>2</integer>
		<key>filename</key>
		<string>CropRace3.plist</string>
		<key>title</key>
		<string>Double Trouble</string>
	</dict>
	<dict>
		<key>colorID</key>
		<integer>0</integer>
		<key>filename</key>
		<string>GasCan1.plist</string>
		<key>title</key>
		<string>Trickery</string>
	</dict>
	<dict>
		<key>colorID</key>
		<integer>0</integer>
		<key>filename</key>
		<string>GasCan2.plist</string>
		<key>title</key>
		<string>Gas Can Alley</string>
	</dict>
	<dict>
		<key>colorID</key>
		<integer>0</integer>
		<key>filename</key>
		<string>Aliens.plist</string>
		<key>title</key>
		<string>Aliens</string>
	</dict>
	<dict>
		<key>group</key>
		<true/>
		<key>title</key>
		<string>Big</string>
	</dict>
	<dict>
		<key>colorID</key>
		<integer>0</integer>
		<key>filename</key>
		<string>TikiRoller1.plist</string>
		<key>title</key>
		<string>Family Vacation</string>
	</dict>
	<dict>
		<key>colorID</key>
		<integer>0</integer>
		<key>filename</key>
		<string>TikiEasy.plist</string>
		<key>title</key>
		<string>To The Island!</string>
	</dict>
	<dict>
		<key>colorID</key>
		<integer>1</integer>
		<key>filename</key>
		<string>YuppieEasy.plist</string>
		<key>title</key>
		<string>Rodent Removal</string>
	</dict>
	<dict>
		<key>colorID</key>
		<integer>1</integer>
		<key>filename</key>
		<string>YuppieGarden4.plist</string>
		<key>title</key>
		<string>Moar Gophers</string>
	</dict>
	<dict>
		<key>colorID</key>
		<integer>2</integer>
		<key>filename</key>
		<string>YuppieGarden8.plist</string>
		<key>title</key>
		<string>Lost Again!</string>
	</dict>
	<dict>
		<key>group</key>
		<true/>
		<key>title</key>
		<string>Hard</string>
	</dict>
	<dict>
		<key>colorID</key>
		<integer>0</integer>
		<key>filename</key>
		<string>CropCircles9.plist</string>
		<key>title</key>
		<string>Too Many Gophers</string>
	</dict>
	<dict>
		<key>colorID</key>
		<integer>0</integer>
		<key>filename</key>
		<string>RaceLongs.plist</string>
		<key>title</key>
		<string>Longs</string>
	</dict>
	<dict>
		<key>colorID</key>
		<integer>0</integer>
		<key>filename</key>
		<string>RaceAroundBlocks.plist</string>
		<key>title</key>
		<string>Around the Block</string>
	</dict>
	<dict>
		<key>colorID</key>
		<integer>0</integer>
		<key>filename</key>
		<string>RaceSPath.plist</string>
		<key>title</key>
		<string>Insanely Hard</string>
	</dict>
	<dict>
		<key>group</key>
		<true/>
		<key>title</key>
		<string>Bonus Levels</string>
	</dict>
	<dict>
		<key>bonus</key>
		<true/>
		<key>colorID</key>
		<integer>2</integer>
		<key>filename</key>
		<string>PoolTable1.plist</string>
		<key>title</key>
		<string>Billiards</string>
	</dict>
	<dict>
		<key>bonus</key>
		<true/>
		<key>colorID</key>
		<integer>2</integer>
		<key>filename</key>
		<string>Billiards2.plist</string>
		<key>title</key>
		<string>Snooker</string>
	</dict>
</array>
</plist>
