<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">

<dict>
	<key>LayoutObjects</key>
	<dict>
		<key>Carrot2</key>
		<dict>
			<key>x</key>
			<real>2.69031041352</real>
			<key>y</key>
			<real>-3.41060513165e-015</real>
			<key>z</key>
			<real>-3.48990736214</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Carrot1</key>
		<dict>
			<key>x</key>
			<real>2.16382325314</real>
			<key>y</key>
			<real>-2.27373675443e-015</real>
			<key>z</key>
			<real>-2.46895293613</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge5</key>
		<dict>
			<key>x</key>
			<real>0.0400378631153</real>
			<key>y</key>
			<real>2.0</real>
			<key>z</key>
			<real>-9.7280121712</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>4.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge14</key>
		<dict>
			<key>x</key>
			<real>0.156649283829</real>
			<key>y</key>
			<real>2.0</real>
			<key>z</key>
			<real>-2.63581428768</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>4.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge20</key>
		<dict>
			<key>x</key>
			<real>0.202983348054</real>
			<key>y</key>
			<real>2.0</real>
			<key>z</key>
			<real>-6.48154161836</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>4.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hole1</key>
		<dict>
			<key>x</key>
			<real>6.39149600475</real>
			<key>y</key>
			<real>-3.41060513165e-015</real>
			<key>z</key>
			<real>-2.48048143449</real>
			<key>type</key>
			<string>hole</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Fence3</key>
		<dict>
			<key>x</key>
			<real>3.84425383534</real>
			<key>y</key>
			<real>2.0</real>
			<key>z</key>
			<real>0.013981918078</real>
			<key>type</key>
			<string>fenceC</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>4.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Fence1</key>
		<dict>
			<key>x</key>
			<real>7.83372428135</real>
			<key>y</key>
			<real>2.0</real>
			<key>z</key>
			<real>0.013981918078</real>
			<key>type</key>
			<string>fenceC</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>4.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Fence2</key>
		<dict>
			<key>x</key>
			<real>-2.72387134617</real>
			<key>y</key>
			<real>2.0</real>
			<key>z</key>
			<real>0.301369873737</real>
			<key>type</key>
			<string>fenceC</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>4.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge42</key>
		<dict>
			<key>x</key>
			<real>0.80896432112</real>
			<key>y</key>
			<real>2.0</real>
			<key>z</key>
			<real>0.975682118391</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.44523666382</real>
			<key>sy</key>
			<real>2.89047332763</real>
			<key>sz</key>
			<real>0.361309165954</real>
		</dict>
		<key>Hedge43</key>
		<dict>
			<key>x</key>
			<real>-3.56753539744</real>
			<key>y</key>
			<real>2.0</real>
			<key>z</key>
			<real>7.737327739</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.44523666382</real>
			<key>sy</key>
			<real>2.89047332763</real>
			<key>sz</key>
			<real>0.361309165954</real>
		</dict>
		<key>Hedge44</key>
		<dict>
			<key>x</key>
			<real>3.77103840841</real>
			<key>y</key>
			<real>2.0</real>
			<key>z</key>
			<real>13.4813627374</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.44523666382</real>
			<key>sy</key>
			<real>2.89047332763</real>
			<key>sz</key>
			<real>0.361309165954</real>
		</dict>
		<key>Hedge47</key>
		<dict>
			<key>x</key>
			<real>-5.2058208746</real>
			<key>y</key>
			<real>2.0</real>
			<key>z</key>
			<real>6.95719179749</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.44523666382</real>
			<key>sy</key>
			<real>2.89047332763</real>
			<key>sz</key>
			<real>0.361309165954</real>
		</dict>
		<key>Hole8</key>
		<dict>
			<key>x</key>
			<real>-9.29755529871</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>4.43073455267</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge48</key>
		<dict>
			<key>x</key>
			<real>-5.2058208746</real>
			<key>y</key>
			<real>2.0</real>
			<key>z</key>
			<real>1.96432177185</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.44523666382</real>
			<key>sy</key>
			<real>2.89047332763</real>
			<key>sz</key>
			<real>0.361309165954</real>
		</dict>
		<key>Flower4</key>
		<dict>
			<key>x</key>
			<real>-9.01418167437</real>
			<key>y</key>
			<real>-1.13686837722e-015</real>
			<key>z</key>
			<real>-5.00088167694</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower1</key>
		<dict>
			<key>x</key>
			<real>-4.31486620961</real>
			<key>y</key>
			<real>-1.13686837722e-015</real>
			<key>z</key>
			<real>3.37525364945</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower2</key>
		<dict>
			<key>x</key>
			<real>-3.09346739806</real>
			<key>y</key>
			<real>-1.13686837722e-015</real>
			<key>z</key>
			<real>3.44710063837</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower3</key>
		<dict>
			<key>x</key>
			<real>-1.87206858652</real>
			<key>y</key>
			<real>-2.27373675443e-015</real>
			<key>z</key>
			<real>3.44710063837</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower6</key>
		<dict>
			<key>x</key>
			<real>-6.93061899584</real>
			<key>y</key>
			<real>-2.27373675443e-015</real>
			<key>z</key>
			<real>-10.2457118677</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower7</key>
		<dict>
			<key>x</key>
			<real>-7.07431297367</real>
			<key>y</key>
			<real>-2.27373675443e-015</real>
			<key>z</key>
			<real>-4.78534071019</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower8</key>
		<dict>
			<key>x</key>
			<real>-4.84705631732</real>
			<key>y</key>
			<real>-3.41060513165e-015</real>
			<key>z</key>
			<real>-4.64164673236</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower9</key>
		<dict>
			<key>x</key>
			<real>-3.05088159445</real>
			<key>y</key>
			<real>-2.27373675443e-015</real>
			<key>z</key>
			<real>-4.78534071019</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower10</key>
		<dict>
			<key>x</key>
			<real>4.16307848231</real>
			<key>y</key>
			<real>-2.27373675443e-015</real>
			<key>z</key>
			<real>-8.40765253255</real>
			<key>type</key>
			<string>pot2</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower11</key>
		<dict>
			<key>x</key>
			<real>5.38447729386</real>
			<key>y</key>
			<real>-2.27373675443e-015</real>
			<key>z</key>
			<real>-8.33580554363</real>
			<key>type</key>
			<string>pot2</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower12</key>
		<dict>
			<key>x</key>
			<real>6.60587610541</real>
			<key>y</key>
			<real>-3.41060513165e-015</real>
			<key>z</key>
			<real>-8.33580554363</real>
			<key>type</key>
			<string>pot2</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Rock5</key>
		<dict>
			<key>x</key>
			<real>5.02524234929</real>
			<key>y</key>
			<real>-3.41060513165e-015</real>
			<key>z</key>
			<real>-4.81530308681</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Rock6</key>
		<dict>
			<key>x</key>
			<real>6.32680702891</real>
			<key>y</key>
			<real>-4.54747350886e-015</real>
			<key>z</key>
			<real>-4.80913648158</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge49</key>
		<dict>
			<key>x</key>
			<real>-3.64554899159</real>
			<key>y</key>
			<real>2.0</real>
			<key>z</key>
			<real>9.45362681032</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.44523666382</real>
			<key>sy</key>
			<real>2.89047332763</real>
			<key>sz</key>
			<real>0.361309165954</real>
		</dict>
		<key>Hedge50</key>
		<dict>
			<key>x</key>
			<real>-3.56753539744</real>
			<key>y</key>
			<real>2.0</real>
			<key>z</key>
			<real>7.737327739</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.44523666382</real>
			<key>sy</key>
			<real>2.89047332763</real>
			<key>sz</key>
			<real>0.361309165954</real>
		</dict>
		<key>Hedge51</key>
		<dict>
			<key>x</key>
			<real>1.95851614375</real>
			<key>y</key>
			<real>2.0</real>
			<key>z</key>
			<real>-8.36442644051</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.44523666382</real>
			<key>sy</key>
			<real>2.89047332763</real>
			<key>sz</key>
			<real>0.361309165954</real>
		</dict>
		<key>Hedge52</key>
		<dict>
			<key>x</key>
			<real>7.06581896193</real>
			<key>y</key>
			<real>2.0</real>
			<key>z</key>
			<real>-10.5836544342</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.44523666382</real>
			<key>sy</key>
			<real>2.89047332763</real>
			<key>sz</key>
			<real>0.361309165954</real>
		</dict>
		<key>Hedge54</key>
		<dict>
			<key>x</key>
			<real>7.06581896193</real>
			<key>y</key>
			<real>2.0</real>
			<key>z</key>
			<real>-10.5836544342</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.44523666382</real>
			<key>sy</key>
			<real>2.89047332763</real>
			<key>sz</key>
			<real>0.361309165954</real>
		</dict>
		<key>Hedge55</key>
		<dict>
			<key>x</key>
			<real>2.68315263814</real>
			<key>y</key>
			<real>2.0</real>
			<key>z</key>
			<real>-13.7449219465</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.44523666382</real>
			<key>sy</key>
			<real>2.89047332763</real>
			<key>sz</key>
			<real>0.361309165954</real>
		</dict>
		<key>Hedge56</key>
		<dict>
			<key>x</key>
			<real>2.68315263814</real>
			<key>y</key>
			<real>2.0</real>
			<key>z</key>
			<real>-13.7449219465</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.44523666382</real>
			<key>sy</key>
			<real>2.89047332763</real>
			<key>sz</key>
			<real>0.361309165954</real>
		</dict>
		<key>Hedge58</key>
		<dict>
			<key>x</key>
			<real>8.71213310173</real>
			<key>y</key>
			<real>2.0</real>
			<key>z</key>
			<real>-4.70023000586</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.44523666382</real>
			<key>sy</key>
			<real>2.89047332763</real>
			<key>sz</key>
			<real>0.361309165954</real>
		</dict>
		<key>Flower13</key>
		<dict>
			<key>x</key>
			<real>3.63088837461</real>
			<key>y</key>
			<real>-4.54747350886e-015</real>
			<key>z</key>
			<real>10.0869859951</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower14</key>
		<dict>
			<key>x</key>
			<real>3.63088837461</real>
			<key>y</key>
			<real>-4.54747350886e-015</real>
			<key>z</key>
			<real>7.28495342746</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower15</key>
		<dict>
			<key>x</key>
			<real>2.69687751872</real>
			<key>y</key>
			<real>-4.54747350886e-015</real>
			<key>z</key>
			<real>5.63247268243</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower16</key>
		<dict>
			<key>x</key>
			<real>9.23495350995</real>
			<key>y</key>
			<real>-5.68434188608e-015</real>
			<key>z</key>
			<real>7.42864740529</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower17</key>
		<dict>
			<key>x</key>
			<real>8.5164836208</real>
			<key>y</key>
			<real>-5.68434188608e-015</real>
			<key>z</key>
			<real>4.84215580437</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower18</key>
		<dict>
			<key>x</key>
			<real>9.45049447669</real>
			<key>y</key>
			<real>-5.68434188608e-015</real>
			<key>z</key>
			<real>1.96827624778</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Fence4</key>
		<dict>
			<key>x</key>
			<real>-2.22094242377</real>
			<key>y</key>
			<real>2.0</real>
			<key>z</key>
			<real>-10.04459653</real>
			<key>type</key>
			<string>fenceC</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>4.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower19</key>
		<dict>
			<key>x</key>
			<real>-5.42183222863</real>
			<key>y</key>
			<real>-3.41060513165e-015</real>
			<key>z</key>
			<real>-10.2457118677</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Carrot3</key>
		<dict>
			<key>x</key>
			<real>2.83400439135</real>
			<key>y</key>
			<real>-3.41060513165e-015</real>
			<key>z</key>
			<real>-1.55003866145</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
	</dict>
	<key>LevelControl</key>
	<dict>
		<key>NumCombos</key>
		<integer>2</integer>
		<key>NumGopherLives</key>
		<integer>1</integer>
		<key>Background</key>
		<string>MazeRace</string>
		<key>GamePlayMode</key>
		<integer>4</integer>
		<key>ScoreMode</key>
		<integer>0</integer>
		<key>NumBalls</key>
		<integer>-1</integer>
		<key>BallTypes</key>
		<integer>1</integer>
		<key>XBounds</key>
		<real>10</real>
		<key>ZBounds</key>
		<real>15</real>
		<key>BallSpawnX</key>
		<real>8.0</real>
		<key>BallSpawnZ</key>
		<real>11.0</real>
			<key>CarrotSearchDistance</key>
			<real>10.0</real>
		<key>SpawnIntervals</key>
		<array>
			<dict>
				<key>Time</key>
				<real>0.0</real>
				<key>Gophers</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>1000.0</real>
				<key>Gophers</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<key>GeneratedObjects</key>
	<dict>
		<key>Gopher</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.25</real>
		</dict>
		<key>Ball</key>
		<dict>
			<key>type</key>
			<string>ball</string>
			<key>scale</key>
			<real>0.5</real>
			<key>ballType</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
