<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LayoutObjects</key>
	<dict>
		<key>Carrot2</key>
		<dict>
			<key>x</key>
			<real>7.07297673731</real>
			<key>y</key>
			<real>-3.41060513165e-15</real>
			<key>z</key>
			<real>-3.35317397287</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Carrot1</key>
		<dict>
			<key>x</key>
			<real>7.19311247717</real>
			<key>y</key>
			<real>-3.41060513165e-15</real>
			<key>z</key>
			<real>-1.90113761337</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge14</key>
		<dict>
			<key>x</key>
			<real>5.11409151894</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>5.91397739316</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.60984951175</real>
			<key>sy</key>
			<real>3.21969902349</real>
			<key>sz</key>
			<real>0.402462377937</real>
		</dict>
		<key>Hedge18</key>
		<dict>
			<key>x</key>
			<real>7.50637571475</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>5.33648742723</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>4</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hole1</key>
		<dict>
			<key>x</key>
			<real>7.90028277195</real>
			<key>y</key>
			<real>-4.54747350886e-15</real>
			<key>z</key>
			<real>2.11076526749</real>
			<key>type</key>
			<string>hole</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower12</key>
		<dict>
			<key>x</key>
			<real>15.8741376754</real>
			<key>y</key>
			<real>-5.68434188608e-15</real>
			<key>z</key>
			<real>-7.32994769883</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Carrot3</key>
		<dict>
			<key>x</key>
			<real>8.078834582120001</real>
			<key>y</key>
			<real>-3.41060513165e-15</real>
			<key>z</key>
			<real>-3.9997968731</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Carrot4</key>
		<dict>
			<key>x</key>
			<real>8.19897032197</real>
			<key>y</key>
			<real>-3.41060513165e-15</real>
			<key>z</key>
			<real>-2.5477605136</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Fence4</key>
		<dict>
			<key>x</key>
			<real>1.50185428749</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>5.75313724915</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.60984951175</real>
			<key>sy</key>
			<real>3.21969902349</real>
			<key>sz</key>
			<real>0.402462377937</real>
		</dict>
		<key>Flower22</key>
		<dict>
			<key>x</key>
			<real>-9.302928564929999</real>
			<key>y</key>
			<real>0</real>
			<key>z</key>
			<real>-13.1125451834</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower24</key>
		<dict>
			<key>x</key>
			<real>-4.31486620961</real>
			<key>y</key>
			<real>-1.13686837722e-15</real>
			<key>z</key>
			<real>14.0346745732</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower26</key>
		<dict>
			<key>x</key>
			<real>9.21439880893</real>
			<key>y</key>
			<real>-4.54747350886e-15</real>
			<key>z</key>
			<real>-14.2537886474</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower32</key>
		<dict>
			<key>x</key>
			<real>4.37909292549</real>
			<key>y</key>
			<real>-3.41060513165e-15</real>
			<key>z</key>
			<real>12.2773988002</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower34</key>
		<dict>
			<key>x</key>
			<real>9.815188911970001</real>
			<key>y</key>
			<real>-4.54747350886e-15</real>
			<key>z</key>
			<real>5.21589055579</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge30</key>
		<dict>
			<key>x</key>
			<real>3.11718272191</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>7.77492797881</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.60984951175</real>
			<key>sy</key>
			<real>3.21969902349</real>
			<key>sz</key>
			<real>0.402462377937</real>
		</dict>
		<key>Hedge31</key>
		<dict>
			<key>x</key>
			<real>3.31225796603</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>4.16603596247</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.60984951175</real>
			<key>sy</key>
			<real>3.21969902349</real>
			<key>sz</key>
			<real>0.402462377937</real>
		</dict>
		<key>Fence5</key>
		<dict>
			<key>x</key>
			<real>-2.88733870535</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>6.72851346978</real>
			<key>type</key>
			<string>fenceC</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.60984951175</real>
			<key>sy</key>
			<real>3.21969902349</real>
			<key>sz</key>
			<real>0.402462377937</real>
		</dict>
		<key>Hedge32</key>
		<dict>
			<key>x</key>
			<real>-1.27201027094</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>8.75030419944</real>
			<key>type</key>
			<string>fenceC</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.60984951175</real>
			<key>sy</key>
			<real>3.21969902349</real>
			<key>sz</key>
			<real>0.402462377937</real>
		</dict>
		<key>Hedge33</key>
		<dict>
			<key>x</key>
			<real>-1.07693502681</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>5.1414121831</real>
			<key>type</key>
			<string>fenceC</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.60984951175</real>
			<key>sy</key>
			<real>3.21969902349</real>
			<key>sz</key>
			<real>0.402462377937</real>
		</dict>
		<key>Hedge34</key>
		<dict>
			<key>x</key>
			<real>0.724898526094</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>6.88935361379</real>
			<key>type</key>
			<string>fenceC</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.60984951175</real>
			<key>sy</key>
			<real>3.21969902349</real>
			<key>sz</key>
			<real>0.402462377937</real>
		</dict>
		<key>Fence6</key>
		<dict>
			<key>x</key>
			<real>-6.88638120994</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>2.72947096519</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.60984951175</real>
			<key>sy</key>
			<real>3.21969902349</real>
			<key>sz</key>
			<real>0.402462377937</real>
		</dict>
		<key>Hedge35</key>
		<dict>
			<key>x</key>
			<real>-5.0759775314</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>1.14236967851</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.60984951175</real>
			<key>sy</key>
			<real>3.21969902349</real>
			<key>sz</key>
			<real>0.402462377937</real>
		</dict>
		<key>Hedge36</key>
		<dict>
			<key>x</key>
			<real>-3.2741439785</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>2.8903111092</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.60984951175</real>
			<key>sy</key>
			<real>3.21969902349</real>
			<key>sz</key>
			<real>0.402462377937</real>
		</dict>
		<key>Hedge37</key>
		<dict>
			<key>x</key>
			<real>-5.27105277553</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>4.75126169485</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.60984951175</real>
			<key>sy</key>
			<real>3.21969902349</real>
			<key>sz</key>
			<real>0.402462377937</real>
		</dict>
		<key>Flower35</key>
		<dict>
			<key>x</key>
			<real>-8.693414510089999</real>
			<key>y</key>
			<real>2.52435489671e-31</real>
			<key>z</key>
			<real>10.0440213063</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower36</key>
		<dict>
			<key>x</key>
			<real>-6.84904743067</real>
			<key>y</key>
			<real>-1.13686837722e-15</real>
			<key>z</key>
			<real>10.0356440254</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower37</key>
		<dict>
			<key>x</key>
			<real>-9.41528700514</real>
			<key>y</key>
			<real>2.52435489671e-31</real>
			<key>z</key>
			<real>14.129659373</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower38</key>
		<dict>
			<key>x</key>
			<real>4.33751770577</real>
			<key>y</key>
			<real>-3.41060513165e-15</real>
			<key>z</key>
			<real>14.129659373</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower39</key>
		<dict>
			<key>x</key>
			<real>5.25693152406</real>
			<key>y</key>
			<real>-3.41060513165e-15</real>
			<key>z</key>
			<real>8.375893917639999</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower40</key>
		<dict>
			<key>x</key>
			<real>-0.790401043855</real>
			<key>y</key>
			<real>-2.27373675443e-15</real>
			<key>z</key>
			<real>9.936495870650001</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower41</key>
		<dict>
			<key>x</key>
			<real>-0.831976263579</real>
			<key>y</key>
			<real>-2.27373675443e-15</real>
			<key>z</key>
			<real>11.6912188214</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower43</key>
		<dict>
			<key>x</key>
			<real>-7.17192169769</real>
			<key>y</key>
			<real>-1.13686837722e-15</real>
			<key>z</key>
			<real>5.2537357652</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge38</key>
		<dict>
			<key>x</key>
			<real>-7.61195570504</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>-3.73451142465</real>
			<key>type</key>
			<string>fenceC</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.60984951175</real>
			<key>sy</key>
			<real>3.21969902349</real>
			<key>sz</key>
			<real>0.402462377937</real>
		</dict>
		<key>Hedge39</key>
		<dict>
			<key>x</key>
			<real>-7.41688046092</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>-7.34340344099</real>
			<key>type</key>
			<string>fenceC</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.60984951175</real>
			<key>sy</key>
			<real>3.21969902349</real>
			<key>sz</key>
			<real>0.402462377937</real>
		</dict>
		<key>Fence7</key>
		<dict>
			<key>x</key>
			<real>-9.22728413946</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>-5.75630215431</real>
			<key>type</key>
			<string>fenceC</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.60984951175</real>
			<key>sy</key>
			<real>3.21969902349</real>
			<key>sz</key>
			<real>0.402462377937</real>
		</dict>
		<key>Hedge40</key>
		<dict>
			<key>x</key>
			<real>-5.61504690801</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>-5.59546201029</real>
			<key>type</key>
			<string>fenceC</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.60984951175</real>
			<key>sy</key>
			<real>3.21969902349</real>
			<key>sz</key>
			<real>0.402462377937</real>
		</dict>
		<key>Fence8</key>
		<dict>
			<key>x</key>
			<real>-2.88733870535</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>-4.09816257923</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.60984951175</real>
			<key>sy</key>
			<real>3.21969902349</real>
			<key>sz</key>
			<real>0.402462377937</real>
		</dict>
		<key>Hedge41</key>
		<dict>
			<key>x</key>
			<real>-1.07693502681</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>-5.68526386591</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.60984951175</real>
			<key>sy</key>
			<real>3.21969902349</real>
			<key>sz</key>
			<real>0.402462377937</real>
		</dict>
		<key>Hedge42</key>
		<dict>
			<key>x</key>
			<real>0.724898526094</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>-3.93732243522</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.60984951175</real>
			<key>sy</key>
			<real>3.21969902349</real>
			<key>sz</key>
			<real>0.402462377937</real>
		</dict>
		<key>Hedge43</key>
		<dict>
			<key>x</key>
			<real>-1.27201027094</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>-2.07637184957</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.60984951175</real>
			<key>sy</key>
			<real>3.21969902349</real>
			<key>sz</key>
			<real>0.402462377937</real>
		</dict>
		<key>Hedge44</key>
		<dict>
			<key>x</key>
			<real>-0.00402118411398</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>-6.46556484242</real>
			<key>type</key>
			<string>fenceC</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.60984951175</real>
			<key>sy</key>
			<real>3.21969902349</real>
			<key>sz</key>
			<real>0.402462377937</real>
		</dict>
		<key>Hedge45</key>
		<dict>
			<key>x</key>
			<real>0.191054060012</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>-10.0744568588</real>
			<key>type</key>
			<string>fenceC</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.60984951175</real>
			<key>sy</key>
			<real>3.21969902349</real>
			<key>sz</key>
			<real>0.402462377937</real>
		</dict>
		<key>Hedge46</key>
		<dict>
			<key>x</key>
			<real>1.99288761292</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>-8.32651542806</real>
			<key>type</key>
			<string>fenceC</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.60984951175</real>
			<key>sy</key>
			<real>3.21969902349</real>
			<key>sz</key>
			<real>0.402462377937</real>
		</dict>
		<key>Fence9</key>
		<dict>
			<key>x</key>
			<real>-1.61934961853</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>-8.48735557208</real>
			<key>type</key>
			<string>fenceC</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.60984951175</real>
			<key>sy</key>
			<real>3.21969902349</real>
			<key>sz</key>
			<real>0.402462377937</real>
		</dict>
		<key>Fence10</key>
		<dict>
			<key>x</key>
			<real>2.86738099637</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>-7.80459221764</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.60984951175</real>
			<key>sy</key>
			<real>3.21969902349</real>
			<key>sz</key>
			<real>0.402462377937</real>
		</dict>
		<key>Hedge47</key>
		<dict>
			<key>x</key>
			<real>4.67778467492</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>-9.39169350431</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.60984951175</real>
			<key>sy</key>
			<real>3.21969902349</real>
			<key>sz</key>
			<real>0.402462377937</real>
		</dict>
		<key>Hedge48</key>
		<dict>
			<key>x</key>
			<real>6.47961822782</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>-7.64375207362</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.60984951175</real>
			<key>sy</key>
			<real>3.21969902349</real>
			<key>sz</key>
			<real>0.402462377937</real>
		</dict>
		<key>Hedge49</key>
		<dict>
			<key>x</key>
			<real>4.48270943079</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>-5.78280148798</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.60984951175</real>
			<key>sy</key>
			<real>3.21969902349</real>
			<key>sz</key>
			<real>0.402462377937</real>
		</dict>
		<key>Flower44</key>
		<dict>
			<key>x</key>
			<real>5.35200306701</real>
			<key>y</key>
			<real>-3.41060513165e-15</real>
			<key>z</key>
			<real>-13.8098687771</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower45</key>
		<dict>
			<key>x</key>
			<real>0.533550445305</real>
			<key>y</key>
			<real>-2.27373675443e-15</real>
			<key>z</key>
			<real>-14.4488638916</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower46</key>
		<dict>
			<key>x</key>
			<real>-2.49011583865</real>
			<key>y</key>
			<real>-2.27373675443e-15</real>
			<key>z</key>
			<real>-11.0350471194</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower48</key>
		<dict>
			<key>x</key>
			<real>-4.05071779166</real>
			<key>y</key>
			<real>0</real>
			<key>z</key>
			<real>-11.2301223635</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower49</key>
		<dict>
			<key>x</key>
			<real>-5.41624450055</real>
			<key>y</key>
			<real>0</real>
			<key>z</key>
			<real>-11.0350471194</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower50</key>
		<dict>
			<key>x</key>
			<real>3.88893873607</real>
			<key>y</key>
			<real>-2.27373675443e-15</real>
			<key>z</key>
			<real>-13.8098687771</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower52</key>
		<dict>
			<key>x</key>
			<real>0.631088067369</real>
			<key>y</key>
			<real>-1.13686837722e-15</real>
			<key>z</key>
			<real>3.30298332394</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower53</key>
		<dict>
			<key>x</key>
			<real>-1.22212675183</real>
			<key>y</key>
			<real>-1.13686837722e-15</real>
			<key>z</key>
			<real>3.88820905632</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower54</key>
		<dict>
			<key>x</key>
			<real>-0.5393633973900001</real>
			<key>y</key>
			<real>-1.13686837722e-15</real>
			<key>z</key>
			<real>-0.9886720468420001</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower55</key>
		<dict>
			<key>x</key>
			<real>2.28922764244</real>
			<key>y</key>
			<real>-4.54747350886e-15</real>
			<key>z</key>
			<real>0.279317039979</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower56</key>
		<dict>
			<key>x</key>
			<real>4.5325929499</real>
			<key>y</key>
			<real>-5.68434188608e-15</real>
			<key>z</key>
			<real>-2.93942448811</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower57</key>
		<dict>
			<key>x</key>
			<real>4.63013057196</real>
			<key>y</key>
			<real>-5.68434188608e-15</real>
			<key>z</key>
			<real>2.52268234743</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower58</key>
		<dict>
			<key>x</key>
			<real>-9.317749383080001</real>
			<key>y</key>
			<real>2.52435489671e-31</real>
			<key>z</key>
			<real>-1.08620966891</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower59</key>
		<dict>
			<key>x</key>
			<real>-5.55707990365</real>
			<key>y</key>
			<real>-1.13686837722e-15</real>
			<key>z</key>
			<real>-3.00670070934</real>
			<key>type</key>
			<string>pot1</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge50</key>
		<dict>
			<key>x</key>
			<real>-6.9805736169</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>12.6440733155</real>
			<key>type</key>
			<string>wagon</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.60984951175</real>
			<key>sy</key>
			<real>3.21969902349</real>
			<key>sz</key>
			<real>0.882983205485</real>
		</dict>
		<key>Flower60</key>
		<dict>
			<key>x</key>
			<real>-8.132477100179999</real>
			<key>y</key>
			<real>0</real>
			<key>z</key>
			<real>-13.8928461599</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower61</key>
		<dict>
			<key>x</key>
			<real>-9.525861007410001</real>
			<key>y</key>
			<real>2.52435489671e-31</real>
			<key>z</key>
			<real>8.9340926432</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
	</dict>
	<key>LevelControl</key>
	<dict>
		<key>NumCombos</key>
		<integer>2</integer>
		<key>NumGopherLives</key>
		<integer>1</integer>
		<key>Background</key>
		<string>AroundTheBlock</string>
		<key>GamePlayMode</key>
		<integer>4</integer>
		<key>ScoreMode</key>
		<integer>0</integer>
		<key>NumBalls</key>
		<integer>-1</integer>
		<key>BallTypes</key>
		<integer>1</integer>
		<key>XBounds</key>
		<real>10</real>
		<key>ZBounds</key>
		<real>15</real>
		<key>BallSpawnX</key>
		<real>9</real>
		<key>BallSpawnZ</key>
		<real>13</real>
		<key>CarrotSearchDistance</key>
		<real>10</real>
		<key>SpawnIntervals</key>
		<array>
			<dict>
				<key>Time</key>
				<real>0</real>
				<key>Gophers</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>1000</real>
				<key>Gophers</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<key>GeneratedObjects</key>
	<dict>
		<key>Gopher</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.25</real>
		</dict>
		<key>Ball</key>
		<dict>
			<key>type</key>
			<string>ball</string>
			<key>scale</key>
			<real>0.5</real>
			<key>ballType</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
