<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LayoutObjects</key>
	<dict>
		<key>Carrot2</key>
		<dict>
			<key>x</key>
			<real>7.07297673731</real>
			<key>y</key>
			<real>-3.41060513165e-15</real>
			<key>z</key>
			<real>2.40154572886</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Carrot1</key>
		<dict>
			<key>x</key>
			<real>7.19311247717</real>
			<key>y</key>
			<real>-3.41060513165e-15</real>
			<key>z</key>
			<real>3.85358208836</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge5</key>
		<dict>
			<key>x</key>
			<real>5.13413934084</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>-1.86151670342</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>4</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge14</key>
		<dict>
			<key>x</key>
			<real>5.11409151894</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>5.91397739316</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>4</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge18</key>
		<dict>
			<key>x</key>
			<real>4.97039754111</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>9.62814279801</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>4</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge19</key>
		<dict>
			<key>x</key>
			<real>4.97039754111</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>13.5614930868</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>4</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge20</key>
		<dict>
			<key>x</key>
			<real>5.16042558316</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>2.06825006248</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>4</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hole1</key>
		<dict>
			<key>x</key>
			<real>7.90028277195</real>
			<key>y</key>
			<real>-4.54747350886e-15</real>
			<key>z</key>
			<real>7.86548496922</real>
			<key>type</key>
			<string>hole</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Fence3</key>
		<dict>
			<key>x</key>
			<real>0.0387899565418</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>-8.800539230369999</real>
			<key>type</key>
			<string>fenceC</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>4</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Fence1</key>
		<dict>
			<key>x</key>
			<real>-0.0715168757948</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>-2.78753255546</real>
			<key>type</key>
			<string>fenceC</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>4</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Fence2</key>
		<dict>
			<key>x</key>
			<real>0.0850866653917</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>-12.9003165087</real>
			<key>type</key>
			<string>fenceC</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>4</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower1</key>
		<dict>
			<key>x</key>
			<real>0.0582295539559</real>
			<key>y</key>
			<real>-2.27373675443e-15</real>
			<key>z</key>
			<real>-0.0412274158355</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Carrot3</key>
		<dict>
			<key>x</key>
			<real>8.078834582120001</real>
			<key>y</key>
			<real>-3.41060513165e-15</real>
			<key>z</key>
			<real>1.75492282863</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Carrot4</key>
		<dict>
			<key>x</key>
			<real>8.19897032197</real>
			<key>y</key>
			<real>-3.41060513165e-15</real>
			<key>z</key>
			<real>3.20695918812</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Fence4</key>
		<dict>
			<key>x</key>
			<real>0.107119577848</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>2.74716677031</real>
			<key>type</key>
			<string>fenceC</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>4</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Fence5</key>
		<dict>
			<key>x</key>
			<real>-0.00318725448905</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>9.17015117305</real>
			<key>type</key>
			<string>fenceC</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>4</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge21</key>
		<dict>
			<key>x</key>
			<real>5.06580971953</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>-9.78775277489</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>4</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge22</key>
		<dict>
			<key>x</key>
			<real>5.09209596186</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>-5.85798600899</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>4</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge25</key>
		<dict>
			<key>x</key>
			<real>-5.68902338259</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>9.62814279801</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>4</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge26</key>
		<dict>
			<key>x</key>
			<real>-5.68902338259</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>13.5614930868</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>4</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge27</key>
		<dict>
			<key>x</key>
			<real>-5.56732496184</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>4.52811642949</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.08893838259</real>
			<key>sy</key>
			<real>2.17787676518</real>
			<key>sz</key>
			<real>0.272234595647</real>
		</dict>
		<key>Hedge28</key>
		<dict>
			<key>x</key>
			<real>-5.59361120417</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>-9.65109353227</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>4</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower13</key>
		<dict>
			<key>x</key>
			<real>-3.90488848178</real>
			<key>y</key>
			<real>-1.13686837722e-15</real>
			<key>z</key>
			<real>1.80367235942</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower14</key>
		<dict>
			<key>x</key>
			<real>-3.22159226872</real>
			<key>y</key>
			<real>-1.13686837722e-15</real>
			<key>z</key>
			<real>0.095431826776</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower15</key>
		<dict>
			<key>x</key>
			<real>-4.24653658831</real>
			<key>y</key>
			<real>-1.13686837722e-15</real>
			<key>z</key>
			<real>-1.74946794848</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower16</key>
		<dict>
			<key>x</key>
			<real>-9.43958780755</real>
			<key>y</key>
			<real>0</real>
			<key>z</key>
			<real>6.86006433605</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower17</key>
		<dict>
			<key>x</key>
			<real>-9.02961007971</real>
			<key>y</key>
			<real>0</real>
			<key>z</key>
			<real>5.49347190993</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower18</key>
		<dict>
			<key>x</key>
			<real>-9.43958780755</real>
			<key>y</key>
			<real>0</real>
			<key>z</key>
			<real>4.12687948382</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower19</key>
		<dict>
			<key>x</key>
			<real>-7.04805106184</real>
			<key>y</key>
			<real>-1.13686837722e-15</real>
			<key>z</key>
			<real>1.73534273811</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower20</key>
		<dict>
			<key>x</key>
			<real>-7.6630176536</real>
			<key>y</key>
			<real>0</real>
			<key>z</key>
			<real>-0.0412274158355</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower21</key>
		<dict>
			<key>x</key>
			<real>-6.97972144054</real>
			<key>y</key>
			<real>-1.13686837722e-15</real>
			<key>z</key>
			<real>-1.88612719109</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower22</key>
		<dict>
			<key>x</key>
			<real>-9.37125818624</real>
			<key>y</key>
			<real>0</real>
			<key>z</key>
			<real>-12.7505369787</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Pot1</key>
		<dict>
			<key>x</key>
			<real>-1.24003325085</real>
			<key>y</key>
			<real>-2.27373675443e-15</real>
			<key>z</key>
			<real>-14.1171294048</real>
			<key>type</key>
			<string>pot1</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower24</key>
		<dict>
			<key>x</key>
			<real>-4.31486620961</real>
			<key>y</key>
			<real>-1.13686837722e-15</real>
			<key>z</key>
			<real>14.0346745732</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower25</key>
		<dict>
			<key>x</key>
			<real>1.42482198007</real>
			<key>y</key>
			<real>-2.27373675443e-15</real>
			<key>z</key>
			<real>-13.9121405409</real>
			<key>type</key>
			<string>pot2</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower27</key>
		<dict>
			<key>x</key>
			<real>-6.77473257662</real>
			<key>y</key>
			<real>-1.13686837722e-15</real>
			<key>z</key>
			<real>9.319930703060001</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower28</key>
		<dict>
			<key>x</key>
			<real>-5.54479939312</real>
			<key>y</key>
			<real>-1.13686837722e-15</real>
			<key>z</key>
			<real>2.7602870577</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower29</key>
		<dict>
			<key>x</key>
			<real>-5.61312901442</real>
			<key>y</key>
			<real>-1.13686837722e-15</real>
			<key>z</key>
			<real>-2.56942340415</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Pot3</key>
		<dict>
			<key>x</key>
			<real>-1.10337400824</real>
			<key>y</key>
			<real>-2.27373675443e-15</real>
			<key>z</key>
			<real>9.046612217830001</real>
			<key>type</key>
			<string>pot3</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower32</key>
		<dict>
			<key>x</key>
			<real>-0.0101000673499</real>
			<key>y</key>
			<real>-2.27373675443e-15</real>
			<key>z</key>
			<real>11.984785934</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower34</key>
		<dict>
			<key>x</key>
			<real>4.1580068323</real>
			<key>y</key>
			<real>-3.41060513165e-15</real>
			<key>z</key>
			<real>-0.246216279753</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower35</key>
		<dict>
			<key>x</key>
			<real>1.28816273746</real>
			<key>y</key>
			<real>-2.27373675443e-15</real>
			<key>z</key>
			<real>-8.78741894297</real>
			<key>type</key>
			<string>pot1</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower36</key>
		<dict>
			<key>x</key>
			<real>6.13956585017</real>
			<key>y</key>
			<real>-3.41060513165e-15</real>
			<key>z</key>
			<real>-6.39588219727</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower37</key>
		<dict>
			<key>x</key>
			<real>9.282728430240001</real>
			<key>y</key>
			<real>-4.54747350886e-15</real>
			<key>z</key>
			<real>-2.70608264676</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge30</key>
		<dict>
			<key>x</key>
			<real>-5.49899534054</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>0.15502066592</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.08893838259</real>
			<key>sy</key>
			<real>2.17787676518</real>
			<key>sz</key>
			<real>0.272234595647</real>
		</dict>
		<key>Hedge31</key>
		<dict>
			<key>x</key>
			<real>-5.63565458315</real>
			<key>y</key>
			<real>2</real>
			<key>z</key>
			<real>-4.62805282548</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.08893838259</real>
			<key>sy</key>
			<real>2.17787676518</real>
			<key>sz</key>
			<real>0.272234595647</real>
		</dict>
		<key>Flower39</key>
		<dict>
			<key>x</key>
			<real>-0.0101000673499</real>
			<key>y</key>
			<real>-2.27373675443e-15</real>
			<key>z</key>
			<real>5.90344963777</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower40</key>
		<dict>
			<key>x</key>
			<real>0.0582295539559</real>
			<key>y</key>
			<real>-2.27373675443e-15</real>
			<key>z</key>
			<real>-5.71258598421</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower41</key>
		<dict>
			<key>x</key>
			<real>-5.47646977181</real>
			<key>y</key>
			<real>-1.13686837722e-15</real>
			<key>z</key>
			<real>-6.53254143988</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower43</key>
		<dict>
			<key>x</key>
			<real>-5.68145863573</real>
			<key>y</key>
			<real>-1.13686837722e-15</real>
			<key>z</key>
			<real>6.45008660821</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower45</key>
		<dict>
			<key>x</key>
			<real>-8.004665760130001</real>
			<key>y</key>
			<real>0</real>
			<key>z</key>
			<real>-14.2537886474</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Carrot5</key>
		<dict>
			<key>x</key>
			<real>9.01892577764</real>
			<key>y</key>
			<real>-3.41060513165e-15</real>
			<key>z</key>
			<real>1.7720371407</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Carrot6</key>
		<dict>
			<key>x</key>
			<real>9.155585020249999</real>
			<key>y</key>
			<real>-3.41060513165e-15</real>
			<key>z</key>
			<real>3.27528880943</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower46</key>
		<dict>
			<key>x</key>
			<real>3.57624131274</real>
			<key>y</key>
			<real>-3.41060513165e-15</real>
			<key>z</key>
			<real>14.0940062087</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower47</key>
		<dict>
			<key>x</key>
			<real>-2.77224368645</real>
			<key>y</key>
			<real>-1.13686837722e-15</real>
			<key>z</key>
			<real>-14.3851788344</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower48</key>
		<dict>
			<key>x</key>
			<real>8.91608850832</real>
			<key>y</key>
			<real>-4.54747350886e-15</real>
			<key>z</key>
			<real>-14.1478522924</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower49</key>
		<dict>
			<key>x</key>
			<real>1.26230752799</real>
			<key>y</key>
			<real>-2.27373675443e-15</real>
			<key>z</key>
			<real>-12.2492399562</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Flower50</key>
		<dict>
			<key>x</key>
			<real>2.62693514464</real>
			<key>y</key>
			<real>-3.41060513165e-15</real>
			<key>z</key>
			<real>-14.1478522924</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
	</dict>
	<key>LevelControl</key>
	<dict>
		<key>NumCombos</key>
		<integer>2</integer>
		<key>NumGopherLives</key>
		<integer>1</integer>
		<key>Background</key>
		<string>Longs</string>
		<key>GamePlayMode</key>
		<integer>4</integer>
		<key>ScoreMode</key>
		<integer>0</integer>
		<key>NumBalls</key>
		<integer>-1</integer>
		<key>BallTypes</key>
		<integer>1</integer>
		<key>XBounds</key>
		<real>10</real>
		<key>ZBounds</key>
		<real>15</real>
		<key>BallSpawnX</key>
		<real>-9</real>
		<key>BallSpawnZ</key>
		<real>13</real>
		<key>CarrotSearchDistance</key>
		<real>10</real>
		<key>SpawnIntervals</key>
		<array>
			<dict>
				<key>Time</key>
				<real>0</real>
				<key>Gophers</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>1000</real>
				<key>Gophers</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<key>GeneratedObjects</key>
	<dict>
		<key>Gopher</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.25</real>
		</dict>
		<key>Ball</key>
		<dict>
			<key>type</key>
			<string>ball</string>
			<key>scale</key>
			<real>0.5</real>
			<key>ballType</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
