<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">

<dict>
	<key>LayoutObjects</key>
	<dict>
		<key>Hole1</key>
		<dict>
			<key>x</key>
			<real>-12.4915215991</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>25.3482387481</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.737951274976</real>
			<key>sy</key>
			<real>0.737951274976</real>
			<key>sz</key>
			<real>0.737951274976</real>
		</dict>
		<key>Rock6</key>
		<dict>
			<key>x</key>
			<real>-11.9140414085</real>
			<key>y</key>
			<real>0.219061182341</real>
			<key>z</key>
			<real>11.4616770726</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.835303549821</real>
			<key>sy</key>
			<real>0.835303549821</real>
			<key>sz</key>
			<real>0.835303549821</real>
		</dict>
		<key>Carrot2</key>
		<dict>
			<key>x</key>
			<real>2.45105851051</real>
			<key>y</key>
			<real>-0.346947006089</real>
			<key>z</key>
			<real>18.7358331269</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.744727114495</real>
			<key>sy</key>
			<real>0.744727114495</real>
			<key>sz</key>
			<real>0.744727114495</real>
		</dict>
		<key>Hole3</key>
		<dict>
			<key>x</key>
			<real>6.33378257553</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-16.4036533471</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.737951274976</real>
			<key>sy</key>
			<real>0.737951274976</real>
			<key>sz</key>
			<real>0.737951274976</real>
		</dict>
		<key>Hole4</key>
		<dict>
			<key>x</key>
			<real>14.5635284738</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>22.9208832676</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.737951274976</real>
			<key>sy</key>
			<real>0.737951274976</real>
			<key>sz</key>
			<real>0.737951274976</real>
		</dict>
		<key>Flower1</key>
		<dict>
			<key>x</key>
			<real>-0.909089069454</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>4.52462023071</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>2.0</real>
			<key>sx</key>
			<real>1.0</real>
			<key>sy</key>
			<real>1.0</real>
			<key>sz</key>
			<real>1.0</real>
		</dict>
		<key>Flower3</key>
		<dict>
			<key>x</key>
			<real>0.796898391534</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>2.99879835634</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.0</real>
			<key>sy</key>
			<real>1.0</real>
			<key>sz</key>
			<real>1.0</real>
		</dict>
		<key>Flower4</key>
		<dict>
			<key>x</key>
			<real>6.80494272973</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-13.944889409</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.0</real>
			<key>sy</key>
			<real>1.0</real>
			<key>sz</key>
			<real>1.0</real>
		</dict>
		<key>Flower5</key>
		<dict>
			<key>x</key>
			<real>-8.49257711143</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>2.20343464405</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.0</real>
			<key>sy</key>
			<real>1.0</real>
			<key>sz</key>
			<real>1.0</real>
		</dict>
		<key>Pot1</key>
		<dict>
			<key>x</key>
			<real>15.6698649833</real>
			<key>y</key>
			<real>1.8794361376</real>
			<key>z</key>
			<real>-17.6708453874</real>
			<key>type</key>
			<string>pot1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.0</real>
			<key>sy</key>
			<real>1.0</real>
			<key>sz</key>
			<real>1.0</real>
		</dict>
		<key>Pot2</key>
		<dict>
			<key>x</key>
			<real>9.92045261531</real>
			<key>y</key>
			<real>1.8794361376</real>
			<key>z</key>
			<real>-25.0462321771</real>
			<key>type</key>
			<string>pot1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.0</real>
			<key>sy</key>
			<real>1.0</real>
			<key>sz</key>
			<real>1.0</real>
		</dict>
		<key>Pot5</key>
		<dict>
			<key>x</key>
			<real>5.19450912994</real>
			<key>y</key>
			<real>1.8794361376</real>
			<key>z</key>
			<real>9.16494166206</real>
			<key>type</key>
			<string>pot1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.0</real>
			<key>sy</key>
			<real>1.0</real>
			<key>sz</key>
			<real>1.0</real>
		</dict>
		<key>Carrot5</key>
		<dict>
			<key>x</key>
			<real>0.666915252968</real>
			<key>y</key>
			<real>-0.346947006089</real>
			<key>z</key>
			<real>-12.532018605</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.744727114495</real>
			<key>sy</key>
			<real>0.744727114495</real>
			<key>sz</key>
			<real>0.744727114495</real>
		</dict>
		<key>Carrot6</key>
		<dict>
			<key>x</key>
			<real>15.5369287005</real>
			<key>y</key>
			<real>-0.346947006089</real>
			<key>z</key>
			<real>17.1913083119</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.744727114495</real>
			<key>sy</key>
			<real>0.744727114495</real>
			<key>sz</key>
			<real>0.744727114495</real>
		</dict>
		<key>Pot7</key>
		<dict>
			<key>x</key>
			<real>-9.32224019136</real>
			<key>y</key>
			<real>1.8794361376</real>
			<key>z</key>
			<real>11.3420056965</real>
			<key>type</key>
			<string>pot1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.0</real>
			<key>sy</key>
			<real>1.0</real>
			<key>sz</key>
			<real>1.0</real>
		</dict>
		<key>Flower6</key>
		<dict>
			<key>x</key>
			<real>-16.9199603892</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>26.9046173523</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.0</real>
			<key>sy</key>
			<real>1.0</real>
			<key>sz</key>
			<real>1.0</real>
		</dict>
		<key>Fence2</key>
		<dict>
			<key>x</key>
			<real>7.38777769574</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-4.10830108779</real>
			<key>type</key>
			<string>fenceC</string>
			<key>ry</key>
			<real>1.50663584806</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>4.0</real>
			<key>sy</key>
			<real>8.0</real>
			<key>sz</key>
			<real>1.0</real>
		</dict>
		<key>Rock7</key>
		<dict>
			<key>x</key>
			<real>-14.0827306084</real>
			<key>y</key>
			<real>0.219061182341</real>
			<key>z</key>
			<real>-17.892881084</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.609226953847</real>
			<key>sy</key>
			<real>0.609226953847</real>
			<key>sz</key>
			<real>0.609226953847</real>
		</dict>
		<key>Rock10</key>
		<dict>
			<key>x</key>
			<real>-4.587007069</real>
			<key>y</key>
			<real>0.219061182341</real>
			<key>z</key>
			<real>-16.5223642845</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.609226953847</real>
			<key>sy</key>
			<real>0.609226953847</real>
			<key>sz</key>
			<real>0.609226953847</real>
		</dict>
		<key>Rock12</key>
		<dict>
			<key>x</key>
			<real>-12.9080019231</real>
			<key>y</key>
			<real>0.219061182341</real>
			<key>z</key>
			<real>-14.7602712566</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.609226953847</real>
			<key>sy</key>
			<real>0.609226953847</real>
			<key>sz</key>
			<real>0.609226953847</real>
		</dict>
		<key>Carrot11</key>
		<dict>
			<key>x</key>
			<real>13.7266131988</real>
			<key>y</key>
			<real>-0.346947006089</real>
			<key>z</key>
			<real>17.1913083119</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.744727114495</real>
			<key>sy</key>
			<real>0.744727114495</real>
			<key>sz</key>
			<real>0.744727114495</real>
		</dict>
		<key>Rock16</key>
		<dict>
			<key>x</key>
			<real>11.9963519747</real>
			<key>y</key>
			<real>0.219061182341</real>
			<key>z</key>
			<real>-11.8039059885</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.835303549821</real>
			<key>sy</key>
			<real>0.835303549821</real>
			<key>sz</key>
			<real>0.835303549821</real>
		</dict>
		<key>Rock18</key>
		<dict>
			<key>x</key>
			<real>-4.55679089909</real>
			<key>y</key>
			<real>0.219061182341</real>
			<key>z</key>
			<real>-13.3791699835</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.485560572987</real>
			<key>sy</key>
			<real>0.485560572987</real>
			<key>sz</key>
			<real>0.485560572987</real>
		</dict>
		<key>Hedge1</key>
		<dict>
			<key>x</key>
			<real>-10.1185721551</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>6.91241499485</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.22173197222</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>4.0</real>
			<key>sy</key>
			<real>8.0</real>
			<key>sz</key>
			<real>1.0</real>
		</dict>
		<key>Carrot13</key>
		<dict>
			<key>x</key>
			<real>1.24957970135</real>
			<key>y</key>
			<real>-0.346947006089</real>
			<key>z</key>
			<real>-14.4898997471</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.744727114495</real>
			<key>sy</key>
			<real>0.744727114495</real>
			<key>sz</key>
			<real>0.744727114495</real>
		</dict>
		<key>Carrot15</key>
		<dict>
			<key>x</key>
			<real>4.32662351951</real>
			<key>y</key>
			<real>-0.346947006089</real>
			<key>z</key>
			<real>-20.8541507761</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.744727114495</real>
			<key>sy</key>
			<real>0.744727114495</real>
			<key>sz</key>
			<real>0.744727114495</real>
		</dict>
		<key>Carrot16</key>
		<dict>
			<key>x</key>
			<real>6.51033266286</real>
			<key>y</key>
			<real>-0.346947006089</real>
			<key>z</key>
			<real>-19.3858280609</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.744727114495</real>
			<key>sy</key>
			<real>0.744727114495</real>
			<key>sz</key>
			<real>0.744727114495</real>
		</dict>
		<key>Hole5</key>
		<dict>
			<key>x</key>
			<real>2.08191208401</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-18.861501107</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.737951274976</real>
			<key>sy</key>
			<real>0.737951274976</real>
			<key>sz</key>
			<real>0.737951274976</real>
		</dict>
		<key>Carrot17</key>
		<dict>
			<key>x</key>
			<real>2.35988128423</real>
			<key>y</key>
			<real>-0.346947006089</real>
			<key>z</key>
			<real>16.9717305844</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.744727114495</real>
			<key>sy</key>
			<real>0.744727114495</real>
			<key>sz</key>
			<real>0.744727114495</real>
		</dict>
		<key>Hole6</key>
		<dict>
			<key>x</key>
			<real>1.51946357092</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>24.3666760675</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.737951274976</real>
			<key>sy</key>
			<real>0.737951274976</real>
			<key>sz</key>
			<real>0.737951274976</real>
		</dict>
		<key>Hole7</key>
		<dict>
			<key>x</key>
			<real>-18.018736769</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>21.6689770801</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.737951274976</real>
			<key>sy</key>
			<real>0.737951274976</real>
			<key>sz</key>
			<real>0.737951274976</real>
		</dict>
		<key>Pot9</key>
		<dict>
			<key>x</key>
			<real>-14.0166313212</real>
			<key>y</key>
			<real>1.8794361376</real>
			<key>z</key>
			<real>1.24679608988</real>
			<key>type</key>
			<string>pot1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.0</real>
			<key>sy</key>
			<real>1.0</real>
			<key>sz</key>
			<real>1.0</real>
		</dict>
		<key>Carrot14</key>
		<dict>
			<key>x</key>
			<real>1.10201406095</real>
			<key>y</key>
			<real>-0.346947006089</real>
			<key>z</key>
			<real>-10.3783493486</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.744727114495</real>
			<key>sy</key>
			<real>0.744727114495</real>
			<key>sz</key>
			<real>0.744727114495</real>
		</dict>
		<key>Rock20</key>
		<dict>
			<key>x</key>
			<real>-10.2648623812</real>
			<key>y</key>
			<real>0.219061182341</real>
			<key>z</key>
			<real>-25.0391472528</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.609226953847</real>
			<key>sy</key>
			<real>0.609226953847</real>
			<key>sz</key>
			<real>0.609226953847</real>
		</dict>
		<key>Rock15</key>
		<dict>
			<key>x</key>
			<real>-6.74067632535</real>
			<key>y</key>
			<real>0.219061182341</real>
			<key>z</key>
			<real>-22.0044314825</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.609226953847</real>
			<key>sy</key>
			<real>0.609226953847</real>
			<key>sz</key>
			<real>0.609226953847</real>
		</dict>
		<key>Pot8</key>
		<dict>
			<key>x</key>
			<real>-8.06642469292</real>
			<key>y</key>
			<real>1.8794361376</real>
			<key>z</key>
			<real>-23.7346189318</real>
			<key>type</key>
			<string>pot1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.0</real>
			<key>sy</key>
			<real>1.0</real>
			<key>sz</key>
			<real>1.0</real>
		</dict>
		<key>Rock14</key>
		<dict>
			<key>x</key>
			<real>-10.7543326667</real>
			<key>y</key>
			<real>0.219061182341</real>
			<key>z</key>
			<real>-20.1444443975</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.665746102841</real>
			<key>sy</key>
			<real>0.665746102841</real>
			<key>sz</key>
			<real>0.665746102841</real>
		</dict>
		<key>Rock13</key>
		<dict>
			<key>x</key>
			<real>-8.94709166687</real>
			<key>y</key>
			<real>0.219061182341</real>
			<key>z</key>
			<real>-12.409452918</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.485560572987</real>
			<key>sy</key>
			<real>0.485560572987</real>
			<key>sz</key>
			<real>0.485560572987</real>
		</dict>
		<key>Rock11</key>
		<dict>
			<key>x</key>
			<real>-8.7964515246</real>
			<key>y</key>
			<real>0.219061182341</real>
			<key>z</key>
			<real>-14.7602712566</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.609226953847</real>
			<key>sy</key>
			<real>0.609226953847</real>
			<key>sz</key>
			<real>0.609226953847</real>
		</dict>
		<key>Rock8</key>
		<dict>
			<key>x</key>
			<real>-6.74067632535</real>
			<key>y</key>
			<real>0.219061182341</real>
			<key>z</key>
			<real>-18.9697157122</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.609226953847</real>
			<key>sy</key>
			<real>0.609226953847</real>
			<key>sz</key>
			<real>0.609226953847</real>
		</dict>
		<key>Hole2</key>
		<dict>
			<key>x</key>
			<real>-15.825078164</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-20.7297049348</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.737951274976</real>
			<key>sy</key>
			<real>0.737951274976</real>
			<key>sz</key>
			<real>0.737951274976</real>
		</dict>
		<key>Fence3</key>
		<dict>
			<key>x</key>
			<real>9.91791509557</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-11.7710029273</real>
			<key>type</key>
			<string>fenceC</string>
			<key>ry</key>
			<real>0.889455160111</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>4.0</real>
			<key>sy</key>
			<real>8.0</real>
			<key>sz</key>
			<real>1.0</real>
		</dict>
		<key>Hedge2</key>
		<dict>
			<key>x</key>
			<real>-15.0342676748</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>15.1534339543</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.859584488688</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>4.0</real>
			<key>sy</key>
			<real>8.0</real>
			<key>sz</key>
			<real>1.0</real>
		</dict>
		<key>Hedge3</key>
		<dict>
			<key>x</key>
			<real>-2.74502887565</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>9.29797311469</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.22173197222</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>4.0</real>
			<key>sy</key>
			<real>8.0</real>
			<key>sz</key>
			<real>1.0</real>
		</dict>
		<key>Hedge4</key>
		<dict>
			<key>x</key>
			<real>-4.26311131555</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>18.984784874</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.59321054146</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>4.0</real>
			<key>sy</key>
			<real>8.0</real>
			<key>sz</key>
			<real>1.0</real>
		</dict>
		<key>Rock21</key>
		<dict>
			<key>x</key>
			<real>-4.46820848904</real>
			<key>y</key>
			<real>0.219061182341</real>
			<key>z</key>
			<real>13.7749455525</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.835303549821</real>
			<key>sy</key>
			<real>0.835303549821</real>
			<key>sz</key>
			<real>0.835303549821</real>
		</dict>
		<key>Flower7</key>
		<dict>
			<key>x</key>
			<real>3.32703579136</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>2.99879835634</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.0</real>
			<key>sy</key>
			<real>1.0</real>
			<key>sz</key>
			<real>1.0</real>
		</dict>
		<key>Flower8</key>
		<dict>
			<key>x</key>
			<real>-8.99860459139</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>0.323904004183</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.0</real>
			<key>sy</key>
			<real>1.0</real>
			<key>sz</key>
			<real>1.0</real>
		</dict>
		<key>Flower9</key>
		<dict>
			<key>x</key>
			<real>-10.1552388313</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-0.977309515728</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.0</real>
			<key>sy</key>
			<real>1.0</real>
			<key>sz</key>
			<real>1.0</real>
		</dict>
		<key>Rock22</key>
		<dict>
			<key>x</key>
			<real>-14.8748421465</real>
			<key>y</key>
			<real>0.219061182341</real>
			<key>z</key>
			<real>-12.409452918</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.485560572987</real>
			<key>sy</key>
			<real>0.485560572987</real>
			<key>sz</key>
			<real>0.485560572987</real>
		</dict>
		<key>Rock23</key>
		<dict>
			<key>x</key>
			<real>-17.0435313463</real>
			<key>y</key>
			<real>0.219061182341</real>
			<key>z</key>
			<real>-12.409452918</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.485560572987</real>
			<key>sy</key>
			<real>0.485560572987</real>
			<key>sz</key>
			<real>0.485560572987</real>
		</dict>
		<key>Pot10</key>
		<dict>
			<key>x</key>
			<real>-8.06642469292</real>
			<key>y</key>
			<real>1.8794361376</real>
			<key>z</key>
			<real>-27.7105491315</real>
			<key>type</key>
			<string>pot1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.0</real>
			<key>sy</key>
			<real>1.0</real>
			<key>sz</key>
			<real>1.0</real>
		</dict>
		<key>Carrot18</key>
		<dict>
			<key>x</key>
			<real>-17.287978839</real>
			<key>y</key>
			<real>-0.346947006089</real>
			<key>z</key>
			<real>-27.1433494556</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.744727114495</real>
			<key>sy</key>
			<real>0.744727114495</real>
			<key>sz</key>
			<real>0.744727114495</real>
		</dict>
		<key>Carrot19</key>
		<dict>
			<key>x</key>
			<real>-13.9476354557</real>
			<key>y</key>
			<real>-0.346947006089</real>
			<key>z</key>
			<real>-25.6750267405</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.744727114495</real>
			<key>sy</key>
			<real>0.744727114495</real>
			<key>sz</key>
			<real>0.744727114495</real>
		</dict>
		<key>Carrot20</key>
		<dict>
			<key>x</key>
			<real>-17.287978839</real>
			<key>y</key>
			<real>-0.346947006089</real>
			<key>z</key>
			<real>-24.3240534958</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.744727114495</real>
			<key>sy</key>
			<real>0.744727114495</real>
			<key>sz</key>
			<real>0.744727114495</real>
		</dict>
		<key>Hole8</key>
		<dict>
			<key>x</key>
			<real>4.0545728346</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-17.4043814951</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.737951274976</real>
			<key>sy</key>
			<real>0.737951274976</real>
			<key>sz</key>
			<real>0.737951274976</real>
		</dict>
		<key>Flower10</key>
		<dict>
			<key>x</key>
			<real>8.53989408961</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-16.7641853688</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.0</real>
			<key>sy</key>
			<real>1.0</real>
			<key>sz</key>
			<real>1.0</real>
		</dict>
		<key>Flower11</key>
		<dict>
			<key>x</key>
			<real>-2.52842504824</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-0.832552563396</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.0</real>
			<key>sy</key>
			<real>1.0</real>
			<key>sz</key>
			<real>1.0</real>
		</dict>
		<key>Flower12</key>
		<dict>
			<key>x</key>
			<real>-4.19108676812</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>3.21566727633</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.0</real>
			<key>sy</key>
			<real>1.0</real>
			<key>sz</key>
			<real>1.0</real>
		</dict>
		<key>Flower13</key>
		<dict>
			<key>x</key>
			<real>-4.19108676812</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>3.21566727633</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.0</real>
			<key>sy</key>
			<real>1.0</real>
			<key>sz</key>
			<real>1.0</real>
		</dict>
		<key>Flower14</key>
		<dict>
			<key>x</key>
			<real>-5.78145884801</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>7.40846639604</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.0</real>
			<key>sy</key>
			<real>1.0</real>
			<key>sz</key>
			<real>1.0</real>
		</dict>
		<key>Flower15</key>
		<dict>
			<key>x</key>
			<real>-5.78145884801</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>7.40846639604</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.0</real>
			<key>sy</key>
			<real>1.0</real>
			<key>sz</key>
			<real>1.0</real>
		</dict>
		<key>Flower16</key>
		<dict>
			<key>x</key>
			<real>-6.86580344794</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>10.1554727158</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.0</real>
			<key>sy</key>
			<real>1.0</real>
			<key>sz</key>
			<real>1.0</real>
		</dict>
		<key>Flower17</key>
		<dict>
			<key>x</key>
			<real>-6.86580344794</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>10.1554727158</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.0</real>
			<key>sy</key>
			<real>1.0</real>
			<key>sz</key>
			<real>1.0</real>
		</dict>
		<key>Carrot21</key>
		<dict>
			<key>x</key>
			<real>-10.5076746349</real>
			<key>y</key>
			<real>-0.346947006089</real>
			<key>z</key>
			<real>17.5500477044</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.744727114495</real>
			<key>sy</key>
			<real>0.744727114495</real>
			<key>sz</key>
			<real>0.744727114495</real>
		</dict>
		<key>Carrot22</key>
		<dict>
			<key>x</key>
			<real>-11.5731316485</real>
			<key>y</key>
			<real>-0.346947006089</real>
			<key>z</key>
			<real>19.3141502469</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.744727114495</real>
			<key>sy</key>
			<real>0.744727114495</real>
			<key>sz</key>
			<real>0.744727114495</real>
		</dict>
		<key>Carrot23</key>
		<dict>
			<key>x</key>
			<real>-9.27875075497</real>
			<key>y</key>
			<real>-0.346947006089</real>
			<key>z</key>
			<real>15.8873859845</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.744727114495</real>
			<key>sy</key>
			<real>0.744727114495</real>
			<key>sz</key>
			<real>0.744727114495</real>
		</dict>
		<key>Rock24</key>
		<dict>
			<key>x</key>
			<real>18.3934121947</real>
			<key>y</key>
			<real>0.219061182341</real>
			<key>z</key>
			<real>-14.7602712566</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.609226953847</real>
			<key>sy</key>
			<real>0.609226953847</real>
			<key>sz</key>
			<real>0.609226953847</real>
		</dict>
		<key>Rock25</key>
		<dict>
			<key>x</key>
			<real>16.4265719714</real>
			<key>y</key>
			<real>0.219061182341</real>
			<key>z</key>
			<real>-12.409452918</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.485560572987</real>
			<key>sy</key>
			<real>0.485560572987</real>
			<key>sz</key>
			<real>0.485560572987</real>
		</dict>
		<key>Rock26</key>
		<dict>
			<key>x</key>
			<real>14.2578827715</real>
			<key>y</key>
			<real>0.219061182341</real>
			<key>z</key>
			<real>-12.409452918</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.485560572987</real>
			<key>sy</key>
			<real>0.485560572987</real>
			<key>sz</key>
			<real>0.485560572987</real>
		</dict>
		<key>Rock27</key>
		<dict>
			<key>x</key>
			<real>12.9221057533</real>
			<key>y</key>
			<real>0.219061182341</real>
			<key>z</key>
			<real>-7.54650348349</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.609226953847</real>
			<key>sy</key>
			<real>0.609226953847</real>
			<key>sz</key>
			<real>0.609226953847</real>
		</dict>
		<key>Rock28</key>
		<dict>
			<key>x</key>
			<real>17.331773793</real>
			<key>y</key>
			<real>0.219061182341</real>
			<key>z</key>
			<real>-7.041925113</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.609226953847</real>
			<key>sy</key>
			<real>0.609226953847</real>
			<key>sz</key>
			<real>0.609226953847</real>
		</dict>
		<key>Rock29</key>
		<dict>
			<key>x</key>
			<real>15.9432506896</real>
			<key>y</key>
			<real>0.219061182341</real>
			<key>z</key>
			<real>-3.58251872539</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.609226953847</real>
			<key>sy</key>
			<real>0.609226953847</real>
			<key>sz</key>
			<real>0.609226953847</real>
		</dict>
		<key>Rock30</key>
		<dict>
			<key>x</key>
			<real>18.6675508112</real>
			<key>y</key>
			<real>0.219061182341</real>
			<key>z</key>
			<real>-11.3251083181</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.665746102841</real>
			<key>sy</key>
			<real>0.665746102841</real>
			<key>sz</key>
			<real>0.665746102841</real>
		</dict>
		<key>Rock31</key>
		<dict>
			<key>x</key>
			<real>15.3391528696</real>
			<key>y</key>
			<real>0.219061182341</real>
			<key>z</key>
			<real>-9.07354500461</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.609226953847</real>
			<key>sy</key>
			<real>0.609226953847</real>
			<key>sz</key>
			<real>0.609226953847</real>
		</dict>
		<key>Rock32</key>
		<dict>
			<key>x</key>
			<real>15.5590962914</real>
			<key>y</key>
			<real>0.219061182341</real>
			<key>z</key>
			<real>0.530392641117</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.485560572987</real>
			<key>sy</key>
			<real>0.485560572987</real>
			<key>sz</key>
			<real>0.485560572987</real>
		</dict>
		<key>Flower18</key>
		<dict>
			<key>x</key>
			<real>-14.5205010688</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-9.46293172928</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.0</real>
			<key>sy</key>
			<real>1.0</real>
			<key>sz</key>
			<real>1.0</real>
		</dict>
		<key>Flower19</key>
		<dict>
			<key>x</key>
			<real>-14.2313425088</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-6.13760828951</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.0</real>
			<key>sy</key>
			<real>1.0</real>
			<key>sz</key>
			<real>1.0</real>
		</dict>
		<key>Flower20</key>
		<dict>
			<key>x</key>
			<real>-17.5566659486</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-7.51111144941</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.0</real>
			<key>sy</key>
			<real>1.0</real>
			<key>sz</key>
			<real>1.0</real>
		</dict>
		<key>Flower21</key>
		<dict>
			<key>x</key>
			<real>-12.6409704289</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-8.23400784936</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.0</real>
			<key>sy</key>
			<real>1.0</real>
			<key>sz</key>
			<real>1.0</real>
		</dict>
		<key>Flower22</key>
		<dict>
			<key>x</key>
			<real>-6.71321994934</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-13.655730849</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.0</real>
			<key>sy</key>
			<real>1.0</real>
			<key>sz</key>
			<real>1.0</real>
		</dict>
		<key>Fence4</key>
		<dict>
			<key>x</key>
			<real>6.88175021578</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>13.964108911</real>
			<key>type</key>
			<string>fenceC</string>
			<key>ry</key>
			<real>1.19037180068</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>4.0</real>
			<key>sy</key>
			<real>8.0</real>
			<key>sz</key>
			<real>1.0</real>
		</dict>
		<key>Fence5</key>
		<dict>
			<key>x</key>
			<real>6.44801237581</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>25.3858720302</real>
			<key>type</key>
			<string>fenceC</string>
			<key>ry</key>
			<real>1.90978840411</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>4.0</real>
			<key>sy</key>
			<real>8.0</real>
			<key>sz</key>
			<real>1.0</real>
		</dict>
	</dict>
	<key>LevelControl</key>
	<dict>
		<key>NumCombos</key>
		<integer>2</integer>
		<key>NumGopherLives</key>
		<integer>20</integer>
		<key>Background</key>
		<string>RockNRoll</string>
		<key>GamePlayMode</key>
		<integer>4</integer>
		<key>ScoreMode</key>
		<integer>0</integer>
		<key>NumBalls</key>
		<integer>-1</integer>
		<key>BallTypes</key>
		<integer>2</integer>
		<key>XBounds</key>
		<real>20</real>
		<key>ZBounds</key>
		<real>30</real>
		<key>BallSpawnX</key>
		<real>11.4943012517</real>
		<key>BallSpawnZ</key>
		<real>-3.98033070493</real>
		<key>CollisionAvoidance</key>
		<integer>0</integer>
		<key>SpawnIntervals</key>
		<array>
			<dict>
				<key>Time</key>
				<real>0.0</real>
				<key>Gophers</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>30.0</real>
				<key>Gophers</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>40.0</real>
				<key>Gophers</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>50.0</real>
				<key>Gophers</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>60.0</real>
				<key>Gophers</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>75.0</real>
				<key>Gophers</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>80.0</real>
				<key>Gophers</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>90.0</real>
				<key>Gophers</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>100.0</real>
				<key>Gophers</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>110.0</real>
				<key>Gophers</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>120.0</real>
				<key>Gophers</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<key>GeneratedObjects</key>
	<dict>
		<key>Gopher</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.5</real>
		</dict>
		<key>Gopher1</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.5</real>
		</dict>
		<key>Gopher2</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.5</real>
		</dict>
		<key>Gopher3</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.5</real>
		</dict>
		<key>Gopher4</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.5</real>
		</dict>
		<key>Gopher5</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.5</real>
		</dict>
		<key>Gopher6</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.5</real>
		</dict>
		<key>Ball1</key>
		<dict>
			<key>type</key>
			<string>ball</string>
			<key>scale</key>
			<real>0.5</real>
			<key>ballType</key>
			<integer>2</integer>
		</dict>
	</dict>
</dict>
</plist>
