<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LayoutObjects</key>
	<dict>
		<key>pCylinder34</key>
		<dict>
			<key>x</key>
			<real>-1.0929172636</real>
			<key>y</key>
			<real>0</real>
			<key>z</key>
			<real>-0.8000774011589999</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.744727114495</real>
			<key>sy</key>
			<real>0.744727114495</real>
			<key>sz</key>
			<real>0.744727114495</real>
		</dict>
		<key>pCylinder36</key>
		<dict>
			<key>x</key>
			<real>8.6089046944</real>
			<key>y</key>
			<real>0</real>
			<key>z</key>
			<real>-10.2902003503</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.737951274976</real>
			<key>sy</key>
			<real>0.737951274976</real>
			<key>sz</key>
			<real>0.737951274976</real>
		</dict>
		<key>pCylinder37</key>
		<dict>
			<key>x</key>
			<real>-5.00298674612</real>
			<key>y</key>
			<real>-0.06715986660330001</real>
			<key>z</key>
			<real>8.873634940600001</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.744727114495</real>
			<key>sy</key>
			<real>0.744727114495</real>
			<key>sz</key>
			<real>0.744727114495</real>
		</dict>
		<key>pCylinder38</key>
		<dict>
			<key>x</key>
			<real>0.973149299051</real>
			<key>y</key>
			<real>-0.346947006089</real>
			<key>z</key>
			<real>-8.85948743734</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.744727114495</real>
			<key>sy</key>
			<real>0.744727114495</real>
			<key>sz</key>
			<real>0.744727114495</real>
		</dict>
		<key>pCylinder39</key>
		<dict>
			<key>x</key>
			<real>8.824011979450001</real>
			<key>y</key>
			<real>-0.0329101379358</real>
			<key>z</key>
			<real>10.3166447209</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.737951274976</real>
			<key>sy</key>
			<real>0.737951274976</real>
			<key>sz</key>
			<real>0.737951274976</real>
		</dict>
		<key>pCylinder40</key>
		<dict>
			<key>x</key>
			<real>8.497665081019999</real>
			<key>y</key>
			<real>0</real>
			<key>z</key>
			<real>5.81603407601</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.737951274976</real>
			<key>sy</key>
			<real>0.737951274976</real>
			<key>sz</key>
			<real>0.737951274976</real>
		</dict>
		<key>pCylinder41</key>
		<dict>
			<key>x</key>
			<real>8.3006063852</real>
			<key>y</key>
			<real>0</real>
			<key>z</key>
			<real>-0.267329637312</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.737951274976</real>
			<key>sy</key>
			<real>0.737951274976</real>
			<key>sz</key>
			<real>0.737951274976</real>
		</dict>
		<key>pCylinder42</key>
		<dict>
			<key>x</key>
			<real>3.90563897965</real>
			<key>y</key>
			<real>-0.34564262341</real>
			<key>z</key>
			<real>-8.08067183148</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.744727114495</real>
			<key>sy</key>
			<real>0.744727114495</real>
			<key>sz</key>
			<real>0.744727114495</real>
		</dict>
		<key>Rock7</key>
		<dict>
			<key>x</key>
			<real>4.07063822598</real>
			<key>y</key>
			<real>0.43322495492</real>
			<key>z</key>
			<real>-5.37612412792</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>60</real>
			<key>sx</key>
			<real>0.574451161073</real>
			<key>sy</key>
			<real>0.574451161073</real>
			<key>sz</key>
			<real>0.574451161073</real>
		</dict>
		<key>pCylinder43</key>
		<dict>
			<key>x</key>
			<real>-2.57221375179</real>
			<key>y</key>
			<real>0.00557553418301</real>
			<key>z</key>
			<real>3.27402419597</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.744727114495</real>
			<key>sy</key>
			<real>0.744727114495</real>
			<key>sz</key>
			<real>0.744727114495</real>
		</dict>
		<key>Rock12</key>
		<dict>
			<key>x</key>
			<real>8.036397248169999</real>
			<key>y</key>
			<real>0.301442734991</real>
			<key>z</key>
			<real>-12.5687559275</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.479841094043</real>
			<key>sy</key>
			<real>0.479841094043</real>
			<key>sz</key>
			<real>0.479841094043</real>
		</dict>
		<key>pCube2</key>
		<dict>
			<key>x</key>
			<real>7.85598738168</real>
			<key>y</key>
			<real>0.628604255674</real>
			<key>z</key>
			<real>-3.04823129683</real>
			<key>type</key>
			<string>wagon</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.2018139591</real>
			<key>sy</key>
			<real>1.12144839122</real>
			<key>sz</key>
			<real>1.12144839122</real>
		</dict>
		<key>Rock27</key>
		<dict>
			<key>x</key>
			<real>-5.61163491485</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>13.2881148887</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.07409025944</real>
			<key>sy</key>
			<real>1.07409025944</real>
			<key>sz</key>
			<real>1.07409025944</real>
		</dict>
		<key>Rock30</key>
		<dict>
			<key>x</key>
			<real>8.441859985560001</real>
			<key>y</key>
			<real>0.219061182341</real>
			<key>z</key>
			<real>12.5584014458</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.835303549821</real>
			<key>sy</key>
			<real>0.835303549821</real>
			<key>sz</key>
			<real>0.835303549821</real>
		</dict>
		<key>Rock31</key>
		<dict>
			<key>x</key>
			<real>4.77319026299</real>
			<key>y</key>
			<real>0.455524592981</real>
			<key>z</key>
			<real>14.0334396148</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.8813512876389999</real>
			<key>sy</key>
			<real>0.8813512876389999</real>
			<key>sz</key>
			<real>0.8813512876389999</real>
		</dict>
		<key>pCylinder44</key>
		<dict>
			<key>x</key>
			<real>8.54674893993</real>
			<key>y</key>
			<real>0</real>
			<key>z</key>
			<real>-6.78629396419</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.737951274976</real>
			<key>sy</key>
			<real>0.737951274976</real>
			<key>sz</key>
			<real>0.737951274976</real>
		</dict>
		<key>Flower1</key>
		<dict>
			<key>x</key>
			<real>-0.49518907174</real>
			<key>y</key>
			<real>0.444893254941</real>
			<key>z</key>
			<real>-12.0864227155</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>5</real>
			<key>sx</key>
			<real>0.479841094043</real>
			<key>sy</key>
			<real>0.479841094043</real>
			<key>sz</key>
			<real>0.479841094043</real>
		</dict>
		<key>Flower2</key>
		<dict>
			<key>x</key>
			<real>-1.275803891</real>
			<key>y</key>
			<real>0.444893254941</real>
			<key>z</key>
			<real>-2.89592178872</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>5</real>
			<key>sx</key>
			<real>0.479841094043</real>
			<key>sy</key>
			<real>0.479841094043</real>
			<key>sz</key>
			<real>0.479841094043</real>
		</dict>
		<key>Flower3</key>
		<dict>
			<key>x</key>
			<real>6.09712306685</real>
			<key>y</key>
			<real>0.444893254941</real>
			<key>z</key>
			<real>-5.74637581213</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>5</real>
			<key>sx</key>
			<real>0.479841094043</real>
			<key>sy</key>
			<real>0.479841094043</real>
			<key>sz</key>
			<real>0.479841094043</real>
		</dict>
		<key>Flower4</key>
		<dict>
			<key>x</key>
			<real>6.09712306685</real>
			<key>y</key>
			<real>0.444893254941</real>
			<key>z</key>
			<real>-12.293567445</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>5</real>
			<key>sx</key>
			<real>0.479841094043</real>
			<key>sy</key>
			<real>0.479841094043</real>
			<key>sz</key>
			<real>0.479841094043</real>
		</dict>
		<key>Flower5</key>
		<dict>
			<key>x</key>
			<real>0.190054678508</real>
			<key>y</key>
			<real>0.444893254941</real>
			<key>z</key>
			<real>11.9820504907</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>5</real>
			<key>sx</key>
			<real>0.479841094043</real>
			<key>sy</key>
			<real>0.479841094043</real>
			<key>sz</key>
			<real>0.479841094043</real>
		</dict>
		<key>Flower6</key>
		<dict>
			<key>x</key>
			<real>-6.81744357992</real>
			<key>y</key>
			<real>0.444893254941</real>
			<key>z</key>
			<real>1.86692033421</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>5</real>
			<key>sx</key>
			<real>0.479841094043</real>
			<key>sy</key>
			<real>0.479841094043</real>
			<key>sz</key>
			<real>0.479841094043</real>
		</dict>
		<key>Rock45</key>
		<dict>
			<key>x</key>
			<real>-2.82390143606</real>
			<key>y</key>
			<real>0.444893254941</real>
			<key>z</key>
			<real>-13.4509311752</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.479841094043</real>
			<key>sy</key>
			<real>0.479841094043</real>
			<key>sz</key>
			<real>0.479841094043</real>
		</dict>
		<key>pCylinder45</key>
		<dict>
			<key>x</key>
			<real>1.03432789982</real>
			<key>y</key>
			<real>-0.06715986660330001</real>
			<key>z</key>
			<real>8.57913178714</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.744727114495</real>
			<key>sy</key>
			<real>0.744727114495</real>
			<key>sz</key>
			<real>0.744727114495</real>
		</dict>
		<key>Rock54</key>
		<dict>
			<key>x</key>
			<real>4.27750761624</real>
			<key>y</key>
			<real>0.444893254941</real>
			<key>z</key>
			<real>-13.2377699155</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.479841094043</real>
			<key>sy</key>
			<real>0.479841094043</real>
			<key>sz</key>
			<real>0.479841094043</real>
		</dict>
		<key>pCylinder46</key>
		<dict>
			<key>x</key>
			<real>0.526850080433</real>
			<key>y</key>
			<real>0</real>
			<key>z</key>
			<real>-5.08787551867</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.744727114495</real>
			<key>sy</key>
			<real>0.744727114495</real>
			<key>sz</key>
			<real>0.744727114495</real>
		</dict>
		<key>pCylinder47</key>
		<dict>
			<key>x</key>
			<real>-3.69436178583</real>
			<key>y</key>
			<real>0</real>
			<key>z</key>
			<real>5.97349512843</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.744727114495</real>
			<key>sy</key>
			<real>0.744727114495</real>
			<key>sz</key>
			<real>0.744727114495</real>
		</dict>
		<key>pCylinder48</key>
		<dict>
			<key>x</key>
			<real>2.29841348962</real>
			<key>y</key>
			<real>-0.346947006089</real>
			<key>z</key>
			<real>-8.536850771479999</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.744727114495</real>
			<key>sy</key>
			<real>0.744727114495</real>
			<key>sz</key>
			<real>0.744727114495</real>
		</dict>
		<key>Rock67</key>
		<dict>
			<key>x</key>
			<real>5.72207577694</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>-1.05439940453</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.658767548127</real>
			<key>sy</key>
			<real>0.658767548127</real>
			<key>sz</key>
			<real>0.658767548127</real>
		</dict>
		<key>Rock72</key>
		<dict>
			<key>x</key>
			<real>-6.06217413688</real>
			<key>y</key>
			<real>0.819920810243</real>
			<key>z</key>
			<real>4.70319879182</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.563000636971</real>
			<key>sy</key>
			<real>0.563000636971</real>
			<key>sz</key>
			<real>0.563000636971</real>
		</dict>
		<key>Flower7</key>
		<dict>
			<key>x</key>
			<real>6.53336604363</real>
			<key>y</key>
			<real>0.444893254941</real>
			<key>z</key>
			<real>5.54820975247</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>5</real>
			<key>sx</key>
			<real>0.479841094043</real>
			<key>sy</key>
			<real>0.479841094043</real>
			<key>sz</key>
			<real>0.479841094043</real>
		</dict>
		<key>Flower8</key>
		<dict>
			<key>x</key>
			<real>-8.633546359589999</real>
			<key>y</key>
			<real>0.444893254941</real>
			<key>z</key>
			<real>4.81195186882</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>5</real>
			<key>sx</key>
			<real>0.479841094043</real>
			<key>sy</key>
			<real>0.479841094043</real>
			<key>sz</key>
			<real>0.479841094043</real>
		</dict>
		<key>Flower9</key>
		<dict>
			<key>x</key>
			<real>0.790554551145</real>
			<key>y</key>
			<real>0.444893254941</real>
			<key>z</key>
			<real>4.713784151</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>5</real>
			<key>sx</key>
			<real>0.479841094043</real>
			<key>sy</key>
			<real>0.479841094043</real>
			<key>sz</key>
			<real>0.479841094043</real>
		</dict>
		<key>Rock75</key>
		<dict>
			<key>x</key>
			<real>9.6728461715</real>
			<key>y</key>
			<real>0.385371769895</real>
			<key>z</key>
			<real>-4.99426008326</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.835303549821</real>
			<key>sy</key>
			<real>0.835303549821</real>
			<key>sz</key>
			<real>0.835303549821</real>
		</dict>
		<key>Rock76</key>
		<dict>
			<key>x</key>
			<real>9.792665327050001</real>
			<key>y</key>
			<real>0.385371769895</real>
			<key>z</key>
			<real>7.94620871568</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.835303549821</real>
			<key>sy</key>
			<real>0.835303549821</real>
			<key>sz</key>
			<real>0.835303549821</real>
		</dict>
		<key>Flower10</key>
		<dict>
			<key>x</key>
			<real>-4.5047644203</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>0.837376520555</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.658767548127</real>
			<key>sy</key>
			<real>0.658767548127</real>
			<key>sz</key>
			<real>0.658767548127</real>
		</dict>
		<key>Flower11</key>
		<dict>
			<key>x</key>
			<real>-5.09890473784</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>-4.07778428816</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5652147288229999</real>
			<key>sy</key>
			<real>0.5652147288229999</real>
			<key>sz</key>
			<real>0.5652147288229999</real>
		</dict>
		<key>Flower12</key>
		<dict>
			<key>x</key>
			<real>-7.31342773957</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>-1.86326128643</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5652147288229999</real>
			<key>sy</key>
			<real>0.5652147288229999</real>
			<key>sz</key>
			<real>0.5652147288229999</real>
		</dict>
		<key>Flower13</key>
		<dict>
			<key>x</key>
			<real>-3.31648378523</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>-5.05001389868</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5652147288229999</real>
			<key>sy</key>
			<real>0.5652147288229999</real>
			<key>sz</key>
			<real>0.5652147288229999</real>
		</dict>
		<key>Flower14</key>
		<dict>
			<key>x</key>
			<real>-3.04642000453</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>-9.20899612144</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5652147288229999</real>
			<key>sy</key>
			<real>0.5652147288229999</real>
			<key>sz</key>
			<real>0.5652147288229999</real>
		</dict>
		<key>Flower15</key>
		<dict>
			<key>x</key>
			<real>-3.31648378523</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>-11.8556211723</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5652147288229999</real>
			<key>sy</key>
			<real>0.5652147288229999</real>
			<key>sz</key>
			<real>0.5652147288229999</real>
		</dict>
		<key>Flower16</key>
		<dict>
			<key>x</key>
			<real>-1.31801180805</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>-10.0191874635</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5652147288229999</real>
			<key>sy</key>
			<real>0.5652147288229999</real>
			<key>sz</key>
			<real>0.5652147288229999</real>
		</dict>
		<key>Flower17</key>
		<dict>
			<key>x</key>
			<real>-1.58807558875</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>-7.15651138813</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5652147288229999</real>
			<key>sy</key>
			<real>0.5652147288229999</real>
			<key>sz</key>
			<real>0.5652147288229999</real>
		</dict>
		<key>Flower18</key>
		<dict>
			<key>x</key>
			<real>1.32861324279</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>-6.94046036357</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5652147288229999</real>
			<key>sy</key>
			<real>0.5652147288229999</real>
			<key>sz</key>
			<real>0.5652147288229999</real>
		</dict>
		<key>Flower19</key>
		<dict>
			<key>x</key>
			<real>1.43663875507</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>-12.8278507828</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5652147288229999</real>
			<key>sy</key>
			<real>0.5652147288229999</real>
			<key>sz</key>
			<real>0.5652147288229999</real>
		</dict>
		<key>Flower20</key>
		<dict>
			<key>x</key>
			<real>3.05702143927</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>-11.2614808548</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5652147288229999</real>
			<key>sy</key>
			<real>0.5652147288229999</real>
			<key>sz</key>
			<real>0.5652147288229999</real>
		</dict>
		<key>Flower21</key>
		<dict>
			<key>x</key>
			<real>-1.15597353963</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>1.91763164335</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5652147288229999</real>
			<key>sy</key>
			<real>0.5652147288229999</real>
			<key>sz</key>
			<real>0.5652147288229999</real>
		</dict>
		<key>Flower22</key>
		<dict>
			<key>x</key>
			<real>1.16657497437</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>1.97164439949</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5652147288229999</real>
			<key>sy</key>
			<real>0.5652147288229999</real>
			<key>sz</key>
			<real>0.5652147288229999</real>
		</dict>
		<key>Flower23</key>
		<dict>
			<key>x</key>
			<real>1.65268977963</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>-0.945044432058</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5652147288229999</real>
			<key>sy</key>
			<real>0.5652147288229999</real>
			<key>sz</key>
			<real>0.5652147288229999</real>
		</dict>
		<key>Flower24</key>
		<dict>
			<key>x</key>
			<real>3.32708521997</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>1.16145305739</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5652147288229999</real>
			<key>sy</key>
			<real>0.5652147288229999</real>
			<key>sz</key>
			<real>0.5652147288229999</real>
		</dict>
		<key>Flower25</key>
		<dict>
			<key>x</key>
			<real>3.32708521997</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>3.53801432754</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.658767548127</real>
			<key>sy</key>
			<real>0.658767548127</real>
			<key>sz</key>
			<real>0.658767548127</real>
		</dict>
		<key>Flower26</key>
		<dict>
			<key>x</key>
			<real>-1.15597353963</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>6.18463937839</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5652147288229999</real>
			<key>sy</key>
			<real>0.5652147288229999</real>
			<key>sz</key>
			<real>0.5652147288229999</real>
		</dict>
		<key>Flower27</key>
		<dict>
			<key>x</key>
			<real>-2.66833071155</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>9.26336647836</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5652147288229999</real>
			<key>sy</key>
			<real>0.5652147288229999</real>
			<key>sz</key>
			<real>0.5652147288229999</real>
		</dict>
		<key>Flower28</key>
		<dict>
			<key>x</key>
			<real>-7.58349152027</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>8.88527718538</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5652147288229999</real>
			<key>sy</key>
			<real>0.5652147288229999</real>
			<key>sz</key>
			<real>0.5652147288229999</real>
		</dict>
		<key>Flower29</key>
		<dict>
			<key>x</key>
			<real>-3.47852205364</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>12.3961063345</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.783504640532</real>
			<key>sy</key>
			<real>0.783504640532</real>
			<key>sz</key>
			<real>0.783504640532</real>
		</dict>
		<key>Flower31</key>
		<dict>
			<key>x</key>
			<real>6.18976129537</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>2.83584849773</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.689951821228</real>
			<key>sy</key>
			<real>0.689951821228</real>
			<key>sz</key>
			<real>0.689951821228</real>
		</dict>
		<key>Flower32</key>
		<dict>
			<key>x</key>
			<real>6.18976129537</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>2.83584849773</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.689951821228</real>
			<key>sy</key>
			<real>0.689951821228</real>
			<key>sz</key>
			<real>0.689951821228</real>
		</dict>
		<key>Flower33</key>
		<dict>
			<key>x</key>
			<real>-3.6945730782</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>-1.64721026187</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.502846182621</real>
			<key>sy</key>
			<real>0.502846182621</real>
			<key>sz</key>
			<real>0.502846182621</real>
		</dict>
		<key>Flower34</key>
		<dict>
			<key>x</key>
			<real>3.59714900066</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>-2.83549089695</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5652147288229999</real>
			<key>sy</key>
			<real>0.5652147288229999</real>
			<key>sz</key>
			<real>0.5652147288229999</real>
		</dict>
		<key>Flower35</key>
		<dict>
			<key>x</key>
			<real>6.13574853923</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>-8.128740998650001</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5652147288229999</real>
			<key>sy</key>
			<real>0.5652147288229999</real>
			<key>sz</key>
			<real>0.5652147288229999</real>
		</dict>
		<key>Flower36</key>
		<dict>
			<key>x</key>
			<real>3.16504695155</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>7.64298379416</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.908241732936</real>
			<key>sy</key>
			<real>0.908241732936</real>
			<key>sz</key>
			<real>0.908241732936</real>
		</dict>
		<key>Flower37</key>
		<dict>
			<key>x</key>
			<real>1.0585494621</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>13.4763614573</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.908241732936</real>
			<key>sy</key>
			<real>0.908241732936</real>
			<key>sz</key>
			<real>0.908241732936</real>
		</dict>
		<key>Flower38</key>
		<dict>
			<key>x</key>
			<real>-8.33967010622</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>12.3961063345</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.908241732936</real>
			<key>sy</key>
			<real>0.908241732936</real>
			<key>sz</key>
			<real>0.908241732936</real>
		</dict>
		<key>Flower39</key>
		<dict>
			<key>x</key>
			<real>2.94899592699</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>11.2618384555</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.12653164464</real>
			<key>sy</key>
			<real>1.12653164464</real>
			<key>sz</key>
			<real>1.12653164464</real>
		</dict>
		<key>Flower40</key>
		<dict>
			<key>x</key>
			<real>-9.149861448319999</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>1.16145305739</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.440477636418</real>
			<key>sy</key>
			<real>0.440477636418</real>
			<key>sz</key>
			<real>0.440477636418</real>
		</dict>
	</dict>
	<key>LevelControl</key>
	<dict>
		<key>NumCombos</key>
		<integer>2</integer>
		<key>NumGopherLives</key>
		<integer>25</integer>
		<key>Background</key>
		<string>RockNRoll</string>
		<key>GamePlayMode</key>
		<integer>5</integer>
		<key>ScoreMode</key>
		<integer>0</integer>
		<key>NumBalls</key>
		<integer>-1</integer>
		<key>BallTypes</key>
		<integer>1</integer>
		<key>SpawnIntervals</key>
		<array>
			<dict>
				<key>Time</key>
				<real>0</real>
				<key>Gophers</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>30</real>
				<key>Gophers</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>40</real>
				<key>Gophers</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>50</real>
				<key>Gophers</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>60</real>
				<key>Gophers</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>75</real>
				<key>Gophers</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>80</real>
				<key>Gophers</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>90</real>
				<key>Gophers</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>100</real>
				<key>Gophers</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>110</real>
				<key>Gophers</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>120</real>
				<key>Gophers</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>150</real>
				<key>Gophers</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>180</real>
				<key>Gophers</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>200</real>
				<key>Gophers</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<key>GeneratedObjects</key>
	<dict>
		<key>Gopher</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.5</real>
		</dict>
		<key>Gopher1</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.5</real>
		</dict>
		<key>Gopher2</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.5</real>
		</dict>
		<key>Cannon</key>
		<dict>
			<key>type</key>
			<string>cannon</string>
			<key>scale</key>
			<real>1</real>
			<key>x</key>
			<real>-7.7598158145</real>
			<key>y</key>
			<real>0</real>
			<key>z</key>
			<real>-11.7801261384</real>
			<key>rotationOffset</key>
			<real>2.32956600413</real>
			<key>rotationBoundUpper</key>
			<real>0</real>
			<key>rotationBoundLower</key>
			<real>0</real>
		</dict>
		<key>Gopher3</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.5</real>
		</dict>
		<key>Gopher4</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.5</real>
		</dict>
		<key>Gopher5</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.5</real>
		</dict>
		<key>Gopher6</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.5</real>
		</dict>
	</dict>
</dict>
</plist>
