<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LayoutObjects</key>
	<dict>
		<key>pCylinder34</key>
		<dict>
			<key>x</key>
			<real>-1.66947260379</real>
			<key>y</key>
			<real>0</real>
			<key>z</key>
			<real>0.110257203533</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.496484742996</real>
			<key>sy</key>
			<real>0.496484742996</real>
			<key>sz</key>
			<real>0.465454446559</real>
		</dict>
		<key>pCylinder36</key>
		<dict>
			<key>x</key>
			<real>-8.78927236554</real>
			<key>y</key>
			<real>0</real>
			<key>z</key>
			<real>9.61762267584</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.491967516651</real>
			<key>sy</key>
			<real>0.491967516651</real>
			<key>sz</key>
			<real>0.46121954686</real>
		</dict>
		<key>pCylinder37</key>
		<dict>
			<key>x</key>
			<real>2.90537046994</real>
			<key>y</key>
			<real>-0.0447732444022</real>
			<key>z</key>
			<real>-9.72019515295</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.496484742996</real>
			<key>sy</key>
			<real>0.496484742996</real>
			<key>sz</key>
			<real>0.465454446559</real>
		</dict>
		<key>pCylinder38</key>
		<dict>
			<key>x</key>
			<real>-5.76400203929</real>
			<key>y</key>
			<real>-0.231298004059</real>
			<key>z</key>
			<real>8.959903259100001</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.496484742996</real>
			<key>sy</key>
			<real>0.496484742996</real>
			<key>sz</key>
			<real>0.465454446559</real>
		</dict>
		<key>pCylinder39</key>
		<dict>
			<key>x</key>
			<real>-8.12493344494</real>
			<key>y</key>
			<real>-0.0219400919572</real>
			<key>z</key>
			<real>-9.25997960886</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.491967516651</real>
			<key>sy</key>
			<real>0.491967516651</real>
			<key>sz</key>
			<real>0.46121954686</real>
		</dict>
		<key>pCylinder40</key>
		<dict>
			<key>x</key>
			<real>-8.18634453092</real>
			<key>y</key>
			<real>0</real>
			<key>z</key>
			<real>-4.57725129011</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.491967516651</real>
			<key>sy</key>
			<real>0.491967516651</real>
			<key>sz</key>
			<real>0.46121954686</real>
		</dict>
		<key>pCylinder41</key>
		<dict>
			<key>x</key>
			<real>-7.68574665296</real>
			<key>y</key>
			<real>0</real>
			<key>z</key>
			<real>0.261064098937</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.491967516651</real>
			<key>sy</key>
			<real>0.491967516651</real>
			<key>sz</key>
			<real>0.46121954686</real>
		</dict>
		<key>pCylinder42</key>
		<dict>
			<key>x</key>
			<real>-3.97991652864</real>
			<key>y</key>
			<real>-0.230428415606</real>
			<key>z</key>
			<real>5.25494100725</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.496484742996</real>
			<key>sy</key>
			<real>0.496484742996</real>
			<key>sz</key>
			<real>0.465454446559</real>
		</dict>
		<key>Rock7</key>
		<dict>
			<key>x</key>
			<real>-5.36948742819</real>
			<key>y</key>
			<real>0.288816636613</real>
			<key>z</key>
			<real>7.35999450538</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>60</real>
			<key>sx</key>
			<real>0.382967440716</real>
			<key>sy</key>
			<real>0.382967440716</real>
			<key>sz</key>
			<real>0.359031975671</real>
		</dict>
		<key>pCylinder43</key>
		<dict>
			<key>x</key>
			<real>1.01823887452</real>
			<key>y</key>
			<real>0.00371702278867</real>
			<key>z</key>
			<real>-6.31296389172</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.496484742996</real>
			<key>sy</key>
			<real>0.496484742996</real>
			<key>sz</key>
			<real>0.465454446559</real>
		</dict>
		<key>Rock8</key>
		<dict>
			<key>x</key>
			<real>-4.65954931808</real>
			<key>y</key>
			<real>0.268916641172</real>
			<key>z</key>
			<real>10.9430362739</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.319894062696</real>
			<key>sy</key>
			<real>0.319894062696</real>
			<key>sz</key>
			<real>0.299900683777</real>
		</dict>
		<key>Rock9</key>
		<dict>
			<key>x</key>
			<real>-1.43481004793</real>
			<key>y</key>
			<real>0.296595503294</real>
			<key>z</key>
			<real>12.5852445288</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.319894062696</real>
			<key>sy</key>
			<real>0.319894062696</real>
			<key>sz</key>
			<real>0.299900683777</real>
		</dict>
		<key>Rock10</key>
		<dict>
			<key>x</key>
			<real>-1.99920334032</real>
			<key>y</key>
			<real>0.298186409387</real>
			<key>z</key>
			<real>9.751164146360001</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.319894062696</real>
			<key>sy</key>
			<real>0.319894062696</real>
			<key>sz</key>
			<real>0.299900683777</real>
		</dict>
		<key>Rock12</key>
		<dict>
			<key>x</key>
			<real>-7.44110856312</real>
			<key>y</key>
			<real>0.200961823327</real>
			<key>z</key>
			<real>12.2741757105</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.319894062696</real>
			<key>sy</key>
			<real>0.319894062696</real>
			<key>sz</key>
			<real>0.299900683777</real>
		</dict>
		<key>Rock16</key>
		<dict>
			<key>x</key>
			<real>1.44765888339</real>
			<key>y</key>
			<real>0.296595503294</real>
			<key>z</key>
			<real>7.31929533497</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.319894062696</real>
			<key>sy</key>
			<real>0.319894062696</real>
			<key>sz</key>
			<real>0.299900683777</real>
		</dict>
		<key>Rock17</key>
		<dict>
			<key>x</key>
			<real>5.1337296722</real>
			<key>y</key>
			<real>0.296595503294</real>
			<key>z</key>
			<real>10.6578509493</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.319894062696</real>
			<key>sy</key>
			<real>0.319894062696</real>
			<key>sz</key>
			<real>0.299900683777</real>
		</dict>
		<key>Rock18</key>
		<dict>
			<key>x</key>
			<real>3.42090099834</real>
			<key>y</key>
			<real>0.232063239978</real>
			<key>z</key>
			<real>5.4719009188</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.319894062696</real>
			<key>sy</key>
			<real>0.319894062696</real>
			<key>sz</key>
			<real>0.299900683777</real>
		</dict>
		<key>Rock20</key>
		<dict>
			<key>x</key>
			<real>4.43492453804</real>
			<key>y</key>
			<real>0.291499193351</real>
			<key>z</key>
			<real>12.9759039149</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.319894062696</real>
			<key>sy</key>
			<real>0.319894062696</real>
			<key>sz</key>
			<real>0.299900683777</real>
		</dict>
		<key>Rock21</key>
		<dict>
			<key>x</key>
			<real>6.26953864582</real>
			<key>y</key>
			<real>0.546613873496</real>
			<key>z</key>
			<real>12.8037506541</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.319894062696</real>
			<key>sy</key>
			<real>0.319894062696</real>
			<key>sz</key>
			<real>0.299900683777</real>
		</dict>
		<key>Rock22</key>
		<dict>
			<key>x</key>
			<real>6.36455681089</real>
			<key>y</key>
			<real>0.546613873496</real>
			<key>z</key>
			<real>6.89102204887</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.375333757981</real>
			<key>sy</key>
			<real>0.375333757981</real>
			<key>sz</key>
			<real>0.351875398107</real>
		</dict>
		<key>Rock23</key>
		<dict>
			<key>x</key>
			<real>8.19879899291</real>
			<key>y</key>
			<real>0.546613873496</real>
			<key>z</key>
			<real>10.7707593732</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.319894062696</real>
			<key>sy</key>
			<real>0.319894062696</real>
			<key>sz</key>
			<real>0.299900683777</real>
		</dict>
		<key>Rock24</key>
		<dict>
			<key>x</key>
			<real>2.05074151127</real>
			<key>y</key>
			<real>0.232063239978</real>
			<key>z</key>
			<real>-11.1920285829</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.716060172958</real>
			<key>sy</key>
			<real>0.716060172958</real>
			<key>sz</key>
			<real>0.671306412148</real>
		</dict>
		<key>Rock25</key>
		<dict>
			<key>x</key>
			<real>5.23557673993</real>
			<key>y</key>
			<real>0.232063239978</real>
			<key>z</key>
			<real>-7.94760852527</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5568690332140001</real>
			<key>sy</key>
			<real>0.5568690332140001</real>
			<key>sz</key>
			<real>0.522064718638</real>
		</dict>
		<key>Rock26</key>
		<dict>
			<key>x</key>
			<real>0.921347903645</real>
			<key>y</key>
			<real>0.296595503294</real>
			<key>z</key>
			<real>-8.624889860350001</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5568690332140001</real>
			<key>sy</key>
			<real>0.5568690332140001</real>
			<key>sz</key>
			<real>0.522064718638</real>
		</dict>
		<key>Rock27</key>
		<dict>
			<key>x</key>
			<real>5.19595825449</real>
			<key>y</key>
			<real>0.232063239978</real>
			<key>z</key>
			<real>-12.976674696</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.716060172958</real>
			<key>sy</key>
			<real>0.716060172958</real>
			<key>sz</key>
			<real>0.671306412148</real>
		</dict>
		<key>Rock28</key>
		<dict>
			<key>x</key>
			<real>-0.9683953446370001</real>
			<key>y</key>
			<real>0.256914513263</real>
			<key>z</key>
			<real>-13.4935032592</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5568690332140001</real>
			<key>sy</key>
			<real>0.5568690332140001</real>
			<key>sz</key>
			<real>0.522064718638</real>
		</dict>
		<key>Rock29</key>
		<dict>
			<key>x</key>
			<real>5.71457987545</real>
			<key>y</key>
			<real>0.200961823327</real>
			<key>z</key>
			<real>-10.9359925815</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5568690332140001</real>
			<key>sy</key>
			<real>0.5568690332140001</real>
			<key>sz</key>
			<real>0.522064718638</real>
		</dict>
		<key>Rock30</key>
		<dict>
			<key>x</key>
			<real>-7.81653702367</real>
			<key>y</key>
			<real>0.146040788227</real>
			<key>z</key>
			<real>-12.2640639119</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5568690332140001</real>
			<key>sy</key>
			<real>0.5568690332140001</real>
			<key>sz</key>
			<real>0.522064718638</real>
		</dict>
		<key>Rock31</key>
		<dict>
			<key>x</key>
			<real>-3.94613972716</real>
			<key>y</key>
			<real>0.303683061987</real>
			<key>z</key>
			<real>-11.8318769762</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5875675250920001</real>
			<key>sy</key>
			<real>0.5875675250920001</real>
			<key>sz</key>
			<real>0.550844554774</real>
		</dict>
		<key>Rock33</key>
		<dict>
			<key>x</key>
			<real>3.29048794199</real>
			<key>y</key>
			<real>0.360753513165</real>
			<key>z</key>
			<real>-5.60698407633</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5568690332140001</real>
			<key>sy</key>
			<real>0.5568690332140001</real>
			<key>sz</key>
			<real>0.522064718638</real>
		</dict>
		<key>pCylinder44</key>
		<dict>
			<key>x</key>
			<real>-8.18634453092</real>
			<key>y</key>
			<real>0</real>
			<key>z</key>
			<real>5.28510343233</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.491967516651</real>
			<key>sy</key>
			<real>0.491967516651</real>
			<key>sz</key>
			<real>0.46121954686</real>
		</dict>
		<key>Rock34</key>
		<dict>
			<key>x</key>
			<real>1.44765888339</real>
			<key>y</key>
			<real>0.296595503294</real>
			<key>z</key>
			<real>3.45599818754</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.439178365418</real>
			<key>sy</key>
			<real>0.439178365418</real>
			<key>sz</key>
			<real>0.411729717579</real>
		</dict>
		<key>Rock35</key>
		<dict>
			<key>x</key>
			<real>3.42090099834</real>
			<key>y</key>
			<real>0.232063239978</real>
			<key>z</key>
			<real>1.60860377136</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.439178365418</real>
			<key>sy</key>
			<real>0.439178365418</real>
			<key>sz</key>
			<real>0.411729717579</real>
		</dict>
		<key>Rock36</key>
		<dict>
			<key>x</key>
			<real>1.44765888339</real>
			<key>y</key>
			<real>0.296595503294</real>
			<key>z</key>
			<real>-0.975048177112</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.451104942972</real>
			<key>sy</key>
			<real>0.451104942972</real>
			<key>sz</key>
			<real>0.422910884037</real>
		</dict>
		<key>Rock37</key>
		<dict>
			<key>x</key>
			<real>3.42090099834</real>
			<key>y</key>
			<real>0.232063239978</real>
			<key>z</key>
			<real>-2.82244259329</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.449942210561</real>
			<key>sy</key>
			<real>0.449942210561</real>
			<key>sz</key>
			<real>0.421820822401</real>
		</dict>
		<key>Rock38</key>
		<dict>
			<key>x</key>
			<real>-2.03491165605</real>
			<key>y</key>
			<real>0.232063239978</real>
			<key>z</key>
			<real>1.60860377136</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.439178365418</real>
			<key>sy</key>
			<real>0.439178365418</real>
			<key>sz</key>
			<real>0.411729717579</real>
		</dict>
		<key>Rock39</key>
		<dict>
			<key>x</key>
			<real>-4.008153771</real>
			<key>y</key>
			<real>0.296595503294</real>
			<key>z</key>
			<real>3.45599818754</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.439178365418</real>
			<key>sy</key>
			<real>0.439178365418</real>
			<key>sz</key>
			<real>0.411729717579</real>
		</dict>
		<key>Rock40</key>
		<dict>
			<key>x</key>
			<real>-2.03491165605</real>
			<key>y</key>
			<real>0.232063239978</real>
			<key>z</key>
			<real>-2.82244259329</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5054273569660001</real>
			<key>sy</key>
			<real>0.5054273569660001</real>
			<key>sz</key>
			<real>0.473838147156</real>
		</dict>
		<key>Rock41</key>
		<dict>
			<key>x</key>
			<real>-4.008153771</real>
			<key>y</key>
			<real>0.296595503294</real>
			<key>z</key>
			<real>-0.975048177112</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.401090633132</real>
			<key>sy</key>
			<real>0.401090633132</real>
			<key>sz</key>
			<real>0.376022468561</real>
		</dict>
		<key>Rock42</key>
		<dict>
			<key>x</key>
			<real>-4.84459180034</real>
			<key>y</key>
			<real>0.303683061987</real>
			<key>z</key>
			<real>-8.17213049629</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5875675250920001</real>
			<key>sy</key>
			<real>0.5875675250920001</real>
			<key>sz</key>
			<real>0.550844554774</real>
		</dict>
		<key>Rock43</key>
		<dict>
			<key>x</key>
			<real>-1.86684741782</real>
			<key>y</key>
			<real>0.256914513263</real>
			<key>z</key>
			<real>-9.833756779310001</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5568690332140001</real>
			<key>sy</key>
			<real>0.5568690332140001</real>
			<key>sz</key>
			<real>0.522064718638</real>
		</dict>
		<key>Rock44</key>
		<dict>
			<key>x</key>
			<real>-1.86684741782</real>
			<key>y</key>
			<real>0.256914513263</real>
			<key>z</key>
			<real>-6.068024605</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5568690332140001</real>
			<key>sy</key>
			<real>0.5568690332140001</real>
			<key>sz</key>
			<real>0.522064718638</real>
		</dict>
		<key>Flower1</key>
		<dict>
			<key>x</key>
			<real>1.44765888339</real>
			<key>y</key>
			<real>0.296595503294</real>
			<key>z</key>
			<real>10.4495813521</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>5</real>
			<key>sx</key>
			<real>0.319894062696</real>
			<key>sy</key>
			<real>0.319894062696</real>
			<key>sz</key>
			<real>0.299900683777</real>
		</dict>
		<key>Flower2</key>
		<dict>
			<key>x</key>
			<real>-0.175976554174</real>
			<key>y</key>
			<real>0.296595503294</real>
			<key>z</key>
			<real>2.26210576929</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>5</real>
			<key>sx</key>
			<real>0.319894062696</real>
			<key>sy</key>
			<real>0.319894062696</real>
			<key>sz</key>
			<real>0.299900683777</real>
		</dict>
		<key>Flower3</key>
		<dict>
			<key>x</key>
			<real>-5.64548432115</real>
			<key>y</key>
			<real>0.296595503294</real>
			<key>z</key>
			<real>5.61169512904</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>5</real>
			<key>sx</key>
			<real>0.319894062696</real>
			<key>sy</key>
			<real>0.319894062696</real>
			<key>sz</key>
			<real>0.299900683777</real>
		</dict>
		<key>Flower4</key>
		<dict>
			<key>x</key>
			<real>-5.64548432115</real>
			<key>y</key>
			<real>0.296595503294</real>
			<key>z</key>
			<real>12.0054369581</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>5</real>
			<key>sx</key>
			<real>0.319894062696</real>
			<key>sy</key>
			<real>0.319894062696</real>
			<key>sz</key>
			<real>0.299900683777</real>
		</dict>
		<key>Flower5</key>
		<dict>
			<key>x</key>
			<real>-0.175976554174</real>
			<key>y</key>
			<real>0.296595503294</real>
			<key>z</key>
			<real>-11.7012211823</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>5</real>
			<key>sx</key>
			<real>0.319894062696</real>
			<key>sy</key>
			<real>0.319894062696</real>
			<key>sz</key>
			<real>0.299900683777</real>
		</dict>
		<key>Flower6</key>
		<dict>
			<key>x</key>
			<real>-6.04941300336</real>
			<key>y</key>
			<real>0.296595503294</real>
			<key>z</key>
			<real>-5.4181735864</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>5</real>
			<key>sx</key>
			<real>0.319894062696</real>
			<key>sy</key>
			<real>0.319894062696</real>
			<key>sz</key>
			<real>0.299900683777</real>
		</dict>
		<key>Rock45</key>
		<dict>
			<key>x</key>
			<real>2.71644238694</real>
			<key>y</key>
			<real>0.296595503294</real>
			<key>z</key>
			<real>10.6578509493</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.319894062696</real>
			<key>sy</key>
			<real>0.319894062696</real>
			<key>sz</key>
			<real>0.299900683777</real>
		</dict>
		<key>Rock46</key>
		<dict>
			<key>x</key>
			<real>2.01763725278</real>
			<key>y</key>
			<real>0.291499193351</real>
			<key>z</key>
			<real>12.9759039149</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.319894062696</real>
			<key>sy</key>
			<real>0.319894062696</real>
			<key>sz</key>
			<real>0.299900683777</real>
		</dict>
		<key>Rock47</key>
		<dict>
			<key>x</key>
			<real>0.810426988322</real>
			<key>y</key>
			<real>0.296595503294</real>
			<key>z</key>
			<real>5.47890109243</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.319894062696</real>
			<key>sy</key>
			<real>0.319894062696</real>
			<key>sz</key>
			<real>0.299900683777</real>
		</dict>
		<key>Rock48</key>
		<dict>
			<key>x</key>
			<real>-1.87061900056</real>
			<key>y</key>
			<real>0.291499193351</real>
			<key>z</key>
			<real>7.11743326625</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.319894062696</real>
			<key>sy</key>
			<real>0.319894062696</real>
			<key>sz</key>
			<real>0.299900683777</real>
		</dict>
		<key>Rock49</key>
		<dict>
			<key>x</key>
			<real>-1.87061900056</real>
			<key>y</key>
			<real>0.291499193351</real>
			<key>z</key>
			<real>3.63694349111</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.319894062696</real>
			<key>sy</key>
			<real>0.319894062696</real>
			<key>sz</key>
			<real>0.299900683777</real>
		</dict>
		<key>Rock50</key>
		<dict>
			<key>x</key>
			<real>0.538414483456</real>
			<key>y</key>
			<real>0.232063239978</real>
			<key>z</key>
			<real>-2.82244259329</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.449942210561</real>
			<key>sy</key>
			<real>0.449942210561</real>
			<key>sz</key>
			<real>0.421820822401</real>
		</dict>
		<key>Rock51</key>
		<dict>
			<key>x</key>
			<real>-1.32043764053</real>
			<key>y</key>
			<real>0.296595503294</real>
			<key>z</key>
			<real>5.47890109243</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.319894062696</real>
			<key>sy</key>
			<real>0.319894062696</real>
			<key>sz</key>
			<real>0.299900683777</real>
		</dict>
	</dict>
	<key>LevelControl</key>
	<dict>
		<key>NumCombos</key>
		<integer>2</integer>
		<key>NumGopherLives</key>
		<integer>30</integer>
		<key>NumCarrotLives</key>
		<integer>5</integer>
		<key>Background</key>
		<string>RockNRoll</string>
		<key>GamePlayMode</key>
		<integer>5</integer>
		<key>ScoreMode</key>
		<integer>0</integer>
		<key>NumBalls</key>
		<integer>-1</integer>
		<key>BallTypes</key>
		<integer>1</integer>
		<key>SpawnIntervals</key>
		<array>
			<dict>
				<key>Time</key>
				<real>0</real>
				<key>Gophers</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>30</real>
				<key>Gophers</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>40</real>
				<key>Gophers</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>50</real>
				<key>Gophers</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>60</real>
				<key>Gophers</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>75</real>
				<key>Gophers</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>80</real>
				<key>Gophers</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>90</real>
				<key>Gophers</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>100</real>
				<key>Gophers</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>110</real>
				<key>Gophers</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>120</real>
				<key>Gophers</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>150</real>
				<key>Gophers</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>180</real>
				<key>Gophers</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>200</real>
				<key>Gophers</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<key>GeneratedObjects</key>
	<dict>
		<key>Gopher</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.5</real>
		</dict>
		<key>Gopher1</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.5</real>
		</dict>
		<key>Gopher2</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.5</real>
		</dict>
		<key>Cannon</key>
		<dict>
			<key>type</key>
			<string>cannon</string>
			<key>scale</key>
			<real>2</real>
			<key>x</key>
			<real>8.3666630983</real>
			<key>y</key>
			<real>0</real>
			<key>z</key>
			<real>-0</real>
		</dict>
		<key>Gopher3</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.5</real>
		</dict>
		<key>Gopher4</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.5</real>
		</dict>
	</dict>
</dict>
</plist>
