<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LayoutObjects</key>
	<dict>
		<key>pPlane2</key>
		<dict>
			<key>x</key>
			<real>-7.86118393818</real>
			<key>z</key>
			<real>-12.6037019175</real>
			<key>type</key>
			<string>fence</string>
			<key>sx</key>
			<real>0.229507804949</real>
			<key>sz</key>
			<real>1.48615025285</real>
			<key>r</key>
			<real>0</real>
		</dict>
		<key>pCylinder1</key>
		<dict>
			<key>x</key>
			<real>-4.27504784691</real>
			<key>z</key>
			<real>3.10667121825</real>
			<key>type</key>
			<string>hedge</string>
			<key>radius</key>
			<real>1.65828042764</real>
		</dict>
		<key>pCylinder2</key>
		<dict>
			<key>x</key>
			<real>-4.37455828587</real>
			<key>z</key>
			<real>5.63073242967</real>
			<key>type</key>
			<string>hedge</string>
			<key>radius</key>
			<real>0.949701230891</real>
		</dict>
		<key>pCylinder3</key>
		<dict>
			<key>x</key>
			<real>-4.40772843219</real>
			<key>z</key>
			<real>7.30251323204</real>
			<key>type</key>
			<string>hedge</string>
			<key>radius</key>
			<real>0.892248863587</real>
		</dict>
		<key>pCylinder4</key>
		<dict>
			<key>x</key>
			<real>-4.00968667636</real>
			<key>z</key>
			<real>8.67927389282</real>
			<key>type</key>
			<string>hedge</string>
			<key>radius</key>
			<real>0.662439394371</real>
		</dict>
		<key>pCylinder5</key>
		<dict>
			<key>x</key>
			<real>-3.14726287207</real>
			<key>z</key>
			<real>9.662674364800001</real>
			<key>type</key>
			<string>hedge</string>
			<key>radius</key>
			<real>0.585836237966</real>
		</dict>
		<key>pCylinder6</key>
		<dict>
			<key>x</key>
			<real>-2.08581818987</real>
			<key>z</key>
			<real>10.1543746008</real>
			<key>type</key>
			<string>hedge</string>
			<key>radius</key>
			<real>0.528383870662</real>
		</dict>
		<key>pCylinder7</key>
		<dict>
			<key>x</key>
			<real>-1.12388394663</real>
			<key>z</key>
			<real>10.2199346323</real>
			<key>type</key>
			<string>hedge</string>
			<key>radius</key>
			<real>0.528383870662</real>
		</dict>
		<key>pCylinder8</key>
		<dict>
			<key>x</key>
			<real>-0.228289996019</real>
			<key>z</key>
			<real>9.85935445919</real>
			<key>type</key>
			<string>hedge</string>
			<key>radius</key>
			<real>0.528383870662</real>
		</dict>
		<key>pCylinder9</key>
		<dict>
			<key>x</key>
			<real>1.82825907575</real>
			<key>z</key>
			<real>5.6635124454</real>
			<key>type</key>
			<string>hedge</string>
			<key>radius</key>
			<real>0.528383870662</real>
		</dict>
		<key>pCylinder10</key>
		<dict>
			<key>x</key>
			<real>1.69557849047</real>
			<key>z</key>
			<real>4.58177192622</real>
			<key>type</key>
			<string>hedge</string>
			<key>radius</key>
			<real>0.604987027068</real>
		</dict>
		<key>pCylinder11</key>
		<dict>
			<key>x</key>
			<real>1.36387702728</real>
			<key>z</key>
			<real>3.63115146997</real>
			<key>type</key>
			<string>hedge</string>
			<key>radius</key>
			<real>0.64328860527</real>
		</dict>
		<key>pCylinder12</key>
		<dict>
			<key>x</key>
			<real>1.06534571041</real>
			<key>z</key>
			<real>2.51663093506</real>
			<key>type</key>
			<string>hedge</string>
			<key>radius</key>
			<real>0.719891761675</real>
		</dict>
		<key>pCylinder13</key>
		<dict>
			<key>x</key>
			<real>0.999005417776</real>
			<key>z</key>
			<real>1.50045044734</real>
			<key>type</key>
			<string>hedge</string>
			<key>radius</key>
			<real>0.815645707182</real>
		</dict>
		<key>pCylinder14</key>
		<dict>
			<key>x</key>
			<real>1.76191878311</real>
			<key>z</key>
			<real>6.64691291738</real>
			<key>type</key>
			<string>hedge</string>
			<key>radius</key>
			<real>0.509233081561</real>
		</dict>
		<key>pCylinder15</key>
		<dict>
			<key>x</key>
			<real>8.296437607910001</real>
			<key>z</key>
			<real>-13.4472367268</real>
			<key>type</key>
			<string>hedge</string>
			<key>radius</key>
			<real>1.65828042764</real>
		</dict>
		<key>pCylinder17</key>
		<dict>
			<key>x</key>
			<real>9.5237330217</real>
			<key>z</key>
			<real>-11.9721360188</real>
			<key>type</key>
			<string>hedge</string>
			<key>radius</key>
			<real>1.65828042764</real>
		</dict>
		<key>pCylinder18</key>
		<dict>
			<key>x</key>
			<real>-3.47896433526</real>
			<key>z</key>
			<real>-2.46593145632</real>
			<key>type</key>
			<string>hedge</string>
			<key>radius</key>
			<real>0.853947285384</real>
		</dict>
		<key>pCylinder19</key>
		<dict>
			<key>x</key>
			<real>-4.47406872482</real>
			<key>z</key>
			<real>-3.12153177098</real>
			<key>type</key>
			<string>hedge</string>
			<key>radius</key>
			<real>0.853947285384</real>
		</dict>
		<key>pCylinder20</key>
		<dict>
			<key>x</key>
			<real>-5.40283282175</real>
			<key>z</key>
			<real>-3.8426921171</real>
			<key>type</key>
			<string>hedge</string>
			<key>radius</key>
			<real>0.853947285384</real>
		</dict>
		<key>pCylinder21</key>
		<dict>
			<key>x</key>
			<real>1.26436658833</real>
			<key>z</key>
			<real>-2.43315144059</real>
			<key>type</key>
			<string>hedge</string>
			<key>radius</key>
			<real>0.528383870662</real>
		</dict>
		<key>pCylinder22</key>
		<dict>
			<key>x</key>
			<real>1.89459936838</real>
			<key>z</key>
			<real>-3.15431178671</real>
			<key>type</key>
			<string>hedge</string>
			<key>radius</key>
			<real>0.528383870662</real>
		</dict>
		<key>pCylinder23</key>
		<dict>
			<key>x</key>
			<real>2.4584918558</real>
			<key>z</key>
			<real>-4.03937221149</real>
			<key>type</key>
			<string>hedge</string>
			<key>radius</key>
			<real>0.528383870662</real>
		</dict>
		<key>pCylinder24</key>
		<dict>
			<key>x</key>
			<real>2.82336346531</real>
			<key>z</key>
			<real>-4.98999266774</real>
			<key>type</key>
			<string>hedge</string>
			<key>radius</key>
			<real>0.528383870662</real>
		</dict>
		<key>pCylinder25</key>
		<dict>
			<key>x</key>
			<real>2.85653361163</real>
			<key>z</key>
			<real>-5.90783310826</real>
			<key>type</key>
			<string>hedge</string>
			<key>radius</key>
			<real>0.528383870662</real>
		</dict>
		<key>pCylinder26</key>
		<dict>
			<key>x</key>
			<real>2.49166200212</real>
			<key>z</key>
			<real>-6.56343342292</real>
			<key>type</key>
			<string>hedge</string>
			<key>radius</key>
			<real>0.528383870662</real>
		</dict>
		<key>pCylinder27</key>
		<dict>
			<key>x</key>
			<real>-0.0624392644254</real>
			<key>z</key>
			<real>-7.41571383197</real>
			<key>type</key>
			<string>hedge</string>
			<key>radius</key>
			<real>0.681590183473</real>
		</dict>
		<key>pCylinder28</key>
		<dict>
			<key>x</key>
			<real>-0.0624392644254</real>
			<key>z</key>
			<real>-7.41571383197</real>
			<key>type</key>
			<string>hedge</string>
			<key>radius</key>
			<real>0.681590183473</real>
		</dict>
		<key>pCylinder29</key>
		<dict>
			<key>x</key>
			<real>5.54331546345</real>
			<key>z</key>
			<real>-6.30119329705</real>
			<key>type</key>
			<string>hedge</string>
			<key>radius</key>
			<real>0.528383870662</real>
		</dict>
		<key>pCylinder30</key>
		<dict>
			<key>x</key>
			<real>4.78040209812</real>
			<key>z</key>
			<real>-7.41571383197</real>
			<key>type</key>
			<string>hedge</string>
			<key>radius</key>
			<real>0.719891761675</real>
		</dict>
		<key>pCylinder31</key>
		<dict>
			<key>x</key>
			<real>4.97942297603</real>
			<key>z</key>
			<real>-9.611974886060001</real>
			<key>type</key>
			<string>hedge</string>
			<key>radius</key>
			<real>0.719891761675</real>
		</dict>
		<key>pCylinder32</key>
		<dict>
			<key>x</key>
			<real>5.31112443922</real>
			<key>z</key>
			<real>-8.39911430395</real>
			<key>type</key>
			<string>hedge</string>
			<key>radius</key>
			<real>0.853947285384</real>
		</dict>
		<key>pCylinder33</key>
		<dict>
			<key>x</key>
			<real>4.64772151284</real>
			<key>z</key>
			<real>-10.3986952636</real>
			<key>type</key>
			<string>hedge</string>
			<key>radius</key>
			<real>0.528383870662</real>
		</dict>
		<key>pPlane3</key>
		<dict>
			<key>x</key>
			<real>-7.86118393818</real>
			<key>z</key>
			<real>-6.92118301618</real>
			<key>type</key>
			<string>fence</string>
			<key>sx</key>
			<real>0.229507804949</real>
			<key>sz</key>
			<real>2.80155050195</real>
			<key>r</key>
			<real>0</real>
		</dict>
		<key>pCylinder34</key>
		<dict>
			<key>x</key>
			<real>-7.11779880111</real>
			<key>z</key>
			<real>-0.185502018288</real>
			<key>type</key>
			<string>target</string>
			<key>radius</key>
			<real>0.344970332551</real>
		</dict>
		<key>pCylinder36</key>
		<dict>
			<key>x</key>
			<real>-8.321283698909999</real>
			<key>z</key>
			<real>3.82848711455</real>
			<key>type</key>
			<string>spawn</string>
			<key>radius</key>
			<real>0.689940665103</real>
		</dict>
		<key>pCylinder37</key>
		<dict>
			<key>x</key>
			<real>-9.03303133569</real>
			<key>z</key>
			<real>1.19082554374</real>
			<key>type</key>
			<string>spawn</string>
			<key>radius</key>
			<real>0.689940665103</real>
		</dict>
		<key>pCylinder38</key>
		<dict>
			<key>x</key>
			<real>-3.78305244454</real>
			<key>z</key>
			<real>12.9239404283</real>
			<key>type</key>
			<string>spawn</string>
			<key>radius</key>
			<real>0.689940665103</real>
		</dict>
		<key>pCylinder39</key>
		<dict>
			<key>x</key>
			<real>-7.45710581078</real>
			<key>z</key>
			<real>-1.31719436608</real>
			<key>type</key>
			<string>target</string>
			<key>radius</key>
			<real>0.344970332551</real>
		</dict>
		<key>pCylinder40</key>
		<dict>
			<key>x</key>
			<real>-7.62675931562</real>
			<key>z</key>
			<real>-2.40697218247</real>
			<key>type</key>
			<string>target</string>
			<key>radius</key>
			<real>0.344970332551</real>
		</dict>
		<key>pCylinder41</key>
		<dict>
			<key>x</key>
			<real>-3.21576818988</real>
			<key>z</key>
			<real>-5.84396375725</real>
			<key>type</key>
			<string>target</string>
			<key>radius</key>
			<real>0.344970332551</real>
		</dict>
		<key>pCylinder42</key>
		<dict>
			<key>x</key>
			<real>-3.63990195197</real>
			<key>z</key>
			<real>-6.68225438525</real>
			<key>type</key>
			<string>target</string>
			<key>radius</key>
			<real>0.344970332551</real>
		</dict>
		<key>pCylinder43</key>
		<dict>
			<key>x</key>
			<real>-2.45232741811</real>
			<key>z</key>
			<real>-7.05948516784</real>
			<key>type</key>
			<string>target</string>
			<key>radius</key>
			<real>0.344970332551</real>
		</dict>
		<key>pCylinder44</key>
		<dict>
			<key>x</key>
			<real>-2.28267391328</real>
			<key>z</key>
			<real>-6.30502360265</real>
			<key>type</key>
			<string>target</string>
			<key>radius</key>
			<real>0.344970332551</real>
		</dict>
		<key>pCylinder45</key>
		<dict>
			<key>x</key>
			<real>1.95866370763</real>
			<key>z</key>
			<real>10.2093017688</real>
			<key>type</key>
			<string>target</string>
			<key>radius</key>
			<real>0.344970332551</real>
		</dict>
		<key>pCylinder46</key>
		<dict>
			<key>x</key>
			<real>1.66177007417</real>
			<key>z</key>
			<real>9.16143848385</real>
			<key>type</key>
			<string>target</string>
			<key>radius</key>
			<real>0.344970332551</real>
		</dict>
		<key>pCylinder47</key>
		<dict>
			<key>x</key>
			<real>2.63727772698</real>
			<key>z</key>
			<real>8.90995129545</real>
			<key>type</key>
			<string>target</string>
			<key>radius</key>
			<real>0.344970332551</real>
		</dict>
		<key>pCylinder48</key>
		<dict>
			<key>x</key>
			<real>3.10382486528</real>
			<key>z</key>
			<real>10.2512163002</real>
			<key>type</key>
			<string>target</string>
			<key>radius</key>
			<real>0.344970332551</real>
		</dict>
		<key>pCylinder49</key>
		<dict>
			<key>x</key>
			<real>3.95209238946</real>
			<key>z</key>
			<real>8.95186582685</real>
			<key>type</key>
			<string>target</string>
			<key>radius</key>
			<real>0.344970332551</real>
		</dict>
		<key>pCylinder50</key>
		<dict>
			<key>x</key>
			<real>7.30274910997</real>
			<key>z</key>
			<real>6.60465206847</real>
			<key>type</key>
			<string>target</string>
			<key>radius</key>
			<real>0.344970332551</real>
		</dict>
		<key>pCylinder51</key>
		<dict>
			<key>x</key>
			<real>7.68446949585</real>
			<key>z</key>
			<real>5.55678878348</real>
			<key>type</key>
			<string>target</string>
			<key>radius</key>
			<real>0.344970332551</real>
		</dict>
		<key>pCylinder52</key>
		<dict>
			<key>x</key>
			<real>8.61756377245</real>
			<key>z</key>
			<real>6.52082300567</real>
			<key>type</key>
			<string>target</string>
			<key>radius</key>
			<real>0.344970332551</real>
		</dict>
		<key>pCylinder53</key>
		<dict>
			<key>x</key>
			<real>3.95209238946</real>
			<key>z</key>
			<real>-1.86208327428</real>
			<key>type</key>
			<string>target</string>
			<key>radius</key>
			<real>0.344970332551</real>
		</dict>
		<key>pCylinder54</key>
		<dict>
			<key>x</key>
			<real>-1.56164651772</real>
			<key>z</key>
			<real>-2.07165593128</real>
			<key>type</key>
			<string>target</string>
			<key>radius</key>
			<real>0.344970332551</real>
		</dict>
		<key>pCylinder55</key>
		<dict>
			<key>x</key>
			<real>-0.389982347812</real>
			<key>z</key>
			<real>13.2173421481</real>
			<key>type</key>
			<string>spawn</string>
			<key>radius</key>
			<real>0.689940665103</real>
		</dict>
		<key>pCylinder56</key>
		<dict>
			<key>x</key>
			<real>-1.49273012925</real>
			<key>z</key>
			<real>6.09187181014</real>
			<key>type</key>
			<string>spawn</string>
			<key>radius</key>
			<real>0.689940665103</real>
		</dict>
		<key>pCylinder57</key>
		<dict>
			<key>x</key>
			<real>-9.38161810413</real>
			<key>z</key>
			<real>-6.10525682719</real>
			<key>type</key>
			<string>spawn</string>
			<key>radius</key>
			<real>0.689940665103</real>
		</dict>
		<key>pCylinder58</key>
		<dict>
			<key>x</key>
			<real>8.85613366576</real>
			<key>z</key>
			<real>-5.51845338759</real>
			<key>type</key>
			<string>spawn</string>
			<key>radius</key>
			<real>0.689940665103</real>
		</dict>
	</dict>
	<key>LevelControl</key>
	<dict>
		<key>GamePlayMode</key>
		<integer>5</integer>
		<key>Background</key>
		<string>YuppieGarden</string>
		<key>NumCombos</key>
		<integer>2</integer>
		<key>NumGopherLives</key>
		<integer>10</integer>
		<key>NumCarrotLives</key>
		<integer>5</integer>
	</dict>
	<key>GeneratedObjects</key>
	<dict>
		<key>Cannon</key>
		<dict>
			<key>type</key>
			<string>cannon</string>
			<key>scale</key>
			<integer>4</integer>
		</dict>
		<key>Gopher</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.25</real>
		</dict>
		<key>Gopher1</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.25</real>
		</dict>
	</dict>
</dict>
</plist>
