<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">

<dict>
	<key>LayoutObjects</key>
	<dict>
		<key>Carrot1</key>
		<dict>
			<key>x</key>
			<real>-15.830273732</real>
			<key>y</key>
			<real>-0.346947006089</real>
			<key>z</key>
			<real>5.6589260321</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.744727114495</real>
			<key>sy</key>
			<real>0.744727114495</real>
			<key>sz</key>
			<real>0.744727114495</real>
		</dict>
		<key>Hole1</key>
		<dict>
			<key>x</key>
			<real>-14.298762599</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>22.7458117083</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.737951274976</real>
			<key>sy</key>
			<real>0.737951274976</real>
			<key>sz</key>
			<real>0.737951274976</real>
		</dict>
		<key>Rock6</key>
		<dict>
			<key>x</key>
			<real>-10.2248659956</real>
			<key>y</key>
			<real>0.219061182341</real>
			<key>z</key>
			<real>13.4051174909</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>30.0</real>
			<key>sx</key>
			<real>0.835303549821</real>
			<key>sy</key>
			<real>0.835303549821</real>
			<key>sz</key>
			<real>0.835303549821</real>
		</dict>
		<key>Hole2</key>
		<dict>
			<key>x</key>
			<real>-14.8393098614</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-13.3293095971</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.737951274976</real>
			<key>sy</key>
			<real>0.737951274976</real>
			<key>sz</key>
			<real>0.737951274976</real>
		</dict>
		<key>Carrot2</key>
		<dict>
			<key>x</key>
			<real>6.82212787059</real>
			<key>y</key>
			<real>-0.346947006089</real>
			<key>z</key>
			<real>16.933842874</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.744727114495</real>
			<key>sy</key>
			<real>0.744727114495</real>
			<key>sz</key>
			<real>0.744727114495</real>
		</dict>
		<key>Carrot3</key>
		<dict>
			<key>x</key>
			<real>15.1801669088</real>
			<key>y</key>
			<real>-0.346947006089</real>
			<key>z</key>
			<real>-15.5739090015</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.744727114495</real>
			<key>sy</key>
			<real>0.744727114495</real>
			<key>sz</key>
			<real>0.744727114495</real>
		</dict>
		<key>Carrot4</key>
		<dict>
			<key>x</key>
			<real>-17.0732908419</real>
			<key>y</key>
			<real>-0.346947006089</real>
			<key>z</key>
			<real>-26.2102598881</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.744727114495</real>
			<key>sy</key>
			<real>0.744727114495</real>
			<key>sz</key>
			<real>0.744727114495</real>
		</dict>
		<key>Hole3</key>
		<dict>
			<key>x</key>
			<real>17.6109664148</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-26.3073340264</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.737951274976</real>
			<key>sy</key>
			<real>0.737951274976</real>
			<key>sz</key>
			<real>0.737951274976</real>
		</dict>
		<key>Hole4</key>
		<dict>
			<key>x</key>
			<real>15.644743959</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>23.5767407744</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.737951274976</real>
			<key>sy</key>
			<real>0.737951274976</real>
			<key>sz</key>
			<real>0.737951274976</real>
		</dict>
		<key>Fountain</key>
		<dict>
			<key>x</key>
			<real>3.73915563213</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>3.73915563213</real>
			<key>type</key>
			<string>fountain</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>2.0</real>
			<key>sz</key>
			<real>2.0</real>
		</dict>
		<key>pCube17</key>
		<dict>
			<key>x</key>
			<real>1.85680871205</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>11.7047236478</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>3.09900487351</real>
			<key>sy</key>
			<real>6.19800974702</real>
			<key>sz</key>
			<real>0.774751218377</real>
		</dict>
		<key>pCube18</key>
		<dict>
			<key>x</key>
			<real>-4.13234803423</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>11.8421390941</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>3.09900487351</real>
			<key>sy</key>
			<real>6.19800974702</real>
			<key>sz</key>
			<real>0.774751218377</real>
		</dict>
		<key>pCube19</key>
		<dict>
			<key>x</key>
			<real>-7.10879678989</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>8.0489909089</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>3.09900487351</real>
			<key>sy</key>
			<real>6.19800974702</real>
			<key>sz</key>
			<real>0.774751218377</real>
		</dict>
		<key>pCube21</key>
		<dict>
			<key>x</key>
			<real>-11.3335605163</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>3.34113449125</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>3.09900487351</real>
			<key>sy</key>
			<real>6.19800974702</real>
			<key>sz</key>
			<real>0.774751218377</real>
		</dict>
		<key>pCube22</key>
		<dict>
			<key>x</key>
			<real>3.82036229982</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-8.99862037817</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>3.09900487351</real>
			<key>sy</key>
			<real>6.19800974702</real>
			<key>sz</key>
			<real>0.774751218377</real>
		</dict>
		<key>pCube23</key>
		<dict>
			<key>x</key>
			<real>-2.476610697</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-8.88599598736</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>3.09900487351</real>
			<key>sy</key>
			<real>6.19800974702</real>
			<key>sz</key>
			<real>0.774751218377</real>
		</dict>
		<key>pCube25</key>
		<dict>
			<key>x</key>
			<real>-6.50872076978</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-10.503452582</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>3.09900487351</real>
			<key>sy</key>
			<real>6.19800974702</real>
			<key>sz</key>
			<real>0.774751218377</real>
		</dict>
		<key>pCube26</key>
		<dict>
			<key>x</key>
			<real>-5.1569623495</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-21.219347768</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>3.09900487351</real>
			<key>sy</key>
			<real>6.19800974702</real>
			<key>sz</key>
			<real>0.774751218377</real>
		</dict>
		<key>pCube27</key>
		<dict>
			<key>x</key>
			<real>6.6111810146</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-21.8950941129</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>3.09900487351</real>
			<key>sy</key>
			<real>6.19800974702</real>
			<key>sz</key>
			<real>0.774751218377</real>
		</dict>
		<key>pCube28</key>
		<dict>
			<key>x</key>
			<real>0.426527807393</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-12.9196221909</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>3.09900487351</real>
			<key>sy</key>
			<real>6.19800974702</real>
			<key>sz</key>
			<real>0.774751218377</real>
		</dict>
		<key>pCube29</key>
		<dict>
			<key>x</key>
			<real>15.0609110564</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-0.424982962893</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>3.09900487351</real>
			<key>sy</key>
			<real>6.19800974702</real>
			<key>sz</key>
			<real>0.774751218377</real>
		</dict>
		<key>Flower1</key>
		<dict>
			<key>x</key>
			<real>-3.58380574927</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>18.8379689497</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.0</real>
			<key>sy</key>
			<real>1.0</real>
			<key>sz</key>
			<real>1.0</real>
		</dict>
		<key>Flower3</key>
		<dict>
			<key>x</key>
			<real>-7.01620859329</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-19.8010197569</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.0</real>
			<key>sy</key>
			<real>1.0</real>
			<key>sz</key>
			<real>1.0</real>
		</dict>
		<key>Flower4</key>
		<dict>
			<key>x</key>
			<real>4.92541208986</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-12.1376484091</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.0</real>
			<key>sy</key>
			<real>1.0</real>
			<key>sz</key>
			<real>1.0</real>
		</dict>
		<key>Flower5</key>
		<dict>
			<key>x</key>
			<real>-13.6009862434</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-1.68962144206</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.8049288717</real>
			<key>sy</key>
			<real>0.8049288717</real>
			<key>sz</key>
			<real>0.8049288717</real>
		</dict>
		<key>pCube34</key>
		<dict>
			<key>x</key>
			<real>-3.76766229864</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>23.6491032136</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>3.09900487351</real>
			<key>sy</key>
			<real>6.19800974702</real>
			<key>sz</key>
			<real>0.774751218377</real>
		</dict>
		<key>pCube35</key>
		<dict>
			<key>x</key>
			<real>-21.2224095478</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>17.7321647824</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>3.09900487351</real>
			<key>sy</key>
			<real>6.19800974702</real>
			<key>sz</key>
			<real>0.774751218377</real>
		</dict>
		<key>Pot1</key>
		<dict>
			<key>x</key>
			<real>8.3955757302</real>
			<key>y</key>
			<real>1.8794361376</real>
			<key>z</key>
			<real>-25.7405892508</real>
			<key>type</key>
			<string>pot1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.0</real>
			<key>sy</key>
			<real>1.0</real>
			<key>sz</key>
			<real>1.0</real>
		</dict>
		<key>Pot4</key>
		<dict>
			<key>x</key>
			<real>-8.91106908433</real>
			<key>y</key>
			<real>1.8794361376</real>
			<key>z</key>
			<real>26.6893175318</real>
			<key>type</key>
			<string>pot1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.934976290567</real>
			<key>sy</key>
			<real>0.934976290567</real>
			<key>sz</key>
			<real>0.934976290567</real>
		</dict>
		<key>w</key>
		<dict>
			<key>x</key>
			<real>-11.5097380059</real>
			<key>y</key>
			<real>1.8794361376</real>
			<key>z</key>
			<real>-17.3927953214</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.0</real>
			<key>sy</key>
			<real>1.0</real>
			<key>sz</key>
			<real>1.0</real>
		</dict>
		<key>Pot6</key>
		<dict>
			<key>x</key>
			<real>18.9763639781</real>
			<key>y</key>
			<real>1.8794361376</real>
			<key>z</key>
			<real>20.3277647411</real>
			<key>type</key>
			<string>pot1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.0</real>
			<key>sy</key>
			<real>1.0</real>
			<key>sz</key>
			<real>1.0</real>
		</dict>
		<key>pCube36</key>
		<dict>
			<key>x</key>
			<real>6.6111810146</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-29.809570922</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>3.09900487351</real>
			<key>sy</key>
			<real>6.19800974702</real>
			<key>sz</key>
			<real>0.774751218377</real>
		</dict>
		<key>pCube37</key>
		<dict>
			<key>x</key>
			<real>-5.38818705088</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-30.5979416577</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>3.09900487351</real>
			<key>sy</key>
			<real>6.19800974702</real>
			<key>sz</key>
			<real>0.774751218377</real>
		</dict>
		<key>pCube38</key>
		<dict>
			<key>x</key>
			<real>19.5886965792</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-7.70915507525</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>3.09900487351</real>
			<key>sy</key>
			<real>6.19800974702</real>
			<key>sz</key>
			<real>0.774751218377</real>
		</dict>
		<key>pCube39</key>
		<dict>
			<key>x</key>
			<real>-10.544979733</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-8.61015020174</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>3.09900487351</real>
			<key>sy</key>
			<real>6.19800974702</real>
			<key>sz</key>
			<real>0.774751218377</real>
		</dict>
		<key>Carrot5</key>
		<dict>
			<key>x</key>
			<real>-14.2348711813</real>
			<key>y</key>
			<real>-0.346947006089</real>
			<key>z</key>
			<real>-22.9441525546</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.744727114495</real>
			<key>sy</key>
			<real>0.744727114495</real>
			<key>sz</key>
			<real>0.744727114495</real>
		</dict>
		<key>Carrot6</key>
		<dict>
			<key>x</key>
			<real>13.9601872292</real>
			<key>y</key>
			<real>-0.346947006089</real>
			<key>z</key>
			<real>11.1519824587</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.744727114495</real>
			<key>sy</key>
			<real>0.744727114495</real>
			<key>sz</key>
			<real>0.744727114495</real>
		</dict>
		<key>Pot7</key>
		<dict>
			<key>x</key>
			<real>-8.48515484323</real>
			<key>y</key>
			<real>1.8794361376</real>
			<key>z</key>
			<real>11.754290141</real>
			<key>type</key>
			<string>pot1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.0</real>
			<key>sy</key>
			<real>1.0</real>
			<key>sz</key>
			<real>1.0</real>
		</dict>
		<key>Flower6</key>
		<dict>
			<key>x</key>
			<real>-16.9199603892</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>26.9046173523</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.0</real>
			<key>sy</key>
			<real>1.0</real>
			<key>sz</key>
			<real>1.0</real>
		</dict>
		<key>Carrot7</key>
		<dict>
			<key>x</key>
			<real>-13.4402686491</real>
			<key>y</key>
			<real>-0.346947006089</real>
			<key>z</key>
			<real>6.09820080266</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.744727114495</real>
			<key>sy</key>
			<real>0.744727114495</real>
			<key>sz</key>
			<real>0.744727114495</real>
		</dict>
		<key>Flower7</key>
		<dict>
			<key>x</key>
			<real>-3.55076806531</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>8.79067931359</real>
			<key>type</key>
			<string>blueFlower</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>3.0</real>
			<key>sx</key>
			<real>0.674881452834</real>
			<key>sy</key>
			<real>0.674881452834</real>
			<key>sz</key>
			<real>0.674881452834</real>
		</dict>
		<key>Flower8</key>
		<dict>
			<key>x</key>
			<real>2.3941209501</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>8.67615056233</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>3.0</real>
			<key>sx</key>
			<real>0.739905162267</real>
			<key>sy</key>
			<real>0.739905162267</real>
			<key>sz</key>
			<real>0.739905162267</real>
		</dict>
		<key>Flower9</key>
		<dict>
			<key>x</key>
			<real>8.16216857907</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-2.35913537673</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>3.0</real>
			<key>sx</key>
			<real>0.674881452834</real>
			<key>sy</key>
			<real>0.674881452834</real>
			<key>sz</key>
			<real>0.674881452834</real>
		</dict>
		<key>Flower10</key>
		<dict>
			<key>x</key>
			<real>7.03592467095</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-4.49899880215</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>3.0</real>
			<key>sx</key>
			<real>0.674881452834</real>
			<key>sy</key>
			<real>0.674881452834</real>
			<key>sz</key>
			<real>0.674881452834</real>
		</dict>
		<key>Flower11</key>
		<dict>
			<key>x</key>
			<real>6.58542710771</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-2.35913537673</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>3.0</real>
			<key>sx</key>
			<real>0.674881452834</real>
			<key>sy</key>
			<real>0.674881452834</real>
			<key>sz</key>
			<real>0.674881452834</real>
		</dict>
		<key>Flower12</key>
		<dict>
			<key>x</key>
			<real>-0.960407076653</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-5.62524271026</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>3.0</real>
			<key>sx</key>
			<real>0.674881452834</real>
			<key>sy</key>
			<real>0.674881452834</real>
			<key>sz</key>
			<real>0.674881452834</real>
		</dict>
		<key>Flower13</key>
		<dict>
			<key>x</key>
			<real>-3.21289489288</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-5.85049149188</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>3.0</real>
			<key>sx</key>
			<real>0.674881452834</real>
			<key>sy</key>
			<real>0.674881452834</real>
			<key>sz</key>
			<real>0.674881452834</real>
		</dict>
		<key>Flower14</key>
		<dict>
			<key>x</key>
			<real>-3.88864123775</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-3.71062806647</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>3.0</real>
			<key>sx</key>
			<real>0.674881452834</real>
			<key>sy</key>
			<real>0.674881452834</real>
			<key>sz</key>
			<real>0.674881452834</real>
		</dict>
		<key>Flower15</key>
		<dict>
			<key>x</key>
			<real>3.85823803065</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>27.2591750462</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>3.0</real>
			<key>sx</key>
			<real>0.739905162267</real>
			<key>sy</key>
			<real>0.739905162267</real>
			<key>sz</key>
			<real>0.739905162267</real>
		</dict>
		<key>Flower16</key>
		<dict>
			<key>x</key>
			<real>2.28149655929</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>24.7814384483</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>3.0</real>
			<key>sx</key>
			<real>0.739905162267</real>
			<key>sy</key>
			<real>0.739905162267</real>
			<key>sz</key>
			<real>0.739905162267</real>
		</dict>
		<key>Flower17</key>
		<dict>
			<key>x</key>
			<real>8.70108683553</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>26.5834287013</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>3.0</real>
			<key>sx</key>
			<real>0.739905162267</real>
			<key>sy</key>
			<real>0.739905162267</real>
			<key>sz</key>
			<real>0.739905162267</real>
		</dict>
		<key>Flower18</key>
		<dict>
			<key>x</key>
			<real>7.57484292742</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>23.9930677127</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>3.0</real>
			<key>sx</key>
			<real>0.739905162267</real>
			<key>sy</key>
			<real>0.739905162267</real>
			<key>sz</key>
			<real>0.739905162267</real>
		</dict>
		<key>Flower19</key>
		<dict>
			<key>x</key>
			<real>-3.12447419966</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>13.8568725396</real>
			<key>type</key>
			<string>purpleFlower</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>3.0</real>
			<key>sx</key>
			<real>0.739905162267</real>
			<key>sy</key>
			<real>0.739905162267</real>
			<key>sz</key>
			<real>0.739905162267</real>
		</dict>
		<key>Flower20</key>
		<dict>
			<key>x</key>
			<real>-5.26433762507</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>13.9694969305</real>
			<key>type</key>
			<string>purpleFlower</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>3.0</real>
			<key>sx</key>
			<real>0.739905162267</real>
			<key>sy</key>
			<real>0.739905162267</real>
			<key>sz</key>
			<real>0.739905162267</real>
		</dict>
		<key>Flower21</key>
		<dict>
			<key>x</key>
			<real>10.1652039161</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>5.86054079204</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>3.0</real>
			<key>sx</key>
			<real>0.739905162267</real>
			<key>sy</key>
			<real>0.739905162267</real>
			<key>sz</key>
			<real>0.739905162267</real>
		</dict>
		<key>Flower22</key>
		<dict>
			<key>x</key>
			<real>6.44859901931</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>7.09940909097</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>3.0</real>
			<key>sx</key>
			<real>0.739905162267</real>
			<key>sy</key>
			<real>0.739905162267</real>
			<key>sz</key>
			<real>0.739905162267</real>
		</dict>
		<key>Flower23</key>
		<dict>
			<key>x</key>
			<real>8.13796488148</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>10.2528920337</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>3.0</real>
			<key>sx</key>
			<real>0.739905162267</real>
			<key>sy</key>
			<real>0.739905162267</real>
			<key>sz</key>
			<real>0.739905162267</real>
		</dict>
		<key>Flower24</key>
		<dict>
			<key>x</key>
			<real>8.58846244472</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>2.81968224014</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>3.0</real>
			<key>sx</key>
			<real>0.739905162267</real>
			<key>sy</key>
			<real>0.739905162267</real>
			<key>sz</key>
			<real>0.739905162267</real>
		</dict>
		<key>pCube40</key>
		<dict>
			<key>x</key>
			<real>14.2953502111</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-11.6510087536</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>3.09900487351</real>
			<key>sy</key>
			<real>6.19800974702</real>
			<key>sz</key>
			<real>0.774751218377</real>
		</dict>
		<key>pCube41</key>
		<dict>
			<key>x</key>
			<real>20.4896917057</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-18.2958478115</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>3.09900487351</real>
			<key>sy</key>
			<real>6.19800974702</real>
			<key>sz</key>
			<real>0.774751218377</real>
		</dict>
		<key>pCube42</key>
		<dict>
			<key>x</key>
			<real>9.45250140621</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-20.998833191</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>3.09900487351</real>
			<key>sy</key>
			<real>6.19800974702</real>
			<key>sz</key>
			<real>0.774751218377</real>
		</dict>
		<key>pCube43</key>
		<dict>
			<key>x</key>
			<real>-1.13419133005</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-21.8998283175</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>3.09900487351</real>
			<key>sy</key>
			<real>6.19800974702</real>
			<key>sz</key>
			<real>0.774751218377</real>
		</dict>
		<key>pCube44</key>
		<dict>
			<key>x</key>
			<real>-19.2667182507</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-4.33042335091</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>3.09900487351</real>
			<key>sy</key>
			<real>6.19800974702</real>
			<key>sz</key>
			<real>0.774751218377</real>
		</dict>
		<key>Pot8</key>
		<dict>
			<key>x</key>
			<real>19.6955261818</real>
			<key>y</key>
			<real>1.8794361376</real>
			<key>z</key>
			<real>-0.565785044572</real>
			<key>type</key>
			<string>pot1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.0</real>
			<key>sy</key>
			<real>1.0</real>
			<key>sz</key>
			<real>1.0</real>
		</dict>
		<key>Carrot8</key>
		<dict>
			<key>x</key>
			<real>14.7296693455</real>
			<key>y</key>
			<real>-0.346947006089</real>
			<key>z</key>
			<real>-17.4885236453</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.744727114495</real>
			<key>sy</key>
			<real>0.744727114495</real>
			<key>sz</key>
			<real>0.744727114495</real>
		</dict>
		<key>Carrot9</key>
		<dict>
			<key>x</key>
			<real>15.9874262638</real>
			<key>y</key>
			<real>-0.346947006089</real>
			<key>z</key>
			<real>12.0529775852</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.744727114495</real>
			<key>sy</key>
			<real>0.744727114495</real>
			<key>sz</key>
			<real>0.744727114495</real>
		</dict>
		<key>w1</key>
		<dict>
			<key>x</key>
			<real>-17.3662063281</real>
			<key>y</key>
			<real>1.8794361376</real>
			<key>z</key>
			<real>-9.17121479215</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.0</real>
			<key>sy</key>
			<real>1.0</real>
			<key>sz</key>
			<real>1.0</real>
		</dict>
		<key>w2</key>
		<dict>
			<key>x</key>
			<real>-10.1582453162</real>
			<key>y</key>
			<real>1.8794361376</real>
			<key>z</key>
			<real>-3.65261964239</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.0</real>
			<key>sy</key>
			<real>1.0</real>
			<key>sz</key>
			<real>1.0</real>
		</dict>
		<key>w3</key>
		<dict>
			<key>x</key>
			<real>-1.03566966043</real>
			<key>y</key>
			<real>1.8794361376</real>
			<key>z</key>
			<real>-28.2047368393</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.0</real>
			<key>sy</key>
			<real>1.0</real>
			<key>sz</key>
			<real>1.0</real>
		</dict>
	</dict>
	<key>LevelControl</key>
	<dict>
		<key>NumCombos</key>
		<integer>2</integer>
		<key>NumGopherLives</key>
		<integer>20</integer>
		<key>Background</key>
		<string>YuppieBig</string>
		<key>GamePlayMode</key>
		<integer>4</integer>
		<key>ScoreMode</key>
		<integer>0</integer>
		<key>NumBalls</key>
		<integer>-1</integer>
		<key>BallTypes</key>
		<integer>1</integer>
		<key>XBounds</key>
		<real>20</real>
		<key>ZBounds</key>
		<real>30</real>
		<key>BallSpawnX</key>
		<real>-5.0</real>
		<key>BallSpawnZ</key>
		<real>0.0</real>
		<key>CollisionAvoidance</key>
		<integer>0</integer>
		<key>SpawnIntervals</key>
		<array>
			<dict>
				<key>Time</key>
				<real>0.0</real>
				<key>Gophers</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>30.0</real>
				<key>Gophers</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>40.0</real>
				<key>Gophers</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>50.0</real>
				<key>Gophers</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>60.0</real>
				<key>Gophers</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>75.0</real>
				<key>Gophers</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>80.0</real>
				<key>Gophers</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>90.0</real>
				<key>Gophers</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>100.0</real>
				<key>Gophers</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>110.0</real>
				<key>Gophers</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>120.0</real>
				<key>Gophers</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<key>GeneratedObjects</key>
	<dict>
		<key>Gopher</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.5</real>
		</dict>
		<key>Gopher1</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.5</real>
		</dict>
		<key>Gopher2</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.5</real>
		</dict>
		<key>Gopher3</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.5</real>
		</dict>
		<key>Gopher4</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.5</real>
		</dict>
		<key>Gopher5</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.5</real>
		</dict>
		<key>Gopher6</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.5</real>
		</dict>
		<key>Ball1</key>
		<dict>
			<key>type</key>
			<string>ball</string>
			<key>scale</key>
			<real>0.5</real>
			<key>ballType</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
