<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">

<dict>
	<key>LayoutObjects</key>
	<dict>
		<key>Carrot1</key>
		<dict>
			<key>x</key>
			<real>-15.830273732</real>
			<key>y</key>
			<real>-0.346947006089</real>
			<key>z</key>
			<real>5.6589260321</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.744727114495</real>
			<key>sy</key>
			<real>0.744727114495</real>
			<key>sz</key>
			<real>0.744727114495</real>
		</dict>
		<key>Hole1</key>
		<dict>
			<key>x</key>
			<real>-14.298762599</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>22.7458117083</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.737951274976</real>
			<key>sy</key>
			<real>0.737951274976</real>
			<key>sz</key>
			<real>0.737951274976</real>
		</dict>
		<key>Rock6</key>
		<dict>
			<key>x</key>
			<real>-11.5883302752</real>
			<key>y</key>
			<real>0.219061182341</real>
			<key>z</key>
			<real>15.3135817721</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.835303549821</real>
			<key>sy</key>
			<real>0.835303549821</real>
			<key>sz</key>
			<real>0.835303549821</real>
		</dict>
		<key>Hole2</key>
		<dict>
			<key>x</key>
			<real>-15.9500613284</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-14.0102399411</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.737951274976</real>
			<key>sy</key>
			<real>0.737951274976</real>
			<key>sz</key>
			<real>0.737951274976</real>
		</dict>
		<key>Carrot2</key>
		<dict>
			<key>x</key>
			<real>5.05348555033</real>
			<key>y</key>
			<real>-0.346947006089</real>
			<key>z</key>
			<real>18.7358331269</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.744727114495</real>
			<key>sy</key>
			<real>0.744727114495</real>
			<key>sz</key>
			<real>0.744727114495</real>
		</dict>
		<key>Carrot3</key>
		<dict>
			<key>x</key>
			<real>-1.71593077746</real>
			<key>y</key>
			<real>-0.346947006089</real>
			<key>z</key>
			<real>-17.7546553375</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.744727114495</real>
			<key>sy</key>
			<real>0.744727114495</real>
			<key>sz</key>
			<real>0.744727114495</real>
		</dict>
		<key>Hole3</key>
		<dict>
			<key>x</key>
			<real>17.6109664148</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-26.3073340264</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.737951274976</real>
			<key>sy</key>
			<real>0.737951274976</real>
			<key>sz</key>
			<real>0.737951274976</real>
		</dict>
		<key>Hole4</key>
		<dict>
			<key>x</key>
			<real>17.6719829936</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>25.3787310274</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.737951274976</real>
			<key>sy</key>
			<real>0.737951274976</real>
			<key>sz</key>
			<real>0.737951274976</real>
		</dict>
		<key>Hedge1</key>
		<dict>
			<key>x</key>
			<real>8.60624627888</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-4.0121216548</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.72383280039</real>
			<key>sy</key>
			<real>5.44766560078</real>
			<key>sz</key>
			<real>0.680958200098</real>
		</dict>
		<key>Flower1</key>
		<dict>
			<key>x</key>
			<real>-4.90633221325</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>20.1604954137</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>2.0</real>
			<key>sx</key>
			<real>1.0</real>
			<key>sy</key>
			<real>1.0</real>
			<key>sz</key>
			<real>1.0</real>
		</dict>
		<key>Flower2</key>
		<dict>
			<key>x</key>
			<real>-4.70156157928</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>6.98866529816</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>3.0</real>
			<key>sx</key>
			<real>1.0</real>
			<key>sy</key>
			<real>1.0</real>
			<key>sz</key>
			<real>1.0</real>
		</dict>
		<key>Flower3</key>
		<dict>
			<key>x</key>
			<real>-5.15292419647</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-11.1935615198</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.0</real>
			<key>sy</key>
			<real>1.0</real>
			<key>sz</key>
			<real>1.0</real>
		</dict>
		<key>Flower4</key>
		<dict>
			<key>x</key>
			<real>6.12770887529</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-11.7769593735</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.0</real>
			<key>sy</key>
			<real>1.0</real>
			<key>sz</key>
			<real>1.0</real>
		</dict>
		<key>Flower5</key>
		<dict>
			<key>x</key>
			<real>-16.7335960709</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-3.94118475552</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.0</real>
			<key>sy</key>
			<real>1.0</real>
			<key>sz</key>
			<real>1.0</real>
		</dict>
		<key>Pot1</key>
		<dict>
			<key>x</key>
			<real>10.6786528471</real>
			<key>y</key>
			<real>1.8794361376</real>
			<key>z</key>
			<real>-11.9976755992</real>
			<key>type</key>
			<string>pot1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.0</real>
			<key>sy</key>
			<real>1.0</real>
			<key>sz</key>
			<real>1.0</real>
		</dict>
		<key>Pot2</key>
		<dict>
			<key>x</key>
			<real>10.8959834595</real>
			<key>y</key>
			<real>1.8794361376</real>
			<key>z</key>
			<real>-27.5458954647</real>
			<key>type</key>
			<string>pot1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.0</real>
			<key>sy</key>
			<real>1.0</real>
			<key>sz</key>
			<real>1.0</real>
		</dict>
		<key>Pot5</key>
		<dict>
			<key>x</key>
			<real>5.19450912994</real>
			<key>y</key>
			<real>1.8794361376</real>
			<key>z</key>
			<real>9.16494166206</real>
			<key>type</key>
			<string>pot1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.0</real>
			<key>sy</key>
			<real>1.0</real>
			<key>sz</key>
			<real>1.0</real>
		</dict>
		<key>Pot6</key>
		<dict>
			<key>x</key>
			<real>18.1347562283</real>
			<key>y</key>
			<real>1.8794361376</real>
			<key>z</key>
			<real>18.1636305273</real>
			<key>type</key>
			<string>pot1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.0</real>
			<key>sy</key>
			<real>1.0</real>
			<key>sz</key>
			<real>1.0</real>
		</dict>
		<key>Carrot5</key>
		<dict>
			<key>x</key>
			<real>-16.4425073432</real>
			<key>y</key>
			<real>-0.346947006089</real>
			<key>z</key>
			<real>-24.7803687145</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.744727114495</real>
			<key>sy</key>
			<real>0.744727114495</real>
			<key>sz</key>
			<real>0.744727114495</real>
		</dict>
		<key>Carrot6</key>
		<dict>
			<key>x</key>
			<real>15.5369287005</real>
			<key>y</key>
			<real>-0.346947006089</real>
			<key>z</key>
			<real>12.4924817123</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.744727114495</real>
			<key>sy</key>
			<real>0.744727114495</real>
			<key>sz</key>
			<real>0.744727114495</real>
		</dict>
		<key>Pot7</key>
		<dict>
			<key>x</key>
			<real>-10.5732361797</real>
			<key>y</key>
			<real>1.8794361376</real>
			<key>z</key>
			<real>13.5624307566</real>
			<key>type</key>
			<string>pot1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.0</real>
			<key>sy</key>
			<real>1.0</real>
			<key>sz</key>
			<real>1.0</real>
		</dict>
		<key>Flower6</key>
		<dict>
			<key>x</key>
			<real>-16.9199603892</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>26.9046173523</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.0</real>
			<key>sy</key>
			<real>1.0</real>
			<key>sz</key>
			<real>1.0</real>
		</dict>
		<key>Carrot7</key>
		<dict>
			<key>x</key>
			<real>-13.4402686491</real>
			<key>y</key>
			<real>-0.346947006089</real>
			<key>z</key>
			<real>6.09820080266</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.744727114495</real>
			<key>sy</key>
			<real>0.744727114495</real>
			<key>sz</key>
			<real>0.744727114495</real>
		</dict>
		<key>pCube40</key>
		<dict>
			<key>x</key>
			<real>-7.18777944313</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-0.476656313059</real>
			<key>type</key>
			<string>fenceC</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.08574920059</real>
			<key>sy</key>
			<real>4.17149840118</real>
			<key>sz</key>
			<real>0.521437300147</real>
		</dict>
		<key>pCube41</key>
		<dict>
			<key>x</key>
			<real>5.15912575735</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>12.0788699747</real>
			<key>type</key>
			<string>fenceLt</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.08574920059</real>
			<key>sy</key>
			<real>4.17149840118</real>
			<key>sz</key>
			<real>0.521437300147</real>
		</dict>
		<key>pCube42</key>
		<dict>
			<key>x</key>
			<real>18.6435114108</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>3.26840483503</real>
			<key>type</key>
			<string>fenceLt</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.08574920059</real>
			<key>sy</key>
			<real>4.17149840118</real>
			<key>sz</key>
			<real>0.521437300147</real>
		</dict>
		<key>pCube43</key>
		<dict>
			<key>x</key>
			<real>-20.147529431</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-0.25578122082</real>
			<key>type</key>
			<string>fenceC</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.08574920059</real>
			<key>sy</key>
			<real>4.17149840118</real>
			<key>sz</key>
			<real>0.521437300147</real>
		</dict>
		<key>Hedge2</key>
		<dict>
			<key>x</key>
			<real>8.60624627888</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-10.7543144815</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.72383280039</real>
			<key>sy</key>
			<real>5.44766560078</real>
			<key>sz</key>
			<real>0.680958200098</real>
		</dict>
		<key>Hedge3</key>
		<dict>
			<key>x</key>
			<real>8.60624627888</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-26.6756373012</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.72383280039</real>
			<key>sy</key>
			<real>5.44766560078</real>
			<key>sz</key>
			<real>0.680958200098</real>
		</dict>
		<key>Hedge4</key>
		<dict>
			<key>x</key>
			<real>8.60624627888</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-23.7513127017</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.72383280039</real>
			<key>sy</key>
			<real>5.44766560078</real>
			<key>sz</key>
			<real>0.680958200098</real>
		</dict>
		<key>Hedge5</key>
		<dict>
			<key>x</key>
			<real>8.60624627888</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>3.94853975505</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.72383280039</real>
			<key>sy</key>
			<real>5.44766560078</real>
			<key>sz</key>
			<real>0.680958200098</real>
		</dict>
		<key>Hedge6</key>
		<dict>
			<key>x</key>
			<real>8.60624627888</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>9.06610780424</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.72383280039</real>
			<key>sy</key>
			<real>5.44766560078</real>
			<key>sz</key>
			<real>0.680958200098</real>
		</dict>
		<key>Hedge7</key>
		<dict>
			<key>x</key>
			<real>8.60624627888</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>21.5757185912</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.72383280039</real>
			<key>sy</key>
			<real>5.44766560078</real>
			<key>sz</key>
			<real>0.680958200098</real>
		</dict>
		<key>Hedge8</key>
		<dict>
			<key>x</key>
			<real>8.60624627888</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>27.0994428347</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.72383280039</real>
			<key>sy</key>
			<real>5.44766560078</real>
			<key>sz</key>
			<real>0.680958200098</real>
		</dict>
		<key>pCube44</key>
		<dict>
			<key>x</key>
			<real>18.6435114108</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-11.7093859023</real>
			<key>type</key>
			<string>fenceC</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.08574920059</real>
			<key>sy</key>
			<real>4.17149840118</real>
			<key>sz</key>
			<real>0.521437300147</real>
		</dict>
		<key>pCube45</key>
		<dict>
			<key>x</key>
			<real>5.15912575735</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-6.61889493278</real>
			<key>type</key>
			<string>fenceC</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.08574920059</real>
			<key>sy</key>
			<real>4.17149840118</real>
			<key>sz</key>
			<real>0.521437300147</real>
		</dict>
		<key>Rock7</key>
		<dict>
			<key>x</key>
			<real>-17.1188954882</real>
			<key>y</key>
			<real>0.219061182341</real>
			<key>z</key>
			<real>-10.1578896045</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.609226953847</real>
			<key>sy</key>
			<real>0.609226953847</real>
			<key>sz</key>
			<real>0.609226953847</real>
		</dict>
		<key>Rock8</key>
		<dict>
			<key>x</key>
			<real>-9.77684120514</real>
			<key>y</key>
			<real>0.219061182341</real>
			<key>z</key>
			<real>-11.2347242327</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.609226953847</real>
			<key>sy</key>
			<real>0.609226953847</real>
			<key>sz</key>
			<real>0.609226953847</real>
		</dict>
		<key>Rock9</key>
		<dict>
			<key>x</key>
			<real>-2.6594344276</real>
			<key>y</key>
			<real>0.219061182341</real>
			<key>z</key>
			<real>-9.02140629477</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.817470824288</real>
			<key>sy</key>
			<real>0.817470824288</real>
			<key>sz</key>
			<real>0.817470824288</real>
		</dict>
		<key>Rock10</key>
		<dict>
			<key>x</key>
			<real>-9.2482820353</real>
			<key>y</key>
			<real>0.219061182341</real>
			<key>z</key>
			<real>-8.03976279394</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.609226953847</real>
			<key>sy</key>
			<real>0.609226953847</real>
			<key>sz</key>
			<real>0.609226953847</real>
		</dict>
		<key>Rock11</key>
		<dict>
			<key>x</key>
			<real>-11.7175994796</real>
			<key>y</key>
			<real>0.219061182341</real>
			<key>z</key>
			<real>-6.85275438993</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.609226953847</real>
			<key>sy</key>
			<real>0.609226953847</real>
			<key>sz</key>
			<real>0.609226953847</real>
		</dict>
		<key>Rock12</key>
		<dict>
			<key>x</key>
			<real>-15.9441668029</real>
			<key>y</key>
			<real>0.219061182341</real>
			<key>z</key>
			<real>-7.02527977711</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.609226953847</real>
			<key>sy</key>
			<real>0.609226953847</real>
			<key>sz</key>
			<real>0.609226953847</real>
		</dict>
		<key>Rock13</key>
		<dict>
			<key>x</key>
			<real>-13.9055144713</real>
			<key>y</key>
			<real>0.219061182341</real>
			<key>z</key>
			<real>-4.07072587116</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.485560572987</real>
			<key>sy</key>
			<real>0.485560572987</real>
			<key>sz</key>
			<real>0.485560572987</real>
		</dict>
		<key>Rock14</key>
		<dict>
			<key>x</key>
			<real>-13.7904975465</real>
			<key>y</key>
			<real>0.219061182341</real>
			<key>z</key>
			<real>-9.78480646596</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.665746102841</real>
			<key>sy</key>
			<real>0.665746102841</real>
			<key>sz</key>
			<real>0.665746102841</real>
		</dict>
		<key>Pot8</key>
		<dict>
			<key>x</key>
			<real>-10.9580102927</real>
			<key>y</key>
			<real>1.8794361376</real>
			<key>z</key>
			<real>-3.85496793317</real>
			<key>type</key>
			<string>pot1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.0</real>
			<key>sy</key>
			<real>1.0</real>
			<key>sz</key>
			<real>1.0</real>
		</dict>
		<key>Carrot8</key>
		<dict>
			<key>x</key>
			<real>-4.13867796411</real>
			<key>y</key>
			<real>-0.346947006089</real>
			<key>z</key>
			<real>-15.9896977197</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.744727114495</real>
			<key>sy</key>
			<real>0.744727114495</real>
			<key>sz</key>
			<real>0.744727114495</real>
		</dict>
		<key>Carrot9</key>
		<dict>
			<key>x</key>
			<real>5.13286729878</real>
			<key>y</key>
			<real>-0.346947006089</real>
			<key>z</key>
			<real>15.8447587736</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.744727114495</real>
			<key>sy</key>
			<real>0.744727114495</real>
			<key>sz</key>
			<real>0.744727114495</real>
		</dict>
		<key>Rock15</key>
		<dict>
			<key>x</key>
			<real>-11.7896373889</real>
			<key>y</key>
			<real>0.219061182341</real>
			<key>z</key>
			<real>-14.6719992398</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.609226953847</real>
			<key>sy</key>
			<real>0.609226953847</real>
			<key>sz</key>
			<real>0.609226953847</real>
		</dict>
		<key>Carrot10</key>
		<dict>
			<key>x</key>
			<real>-13.4402686491</real>
			<key>y</key>
			<real>-0.346947006089</real>
			<key>z</key>
			<real>3.65084937498</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.744727114495</real>
			<key>sy</key>
			<real>0.744727114495</real>
			<key>sz</key>
			<real>0.744727114495</real>
		</dict>
		<key>Carrot11</key>
		<dict>
			<key>x</key>
			<real>12.2085307589</real>
			<key>y</key>
			<real>-0.346947006089</real>
			<key>z</key>
			<real>12.4924817123</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.744727114495</real>
			<key>sy</key>
			<real>0.744727114495</real>
			<key>sz</key>
			<real>0.744727114495</real>
		</dict>
		<key>Carrot12</key>
		<dict>
			<key>x</key>
			<real>-2.79276540563</real>
			<key>y</key>
			<real>-0.346947006089</real>
			<key>z</key>
			<real>-19.5167483654</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.744727114495</real>
			<key>sy</key>
			<real>0.744727114495</real>
			<key>sz</key>
			<real>0.744727114495</real>
		</dict>
		<key>Rock16</key>
		<dict>
			<key>x</key>
			<real>11.3302027972</real>
			<key>y</key>
			<real>0.219061182341</real>
			<key>z</key>
			<real>-2.99638406214</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.835303549821</real>
			<key>sy</key>
			<real>0.835303549821</real>
			<key>sz</key>
			<real>0.835303549821</real>
		</dict>
		<key>Rock18</key>
		<dict>
			<key>x</key>
			<real>-5.51283348701</real>
			<key>y</key>
			<real>0.219061182341</real>
			<key>z</key>
			<real>-6.10783600538</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.763219066908</real>
			<key>sy</key>
			<real>0.763219066908</real>
			<key>sz</key>
			<real>0.763219066908</real>
		</dict>
		<key>Rock20</key>
		<dict>
			<key>x</key>
			<real>-11.4975820828</real>
			<key>y</key>
			<real>0.219061182341</real>
			<key>z</key>
			<real>-18.987371273</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.609226953847</real>
			<key>sy</key>
			<real>0.609226953847</real>
			<key>sz</key>
			<real>0.609226953847</real>
		</dict>
		<key>Hedge9</key>
		<dict>
			<key>x</key>
			<real>-7.04425936923</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>2.73372674773</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.72383280039</real>
			<key>sy</key>
			<real>5.44766560078</real>
			<key>sz</key>
			<real>0.680958200098</real>
		</dict>
		<key>Hedge10</key>
		<dict>
			<key>x</key>
			<real>-7.15469691535</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-4.0121216548</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.72383280039</real>
			<key>sy</key>
			<real>5.44766560078</real>
			<key>sz</key>
			<real>0.680958200098</real>
		</dict>
		<key>Hedge11</key>
		<dict>
			<key>x</key>
			<real>-7.21220537774</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-9.43161984649</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.72383280039</real>
			<key>sy</key>
			<real>5.44766560078</real>
			<key>sz</key>
			<real>0.680958200098</real>
		</dict>
		<key>Hedge12</key>
		<dict>
			<key>x</key>
			<real>-7.04425936923</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>8.2930449814</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.72383280039</real>
			<key>sy</key>
			<real>5.44766560078</real>
			<key>sz</key>
			<real>0.680958200098</real>
		</dict>
		<key>Hedge13</key>
		<dict>
			<key>x</key>
			<real>-7.15469691535</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>21.5757185912</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.72383280039</real>
			<key>sy</key>
			<real>5.44766560078</real>
			<key>sz</key>
			<real>0.680958200098</real>
		</dict>
		<key>Hedge14</key>
		<dict>
			<key>x</key>
			<real>-7.15469691535</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>27.0994428347</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.72383280039</real>
			<key>sy</key>
			<real>5.44766560078</real>
			<key>sz</key>
			<real>0.680958200098</real>
		</dict>
		<key>Hedge15</key>
		<dict>
			<key>x</key>
			<real>-7.15469691535</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-26.6756373012</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.72383280039</real>
			<key>sy</key>
			<real>5.44766560078</real>
			<key>sz</key>
			<real>0.680958200098</real>
		</dict>
		<key>Hedge16</key>
		<dict>
			<key>x</key>
			<real>-7.15469691535</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-23.7513127017</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.72383280039</real>
			<key>sy</key>
			<real>5.44766560078</real>
			<key>sz</key>
			<real>0.680958200098</real>
		</dict>
		<key>Carrot13</key>
		<dict>
			<key>x</key>
			<real>-14.6589242717</real>
			<key>y</key>
			<real>-0.346947006089</real>
			<key>z</key>
			<real>-23.1137380895</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.744727114495</real>
			<key>sy</key>
			<real>0.744727114495</real>
			<key>sz</key>
			<real>0.744727114495</real>
		</dict>
		<key>Carrot14</key>
		<dict>
			<key>x</key>
			<real>-16.5379697461</real>
			<key>y</key>
			<real>-0.346947006089</real>
			<key>z</key>
			<real>-21.6268341431</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.744727114495</real>
			<key>sy</key>
			<real>0.744727114495</real>
			<key>sz</key>
			<real>0.744727114495</real>
		</dict>
		<key>Carrot15</key>
		<dict>
			<key>x</key>
			<real>17.0488409943</real>
			<key>y</key>
			<real>-0.346947006089</real>
			<key>z</key>
			<real>-18.9806934509</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.744727114495</real>
			<key>sy</key>
			<real>0.744727114495</real>
			<key>sz</key>
			<real>0.744727114495</real>
		</dict>
		<key>Carrot16</key>
		<dict>
			<key>x</key>
			<real>14.2940233452</real>
			<key>y</key>
			<real>-0.346947006089</real>
			<key>z</key>
			<real>-19.6863740861</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.744727114495</real>
			<key>sy</key>
			<real>0.744727114495</real>
			<key>sz</key>
			<real>0.744727114495</real>
		</dict>
		<key>Hole5</key>
		<dict>
			<key>x</key>
			<real>-0.303646035831</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-26.3073340264</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.737951274976</real>
			<key>sy</key>
			<real>0.737951274976</real>
			<key>sz</key>
			<real>0.737951274976</real>
		</dict>
		<key>Carrot17</key>
		<dict>
			<key>x</key>
			<real>2.35988128423</real>
			<key>y</key>
			<real>-0.346947006089</real>
			<key>z</key>
			<real>16.2488341845</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.744727114495</real>
			<key>sy</key>
			<real>0.744727114495</real>
			<key>sz</key>
			<real>0.744727114495</real>
		</dict>
		<key>Hole6</key>
		<dict>
			<key>x</key>
			<real>1.51946357092</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>25.3787310274</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.737951274976</real>
			<key>sy</key>
			<real>0.737951274976</real>
			<key>sz</key>
			<real>0.737951274976</real>
		</dict>
		<key>Hole7</key>
		<dict>
			<key>x</key>
			<real>-18.018736769</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>21.6689770801</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.737951274976</real>
			<key>sy</key>
			<real>0.737951274976</real>
			<key>sz</key>
			<real>0.737951274976</real>
		</dict>
		<key>Pot9</key>
		<dict>
			<key>x</key>
			<real>-14.0166313212</real>
			<key>y</key>
			<real>1.8794361376</real>
			<key>z</key>
			<real>1.24679608988</real>
			<key>type</key>
			<string>pot1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.0</real>
			<key>sy</key>
			<real>1.0</real>
			<key>sz</key>
			<real>1.0</real>
		</dict>
		<key>Pot10</key>
		<dict>
			<key>x</key>
			<real>8.44109088976</real>
			<key>y</key>
			<real>1.8794361376</real>
			<key>z</key>
			<real>-0.12801871833</real>
			<key>type</key>
			<string>pot1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.0</real>
			<key>sy</key>
			<real>1.0</real>
			<key>sz</key>
			<real>1.0</real>
		</dict>
		<key>Rock21</key>
		<dict>
			<key>x</key>
			<real>13.7866710958</real>
			<key>y</key>
			<real>0.219061182341</real>
			<key>z</key>
			<real>0.712648743059</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.835303549821</real>
			<key>sy</key>
			<real>0.835303549821</real>
			<key>sz</key>
			<real>0.835303549821</real>
		</dict>
		<key>Pot11</key>
		<dict>
			<key>x</key>
			<real>13.7852808972</real>
			<key>y</key>
			<real>1.8794361376</real>
			<key>z</key>
			<real>27.7760855659</real>
			<key>type</key>
			<string>pot1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.0</real>
			<key>sy</key>
			<real>1.0</real>
			<key>sz</key>
			<real>1.0</real>
		</dict>
		<key>pCube46</key>
		<dict>
			<key>x</key>
			<real>2.17731201211</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-5.6249570177</real>
			<key>type</key>
			<string>fenceC</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.08574920059</real>
			<key>sy</key>
			<real>4.17149840118</real>
			<key>sz</key>
			<real>0.521437300147</real>
		</dict>
		<key>Rock22</key>
		<dict>
			<key>x</key>
			<real>14.1568671031</real>
			<key>y</key>
			<real>0.219061182341</real>
			<key>z</key>
			<real>-7.24349240488</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.835303549821</real>
			<key>sy</key>
			<real>0.835303549821</real>
			<key>sz</key>
			<real>0.835303549821</real>
		</dict>
		<key>Rock23</key>
		<dict>
			<key>x</key>
			<real>16.5505611697</real>
			<key>y</key>
			<real>0.219061182341</real>
			<key>z</key>
			<real>-3.97966967341</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.835303549821</real>
			<key>sy</key>
			<real>0.835303549821</real>
			<key>sz</key>
			<real>0.835303549821</real>
		</dict>
		<key>Hedge17</key>
		<dict>
			<key>x</key>
			<real>-7.21220537774</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-14.6971212916</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.72383280039</real>
			<key>sy</key>
			<real>5.44766560078</real>
			<key>sz</key>
			<real>0.680958200098</real>
		</dict>
		<key>Hedge18</key>
		<dict>
			<key>x</key>
			<real>-7.32633980379</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>11.6780101961</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.72383280039</real>
			<key>sy</key>
			<real>5.44766560078</real>
			<key>sz</key>
			<real>0.680958200098</real>
		</dict>
		<key>Hedge19</key>
		<dict>
			<key>x</key>
			<real>5.41800612183</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>4.46422948352</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.72383280039</real>
			<key>sy</key>
			<real>5.44766560078</real>
			<key>sz</key>
			<real>0.680958200098</real>
		</dict>
		<key>Hedge20</key>
		<dict>
			<key>x</key>
			<real>11.7901790846</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>7.95089016128</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.72383280039</real>
			<key>sy</key>
			<real>5.44766560078</real>
			<key>sz</key>
			<real>0.680958200098</real>
		</dict>
		<key>pCube48</key>
		<dict>
			<key>x</key>
			<real>-20.147529431</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-0.25578122082</real>
			<key>type</key>
			<string>fenceC</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.08574920059</real>
			<key>sy</key>
			<real>4.17149840118</real>
			<key>sz</key>
			<real>0.521437300147</real>
		</dict>
		<key>pCube49</key>
		<dict>
			<key>x</key>
			<real>1.19154636541</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>11.1170325463</real>
			<key>type</key>
			<string>fenceLt</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.08574920059</real>
			<key>sy</key>
			<real>4.17149840118</real>
			<key>sz</key>
			<real>0.521437300147</real>
		</dict>
		<key>Flower7</key>
		<dict>
			<key>x</key>
			<real>10.9282966314</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>21.0555376878</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>3.0</real>
			<key>sx</key>
			<real>1.0</real>
			<key>sy</key>
			<real>1.0</real>
			<key>sz</key>
			<real>1.0</real>
		</dict>
		<key>Flower8</key>
		<dict>
			<key>x</key>
			<real>-9.27028936394</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>20.0937002594</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>3.0</real>
			<key>sx</key>
			<real>1.0</real>
			<key>sy</key>
			<real>1.0</real>
			<key>sz</key>
			<real>1.0</real>
		</dict>
		<key>Carrot18</key>
		<dict>
			<key>x</key>
			<real>0.125427137189</real>
			<key>y</key>
			<real>-0.346947006089</real>
			<key>z</key>
			<real>-0.690173276622</real>
			<key>type</key>
			<string>fountain</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>2.0</real>
			<key>sz</key>
			<real>2.0</real>
		</dict>
		<key>Rock19</key>
		<dict>
			<key>x</key>
			<real>-4.64067282004</real>
			<key>y</key>
			<real>0.219061182341</real>
			<key>z</key>
			<real>4.24826071443</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.665746102841</real>
			<key>sy</key>
			<real>0.665746102841</real>
			<key>sz</key>
			<real>0.665746102841</real>
		</dict>
	</dict>
	<key>LevelControl</key>
	<dict>
		<key>NumCombos</key>
		<integer>2</integer>
		<key>NumGopherLives</key>
		<integer>20</integer>
		<key>Background</key>
		<string>YuppieBig</string>
		<key>GamePlayMode</key>
		<integer>4</integer>
		<key>ScoreMode</key>
		<integer>0</integer>
		<key>NumBalls</key>
		<integer>-1</integer>
		<key>BallTypes</key>
		<integer>1</integer>
		<key>XBounds</key>
		<real>20</real>
		<key>ZBounds</key>
		<real>30</real>
		<key>BallSpawnX</key>
		<real>-2.80357712916</real>
		<key>BallSpawnZ</key>
		<real>3.61751887634</real>
		<key>CollisionAvoidance</key>
		<integer>0</integer>
		<key>SpawnIntervals</key>
		<array>
			<dict>
				<key>Time</key>
				<real>0.0</real>
				<key>Gophers</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>30.0</real>
				<key>Gophers</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>40.0</real>
				<key>Gophers</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>50.0</real>
				<key>Gophers</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>60.0</real>
				<key>Gophers</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>75.0</real>
				<key>Gophers</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>80.0</real>
				<key>Gophers</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>90.0</real>
				<key>Gophers</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>100.0</real>
				<key>Gophers</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>110.0</real>
				<key>Gophers</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>120.0</real>
				<key>Gophers</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<key>GeneratedObjects</key>
	<dict>
		<key>Gopher</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.5</real>
		</dict>
		<key>Gopher1</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.5</real>
		</dict>
		<key>Gopher2</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.5</real>
		</dict>
		<key>Gopher3</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.5</real>
		</dict>
		<key>Gopher4</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.5</real>
		</dict>
		<key>Gopher5</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.5</real>
		</dict>
		<key>Gopher6</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.5</real>
		</dict>
		<key>Ball1</key>
		<dict>
			<key>type</key>
			<string>ball</string>
			<key>scale</key>
			<real>0.5</real>
			<key>ballType</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
