<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">

<dict>
	<key>LayoutObjects</key>
	<dict>
		<key>Carrot1</key>
		<dict>
			<key>x</key>
			<real>-15.830273732</real>
			<key>y</key>
			<real>-0.346947006089</real>
			<key>z</key>
			<real>13.6383167462</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.744727114495</real>
			<key>sy</key>
			<real>0.744727114495</real>
			<key>sz</key>
			<real>0.744727114495</real>
		</dict>
		<key>Hole1</key>
		<dict>
			<key>x</key>
			<real>-15.0611352286</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>22.8393447096</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.737951274976</real>
			<key>sy</key>
			<real>0.737951274976</real>
			<key>sz</key>
			<real>0.737951274976</real>
		</dict>
		<key>Hole3</key>
		<dict>
			<key>x</key>
			<real>17.6109664148</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-26.3073340264</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.737951274976</real>
			<key>sy</key>
			<real>0.737951274976</real>
			<key>sz</key>
			<real>0.737951274976</real>
		</dict>
		<key>Flower1</key>
		<dict>
			<key>x</key>
			<real>5.02373115447</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-27.2787843601</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.696673958803</real>
			<key>sy</key>
			<real>0.696673958803</real>
			<key>sz</key>
			<real>0.696673958803</real>
		</dict>
		<key>Flower6</key>
		<dict>
			<key>x</key>
			<real>-16.9199603892</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>26.9046173523</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.729005737563</real>
			<key>sy</key>
			<real>0.729005737563</real>
			<key>sz</key>
			<real>0.729005737563</real>
		</dict>
		<key>Carrot7</key>
		<dict>
			<key>x</key>
			<real>-13.4402686491</real>
			<key>y</key>
			<real>-0.346947006089</real>
			<key>z</key>
			<real>14.0775915167</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.744727114495</real>
			<key>sy</key>
			<real>0.744727114495</real>
			<key>sz</key>
			<real>0.744727114495</real>
		</dict>
		<key>Fence1</key>
		<dict>
			<key>x</key>
			<real>-9.72458900726</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>27.3876694681</real>
			<key>type</key>
			<string>fenceC</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.64048603169</real>
			<key>sy</key>
			<real>5.28097206339</real>
			<key>sz</key>
			<real>0.660121507923</real>
		</dict>
		<key>Hedge2</key>
		<dict>
			<key>x</key>
			<real>8.60624627888</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-10.7543144815</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.22197402032</real>
			<key>sy</key>
			<real>4.44394804064</real>
			<key>sz</key>
			<real>0.55549350508</real>
		</dict>
		<key>Carrot10</key>
		<dict>
			<key>x</key>
			<real>-14.0822269405</real>
			<key>y</key>
			<real>-0.346947006089</real>
			<key>z</key>
			<real>12.2721983805</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.744727114495</real>
			<key>sy</key>
			<real>0.744727114495</real>
			<key>sz</key>
			<real>0.744727114495</real>
		</dict>
		<key>Carrot15</key>
		<dict>
			<key>x</key>
			<real>18.018050411</real>
			<key>y</key>
			<real>-0.346947006089</real>
			<key>z</key>
			<real>-15.1384841535</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.744727114495</real>
			<key>sy</key>
			<real>0.744727114495</real>
			<key>sz</key>
			<real>0.744727114495</real>
		</dict>
		<key>Carrot16</key>
		<dict>
			<key>x</key>
			<real>16.8353804546</real>
			<key>y</key>
			<real>-0.346947006089</real>
			<key>z</key>
			<real>-16.6100229755</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.744727114495</real>
			<key>sy</key>
			<real>0.744727114495</real>
			<key>sz</key>
			<real>0.744727114495</real>
		</dict>
		<key>Pot9</key>
		<dict>
			<key>x</key>
			<real>-9.42854681304</real>
			<key>y</key>
			<real>1.8794361376</real>
			<key>z</key>
			<real>12.8400812477</real>
			<key>type</key>
			<string>pot1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.0</real>
			<key>sy</key>
			<real>1.0</real>
			<key>sz</key>
			<real>1.0</real>
		</dict>
		<key>Fence2</key>
		<dict>
			<key>x</key>
			<real>-9.72458900726</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>22.1085049704</real>
			<key>type</key>
			<string>fenceC</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.64048603169</real>
			<key>sy</key>
			<real>5.28097206339</real>
			<key>sz</key>
			<real>0.660121507923</real>
		</dict>
		<key>Fence3</key>
		<dict>
			<key>x</key>
			<real>-9.4748173062</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>8.86854388833</real>
			<key>type</key>
			<string>fenceC</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.64048603169</real>
			<key>sy</key>
			<real>5.28097206339</real>
			<key>sz</key>
			<real>0.660121507923</real>
		</dict>
		<key>Fence4</key>
		<dict>
			<key>x</key>
			<real>-9.72458900726</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>16.8951970978</real>
			<key>type</key>
			<string>fenceC</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.64048603169</real>
			<key>sy</key>
			<real>5.28097206339</real>
			<key>sz</key>
			<real>0.660121507923</real>
		</dict>
		<key>Fence5</key>
		<dict>
			<key>x</key>
			<real>0.771739171387</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>21.9645251706</real>
			<key>type</key>
			<string>fenceC</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.64048603169</real>
			<key>sy</key>
			<real>5.28097206339</real>
			<key>sz</key>
			<real>0.660121507923</real>
		</dict>
		<key>Fence6</key>
		<dict>
			<key>x</key>
			<real>0.771739171387</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>27.2436896683</real>
			<key>type</key>
			<string>fenceC</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.64048603169</real>
			<key>sy</key>
			<real>5.28097206339</real>
			<key>sz</key>
			<real>0.660121507923</real>
		</dict>
		<key>Fence7</key>
		<dict>
			<key>x</key>
			<real>12.2917449429</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>19.3105642351</real>
			<key>type</key>
			<string>fenceC</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.64048603169</real>
			<key>sy</key>
			<real>5.28097206339</real>
			<key>sz</key>
			<real>0.660121507923</real>
		</dict>
		<key>Fence9</key>
		<dict>
			<key>x</key>
			<real>7.86784836259</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-27.4125679515</real>
			<key>type</key>
			<string>fenceC</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.64048603169</real>
			<key>sy</key>
			<real>5.28097206339</real>
			<key>sz</key>
			<real>0.660121507923</real>
		</dict>
		<key>Fence10</key>
		<dict>
			<key>x</key>
			<real>7.86784836259</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-22.1334034538</real>
			<key>type</key>
			<string>fenceC</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.64048603169</real>
			<key>sy</key>
			<real>5.28097206339</real>
			<key>sz</key>
			<real>0.660121507923</real>
		</dict>
		<key>Fence11</key>
		<dict>
			<key>x</key>
			<real>-2.77631542421</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-27.4125679515</real>
			<key>type</key>
			<string>fenceC</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.64048603169</real>
			<key>sy</key>
			<real>5.28097206339</real>
			<key>sz</key>
			<real>0.660121507923</real>
		</dict>
		<key>Fence12</key>
		<dict>
			<key>x</key>
			<real>-2.77631542421</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-22.1334034538</real>
			<key>type</key>
			<string>fenceC</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.64048603169</real>
			<key>sy</key>
			<real>5.28097206339</real>
			<key>sz</key>
			<real>0.660121507923</real>
		</dict>
		<key>Hedge3</key>
		<dict>
			<key>x</key>
			<real>3.51979032781</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>20.9432791244</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.22197402032</real>
			<key>sy</key>
			<real>4.44394804064</real>
			<key>sz</key>
			<real>0.55549350508</real>
		</dict>
		<key>Hedge4</key>
		<dict>
			<key>x</key>
			<real>9.75590695981</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>18.2834822197</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.22197402032</real>
			<key>sy</key>
			<real>4.44394804064</real>
			<key>sz</key>
			<real>0.55549350508</real>
		</dict>
		<key>Hedge5</key>
		<dict>
			<key>x</key>
			<real>6.1795872325</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>14.97645689</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.22197402032</real>
			<key>sy</key>
			<real>4.44394804064</real>
			<key>sz</key>
			<real>0.55549350508</real>
		</dict>
		<key>Hedge6</key>
		<dict>
			<key>x</key>
			<real>3.46725700185</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>6.83052195326</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.22197402032</real>
			<key>sy</key>
			<real>4.44394804064</real>
			<key>sz</key>
			<real>0.55549350508</real>
		</dict>
		<key>Hedge7</key>
		<dict>
			<key>x</key>
			<real>6.02467869492</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>13.2744643907</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.22197402032</real>
			<key>sy</key>
			<real>4.44394804064</real>
			<key>sz</key>
			<real>0.55549350508</real>
		</dict>
		<key>Flower7</key>
		<dict>
			<key>x</key>
			<real>9.60371965971</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>16.7190443668</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.729005737563</real>
			<key>sy</key>
			<real>0.729005737563</real>
			<key>sz</key>
			<real>0.729005737563</real>
		</dict>
		<key>Hole4</key>
		<dict>
			<key>x</key>
			<real>16.1229572781</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-5.71326537268</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.737951274976</real>
			<key>sy</key>
			<real>0.737951274976</real>
			<key>sz</key>
			<real>0.737951274976</real>
		</dict>
		<key>Hole5</key>
		<dict>
			<key>x</key>
			<real>1.66001882914</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-25.2087618968</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.737951274976</real>
			<key>sy</key>
			<real>0.737951274976</real>
			<key>sz</key>
			<real>0.737951274976</real>
		</dict>
		<key>Hole6</key>
		<dict>
			<key>x</key>
			<real>-15.706890372</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-24.582927331</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.737951274976</real>
			<key>sy</key>
			<real>0.737951274976</real>
			<key>sz</key>
			<real>0.737951274976</real>
		</dict>
		<key>Carrot17</key>
		<dict>
			<key>x</key>
			<real>4.48437792539</real>
			<key>y</key>
			<real>-0.346947006089</real>
			<key>z</key>
			<real>-17.6418224168</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.744727114495</real>
			<key>sy</key>
			<real>0.744727114495</real>
			<key>sz</key>
			<real>0.744727114495</real>
		</dict>
		<key>Carrot18</key>
		<dict>
			<key>x</key>
			<real>2.98072882331</real>
			<key>y</key>
			<real>-0.346947006089</real>
			<key>z</key>
			<real>-18.5783959958</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.744727114495</real>
			<key>sy</key>
			<real>0.744727114495</real>
			<key>sz</key>
			<real>0.744727114495</real>
		</dict>
		<key>Carrot19</key>
		<dict>
			<key>x</key>
			<real>-14.9164936147</real>
			<key>y</key>
			<real>-0.346947006089</real>
			<key>z</key>
			<real>-15.4514014364</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.744727114495</real>
			<key>sy</key>
			<real>0.744727114495</real>
			<key>sz</key>
			<real>0.744727114495</real>
		</dict>
		<key>Carrot20</key>
		<dict>
			<key>x</key>
			<real>-15.1638954458</real>
			<key>y</key>
			<real>-0.346947006089</real>
			<key>z</key>
			<real>-13.6913525201</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.744727114495</real>
			<key>sy</key>
			<real>0.744727114495</real>
			<key>sz</key>
			<real>0.744727114495</real>
		</dict>
		<key>Fence14</key>
		<dict>
			<key>x</key>
			<real>0.640936587054</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>8.37106141167</real>
			<key>type</key>
			<string>fenceC</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.64048603169</real>
			<key>sy</key>
			<real>5.28097206339</real>
			<key>sz</key>
			<real>0.660121507923</real>
		</dict>
		<key>Fence15</key>
		<dict>
			<key>x</key>
			<real>0.640936587054</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>13.6502259094</real>
			<key>type</key>
			<string>fenceC</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.64048603169</real>
			<key>sy</key>
			<real>5.28097206339</real>
			<key>sz</key>
			<real>0.660121507923</real>
		</dict>
		<key>Pot10</key>
		<dict>
			<key>x</key>
			<real>0.812092930749</real>
			<key>y</key>
			<real>1.8794361376</real>
			<key>z</key>
			<real>17.8355152691</real>
			<key>type</key>
			<string>pot1</string>
			<key>ry</key>
			<real>-0.913815278498</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.0</real>
			<key>sy</key>
			<real>1.0</real>
			<key>sz</key>
			<real>1.0</real>
		</dict>
		<key>Hedge8</key>
		<dict>
			<key>x</key>
			<real>-6.59769081642</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>7.15860828815</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.22197402032</real>
			<key>sy</key>
			<real>4.44394804064</real>
			<key>sz</key>
			<real>0.55549350508</real>
		</dict>
		<key>Hedge9</key>
		<dict>
			<key>x</key>
			<real>-6.752599354</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>4.40586335092</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.22197402032</real>
			<key>sy</key>
			<real>4.44394804064</real>
			<key>sz</key>
			<real>0.55549350508</real>
		</dict>
		<key>Carrot21</key>
		<dict>
			<key>x</key>
			<real>16.6927378062</real>
			<key>y</key>
			<real>-0.346947006089</real>
			<key>z</key>
			<real>13.0858463692</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.744727114495</real>
			<key>sy</key>
			<real>0.744727114495</real>
			<key>sz</key>
			<real>0.744727114495</real>
		</dict>
		<key>Carrot22</key>
		<dict>
			<key>x</key>
			<real>16.0450330927</real>
			<key>y</key>
			<real>-0.346947006089</real>
			<key>z</key>
			<real>11.4003214502</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.744727114495</real>
			<key>sy</key>
			<real>0.744727114495</real>
			<key>sz</key>
			<real>0.744727114495</real>
		</dict>
		<key>Flower8</key>
		<dict>
			<key>x</key>
			<real>18.7503783376</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>28.5699325668</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.729005737563</real>
			<key>sy</key>
			<real>0.729005737563</real>
			<key>sz</key>
			<real>0.729005737563</real>
		</dict>
		<key>Flower9</key>
		<dict>
			<key>x</key>
			<real>3.08175434155</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>28.4903964044</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.729005737563</real>
			<key>sy</key>
			<real>0.729005737563</real>
			<key>sz</key>
			<real>0.729005737563</real>
		</dict>
		<key>Fence16</key>
		<dict>
			<key>x</key>
			<real>12.2917449429</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>14.1895722963</real>
			<key>type</key>
			<string>fenceC</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.64048603169</real>
			<key>sy</key>
			<real>5.28097206339</real>
			<key>sz</key>
			<real>0.660121507923</real>
		</dict>
		<key>Fence17</key>
		<dict>
			<key>x</key>
			<real>12.2917449429</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>6.6503341642</real>
			<key>type</key>
			<string>fenceC</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.64048603169</real>
			<key>sy</key>
			<real>5.28097206339</real>
			<key>sz</key>
			<real>0.660121507923</real>
		</dict>
		<key>Fence18</key>
		<dict>
			<key>x</key>
			<real>12.2917449429</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>1.67159200147</real>
			<key>type</key>
			<string>fenceC</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.64048603169</real>
			<key>sy</key>
			<real>5.28097206339</real>
			<key>sz</key>
			<real>0.660121507923</real>
		</dict>
		<key>Pot11</key>
		<dict>
			<key>x</key>
			<real>12.4538050073</real>
			<key>y</key>
			<real>1.8794361376</real>
			<key>z</key>
			<real>10.3077916707</real>
			<key>type</key>
			<string>pot1</string>
			<key>ry</key>
			<real>-0.913815278498</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>1.0</real>
			<key>sy</key>
			<real>1.0</real>
			<key>sz</key>
			<real>1.0</real>
		</dict>
		<key>Hedge10</key>
		<dict>
			<key>x</key>
			<real>9.45598665441</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>2.93088403996</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.22197402032</real>
			<key>sy</key>
			<real>4.44394804064</real>
			<key>sz</key>
			<real>0.55549350508</real>
		</dict>
		<key>Fence19</key>
		<dict>
			<key>x</key>
			<real>17.2143977186</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-8.68043298347</real>
			<key>type</key>
			<string>fenceC</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.64048603169</real>
			<key>sy</key>
			<real>5.28097206339</real>
			<key>sz</key>
			<real>0.660121507923</real>
		</dict>
		<key>Fence20</key>
		<dict>
			<key>x</key>
			<real>11.9606355286</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-8.68043298347</real>
			<key>type</key>
			<string>fenceC</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.64048603169</real>
			<key>sy</key>
			<real>5.28097206339</real>
			<key>sz</key>
			<real>0.660121507923</real>
		</dict>
		<key>Hedge11</key>
		<dict>
			<key>x</key>
			<real>4.35426540285</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>4.09003604602</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.22197402032</real>
			<key>sy</key>
			<real>4.44394804064</real>
			<key>sz</key>
			<real>0.55549350508</real>
		</dict>
		<key>Hole7</key>
		<dict>
			<key>x</key>
			<real>-4.23838511735</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>25.9916020236</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.737951274976</real>
			<key>sy</key>
			<real>0.737951274976</real>
			<key>sz</key>
			<real>0.737951274976</real>
		</dict>
		<key>Carrot23</key>
		<dict>
			<key>x</key>
			<real>-2.87341606358</real>
			<key>y</key>
			<real>-0.346947006089</real>
			<key>z</key>
			<real>16.0799788156</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.744727114495</real>
			<key>sy</key>
			<real>0.744727114495</real>
			<key>sz</key>
			<real>0.744727114495</real>
		</dict>
		<key>Carrot24</key>
		<dict>
			<key>x</key>
			<real>-2.6232719521</real>
			<key>y</key>
			<real>-0.346947006089</real>
			<key>z</key>
			<real>14.1654065175</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.744727114495</real>
			<key>sy</key>
			<real>0.744727114495</real>
			<key>sz</key>
			<real>0.744727114495</real>
		</dict>
		<key>Hedge12</key>
		<dict>
			<key>x</key>
			<real>-1.59221937047</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>10.297763691</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.22197402032</real>
			<key>sy</key>
			<real>4.44394804064</real>
			<key>sz</key>
			<real>0.55549350508</real>
		</dict>
		<key>Hedge13</key>
		<dict>
			<key>x</key>
			<real>-11.5743675314</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>8.93178552157</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.22197402032</real>
			<key>sy</key>
			<real>4.44394804064</real>
			<key>sz</key>
			<real>0.55549350508</real>
		</dict>
		<key>Hedge14</key>
		<dict>
			<key>x</key>
			<real>-17.9839574031</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-3.04679227151</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.22197402032</real>
			<key>sy</key>
			<real>4.44394804064</real>
			<key>sz</key>
			<real>0.55549350508</real>
		</dict>
		<key>Hedge15</key>
		<dict>
			<key>x</key>
			<real>-12.4149694818</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>0.31561553006</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.22197402032</real>
			<key>sy</key>
			<real>4.44394804064</real>
			<key>sz</key>
			<real>0.55549350508</real>
		</dict>
		<key>Hedge16</key>
		<dict>
			<key>x</key>
			<real>-5.58507863483</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>1.15621748045</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.785399125</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.22197402032</real>
			<key>sy</key>
			<real>4.44394804064</real>
			<key>sz</key>
			<real>0.55549350508</real>
		</dict>
		<key>Hedge17</key>
		<dict>
			<key>x</key>
			<real>10.5965089102</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-2.31126556491</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>-0.785399125</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.22197402032</real>
			<key>sy</key>
			<real>4.44394804064</real>
			<key>sz</key>
			<real>0.55549350508</real>
		</dict>
		<key>Hedge18</key>
		<dict>
			<key>x</key>
			<real>-4.27269519737</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-2.59189742292</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.22197402032</real>
			<key>sy</key>
			<real>4.44394804064</real>
			<key>sz</key>
			<real>0.55549350508</real>
		</dict>
		<key>Hedge19</key>
		<dict>
			<key>x</key>
			<real>-4.27269519737</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-6.79490717488</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.22197402032</real>
			<key>sy</key>
			<real>4.44394804064</real>
			<key>sz</key>
			<real>0.55549350508</real>
		</dict>
		<key>Hedge20</key>
		<dict>
			<key>x</key>
			<real>-1.36676345688</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-6.31573741435</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.22197402032</real>
			<key>sy</key>
			<real>4.44394804064</real>
			<key>sz</key>
			<real>0.55549350508</real>
		</dict>
		<key>Hedge21</key>
		<dict>
			<key>x</key>
			<real>2.83624629507</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-8.73246802172</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.22197402032</real>
			<key>sy</key>
			<real>4.44394804064</real>
			<key>sz</key>
			<real>0.55549350508</real>
		</dict>
		<key>Hedge22</key>
		<dict>
			<key>x</key>
			<real>-10.2981591798</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-3.37363058797</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.22197402032</real>
			<key>sy</key>
			<real>4.44394804064</real>
			<key>sz</key>
			<real>0.55549350508</real>
		</dict>
		<key>Rock1</key>
		<dict>
			<key>x</key>
			<real>11.2590782334</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-16.7202341699</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.696673958803</real>
			<key>sy</key>
			<real>0.696673958803</real>
			<key>sz</key>
			<real>0.696673958803</real>
		</dict>
		<key>pCylinder1</key>
		<dict>
			<key>x</key>
			<real>-0.306803230317</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>1.88154854914</real>
			<key>type</key>
			<string>fountain</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>8.0</real>
			<key>sz</key>
			<real>2.0</real>
		</dict>
		<key>Flower10</key>
		<dict>
			<key>x</key>
			<real>-5.98800408263</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-28.3602940709</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.696673958803</real>
			<key>sy</key>
			<real>0.696673958803</real>
			<key>sz</key>
			<real>0.696673958803</real>
		</dict>
		<key>Flower11</key>
		<dict>
			<key>x</key>
			<real>10.1363225146</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-27.0821462309</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.696673958803</real>
			<key>sy</key>
			<real>0.696673958803</real>
			<key>sz</key>
			<real>0.696673958803</real>
		</dict>
		<key>Flower12</key>
		<dict>
			<key>x</key>
			<real>11.1668236801</real>
			<key>y</key>
			<real>-0.294494215865</real>
			<key>z</key>
			<real>-6.30126777507</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.696673958803</real>
			<key>sy</key>
			<real>0.696673958803</real>
			<key>sz</key>
			<real>0.696673958803</real>
		</dict>
		<key>Flower13</key>
		<dict>
			<key>x</key>
			<real>-7.95438537497</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>27.0916583731</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.696673958803</real>
			<key>sy</key>
			<real>0.696673958803</real>
			<key>sz</key>
			<real>0.696673958803</real>
		</dict>
		<key>Hedge23</key>
		<dict>
			<key>x</key>
			<real>19.98108968</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>22.2162448044</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.22197402032</real>
			<key>sy</key>
			<real>4.44394804064</real>
			<key>sz</key>
			<real>0.55549350508</real>
		</dict>
		<key>pCylinder2</key>
		<dict>
			<key>x</key>
			<real>-6.99249962427</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-20.8301553774</real>
			<key>type</key>
			<string>fountain</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>8.0</real>
			<key>sz</key>
			<real>2.0</real>
		</dict>
		<key>Hedge24</key>
		<dict>
			<key>x</key>
			<real>3.46725700185</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>6.83052195326</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.22197402032</real>
			<key>sy</key>
			<real>4.44394804064</real>
			<key>sz</key>
			<real>0.55549350508</real>
		</dict>
		<key>Hedge25</key>
		<dict>
			<key>x</key>
			<real>4.35426540285</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>4.09003604602</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.22197402032</real>
			<key>sy</key>
			<real>4.44394804064</real>
			<key>sz</key>
			<real>0.55549350508</real>
		</dict>
		<key>Hedge26</key>
		<dict>
			<key>x</key>
			<real>-7.05288291217</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-12.0467384532</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.22197402032</real>
			<key>sy</key>
			<real>4.44394804064</real>
			<key>sz</key>
			<real>0.55549350508</real>
		</dict>
		<key>Hedge27</key>
		<dict>
			<key>x</key>
			<real>-6.16587451117</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-14.7872243604</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.22197402032</real>
			<key>sy</key>
			<real>4.44394804064</real>
			<key>sz</key>
			<real>0.55549350508</real>
		</dict>
		<key>Hedge28</key>
		<dict>
			<key>x</key>
			<real>-7.05288291217</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-12.0467384532</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.22197402032</real>
			<key>sy</key>
			<real>4.44394804064</real>
			<key>sz</key>
			<real>0.55549350508</real>
		</dict>
		<key>Hedge29</key>
		<dict>
			<key>x</key>
			<real>-6.16587451117</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-14.7872243604</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.22197402032</real>
			<key>sy</key>
			<real>4.44394804064</real>
			<key>sz</key>
			<real>0.55549350508</real>
		</dict>
		<key>Rock2</key>
		<dict>
			<key>x</key>
			<real>12.0456307503</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-17.5067866868</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.696673958803</real>
			<key>sy</key>
			<real>0.696673958803</real>
			<key>sz</key>
			<real>0.696673958803</real>
		</dict>
		<key>Rock3</key>
		<dict>
			<key>x</key>
			<real>12.5372260734</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-18.489977333</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.696673958803</real>
			<key>sy</key>
			<real>0.696673958803</real>
			<key>sz</key>
			<real>0.696673958803</real>
		</dict>
		<key>Rock4</key>
		<dict>
			<key>x</key>
			<real>-15.9171561045</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>3.39445896214</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.696673958803</real>
			<key>sy</key>
			<real>0.696673958803</real>
			<key>sz</key>
			<real>0.696673958803</real>
		</dict>
		<key>Rock5</key>
		<dict>
			<key>x</key>
			<real>-15.1306035876</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>2.60790644521</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.696673958803</real>
			<key>sy</key>
			<real>0.696673958803</real>
			<key>sz</key>
			<real>0.696673958803</real>
		</dict>
		<key>Rock6</key>
		<dict>
			<key>x</key>
			<real>-14.6390082645</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>1.62471579904</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.696673958803</real>
			<key>sy</key>
			<real>0.696673958803</real>
			<key>sz</key>
			<real>0.696673958803</real>
		</dict>
		<key>Flower14</key>
		<dict>
			<key>x</key>
			<real>-11.5762933132</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-1.36066414787</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.729005737563</real>
			<key>sy</key>
			<real>0.729005737563</real>
			<key>sz</key>
			<real>0.729005737563</real>
		</dict>
		<key>Flower15</key>
		<dict>
			<key>x</key>
			<real>-18.6378345191</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>0.351224629323</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.729005737563</real>
			<key>sy</key>
			<real>0.729005737563</real>
			<key>sz</key>
			<real>0.729005737563</real>
		</dict>
		<key>Flower16</key>
		<dict>
			<key>x</key>
			<real>-8.15251575878</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>5.37989791233</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.729005737563</real>
			<key>sy</key>
			<real>0.729005737563</real>
			<key>sz</key>
			<real>0.729005737563</real>
		</dict>
		<key>Flower17</key>
		<dict>
			<key>x</key>
			<real>-0.983981504282</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-20.191440697</real>
			<key>type</key>
			<string>flowerPurple</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.729005737563</real>
			<key>sy</key>
			<real>0.729005737563</real>
			<key>sz</key>
			<real>0.729005737563</real>
		</dict>
		<key>Hedge30</key>
		<dict>
			<key>x</key>
			<real>8.65508710792</real>
			<key>y</key>
			<real>-1.42108547152e-014</real>
			<key>z</key>
			<real>-6.09052934983</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.22197402032</real>
			<key>sy</key>
			<real>4.44394804064</real>
			<key>sz</key>
			<real>0.55549350508</real>
		</dict>
	</dict>
	<key>LevelControl</key>
	<dict>
		<key>NumCombos</key>
		<integer>2</integer>
		<key>NumGopherLives</key>
		<integer>15</integer>
		<key>Background</key>
		<string>YuppieBig</string>
		<key>GamePlayMode</key>
		<integer>4</integer>
		<key>ScoreMode</key>
		<integer>0</integer>
		<key>NumBalls</key>
		<integer>-1</integer>
		<key>BallTypes</key>
		<integer>1</integer>
		<key>XBounds</key>
		<real>20</real>
		<key>ZBounds</key>
		<real>30</real>
		<key>BallSpawnX</key>
		<real>2.0</real>
		<key>BallSpawnZ</key>
		<real>-2.0</real>
		<key>CollisionAvoidance</key>
		<integer>0</integer>
		<key>SpawnIntervals</key>
		<array>
			<dict>
				<key>Time</key>
				<real>0.0</real>
				<key>Gophers</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>1000.0</real>
				<key>Gophers</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<key>GeneratedObjects</key>
	<dict>
		<key>Gopher</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.5</real>
		</dict>
		<key>Ball</key>
		<dict>
			<key>type</key>
			<string>ball</string>
			<key>scale</key>
			<real>0.5</real>
			<key>ballType</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
