<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">

<dict>
	<key>LayoutObjects</key>
	<dict>
		<key>Carrot1</key>
		<dict>
			<key>x</key>
			<real>-8.61507568756</real>
			<key>y</key>
			<real>-0.231298004059</real>
			<key>z</key>
			<real>4.81335728767</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.496484742996</real>
			<key>sy</key>
			<real>0.496484742996</real>
			<key>sz</key>
			<real>0.465454446559</real>
		</dict>
		<key>Hole1</key>
		<dict>
			<key>x</key>
			<real>-7.19691902283</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>10.3865467649</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.491967516651</real>
			<key>sy</key>
			<real>0.491967516651</real>
			<key>sz</key>
			<real>0.46121954686</real>
		</dict>
		<key>Rock6</key>
		<dict>
			<key>x</key>
			<real>-8.40310026557</real>
			<key>y</key>
			<real>0.146040788227</real>
			<key>z</key>
			<real>6.76375220859</real>
			<key>type</key>
			<string>rock</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>30.0</real>
			<key>sx</key>
			<real>0.556869033214</real>
			<key>sy</key>
			<real>0.556869033214</real>
			<key>sz</key>
			<real>0.522064718638</real>
		</dict>
		<key>Hole2</key>
		<dict>
			<key>x</key>
			<real>-9.14204396884</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-8.40120874245</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.491967516651</real>
			<key>sy</key>
			<real>0.491967516651</real>
			<key>sz</key>
			<real>0.46121954686</real>
		</dict>
		<key>Carrot2</key>
		<dict>
			<key>x</key>
			<real>8.40060874004</real>
			<key>y</key>
			<real>-0.231298004059</real>
			<key>z</key>
			<real>11.7098957043</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.496484742996</real>
			<key>sy</key>
			<real>0.496484742996</real>
			<key>sz</key>
			<real>0.465454446559</real>
		</dict>
		<key>Carrot3</key>
		<dict>
			<key>x</key>
			<real>9.01378655725</real>
			<key>y</key>
			<real>-0.231298004059</real>
			<key>z</key>
			<real>-12.2292602552</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.496484742996</real>
			<key>sy</key>
			<real>0.496484742996</real>
			<key>sz</key>
			<real>0.465454446559</real>
		</dict>
		<key>Carrot4</key>
		<dict>
			<key>x</key>
			<real>-8.0785450975</real>
			<key>y</key>
			<real>-0.231298004059</real>
			<key>z</key>
			<real>-11.9750084656</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.496484742996</real>
			<key>sy</key>
			<real>0.496484742996</real>
			<key>sz</key>
			<real>0.465454446559</real>
		</dict>
		<key>Hole3</key>
		<dict>
			<key>x</key>
			<real>8.69610220844</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-7.04997907557</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.491967516651</real>
			<key>sy</key>
			<real>0.491967516651</real>
			<key>sz</key>
			<real>0.46121954686</real>
		</dict>
		<key>Hole4</key>
		<dict>
			<key>x</key>
			<real>3.7140324436</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>11.768566419</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.491967516651</real>
			<key>sy</key>
			<real>0.491967516651</real>
			<key>sz</key>
			<real>0.46121954686</real>
		</dict>
		<key>Cannon</key>
		<dict>
			<key>x</key>
			<real>0.0</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-0.0</real>
			<key>type</key>
			<string>nOTCannon</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.66666666667</real>
			<key>sy</key>
			<real>2.66666666667</real>
			<key>sz</key>
			<real>2.5</real>
		</dict>
		<key>pCube17</key>
		<dict>
			<key>x</key>
			<real>4.69180588133</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>8.44169618799</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.66666666667</real>
			<key>sy</key>
			<real>5.33333333333</real>
			<key>sz</key>
			<real>0.625</real>
		</dict>
		<key>pCube18</key>
		<dict>
			<key>x</key>
			<real>-0.947839571985</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>7.33094668957</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.66666666667</real>
			<key>sy</key>
			<real>5.33333333333</real>
			<key>sz</key>
			<real>0.625</real>
		</dict>
		<key>pCube19</key>
		<dict>
			<key>x</key>
			<real>-4.73919785992</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>5.50931751216</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.66666666667</real>
			<key>sy</key>
			<real>5.33333333333</real>
			<key>sz</key>
			<real>0.625</real>
		</dict>
		<key>pCube20</key>
		<dict>
			<key>x</key>
			<real>-2.51177486576</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>2.08820905703</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.66666666667</real>
			<key>sy</key>
			<real>5.33333333333</real>
			<key>sz</key>
			<real>0.625</real>
		</dict>
		<key>pCube21</key>
		<dict>
			<key>x</key>
			<real>-8.15142031907</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>2.08820905703</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.66666666667</real>
			<key>sy</key>
			<real>5.33333333333</real>
			<key>sz</key>
			<real>0.625</real>
		</dict>
		<key>pCube22</key>
		<dict>
			<key>x</key>
			<real>3.22265454475</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-5.5537474921</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.66666666667</real>
			<key>sy</key>
			<real>5.33333333333</real>
			<key>sz</key>
			<real>0.625</real>
		</dict>
		<key>pCube23</key>
		<dict>
			<key>x</key>
			<real>-2.41699090856</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-5.5537474921</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.66666666667</real>
			<key>sy</key>
			<real>5.33333333333</real>
			<key>sz</key>
			<real>0.625</real>
		</dict>
		<key>pCube24</key>
		<dict>
			<key>x</key>
			<real>6.87183689689</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-5.02058773286</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.66666666667</real>
			<key>sy</key>
			<real>5.33333333333</real>
			<key>sz</key>
			<real>0.625</real>
		</dict>
		<key>pCube25</key>
		<dict>
			<key>x</key>
			<real>-6.0661732607</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-6.35348713096</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.66666666667</real>
			<key>sy</key>
			<real>5.33333333333</real>
			<key>sz</key>
			<real>0.625</real>
		</dict>
		<key>pCube26</key>
		<dict>
			<key>x</key>
			<real>-3.43797489967</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-13.6844338205</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.66666666667</real>
			<key>sy</key>
			<real>5.33333333333</real>
			<key>sz</key>
			<real>0.625</real>
		</dict>
		<key>pCube27</key>
		<dict>
			<key>x</key>
			<real>4.40745400973</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-13.6844338205</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.66666666667</real>
			<key>sy</key>
			<real>5.33333333333</real>
			<key>sz</key>
			<real>0.625</real>
		</dict>
		<key>pCube28</key>
		<dict>
			<key>x</key>
			<real>0.284351871595</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-8.70827606761</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.66666666667</real>
			<key>sy</key>
			<real>5.33333333333</real>
			<key>sz</key>
			<real>0.625</real>
		</dict>
		<key>pCube29</key>
		<dict>
			<key>x</key>
			<real>8.20832268593</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>2.76116615125</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.66666666667</real>
			<key>sy</key>
			<real>5.33333333333</real>
			<key>sz</key>
			<real>0.625</real>
		</dict>
		<key>Flower1</key>
		<dict>
			<key>x</key>
			<real>-2.38920383285</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>11.7737305936</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.666666666667</real>
			<key>sy</key>
			<real>0.666666666667</real>
			<key>sz</key>
			<real>0.625</real>
		</dict>
		<key>Flower2</key>
		<dict>
			<key>x</key>
			<real>-2.20205373297</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>4.59334645862</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.666666666667</real>
			<key>sy</key>
			<real>0.666666666667</real>
			<key>sz</key>
			<real>0.625</real>
		</dict>
		<key>Flower3</key>
		<dict>
			<key>x</key>
			<real>-3.25089677858</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-7.5187104943</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.666666666667</real>
			<key>sy</key>
			<real>0.666666666667</real>
			<key>sz</key>
			<real>0.625</real>
		</dict>
		<key>Flower4</key>
		<dict>
			<key>x</key>
			<real>3.28360805991</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-7.58603025568</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.666666666667</real>
			<key>sy</key>
			<real>0.666666666667</real>
			<key>sz</key>
			<real>0.625</real>
		</dict>
		<key>Flower5</key>
		<dict>
			<key>x</key>
			<real>-9.06732416229</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-1.05601340129</real>
			<key>type</key>
			<string>flower</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.666666666667</real>
			<key>sy</key>
			<real>0.666666666667</real>
			<key>sz</key>
			<real>0.625</real>
		</dict>
	</dict>
	<key>LevelControl</key>
	<dict>
		<key>NumCombos</key>
		<integer>2</integer>
		<key>NumGopherLives</key>
		<integer>20</integer>
		<key>NumCarrotLives</key>
		<integer>4</integer>
		<key>Background</key>
		<string>YuppieGarden</string>
		<key>GamePlayMode</key>
		<integer>4</integer>
		<key>ScoreMode</key>
		<integer>0</integer>
		<key>NumBalls</key>
		<integer>-1</integer>
		<key>BallTypes</key>
		<integer>1</integer>
		<key>SpawnIntervals</key>
		<array>
			<dict>
				<key>Time</key>
				<real>0.0</real>
				<key>Gophers</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>30.0</real>
				<key>Gophers</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>40.0</real>
				<key>Gophers</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>50.0</real>
				<key>Gophers</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>60.0</real>
				<key>Gophers</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>75.0</real>
				<key>Gophers</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>80.0</real>
				<key>Gophers</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>90.0</real>
				<key>Gophers</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>100.0</real>
				<key>Gophers</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>110.0</real>
				<key>Gophers</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>120.0</real>
				<key>Gophers</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<key>GeneratedObjects</key>
	<dict>
		<key>Gopher</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.5</real>
		</dict>
		<key>Gopher1</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.5</real>
		</dict>
		<key>Gopher2</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.5</real>
		</dict>
		<key>Gopher3</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.5</real>
		</dict>
		<key>Gopher4</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.5</real>
		</dict>
		<key>Gopher5</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.5</real>
		</dict>
		<key>Gopher6</key>
		<dict>
			<key>type</key>
			<string>gopher</string>
			<key>scale</key>
			<real>0.5</real>
		</dict>
		<key>Ball1</key>
		<dict>
			<key>type</key>
			<string>ball</string>
			<key>scale</key>
			<real>0.5</real>
			<key>ballType</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
